<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Suivi de votre contrôle</title>
        <style type="text/css">
            html {
                /*background-color: #eee !important;*/
                font-size:13px;
            }
            body {
                background-color: white;
                /* border:3px solid #e7e7e7;*/
                margin: 10px auto;
                padding:5px;
                font-family: Arial, Helvetica, sans-serif;
                width:620px;
            }
            tr, td, h2, h3, h4, a, p {
                margin:0;
                padding:0;
                vertical-align:center;
                text-decoration:none;
            }
            a {
                text-decoration:underline;
            }
            h4 {
                font-weight:normal;
            }
            table {
                width:100%;
                border: 1px solid #428bca;
                margin:20px auto;
            }
            table td {
                padding:2px 5px;
                border:1px solid lightgrey;
            }
            table tr {
            }
        </style>
    </head>
    <body>

       {# {% if environnement != 'prod' %}
            <p> CECI EST UN MAIL DE TEST, MERCI DE NE PAS EN TENIR COMPTE.</p>
            <br/>
        {% endif %}#}

        <p>
            Bonjour,
        </p>
        <br/>
        {% block body_mail %}
{#			<p>Vous venez d'être affecté au contrôle croisé : <b>{{ pointDeControle.id }} - {{ pointDeControle.titre }}</b>.</p>#}
			<p>Vous venez d'être affecté(e)s au contrôle croisé : <b>{{ pointDeControle.id }} - {{ pointDeControle.titre }}</b>.</p>
			<br/>		
			<p> Ce contrôle 
				{% if pointDeControle.lePremierMois %}
					est à réaliser avant le dernier jour du mois de <b>{{ pointDeControle.lePremierMois|localizeddate('long', 'none', 'en')|frMois }}</b>, et
				{% endif %}
				se répètera de manière 
				<b>
					{% if pointDeControle.frequence == 30 %}
						mensuelle
					{% elseif pointDeControle.frequence == 60 %}
						bimestrielle
					{% elseif pointDeControle.frequence == 90 %}
						trimestrielle
					{% elseif pointDeControle.frequence == 120 %}
						semestrielle
					{% elseif pointDeControle.frequence == 360 %}
						annuel
					{% endif %}
				</b>. 
			</p>
			<br/>	
			<p>
				Login du site = votre identifiant Windows
			</p>
			<p>
				Mot de passe = votre mot de passe Windows
			</p>
			<br/>	
			<p><b>Voici  ci-dessous les niveaux de contrôles :</b></p>
			<p> - Personne à contacter: {{ pointDeControle.prenomAAppeler }} - {{ pointDeControle.nomAAppeler }}</p>
			{% if pointDeControle.niveau1 %}
				<p> - Contrôle de Niveau 1: {{ pointDeControle.niveau1.displayName }}</p><b><a target="_blank" href="{{ visionN1 }}">(accéder à votre planning)</a></b>
			{% endif %}
			{% if pointDeControle.niveau2 %}
				<p> - Contrôle de Niveau 2: {{ pointDeControle.niveau2.displayName }}</p><b><a target="_blank" href="{{ visionN2 }}">(accéder à votre planning)</a></b>
			{% endif %}
			<br/>	
			{#<p>
				Nous vous invitons à vous connecter à l'outil en cliquant sur l'intitulé du contrôle ci-dessous afin de pouvoir réaliser votre contrôle
				<b><a target="_blank" href="{{ ficheRoute }}">ce lien.</a></b>
			</p>#}
        {% endblock %}
        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
            <tr style="background-color:#428bca;color:white;">
                <th colspan="2" height="15px"> Récapitulatif du contrôle croisé</th>
            </tr>
            <tr>
                <td width="40%"><b>Intitulé du contrôle</b></td>
                <td width="60%">
{#						{{ pointDeControle.id }} - {{ pointDeControle.titre }}#}
						<b><a target="_blank" href="{{ ficheRoute }}">{{ pointDeControle.id }} - {{ pointDeControle.titre }}</a></b>
                </td>
            </tr>
            <tr>
                <td><b>Crée le</b></td>
                <td>
					{{ pointDeControle.dateAdded|date('d/m/Y') }}
                </td>
            </tr>
            <tr>
                <td><b>Demandeur</b></td>>
                <td>
					{{ pointDeControle.nom }} {{ pointDeControle.prenom }} - 
					<a target="_blank" href="mailto:{{ pointDeControle.email }}">{{ pointDeControle.email }}</a>
				</td>
            </tr>
            <tr>
                <td><b>Direction du contrôle croisé</b></td>
                <td>
					{% if pointDeControle.direction %}
						{{ pointDeControle.direction.libelle }}
					{% endif %}
				</td>
            </tr>
            <tr>
                <td><b>Service du contrôle croisé</b></td>
                <td>
					{% if pointDeControle.service %}
						{{ pointDeControle.service.libelle }}
					{% endif %}
				</td>
            </tr>
			{% if pointDeControle.pole %}
				<tr>
					<td><b>Pole du contrôle croisé</b></td>
					<td>
						{{ pointDeControle.pole.libelle }}
					</td>
				</tr>
			{% endif %}					
            <tr>
                <td><b>Fréquence du contrôle croisé</b></td>
                <td>
					{% if pointDeControle.frequence == 30 %}
						mensuelle
					{% elseif pointDeControle.frequence == 60 %}
						bimestrielle
					{% elseif pointDeControle.frequence == 90 %}
						trimestrielle
					{% elseif pointDeControle.frequence == 120 %}
						semestrielle
					{% elseif pointDeControle.frequence == 360 %}
						annuelle
					{% endif %}
				</td>
            </tr>
            <tr>
                <td><b>Personne à contacter</b></td>
                <td>{{ pointDeControle.nomAAppeler }} {{ pointDeControle.prenomAAppeler }}</td>
            </tr>
            <tr>
                <td><b>Description du contrôle croisé</b></td>
                <td>{{ pointDeControle.description }}</td>
            </tr>
        </table>	
        <br/>
		<p>Le service qualité vous remercie de votre participation dans la démarche des contrôles croisés.</p>
		<p>Bonne journée.</p>
        <br/>
       {# <div id="signature">
            <p>Cordialement,</p><br/>
            <p>Pôle WEB - poleweb@noz.fr</p>
            <p>Service Informatique - Univers NOZ</p>
        </div>#}
    </body>
</html>