<p>Vous avez été sélectionné!</p>
<p>Pour le point de contrôle: {{ pointDeControle.titre }}</p>
<p>Description: {{ pointDeControle.description }}</p>
<p>Le premier mois: {{ pointDeControle.lePremierMois|date('Y-m') }}</p>
<p>La fréquence: tous le {{ pointDeControle.frequence/30 }} mois</p>
	