<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Rappel Contrôles Croisés</title>
        <style type="text/css">
            html {
                /*background-color: #eee !important;*/
                font-size:13px;
            }
            body {
                background-color: white;
                /* border:3px solid #e7e7e7;*/
                margin: 10px auto;
                padding:5px;
                font-family: Arial, Helvetica, sans-serif;
                width:620px;
            }
            tr, td, h2, h3, h4, a, p {
                margin:0;
                padding:0;
                vertical-align:center;
                text-decoration:none;
            }
            a {
                text-decoration:underline;
            }
            h4 {
                font-weight:normal;
            }
            table {
                width:100%;
                border: 1px solid #428bca;
                margin:20px auto;
            }
            table td {
                padding:2px 5px;
                border:1px solid lightgrey;
            }
            table tr {
            }
        </style>
    </head>
    <body>

       {# {% if environnement != 'prod' %}
            <p> CECI EST UN MAIL DE TEST, MERCI DE NE PAS EN TENIR COMPTE.</p>
            <br/>
        {% endif %}#}

        <p>
            Bonjour,
        </p>
        <br/>
        {% block body_mail %}
			<p>Sauf erreur de notre part, nous n'avons pas eu de réponse à au moins une de vos actions de contrôles croisés.
				Nous vous invitons à vous connecter via <a target="_blank" href="{{ urlVisionN1 }}">ce lien</a> 
				afin de pouvoir réaliser vos contrôles avant la fin du mois en cours.</p>
				<p>Voici ci-dessous un récapitulatif de votre/vos contrôle(s)</p>
        {% endblock %}
        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
            <tr style="background-color:#428bca;color:white;">
                <th colspan="4" height="15px"> Contrôles Croisés de Niveau 1</th>
            </tr>
            <tr style="background-color:#428bca;color:white;">
                <td width="15%"><b>Date</b></td>
                <td width="15%"><b>Intitulé</b></td>
                <td width="40%"><b>Description</b></td>
                <td width="20%"><b>Personne à contacter</b></td>
            </tr>
			{% for month, points in utilisateurMultipleReminder %}
				{% for idPoint, point in points %}	
					{% if idPoint == 'niveau1S' %}
					{% else %}
						<tr>
							<td>{{ date(month|moisAnneeMakeDate)|localizeddate('long', 'none', 'en')|frMois }}</td>
							<td>{{ point.titre }}</td>
							<td>{{ point.description }}</td>
							<td>{{ point.nomAAppeler }} {{ point.prenomAAppeler }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endfor %}
        </table>	
		<br/>
        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
            <tr style="background-color:#428bca;color:white;">
                <th colspan="4" height="15px"> Contrôles Croisés de Niveau 2</th>
            </tr>
            <tr style="background-color:#428bca;color:white;">
                <td width="15%"><b>Date</b></td>
                <td width="15%"><b>Nom du Niveau 1</b></td>
                <td width="40%"><b>Contrôles planifiés</b></td>
                <td width="20%"><b>Contrôles restants</b></td>
            </tr>
			{% for month, points in utilisateurMultipleReminder %}
				{% for idPoint, niveau1S in points %}	
					{% if idPoint == 'niveau1S' %}	
						{% for niveau1, reusults in niveau1S %}				
							<tr>
								<td>{{ date(month|moisAnneeMakeDate)|localizeddate('long', 'none', 'en')|frMois }}</td>
								<td>{{ niveau1 }}</td>
								<td>{{ reusults.planned }}</td>
								<td>{{ reusults.planned - reusults.results }}</td>
							</tr>								
						{% endfor %}	
					{% endif %}									
				{% endfor %}
			{% endfor %}
        </table>	
		<br/>
		<p>Le service qualité vous remercie de votre participation dans la démarche des contrôles croisés.</p>		
		<p>Bonne journée.</p>
        <br/>
       {# <div id="signature">
            <p>Cordialement,</p><br/>
            <p>Pôle WEB - poleweb@noz.fr</p>
            <p>Service Informatique - Univers NOZ</p>
        </div>#}
    </body>
</html>{# empty Twig template #}