{% block suivietudes_body %}
    <link href="{{ asset('all/select2-3.5.4/select2.css') }}" rel="stylesheet" />
    <script src="{{ asset('all/select2-3.5.4/select2.min.js') }}"></script>
    <link href="{{ asset('all/bootstrap3-editable/css/bootstrap-editable.CSS') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('all/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <style>
        .table-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        #fixedTable {
            float: left;
            width:15%;
        }
        #fixedTable td{
            vertical-align: middle;
        }
        #fixedTable th{
            vertical-align: middle;
        }
        .right {
            overflow: auto;
        }
        .redRightBorder{
            border-right:1px solid red!important;
        }
        .redLeftBorder{
            border-left:1px solid red!important;
        }
    </style>
    <script>
        $(function () {
            var original = $.fn.editableutils.setCursorPosition;
            $.fn.editableutils.setCursorPosition = function() {
                try {
                    original.apply(this, Array.prototype.slice.call(arguments));
                } catch (e) { /* noop */ }
            };

            /* START Affection form validation*/
            var demandeCP = [];
            var demandeTech = [];
        {%for id,row in demandeCP%}
                demandeCP['{{row.userId}}'] = ['{{row.hours}}', '{{row.hoursWorked}}'];
        {%endfor%}
        {%for id,row in demandeTech%}
                demandeTech['{{row.userId}}'] = ['{{row.hours}}', '{{row.hoursWorked}}'];
        {%endfor%}
                // add class for select2 divs
                $($("#suivi_etudes_demande_affectation_chefdeProjet, #suivi_etudes_demande_affectation_techniciens").select2("container")).addClass("col-md-12");
                // prevent delete conditions and also execut this only one time
                $("#suivi_etudes_demande_affectation_chefdeProjet").off().select2().on('select2-removing', function (e) {
                    var selectedId = e.choice.id;
                    /* insert the option (which is already 'selected'!) into the select */
                    var select = $('#suivi_etudes_demande_affectation_techniciens');
//                    $("#suivi_etudes_demande_affectation_techniciens option[value='" + selectedId).remove();// remove option from suivi_etudes_demande_affectation_techniciens
//                    var option = $('<option></option>').
//                            attr('selected', false).
//                            text(e.choice.text).
//                            val(selectedId);
//                    option.appendTo(select);
                    // if user has charge data
                    if (demandeCP[selectedId] != undefined) {
                        // if user has workedHours prevent delete
                        if (demandeCP[selectedId][1] != '' && demandeCP[selectedId][1] > 0) {
                            e.preventDefault();
                            alert('Supprimer est interdite.');
                            return false;
                        }
                        // if user has prevHours let user decide
                        if (demandeCP[selectedId][0] != '') {
                            var confirmation = confirm('Êtes-vous sûr de vouloir supprimer l’affectation ?');
                            if (confirmation == false) {
                                e.preventDefault();
                            }
                        }
                    }
                }).on('select2-opening', function (e) {
                    $("#suivi_etudes_demande_affectation_techniciens option:selected").each(function () {
//                        $("#suivi_etudes_demande_affectation_chefdeProjet option[value='" + $(this).val()).remove();
                    });
                }).on('select2-selecting', function (e) {
                    var selectedId = e.choice.id;
                    demandeCP[selectedId] = ['', ''];
                    var length = demandeTech.length;
//                    demandeTech.push(selectedId);
//                    $("#suivi_etudes_demande_affectation_techniciens option[value='" + selectedId).remove();
                });
                $("#suivi_etudes_demande_affectation_techniciens").off().select2().on('select2-removing', function (e) {
                    var selectedId = e.choice.id;
//                    $("#suivi_etudes_demande_affectation_chefdeProjet option[value='" + selectedId).remove();
                    /* insert the option (which is already 'selected'!) into the select */
                    var select = $('#suivi_etudes_demande_affectation_chefdeProjet'); // remove option from suivi_etudes_demande_affectation_chefdeProjet
//                    var option = $('<option></option>').
//                            attr('selected', false).
//                            text(e.choice.text).
//                            val(selectedId);
//                    option.appendTo(select);
                    // if user has charge data
                    if (demandeTech[selectedId] != undefined) {
                        // if user has workedHours prevent delete
                        if (demandeTech[selectedId][1] != '' && demandeTech[selectedId][1] > 0) {
                            e.preventDefault();
                            alert('Supprimer est interdite.');
                            return false;
                        }
                        // if user has prevHours let user decide
                        if (demandeTech[selectedId][0] != '') {
                            var confirmation = confirm('Êtes-vous sûr de vouloir supprimer l’affectation ?');
                            if (confirmation == false) {
                                e.preventDefault();
                            }
                        }
                    }
                }).on('select2-opening', function (e) {
                    $("#suivi_etudes_demande_affectation_chefdeProjet option:selected").each(function () {
//                        $("#suivi_etudes_demande_affectation_techniciens option[value='" + $(this).val()).remove();
                    });
                }).on('select2-selecting', function (e) {
//                    var selectedId = e.choice.id;
//                    demandeCP[selectedId] = ['', ''];
//                    var length = demandeTech.length;
//                    demandeTech.push(selectedId);
//                    $("#suivi_etudes_demande_affectation_chefdeProjet option[value='" + selectedId).remove();
                });
                /* END Affection form validation*/
        {% if workingTechs == 1 %}
                // remove tooltip popup after load with ajax
                $('.tooltip').tooltip('destroy');
                // add totals to first row for pagination purpose
                var totalHours = 0;
                var totalMoney = 0;
                $('.totalHoursClass').each(function () {
                    totalHours += parseFloat($(this).text());
                });
                $('#totalHoursId').html(totalHours + " H");
                $('.totalClass').each(function () {
                    totalMoney += parseFloat($(this).text());
                });
                $('#totalId').html(totalMoney + " &#8364;");
                // end totals

                // editable.js
                $('.initialCharge').editable({
                    value: 'Vide',
                    type: "number",
                    url: "{{path('suivi_etudes_admin_project_add_charge')}}",
                    params: function (params) {
                        params.period = $(this).editable().data('period');
                        params.demandeuserid = $(this).editable().data('demandeuserid');
                        params.userid = $(this).editable().data('userid');
                        return params;
                    },
                    validate: function (newVal) {
                        var oldVal = $(this).attr('data-max-value');

                        if ($.trim(parseInt(newVal)) > parseInt(oldVal) || $.trim(parseInt(newVal)) < 0) {
                            return 'Cet utilisateur peut travailler pour un maximum ' + Math.abs(oldVal) + ' heures';
                        }
                    },
                    success: function (response) {
                        if (response == 0) {
                            return 'La valeur que vous avez entré est plus grande que les heures disponibles.\n\
                                Actualisez la page pour charger de nouvelles valeurs.';
                        }
{#                        $('#chargeSection').empty();#}
                        $('#loader').show();
                        $('.danger').tooltip();
                        $('#chargeSection').load('{{path('suivi_etudes_admin_project_plan',{'id':demande.id})}}', function () {
                            $('#loader').hide();
                            var height = $('#dataTable tr:eq(0)').height() + $('#dataTable tr:eq(1)').height();
                            $('#fixedTable th').css({'height': height});
                            // set td heights for td's
                            var tdHeightTable = [];
                            $("#fixedTable tbody tr").each(function () {
                                tdHeightTable.push($(this).height());
                            });
                            var i = 0;
                            $("#dataTable tbody tr").each(function () {
                                if (tdHeightTable[i] >= $(this).height()) {
                                    $(this).css({'height': tdHeightTable[i]});
                                }
                                if (tdHeightTable[i] < $(this).height()) {
                                    $("#fixedTable tbody tr:nth-child(" + (i + 1) + ")").css({'height': $("#dataTable tbody tr:nth-child(" + (i + 1) + ")").height()});
                                }
                                i++;
                            });
                        });
                    }
                });
                $('.realisedCharge').editable({
                    type: "number",
                    value: 'Vide',
                    url: "{{path('suivi_etudes_admin_project_add_realised_charge')}}",
                    params: function (params) {
                        params.chargeid = $(this).editable().data('chargeid');
                        params.period = $(this).editable().data('period');
                        params.userid = $(this).editable().data('userid');
                        return params;
                    },
                    validate: function (newVal) {
                        var oldVal = $(this).attr('data-max-value');
                        if ($.trim(parseInt(newVal)) > parseInt(oldVal) || $.trim(parseInt(newVal)) < 0) {
                            return 'Cet utilisateur peut travailler pour un maximum ' + oldVal + ' heures';
                        }
                    },
                    success: function (response) {
                        if (response == 0) {
                            return 'La valeur que vous avez entré est plus grande que les heures disponibles.\n\
                                Actualisez la page pour charger de nouvelles valeurs.';
                        }
{#                        $('#chargeSection').empty();#}
                        $('#loader').show();
                        $('#chargeSection').load('{{path('suivi_etudes_admin_project_plan',{'id':demande.id})}}', function () {
                            $('#loader').hide();
                            var height = $('#dataTable tr:eq(0)').height() + $('#dataTable tr:eq(1)').height();
                            $('#fixedTable th').css({'height': height});
                            // set td heights for td's
                            var tdHeightTable = [];
                            $("#fixedTable tbody tr").each(function () {
                                tdHeightTable.push($(this).height());
                            });
                            var i = 0;
                            $("#dataTable tbody tr").each(function () {
                                if (tdHeightTable[i] >= $(this).height()) {
                                    $(this).css({'height': tdHeightTable[i]});
                                }
                                if (tdHeightTable[i] < $(this).height()) {
                                    $("#fixedTable tbody tr:nth-child(" + (i + 1) + ")").css({'height': $("#dataTable tbody tr:nth-child(" + (i + 1) + ")").height()});
                                }
                                i++;
                            });
                        });
                    }
                });
                // CSS resize tables
                $('a').on('click', function () {
                    var href = $(this).attr('href');
                    if ($(this).attr('data-toggle') == 'tab') {
                        if (href == '#planification') {
                            $('#planification').css('display', 'block');
                            var height = $('#dataTable tr:eq(0)').height() + $('#dataTable tr:eq(1)').height();
                            // set #fixedTable thead height
                            $('#fixedTable th').css({'height': height});
                            // set td heights for td's
                            var tdHeightTable = [];
                            $("#fixedTable tbody tr").each(function () {
                                tdHeightTable.push($(this).height());
                            });
                            var i = 0;
                            $("#dataTable tbody tr").each(function () {
                                if (tdHeightTable[i] >= $(this).height()) {
                                    $(this).css({'height': tdHeightTable[i]});
                                }
                                if (tdHeightTable[i] < $(this).height()) {
                                    $("#fixedTable tbody tr:nth-child(" + (i + 1) + ")").css({'height': $("#dataTable tbody tr:nth-child(" + (i + 1) + ")").height()});
                                }
                                i++;
                            });
                        } else {
                            $('#planification').css('display', 'none');
                        }
                    }
                });
                // initialise tooltip for ajax 
                $('body').tooltip({
                    selector: '[data-toggle=tooltip]'
                });


                // chart modal
                var showHighchart = false;
                $("#graphique").on("show.bs.modal", function (e) {
                    if (showHighchart == false) {
                        $('#loader').show();
                        var link = $(e.relatedTarget);
                        $(this).find(".modal-body").load(link.attr("data-href"), function () {
                            showHighchart = true;
                            $('#loader').hide();
                        });
                    }

                });
        {% endif %}
            });
    </script>

    {%if demande.statut.id >= constant('STAND_BY', demande.statut) and demande.statut.id <= constant('CLOS', demande.statut) and workingTechs == 1%}
        {% if is_granted('ROLE_SET_MANAGER_TECH') %}
            <a href="#" data-href="{{path('suivi_etudes_admin_project_mois_graphique',{'id':demande.id})}}" class="btn btn-primary" data-toggle="modal" data-target="#graphique">Graphique</a>
        {% endif %}
        <div class="table table-bordered table-striped dataTable">
            <div>
                <table id="fixedTable" class="table table-bordered table-striped dataTable">
                    <thead>
                        <tr>
                            <th class="danger">Type</th>
                            <th class="danger">Nom/ Prenom</th>
                            <th class="danger">Metier</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {%for userData in project%}
                            <tr>
                                {%if userData is iterable%}
                                    {# veiw work load page and position in project #}
                                    <td>
                                        {%if is_granted('ROLE_SET_TECH')%}
                                            {#<a href="{{path('suivi_etudes_admin_project_work_load',{'period':"now"|date('Y-m')})}}" #}
                                               {#target="_blank" data-toggle="tooltip" data-placement="bottom" title="Charge de travail">#}
                                                {#{{userData['demandeUserType']|replace({'_':' '})|slice(0,25)}}#}
                                            {#</a>#}
                                        {%else%}
                                            {{userData['demandeUserType']|replace({'_':' '})|slice(0,25)}}
                                        {%endif%}
                                    </td>
                                    {# add work load and user name #}
                                    <td>
                                        {%if is_granted('ROLE_SET_RESP_TECH')%}
                                            {#<a href="{{path('suivi_etudes_admin_project_person')}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Ajouter capacité de travail">{{userData['userName']|slice(0,25)}}</a>#}
                                        {%else%}
                                            {{userData['userName']|slice(0,25)}}
                                        {%endif%}
                                    </td>
                                    {# user job title #}
                                    <td>
                                        {%if userData['jobTitle'] is defined and userData['jobTitle'] is not empty%}
                                            {{userData['jobTitle']|slice(0,25)}}
                                        {%else%}
                                            {{userData['actualJobTitle']|slice(0,25)}}
                                        {%endif%}
                                    </td>
                                {%endif%}
                            </tr>
                        {%endfor%}
                        {%if project is not empty %}
                            <tr class="info">
                                <td colspan="3" class="text-center"><strong>Total</strong></td>
                            </tr>
                        {%endif%}
                    </tbody>
                </table>
            </div>
            {% set monthlyTotals = [] %}
            {% set totalPrevHours = 0 %}
            {% set totalPrevTax = 0 %}
            {% set totalRealHours = 0 %}
            {% set totalRealTax = 0 %}
            <div class="right">
                <table id="dataTable" class="table table-bordered table-striped dataTable">
                    <thead>
                        <tr>
                            {%for i in range(0,validationDate)%}
                                <th colspan="2" class="danger text-center{%if demande.dateProduction|date('Ym')-techDate|date_modify("+" ~i~ "month")|date('Ym') == 0 
                                and "now"|date('Ym') >= techDate|date_modify("+" ~i~ "month")|date('Ym') %} redRightBorder{%endif%}
                                    {%if demande.dateProduction|date('Ym') < techDate|date('Ym')%} redLeftBorder{%endif%}">
                                    {{techDate|date_modify("+" ~i~ "month")|date('M-Y')}}
                                </th>
                            {%endfor%}
                            <th colspan="6" class="danger text-center">Bilan par metier</th>
                            <th colspan="3" class="danger text-center">Bilan Projet</th>
                        </tr>
                        <tr>
                            {%for i in range(0,validationDate)%}
                                <th class="danger{%if demande.dateProduction|date('Ym') < techDate|date('Ym')%} redLeftBorder{%endif%}">Charge Previsionelle (H)</th>
                                <th class="danger{%if demande.dateProduction|date('Ym')-techDate|date_modify("+" ~i~ "month")|date('Ym') == 0 and "now"|date('Ym') >= techDate|date_modify("+" ~i~ "month")|date('Ym') %} redRightBorder{%endif%}">Charge Realisee (H)</th>
                                {%endfor%}
                            <th class="danger" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Somme des charges prévisionnelles">Charges prév. <span class="badge bg-light-blue">1</span></th>
                            <th class="danger" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Charges prévisionnelles x taux horaire métier">Coût prév.<span class="badge bg-light-blue">2</span></span></th>
                            <th class="danger" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Sommes des charges réalisées">Charges réalisées<span class="badge bg-light-blue">3</span></th>
                            <th class="danger" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Charges réalisées X taux horaire métier">Coût réalisé<span class="badge bg-light-blue">4</span></th>
                            <th class="danger" data-toggle="tooltip" data-container="body" data-placement="bottom" title="col1-col3">Ecart en H<span class="badge bg-light-blue">5</span></th>
                            <th class="danger" data-toggle="tooltip" data-container="body" data-placement="bottom" title="col2-col4">Ecart en &#8364;<span class="badge bg-light-blue">6</span></th>
                            <th class="danger">Ecart en H<span class="badge bg-light-blue">7</span></th>
                            <th class="danger">Ecart en &#8364;<span class="badge bg-light-blue">8</span></th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {% set countRows = 0 %}
                        {% set totalH = 0 %}
                        {% set total = 0 %}
                        {%for userData in project%}
                            {% set countRows = countRows + 1 %}
                            <tr>
                                {%if userData is not null  and userData['userName'] is defined%}
                                    {% set userPrevTax = 0 %}
                                    {% set userPrevHours = 0 %}
                                    {% set userRealTax = 0 %}
                                    {% set userRealHours = 0 %}
                                    {%for i in range(0,validationDate)%}
                                        {# user has work capacity completed for that month #}
                                        {%if userData[i] is defined%}
                                            {%set prevHours = userData[i]['chargeHours']|default(0)%}
                                            {%if monthlyTotals['prev'~i] is not defined%}
                                                {% set monthlyTotals = monthlyTotals|merge({('prev'~i): prevHours}) %}
                                            {%else%}
                                                {% set monthlyTotals = monthlyTotals|merge({('prev'~i): prevHours + monthlyTotals['prev'~i]}) %}
                                            {%endif%}
                                            {# user prev charge #}
                                            <td>
                                                {%if userData[i]['tauxHoraire'] is defined %}
                                                    {%if userData[i]['chargePeriode'] <= "now"|date("Y-m-d")%}
                                                        {% set userPrevTax = userPrevTax + userData[i]['chargeHours'] * userData[i]['tauxHoraire']%}
                                                        {% set userPrevHours = userPrevHours + userData[i]['chargeHours'] %}
                                                    {%endif%}
                                                    {%if userData[i]['chargeDemandeId'] ==  userData[i]['id'] or userData[i]['chargeDemandeId'] is null%}
                                                        {%if is_granted('ROLE_SET_RESP_TECH') and userData[i]['capacityPeriode']|date("Y-m") >= "now"|date("Y-m") and demande.statut.id < constant('CLOS', demande.statut) %}
                                                            {% set hours = (userData[i]['capHours']/100*userData[i]['userCapacity']-userData[i]['alocatedHours'])%}
                                                            {% set maxHours = userData[i]['capHours']/100*userData[i]['userCapacity']-userData[i]['alocatedHours']%}
                                                            {% set remainingChargeHours = userData[i]['chargeHours']|default(0) %}
                                                            <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="Cet utilisateur peut travailler pour un maximum de {{(hours-remainingChargeHours)|round()|abs}} heures">
                                                                <a href="#" class="initialCharge" 
                                                                   data-pk="{{demande.id}}" 
                                                                   data-period="{{userData[i]['capacityPeriode']|date('Y-m-d')}}" 
                                                                   data-demandeuserid="{{userData[i]['demandeUserId']}}"
                                                                   data-userid="{{userData[i]['userId']}}"
                                                                   data-max-value="{{maxHours|number_format(0)}}">
                                                                    {{userData[i]['chargeHours']}}
                                                                </a>
                                                            </span>
                                                        {%elseif userData[i]['chargeHours'] is not null%}
                                                            {{userData[i]['chargeHours']}}
                                                        {%else%}
                                                            -
                                                        {%endif%}
                                                    {%endif%}
                                                {%else%}
                                                    -
                                                {%endif%}
                                            </td>
                                            {# user realised charge #}
                                            <td{%if demande.dateProduction|date('Ym')-techDate|date_modify("+" ~i~ "month")|date('Ym') == 0 and "now"|date('Ym') >= techDate|date_modify("+" ~i~ "month")|date('Ym') %} class="redRightBorder"{%endif%}>
                                                {%if userData[i] is iterable%}
                                                    {%set realHours = userData[i]['hoursWorked']|default(0)%}
                                                    {%if monthlyTotals['real'~i] is not defined%}
                                                        {% set monthlyTotals = monthlyTotals|merge({('real'~i): realHours}) %}
                                                    {%else%}
                                                        {% set monthlyTotals = monthlyTotals|merge({('real'~i): realHours + monthlyTotals['real'~i]}) %}
                                                    {%endif%}
                                                    {%if userData[i]['chargeDemandeId'] ==  userData[i]['id']%}
                                                        {%if userData[i]['hoursWorked'] is not null and userData[i]['chargePeriode'] <= "now"|date("Y-m-d")%}
                                                            {% set userRealTax = userRealTax + userData[i]['hoursWorked'] * userData[i]['tauxHoraire']%}
                                                            {% set userRealHours = userRealHours + userData[i]['hoursWorked'] %}
                                                            {% set total = total + userRealTax %}
                                                            {% set totalH = totalH + userRealHours %}
                                                        {%endif%}
                                                    {%endif%}
                                                    {% if is_granted('ROLE_SET_RESP_TECH') and userData[i]['capacityPeriode']|date("Y-m") <= "now"|date("Y-m") and demande.statut.id < constant('CLOS', demande.statut)%}
                                                        {% set remainingWorkedHours = userData[i]['hoursWorked']|default(0) %}
                                                        <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="Cet utilisateur peut travailler pour un maximum de {{ (userData[i]['capHours']-userData[i]['totalHoursWorked']-remainingWorkedHours)|abs }} heures">
                                                            <a href="#" class="realisedCharge" 
                                                               data-pk="{{demande.id}}" 
                                                               data-chargeid="{{userData[i]['chargeId']}}" 
                                                               data-period="{{userData[i]['capacityPeriode']|date('Y-m-d')}}" data-userid="{{userData[i]['userId']}}"
                                                               data-max-value="{{userData[i]['capHours']-userData[i]['totalHoursWorked']}}">
                                                                {{userData[i]['hoursWorked']}}
                                                            </a>
                                                        </span>
                                                    {%else%}
                                                        {%if userData[i]['hoursWorked'] is not null%}
                                                            {{userData[i]['hoursWorked']}} 
                                                        {%else%}
                                                            -
                                                        {%endif%}
                                                    {%endif%}
                                                {%else%}
                                                    -
                                                {%endif%}
                                            </td>
                                        {%else%}
                                            {%if monthlyTotals['prev'~i] is not defined%}
                                                {% set monthlyTotals = monthlyTotals|merge({('prev'~i): 0}) %}
                                                {% set monthlyTotals = monthlyTotals|merge({('real'~i): 0}) %}
                                            {%else%}
                                                {% set monthlyTotals = monthlyTotals|merge({('prev'~i): 0}) %}
                                                {% set monthlyTotals = monthlyTotals|merge({('real'~i): 0}) %}
                                            {%endif%}
                                            <td{%if demande.dateProduction|date('Ym') < techDate|date('Ym')%} class="redLeftBorder"{%endif%}>-</td>
                                            <td{%if demande.dateProduction|date('Ym')-techDate|date_modify("+" ~i~ "month")|date('Ym') == 0 and "now"|date('Ym') >= techDate|date_modify("+" ~i~ "month")|date('Ym') %} class="redRightBorder"{%endif%}>-</td>
                                        {%endif%}
                                    {%endfor%}
                                    {% set totalPrevHours = totalPrevHours+userPrevHours%}
                                    {% set totalPrevTax = totalPrevTax+userPrevTax%}
                                    {% set totalRealHours = totalRealHours+userRealHours%}
                                    {% set totalRealTax = totalRealTax+userRealTax%}
                                    <td>{{userPrevHours}} H</td>
                                    <td>{{userPrevTax}} &#8364;</td>
                                    <td>{{userRealHours}} H</td>
                                    <td>{{userRealTax}} &#8364; </td>
                                    <td>{{userPrevHours-userRealHours}} H</td>
                                    <td>{{userPrevTax-userRealTax}} &#8364;</td>
                                    <td class="hidden totalHoursClass">{{userPrevHours-userRealHours}}</td>
                                    <td class="hidden totalClass">{{userPrevTax-userRealTax}}</td>
                                    {%if countRows == 1%}
                                        <td rowspan="{{rows}}" id="totalHoursId" style="vertical-align:middle;"></td>
                                        <td rowspan="{{rows}}" id="totalId" style="vertical-align:middle;"></td>
                                    {%endif%}
                                {%endif%}
                            </tr>
                        {%endfor%}
                        <tr class="info">
                            {%for k,i in monthlyTotals%}
                                {%if 'prev' in k%}
                                    <td>
                                        <strong>{{monthlyTotals[k]}}</strong>
                                    </td>
                                {%endif%}
                                {%if 'real' in k%}
                                    <td>
                                        <strong>{{monthlyTotals[k]}}</strong>
                                    </td>
                                {%endif%}
                            {%endfor%}
                            <td><strong>{{totalPrevHours}} H</strong></td>
                            <td><strong>{{totalPrevTax}} &#8364;</strong></td>
                            <td><strong>{{totalRealHours}} H</strong></td>
                            <td><strong>{{totalRealTax}} &#8364;</strong></td>
                            <td><strong>{{totalPrevHours-totalRealHours}} H</strong></td>
                            <td><strong>{{totalPrevTax-totalRealTax}} &#8364;</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="graphique" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 80%">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Graphique</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>
            Il n'y a aucune personne affectée à travailler sur ce projet.
            Utiliser "Affecter un technicien"  buton.
        </p>
    {% endif %}
{% endblock %}
