{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Taux Horaire par métier {{ parent() }}
{% endblock %}
{% block suivietudes_body %}
    <section class="content-header">
        <h1>Taux Horaire par métier</h1>
    </section>
    <section class="content">
        {# datepicker #}
        <div class="box-body">
            <div class="form-group pull-left">
                {#<a href="{{path('suivi_etudes_admin_project_taux_horaire',{'periode':prevPeriode})}}" class="btn btn-primary">Precedent</a>#}
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-2">
                <div id="datePicker" class="input-group input-append date">
                    <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date" id="datepicker" disabled>
                    <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            {#<a href="{{path('suivi_etudes_admin_project_taux_horaire',{'periode':nextPeriode})}}" class="btn btn-primary">Suivant</a>#}
        </div>
        <div class="box-body">
        </div>
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered table-striped dataTable" id='taxTable' 
                       data-url="{{path('suivi_etudes_admin_project_taux_horaire_xhr', {'periode':periode})}}">
                    <thead>
                        <tr>
                            <th rowspan="1" colspan="1">No</th>
                            <th rowspan="1" colspan="1">Nom / Prénom</th>
                            <th rowspan="1" colspan="1">Pole</th>
                            <th rowspan="1" colspan="1">Poste</th>
                            <th rowspan="1" colspan="1">Taux Horaire (€/H)</th>
                            <th rowspan="1" colspan="1">Pays</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">No</th>
                            <th rowspan="1" colspan="1">Nom / Prénom</th>
                            <th rowspan="1" colspan="1">Pole</th>
                            <th rowspan="1" colspan="1">Poste</th>
                            <th rowspan="1" colspan="1">Taux Horaire (€/H)</th>
                            <th rowspan="1" colspan="1">Pays</th>
                        </tr>
                    </tfoot>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {#{%for id,row in pagination%}
                            <tr>
                                <td>{{id+1}}</td>
                                <td>{{row.nom}} {{row.prenom}}</td>
                                <td>{{row.pole}}</td>
                                <td>{{row.poste}}</td>
                                <td>
                                    <a href="#" class="tax" data-pk="{{row.userId}}">{%if row.setTax is not null%}{{row.setTax}}{%else%}{{row.tauxHoraire}}{%endif%}</a>
                                </td>
                            </tr>
                        {%endfor%}#}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}
{% block extraStylesheets %}
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap3-editable/css/bootstrap-editable.CSS') }}" rel="stylesheet"/>
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
{% endblock %}
{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script>
        $(function () {
            var index = 0;
            /* datatables */
            var ajaxUrl = $("#taxTable").attr("data-url");
            var datatable = $('#taxTable').DataTable({
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: ajaxUrl,
                "columns": [
                    {"data": function (row) {
                            index += 1;
                            return index;
                        },
                    },
                    {"data": "userName"},
                    {"data": "pole"},
                    {"data": "poste"},
                    {"data": function (row) {
                            return '<a href="#" class="tax" data-pk="'+row.userId+'">'+row.tauxHoraire+'</a>';
                        }
                    },
                    {"data": "countryName"},
                ],
                fnDrawCallback: function (oSettings) { // editableJs callback functions
                    //editable js
                    $('.tax').editable({
                        type: "number",
                        step: 'any', // as float
                        url: "{{path('suivi_etudes_admin_project_modify_hourly_tax')}}",
                        value: 0,
                        params: function (params) {
                            params.period = $(this).editable().data('period');
                            return params;
                        },
                    });
                    $('.tax').on('click', function (e) {
                        $period = $('#datepicker').val();
                        $(this).attr('data-period', $period);
                    });
                },
                bPaginate: true, // remove pagination
                bInfo: true, // remove total no of results
                bFilter: true //  search box
            });
            //Datepicker
            $('#datepicker').val('{{periode}}');
            var $datepickerOld = $('#datepicker').val();
            $('#datePicker').datepicker({
                format: 'yyyy-mm-dd',
                clearBtn: true,
                language: "fr",
                minViewMode: "months"
            });
            $('#datePicker').on('changeDate', function () {
                $date = $('#datepicker').val();
                if ($date != '' || $datepickerOld != $date) {
                    return window.location.href = '{{path('suivi_etudes_admin_project_taux_horaire')}}' + '/' + $date;
                }
            });
            // editable.js
            $('.tax').editable({
                type: "number",
                step: 'any', // as float
                url: "{{path('suivi_etudes_admin_project_modify_hourly_tax')}}",
                value: 0,
                params: function (params) {
                    params.period = $(this).editable().data('period');
                    return params;
                },
            });
            $('.tax').on('click', function (e) {
                $period = $('#datepicker').val();
                $(this).attr('data-period', $period);
            });

        });
    </script>
{% endblock %}
