{% block suivietudes_body %}
    {%if app.user.hasRole('ROLE_SET_TECH')%}
        <link href="{{ asset('all/bootstrap3-editable/css/bootstrap-editable.CSS') }}" rel="stylesheet"/>
        <script type="text/javascript" src="{{ asset('all/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
        <script>
            $(function () {
                $('.realisedCharge').editable({
                    type: "number",
                    value: 'Vide',
                    url: "{{path('suivi_etudes_admin_project_add_realised_charge')}}",
                    params: function (params) {
                        params.chargeid = $(this).editable().data('chargeid');
                        params.period = $(this).editable().data('period');
                        params.userid = $(this).editable().data('userid');
                        return params;
                    },
                    validate: function (newVal) {
                        var oldVal = $(this).attr('data-max-value');
                        if ($.trim(parseInt(newVal)) > parseInt(oldVal) || $.trim(parseInt(newVal)) < 0) {
                            return 'Modification impossible. Votre saisie dépasse la capacité mensuelle.';
                        }
                    },
                    success: function (response) {
                        if (response == 0) {
                            return 'La valeur que vous avez entré est plus grande que les heures disponibles.\n\
                                Actualisez la page pour charger de nouvelles valeurs.';
                        }
                        $('#loader').show();
                        var url = '{{path('suivi_etudes_admin_tech_projects',{'month':'JSVARIABLE'})}}'
                        url = url.replace("JSVARIABLE", $(this).attr('data-month'));
                        $('#techProjectsDiv').load(url, function () {
                            $('#loader').hide();
                        });
                    }
                });
            });
        </script>
    {%endif%}
    <div  id="techProjectsDiv">
        {%if app.user.hasRole('ROLE_SET_TECH')%}
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Planification</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool" type="button">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <ul class="nav nav-tabs">
                        <li class="{%if month == 0%}active{%endif%}">
                            <a aria-expanded="true" href="#lastMonthDiv" data-toggle="tab">Mois précédent</a>
                        </li> 
                        <li class="{%if month == 1%}active{%endif%}">
                            <a aria-expanded="true" href="#currentMonthDiv" data-toggle="tab">Mois en cours</a>
                        </li> 
                    </ul>
                    <div class="tab-content">
                        <div id="lastMonthDiv" class="tab-pane fade in{%if month == 0%} active{%endif%}">
                            {% if techProjectsLastMonthData.realised > 0 or techProjectsLastMonthData.realLeft > 0 %}
                                <div class col-md-12>
                                    <div class="progress-group col-md-3 pull-right">
                                        <span class="progress-text">Charge Realisee (H)</span>
                                        <span class="progress-number"><b>{{techProjectsLastMonthData.realised}}</b>/{{techProjectsLastMonthData.realised+techProjectsLastMonthData.realLeft}}</span>
                                        <div class="progress sm">
                                            <div style="width: {{(techProjectsLastMonthData.realised/(techProjectsLastMonthData.realised+techProjectsLastMonthData.realLeft)*100)|round}}%" class="progress-bar progress-bar-green"></div>
                                        </div>
                                        <div class="clearfix" style="margin-top: -20px">
                                            <small class="text-center">{{(techProjectsLastMonthData.realised/(techProjectsLastMonthData.realised+techProjectsLastMonthData.realLeft)*100)|round}}%</small>
                                        </div>
                                    </div>
                                    <div class="progress-group col-md-3 pull-right">
                                        <span class="progress-text">Charge Previsionelle (H)</span>
                                        <span class="progress-number"><b>{{techProjectsLastMonthData.prevRealised}}</b>/{{techProjectsLastMonthData.prevMax}}</span>
                                        <div class="progress sm">
                                            <div style="width: {{(techProjectsLastMonthData.prevRealised/techProjectsLastMonthData.prevMax*100)|round}}%" class="progress-bar progress-bar-aqua"></div>
                                        </div>
                                        <div class="clearfix" style="margin-top: -20px">
                                            <small class="text-center">{{(techProjectsLastMonthData.prevRealised/techProjectsLastMonthData.prevMax*100)|round}}%</small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {%if techProjectsLastMonth|length > 0%}
                                <table class="box table table-bordered table-striped table-responive dataTable">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Titre</td>
                                            <td>Statut</td>
                                            <td>Charge Previsionelle (H)</td>
                                            <td>Charge Realisee (H)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for demande in techProjectsLastMonth%}
                                            <tr>
                                                <td>{{demande.id}}</td>
                                                <td>
                                                    <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}" title="{{ demande.titre }}">{{ demande.titre }}</a>
                                                </td>
                                                <td>{{demande.status}}</td>
                                                <td>
                                                    {{demande.prevHours|default(0)}}
                                                </td>
                                                <td>
                                                    <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="Votre capacité restante pour ce mois-ci est de {{demande.maxHours-demande.totalReal-demande.realHours}} heures.">
                                                        <a href="#" class="realisedCharge" 
                                                           data-pk="{{demande.id}}" 
                                                           data-chargeid="{{demande.chargeId}}" 
                                                           data-period="{{demande.period|date('Y-m-d')}}" data-userid="{{app.user.id}}"
                                                           data-max-value="{{demande.maxHours-demande.totalReal}}"
                                                           data-month="0">
                                                            {{demande.realHours|default(0)}}
                                                        </a> 
                                                    </span>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            {%endif%}
                        </div>
                        <div id="currentMonthDiv" class="tab-pane fade in{%if month == 1%} active{%endif%}">
                            {% if techProjectsCurrentMonthData.realised > 0 or techProjectsCurrentMonthData.realLeft > 0 %}
                                <div class col-md-12>
                                    <div class="progress-group col-md-3 pull-right">
                                        <span class="progress-text">Charge Realisee (H)</span>
                                        <span class="progress-number"><b>{{techProjectsCurrentMonthData.realised}}</b>/{{techProjectsCurrentMonthData.realised+techProjectsCurrentMonthData.realLeft}}</span>
                                        <div class="progress sm">
                                            <div style="width: {{(techProjectsCurrentMonthData.realised/(techProjectsCurrentMonthData.realised+techProjectsCurrentMonthData.realLeft)*100)|round}}%" class="progress-bar progress-bar-green"></div>
                                        </div>
                                        <div class="clearfix" style="margin-top: -20px">
                                            <small class="text-center">{{(techProjectsCurrentMonthData.realised/(techProjectsCurrentMonthData.realised+techProjectsCurrentMonthData.realLeft)*100)|round}}%</small>
                                        </div>
                                    </div>
                                    <div class="progress-group col-md-3 pull-right">
                                        <span class="progress-text">Charge Previsionelle (H)</span>
                                        <span class="progress-number"><b>{{techProjectsCurrentMonthData.prevRealised}}</b>/{{techProjectsCurrentMonthData.prevMax}}</span>
                                        <div class="progress sm">
                                            <div style="width: {{(techProjectsCurrentMonthData.prevRealised/techProjectsCurrentMonthData.prevMax*100)|round}}%" class="progress-bar progress-bar-aqua"></div>
                                        </div>
                                        <div class="clearfix" style="margin-top: -20px">
                                            <small class="text-center">{{(techProjectsCurrentMonthData.prevRealised/techProjectsCurrentMonthData.prevMax*100)|round}}%</small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {%if techProjectsCurrentMonth|length > 0%}
                                <table class="box table table-bordered table-striped table-responive dataTable">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Titre</td>
                                            <td>Statut</td>
                                            <td>Charge Previsionelle (H)</td>
                                            <td>Charge Realisee (H)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for demande in techProjectsCurrentMonth%}
                                            <tr>
                                                <td>{{demande.id}}</td>
                                                <td>
                                                    <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}" title="{{ demande.titre }}">{{ demande.titre }}</a>
                                                </td>
                                                <td>{{demande.status}}</td>
                                                <td>
                                                    {{demande.prevHours|default(0)}}
                                                </td>
                                                <td>
                                                    <span data-toggle="tooltip" data-container="body" data-placement="bottom" title="Votre capacité restante pour ce mois-ci est de {{demande.maxHours-demande.totalReal-demande.realHours}} heures.">
                                                        <a href="#" class="realisedCharge" 
                                                           data-pk="{{demande.id}}" 
                                                           data-chargeid="{{demande.chargeId}}" 
                                                           data-period="{{demande.period|date('Y-m-d')}}" data-userid="{{app.user.id}}"
                                                           data-max-value="{{demande.maxHours-demande.totalReal}}"
                                                           data-month="1">
                                                            {{demande.realHours|default(0)}}
                                                        </a> 
                                                    </span>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
    </div>
{% endblock %}