{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block suivietudes_body %}
    <section class="content-header">
        <h1>Capacité mensuelle par métier</h1>
        {# datepicker #}
        <div class="box-body">
            <div class="form-group pull-left">
                {#<a href="{{path('suivi_etudes_admin_project_person',{'periode':prevPeriode})}}" class="btn btn-primary">Precedent</a>#}
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-2">
                <div id="datePicker" class="input-group input-append date">
                    <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date" id="datepicker" disabled>
                    <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            {#<a href="{{path('suivi_etudes_admin_project_person',{'periode':nextPeriode})}}" class="btn btn-primary">Suivant</a>#}
        </div>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered table-striped dataTable" id='capacityTable' 
                       data-url="{{path('suivi_etudes_admin_project_person_xhr', {'periode':periode})}}">
                    <thead>
                        <tr>
                            <th style="cursor: pointer;">No.</th> 
                            <th style="cursor: pointer;">Prénom / Nom</th> 
                            <th style="cursor: pointer;">Pole</th> 
                            <th style="cursor: pointer;">Poste</th> 
                            <th style="cursor: pointer;">Capacité(pourcentage)</th> 
                            <th style="cursor: pointer;">Capacité dispo(heures)</th> 
                            <th style="cursor: pointer;">Capacité utilisable</th> 
                            <th style="cursor: pointer;">Pays</th> 
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="cursor: pointer;">No.</th> 
                            <th style="cursor: pointer;">Prénom / Nom</th> 
                            <th style="cursor: pointer;">Pole</th> 
                            <th style="cursor: pointer;">Poste</th> 
                            <th style="cursor: pointer;">Capacité(pourcentage)</th> 
                            <th style="cursor: pointer;">Capacité dispo(heures)</th> 
                            <th style="cursor: pointer;">Capacité utilisable</th> 
                            <th style="cursor: pointer;">Pays</th> 
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}
{% block title %}
    Capacité mensuelle par métier Pole Etude {{ parent() }}
{% endblock %}
{% block extraStylesheets %}
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap3-editable/css/bootstrap-editable.CSS') }}" rel="stylesheet"/>
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
{% endblock %}
{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript">
        var index = 0;
        $(function () {
            var original = $.fn.editableutils.setCursorPosition;
            $.fn.editableutils.setCursorPosition = function() {
                try {
                    original.apply(this, Array.prototype.slice.call(arguments));
                } catch (e) { /* noop */ }
            };
            /* datatables */
            var ajaxUrl = $("#capacityTable").attr("data-url");
            var datatable = $('#capacityTable').DataTable({
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: ajaxUrl,
                "columns": [
                    {"data": function (row) {
                            index += 1;
                            return index;
                        },
                    },
                    {"data": "displayname"},
                    {"data": "poleName"},
                    {"data": "jobName"},
                    {"data": function (row) {
                            return '<a href="#" class="capacityPercentage"  data-pk="' + row.userId
                                    + '"data-value="' + row.capacity + '" data-usrlastname="' + row.firstname + '" data-usrfirstname="' + row.lastname + '"></a>';
                        }
                    },
                    {"data": function (row) {
                            var tooltip = '';
                            var dangerClass = '';
                            if (row.absenceDaysCalculated !== undefined) {
                                tooltip = 'title="Ce technicien a un nombre de ' + (row.absenceDaysCalculated*8) + ' heures de absence approuvé"';
                                dangerClass = ' badge alert-danger';
                            }
                            return '<a href="#" class="userCapacity' + dangerClass + '" data-pk="' + row.userId + '" data-value="' + row.hours
                                    + '" data-usrlastname="' + row.firstname + '" data-usrfirstname="' + row.lastname + '" ' + tooltip + '></a>';
                        }
                    },
                    {"data": function (row) {
                            return Math.round(row.capacity * row.hours / 100);
                        },
                    },
                    {"data": "countryName"},
                ],
                fnDrawCallback: function (oSettings) { // editableJs callback functions
                    //editable js
                    $('.capacityPercentage').editable({
                        type: "number",
                        title: "Ajouter pourcentage",
                        value: '0',
                        url: "{{path('suivi_etudes_admin_project_add_user_capacity')}}",
                        name: 'percent',
                        params: function (params) {
                            // add additional params from data-attributes of trigger element
                            params.period = $(this).editable().data('period');
                            params.usrfirstname = $(this).editable().data('usrfirstname');
                            params.usrlastname = $(this).editable().data('usrlastname');
                            return params;
                        },
                        validate: function (newVal) {
                            if ($.trim(parseInt(newVal)) > 100) {
                                return "Valeur maximale pour cent est 100%.";
                            }
                        },
                        success: function (response, newValue) {
                            // update usable capacity column
                            if (response == "Success") {
                                $hours = $.trim($(this).parent().next().children().text());
                                $(this).parent().next().next().text(Math.round((newValue / 100) * $hours));
                            } else {
                                return response;
                            }
                        }
                    });
                    $('.capacityPercentage').on('click', function (e) {
                        $period = $('#datepicker').val();
                        $hours = $(this).parent().next().text();
                        $(this).attr('data-period', $period);
                        if ($period == '') {
                            e.stopPropagation();
                            $('.capacityPercentage').editable('hide');
                            alert('Choisissez une date valide.');
                            return;
                        }
                    });
                    $('.userCapacity').editable({
                        url: "{{path('suivi_etudes_admin_project_add_user_capacity')}}",
                        title: "Ajouter des heures mensuelles",
                        type: "number",
                        name: 'hours',
                        params: function (params) {
                            // add additional params from data-attributes of trigger element
                            params.period = $(this).editable().data('period');
                            params.usrfirstname = $(this).editable().data('usrfirstname');
                            params.usrlastname = $(this).editable().data('usrlastname');
                            params.percent = $(this).editable().data('percent');
                            return params;
                        },
                        success: function (response, newValue) {
                            // update usable capacity column
                            if (response == "Success") {
                                $percent = $.trim($(this).parent().prev().children().text());
                                $(this).parent().next().text(Math.round(($percent / 100) * newValue));
                            } else {
                                return response;
                            }
                        }
                    });
                    $('.userCapacity').on('click', function (e) {
                        $period = $('#datepicker').val();
                        $percent = $.trim($(this).parent().prev().children().text());
                        // add parameters to POST
                        $(this).attr('data-period', $period);
                        $(this).attr('data-percent', $percent);
                        if ($period == '') {
                            e.stopPropagation();
                            $('.userCapacity').editable('hide');
                            alert('Choisissez une date valide.');
                            return;
                        }
                    });
                },
                bPaginate: true, // remove pagination
                bInfo: true, // remove total no of results
                bFilter: true //  search box
            });
            //Datepicker
            $('#datepicker').val('{{periode}}');
            var $datepickerOld = $('#datepicker').val();
            $('#datePicker').datepicker({
                format: 'yyyy-mm-dd',
                clearBtn: true,
                language: "fr",
                minViewMode: "months"
            });
            {#$('#datePicker').on('changeDate', function () {#}
                {#$date = $('#datepicker').val();#}
                {#if ($date && $datepickerOld != $date) {#}
                    {#return window.location.href = '{{path('suivi_etudes_admin_project_person')}}' + '/' + $date;#}
                {#}#}
            {#});#}
        });
    </script>
{% endblock %}
