<aside class="main-sidebar">
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li  type="button" ><a href="{{ path('direction_list') }}">Directions</a></li>
        <li  type="button1" ><a href="{{ path('service_list') }}">Servives</a></li>
        <li type="button1"  ><a href="{{ path('pole_list') }}">Poles</a></li>

    </ul>
</section>
</aside>