<style>
	.form-group {margin-bottom:5px !important;}
	.row {margin-left:0 !important;margin-right:0 !important;}
	.historiqueModification{font-size: 12px !important;}
</style>

{% for flashMessage in app.session.flashbag.get('arretDeTravailSucces') %}
	<div role="alert" class="alert alert-success alert-dismissable disabled">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
		<p style="display:inline-block;">{{ flashMessage|nl2br }}</p>
	</div>
{% endfor %}

	<button id="saveAjouter" type="button" class="btn btn-info" aria-label="Left Align"
		{% if arret.id is defined and arret.id %}
			style="display:none;"
		{% endif %}
	>
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer
	</button>
		<br/>
		<br/>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div  class="form-group row">
			{% if form_errors(form.contrat) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.contrat) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.contrat) }}</div>
				<div class="col-md-5 col-xs-2">{{ form_widget(form.contrat) }}</div>
			</div>

		<div  class="form-group row">
			{% if form_errors(form.nature) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.nature) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.nature) }}</div>
			<div class="col-md-5 col-xs-2">
				{{ form_widget(form.nature) }}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.dateDebut) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.dateDebut) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.dateDebut) }}</div>
			<div class="col-md-5 col-xs-2">
					{{ form_widget(form.dateDebut, {'attr': {'class': 'date'}}) }}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.dateFin) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.dateFin) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.dateFin) }}</div>
			<div class="col-md-5 col-xs-2">
				{{ form_widget(form.dateFin, {'attr': {'class': 'date'}}) }}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.dateReception) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.dateReception) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.dateReception) }}</div>
			<div class="col-md-5 col-xs-2">
				{{ form_widget(form.dateReception, {'attr': {'class': 'date'}}) }}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.typeReception) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.typeReception) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.typeReception) }}</div>
			<div class="col-md-5 col-xs-2">
				{{ form_widget(form.typeReception) }}
			</div>
		</div>
		<div  class="form-group row">
			{% if form_errors(form.commentaire) | length %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{ form_errors(form.commentaire) }}</strong>
				</div>	
			{% endif %}
			<div class="col-md-3 col-xs-2">{{ form_label(form.commentaire) }}</div>
			<div class="col-md-5 col-xs-2">
					{{ form_widget(form.commentaire) }}
			</div>
		</div>
		<div  class="form-group row">
			<div class="col-md-7 col-xs-2">{{ form_label(form.grossesse) }}</div>
			<div class="col-md-1 col-xs-2">
					{{ form_widget(form.grossesse) }}
			</div>
		</div>
		{{ form_end(form) }}
		<style>
			.ui-autocomplete-loading { background:url({{ asset('bundles/paiearrettravail/img/loader.gif') }}) no-repeat center center !important; }
		</style>
		<script>
			var errors = {{ errors }};
		</script>
		{% block javascripts %}
		{% javascripts 
			'@PaieArretTravailBundle/Resources/public/js/ajouterArret.js'
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}