{% extends "PaieAdministrationBundle:layout:base.html.twig" %}

{% block body %}
	{{ parent() }}

<script>
	var selected = {% if selected is defined and selected %}{{ selected }}{% else %}0{% endif %};
	var url_get_arret = {{ path('paie_get_arret')|json_encode|raw }};
	var url_add_arret = {{ path('paie_add_arret')|json_encode|raw }};
	var url_add_arret_valid = {{ path('paie_add_arret_valid')|json_encode|raw }};
	var url_arrets_de_travail = {{ path('paie_arrets_de_travail')|json_encode|raw }};
	var url_arrets_filtered = {{ path('paie_arrets_filtered')|json_encode|raw }};
	var url_arrets_export = {{ path('paie_arrets_export')|json_encode|raw }};
</script>
 {% stylesheets 
   	    'all/chosen/chosen.min.css'
   	    'all/jquery-ui-1.11.1/jquery-ui.css' 	    
   	 %}
   	<link rel="stylesheet" href="{{ asset_url }}" />    
{% endstylesheets %}

	
	{% if page_title is not defined %} 
		{% set page_title= 'Outil du service Paie | Arrêts de travail' %} 
	{% endif %}
        {% javascripts
                'all/tablesorter/jquery.tablesorter.min.js'
                'js/chosen_v1.3.0/chosen.jquery.min.js'
                'js/jquery-ui-1.11.1/jquery-ui.min.js'
		'@PaieArretTravailBundle/Resources/public/js/arretsDeTravail.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}	

	{% for flashMessage in app.session.flashbag.get('arretsDeTravailSucces') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}	
	
	<div class="modal" id="ajouterArret">
		<div class="modal-dialog" style="width:1000px ;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Nouvel Arret</h4>
				</div>
					<div class="modal-body" id="ajouterArretModalBody">	
				</div>
			</div>
		</div>
	</div>
	
    <div>
        <div class="row">
			<div class="col-sm-12">
			  {{ form_start(formsearch, {'attr': {'class': 'form-horizontal'}}) }}	
			
				<table class="table table-bordered table-striped dataTable">
					<thead>
						<tr>
							<th style="cursor: pointer;">{{ form_label(formsearch.nomSalarie,"Noms :", {'label_attr': {'class': 'control-label'}}) }}</th>
							<th style="cursor: pointer;">{{ form_label(formsearch.prenomSalarie,"Prénom :", {'label_attr': {'class': 'control-label'}}) }}</th>
							<th style="cursor: pointer;">{{ form_label(formsearch.reference,"Code Société :", {'label_attr': {'class': 'control-label'}}) }}</th>
							<th style="cursor: pointer;">{{ form_label(formsearch.libelle,"Nom Société :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.gestPaie,"Gestionnaire Paie :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.gestRH,"Gestionnaire RH :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.tranche,"Délai de traitement :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.isTraite,"Traité :", {'label_attr': {'class': 'control-label'}}) }}</th>
						</tr>
					</thead>
					<tr>
						<td>
							{{ form_widget(formsearch.nomSalarie, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.prenomSalarie, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.reference, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.libelle, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.gestPaie, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.gestRH, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.tranche, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.isTraite, { 'attr': {'class': 'widgetSearch', 'style' : 'width:100px'} }) }}
						</td>
					</tr>
				</table>
				  {{ form_end(formsearch) }}
			</div>
        </div>


				
        <div class="row">
			<div class="col-sm-5">
				<div id="detailArret">
					
				</div>				
			</div>
			<div class="col-sm-7">
				<div id="filteredArrets">
					
				</div>				
			</div>
        </div>
    </div>
								
	<style>
		/* scroll results */
		.ui-autocomplete {
			max-height: 250px;
			overflow-y: auto;
			/* prevent horizontal scrollbar */
			overflow-x: hidden;
			/* add padding for vertical scrollbar */
			padding-right: 5px;
			z-index: 1500 !important;
		}
		/* highlight results */
		.ui-autocomplete span.hl_results {
			background-color: #ffff66;
		}

		/* loading - the AJAX indicator */
		.ui-autocomplete-loading {
			background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
		}
	</style>							
								
{% endblock %}