{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    Vision N2
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}
		
		<link href="{{ asset('bundles/dpdc/css/dpdc-planning.css') }}" rel="stylesheet" />
	{% endblock %}
	
	<style>
		.tablesorter .tablesorter-filter {
			width: 100%;
		}

		.tablesorter tbody tr td,
		.tablesorter tbody tr td button,
		.tablesorter tbody tr td a{
			padding: 2px 5px !important;
			word-break: break-all;
		}
	</style>
	<h3>Vision N2</h3>
	<div class="modal" id="niveau1CommentaireN2">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Commentaire</h4>
				</div>
				<div class="modal-body" id="niveau1CommentaireN2ModalBody"></div>
			</div>
		</div>
	</div>
	<div class="row">	
		<div class="col-sm-12">
			<ul class="nav nav-tabs">
				{% for month in allMonths %}
					<li><a class='clickableMonth' id="month{{ month }}" data-toggle="tab" href="#{{ month }}">{{ month }}</a></li>
				{% endfor %}
			</ul>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{% for flashMessage in app.session.flashbag.get('dpdcManagerSuccess') %}
				<div role="alert" class="alert alert-success alert-dismissable disabled">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
					<p style="display:inline-block;">{{ flashMessage }}</p>
				</div>
			{% endfor %}
			<div class="tab-content">
				{% for month in allMonths %}
					{% set whichMonth = loop.index %}
					<div id="{{ month }}" class="tab-pane fade">
						<table class="table tablesorter table-bordered table-striped dataTable planningPointsDeControle">
							<colgroup>
							   <col span="1" style="width: 15% !important;">
							   <col span="1" style="width: 15% !important;">
							   <col span="1" style="width: 15% !important;">
							   <col span="1" style="width: 12% !important;">
							   <col span="1" style="width: 12% !important;">
							   <col span="1" style="width: 12% !important;">
							   <col span="1" style="width: 10% !important;">
							   <col span="1" style="width: 9% !important;">
							</colgroup>
							<thead>
								<tr>
									<th style="cursor: pointer;">Niveau 2</th>
									<th style="cursor: pointer;">Niveau 1</th>
									<th style="cursor: pointer;">E-mail</th>
									<th style="cursor: pointer;">Nombre de CC planifiés</th>
									<th style="cursor: pointer;">Nombre de Réponses "OUI"</th>
									<th style="cursor: pointer;">Nombre de Réponses "NON"</th>
									<th style="cursor: pointer;">Nombre de CC non enregistrés</th>
									<th class="filter-false"></th>
								</tr>
							</thead>
							{% for idNiveau1, plannedForN1 in plannedPDC[month] %}
								{% for idNiveau2, plannedForN2 in plannedForN1 %}
									<tr id="{{ idNiveau1 }}" class="{{ month }}"
										{% if resultatsMoisPointNiveau[month] is not defined
										or resultatsMoisPointNiveau[month][idNiveau1] is not defined 
										or resultatsMoisPointNiveau[month][idNiveau1]['results']|length < plannedForN2['results']|length %}
											{% set columnClass = 'danger' %}
										{% else %}
											{% set columnClass = 'success' %}
										{% endif %}
										>
										<td class="niveau2-niveau1 {{ columnClass }}">{{ plannedForN2['niveau2display'] }}</td>
										<td class="niveau2-niveau1 {{ columnClass }}">{{ plannedForN2['niveau1'] }}</td>
										<td class="niveau2-niveau1 {{ columnClass }}">{{ plannedForN2['email'] }}</td>
										<td class="niveau2-niveau1 {{ columnClass }}">{{ plannedForN2['results']|length }}</td>
										<td class="niveau2-niveau1 {{ columnClass }}">
											{% if resultatsMoisPointNiveau[month][idNiveau1] is defined
											and resultatsMoisPointNiveau[month][idNiveau1]['oui'] is defined%}
{#												{{ resultatsMoisPointNiveau[month][idNiveau1]['oui']|length }}#}
												{{ resultatsMoisPointNiveau[month][idNiveau1]['oui'] }}
											{% else %}
												0
											{% endif %}
										</td>
										<td class="niveau2-niveau1 {{ columnClass }}">
											{% if resultatsMoisPointNiveau[month][idNiveau1] is defined
											and resultatsMoisPointNiveau[month][idNiveau1]['oui'] is defined%}
{#												{{ resultatsMoisPointNiveau[month][idNiveau1]['results']|length - resultatsMoisPointNiveau[month][idNiveau1]['oui']|length }}#}
												{{ resultatsMoisPointNiveau[month][idNiveau1]['results']|length - resultatsMoisPointNiveau[month][idNiveau1]['oui'] }}
											{% else %}
												0
											{% endif %}
										</td>
										<td class="niveau2-niveau1 {{ columnClass }}">
											{% if plannedForN2['results'] is defined and plannedForN2['results']|length > 0 %}
												{% if resultatsMoisPointNiveau[month][idNiveau1] is defined and resultatsMoisPointNiveau[month][idNiveau1]['results']|length > 0 %}
													{% if plannedForN2['results']|length > resultatsMoisPointNiveau[month][idNiveau1]['results']|length %}
														{% set pasEnregistre = plannedForN2['results']|length - resultatsMoisPointNiveau[month][idNiveau1]['results']|length %}
													{% else %}
														{% set pasEnregistre = 0 %}
													{% endif %}
												{% else %}
													{% set pasEnregistre = plannedForN2['results']|length %}
												{% endif %}
											{% else %}
												{% set pasEnregistre = 'aucun planifié' %}
											{% endif %}
											{{ pasEnregistre }}
										</td>
										<td class="{{ columnClass }}" style="cursor: auto;">	
											<a title="" class="btn btn-sm btn-info n3-n2">
												<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
											</a>	
											{#{% if plannedForN2['niveau2'] == userId and whichMonth <= 13 %}	
												<button type="button" class="btn btn-sm btn-info enregistrerCommentaireN2 		
													{% if columnClass == 'danger' %}
														"
														title='Enregistrer le commentaire' 
													{% else %}	
														dejaEnregistre"
														title='toutes enregistrées'
													{% endif %}	
													aria-label="Left Align"													
												>
													<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
												</button>
											{% endif %}	#}
											{% if idNiveau2 == userId and whichMonth == 13  %}	
												<a title="" class="btn btn-sm btn-info n2-mois-n1">
													<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
												</a
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							{% endfor %}
						</table>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script>
		var url_commentaireN2_ajouter = {{ path('dpdc_commentaireN2_ajouter')|json_encode|raw }};
		var url_session_month = {{ path('dpdc_session_month')|json_encode|raw }};
		var userId = {{ userId }};
		var leMois = {{ leMois|json_encode|raw }};
		var niveau2 = parseInt({{ niveau2 }});
		$('.n2-mois-n1').click(function(){
			var selectedId = parseInt($(this).parent('td').parent('tr').attr('id'));
			var selectedMois = $(this).parent('td').parent('tr').attr('class');
			window.location = {{ path('dpdc_commentaires_n2_mois_n1')|json_encode|raw }}+'/'+selectedMois+'/'+selectedId;
		});
		$('.n3-n2').click(function(){
			var selectedId = parseInt($(this).parent('td').parent('tr').attr('id'));
			// To put here the manager id (from here, where you go to planning)
			window.location = {{ path('dpdc_vision_n1')|json_encode|raw }}+'/'+selectedId+'/'+{{niveau2}};
		});		
		function enregistrerLeMois(leMois){
			$.ajax({
				dataType: "json",
				type: "POST",
				url: url_session_month,
				data: { leMois : leMois},  
				async: true,
				cache: false,
				error: function(jqXHR,textStatus, errorThrown ) {
	//				alert(jqXHR.responseText); return false;
				},
				success: function(data){
				}                                                                            
			});
			return false;
		}	
		$(function(){
			$(".planningPointsDeControle").each(function(){
				$(this).tablesorter({
{#					widthFixed : true,#}
					widgets:['filter']					
				});
			});
			if(leMois !== 0){
				$('#'+leMois).click();
			}else{
				$('.clickableMonth').eq(12).click();
			}
			$('.clickableMonth').click(function(){
				var leMois = $(this).attr('id');
				enregistrerLeMois(leMois);
			});
		});
	</script>
	{% block javascripts %}
		{{ parent() }}
		<script src="{{ asset('bundles/dpdc/js/dpdc-manager.js') }}"></script>
	{% endblock %}
{% endblock %}{# empty Twig template #}
