{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}

		<link href="{{ asset('bundles/dpdc/css/dpdc-point.css') }}" rel="stylesheet" />
	{% endblock %}
	
	<h3>Point de contrôle</h3>
	
	<div class="row">
		<div class="col-sm-12">
			{% for flashMessage in app.session.flashbag.get('dpdcPointDetails') %}
				<div role="alert" class="alert alert-success alert-dismissable disabled">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
					<p style="display:inline-block;">{{ flashMessage }}</p>
				</div>
			{% endfor %}
			<table class="table table-bordered table-striped">
				<tr>
					<td><b>Intitulé du contrôle</b></td>
					<td>{{ pointDeControle.titre }}</td>
				</tr>
				<tr>
					<td><b>Description du contrôle</b></td>
					<td>{{ pointDeControle.description }}</td>
				</tr>
				<tr>
					<td><b>Nom du demandeur</b></div>
					<td>{{ pointDeControle.nom }}</td>
				</tr>
				<tr>
					<td><b>Prenom du demandeur</b></td>
					<td>{{ pointDeControle.prenom }}</td>
				</tr>
				<tr>
					<td><b>Email du demandeur</b></td>
					<td>{{ pointDeControle.email }}</td>
				</tr>
				<tr>
					<td><b>Date ajouté</b></div>
					<td>{{ pointDeControle.dateAdded|date('d/m/Y') }}</td>
				</tr>
				<tr>
					<td><b>Type du contrôle</b></div>
					<td>
						{% if pointDeControle.type == 1 %}Croises
						{% elseif pointDeControle.type == 2 %}Suivi process
						{% endif %}
					</td>
				</tr>
				<tr>
					<td><b>Statut du contrôle</b></div>
					<td>
						{% if pointDeControle.statut == 1 %}Nouveau
						{% elseif pointDeControle.statut == 2 %}Validé
						{% elseif pointDeControle.statut == 3 %}Refusé
						{% endif %}				
					</td>
				</tr>
				{% if pointDeControle.niveau1 %}
					<tr>
						<td><b>Niveau 1</b></div>
						<td>{{ pointDeControle.niveau1.displayname }}</td>
					</tr>
				{% endif %}
				{% if pointDeControle.niveau2 %}
					<tr>
						<td><b>Niveau 2</b></div>
						<td>{{ pointDeControle.niveau2.displayname }}</td>
					</tr>
				{% endif %}
				<tr>
					<td><b>Premier mois du contrôle</b></div>
					<td>
						{% if pointDeControle.lePremierMois is defined and pointDeControle.lePremierMois %}
							{{ pointDeControle.lePremierMois|date('d/m/Y') }}
						{% endif %}				
					</td>
				</tr>
				<tr>
					<td><b>Direction du contrôle</b></td>
					<td>
						{% if pointDeControle.direction %}
							{{ pointDeControle.direction.libelle }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td><b>Service du contrôle</b></td>
					<td>
						{% if pointDeControle.service %}
							{{ pointDeControle.service.libelle }}
						{% endif %}
					</td>
				</tr>
				{% if pointDeControle.pole %}
					<tr>
						<td><b>Pole du contrôle</b></td>
						<td>
							{{ pointDeControle.pole.libelle }}
						</td>
					</tr>
				{% endif %}					
				<tr>
					<td><b>Fréquence du contrôle</b></td>
					<td>
						{% if pointDeControle.frequence == 30 %}
							mensuelle
						{% elseif pointDeControle.frequence == 60 %}
							bimestrielle
						{% elseif pointDeControle.frequence == 90 %}
							trimestrielle
						{% elseif pointDeControle.frequence == 120 %}
							semestrielle
						{% elseif pointDeControle.frequence == 360 %}
							annuelle
						{% endif %}
					</td>
				</tr>
				<tr>
					<td><b>Personne à contacter</b></td>
					<td>{{ pointDeControle.nomAAppeler }} {{ pointDeControle.prenomAAppeler }}</td>
				</tr>
				<tr>
					<td><b>Téléphone de la personne à contacter</b></td>
					<td>{{ pointDeControle.telephoneAAppeler }}</td>
				</tr>
			</table>
			{% if isNiveau3 and isNiveau3 %}	
				<a href="{{ path('dpdc_point_de_controle_modifier', {'id' : pointDeControle.id}) }}" title="Modifier le point de contrôle" class="btn btn-info">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"> Modifier</span>
				</a>	
				{% if pointDeControle.statut == 3 %}
					<a class="btn btn-danger" onclick="if(confirm('Êtes-vous sûr de vouloir activer ce contrôle ?')){activerPDC({{pointDeControle.id}});}" title="Activer" >
						<span class="glyphicon glyphicon-ok" aria-hidden="true"> Activer</span>
					</a>
				{% endif %}	
			{% endif %}	
		</div>
	</div>
	<script>
		var url_activer_PDC = {{ path('dpdc_activer_PDC')|json_encode|raw }};
		
		function activerPDC(PDC){
			$("#loader").show();
			$.ajax({
				dataType: "json",
				type: "POST",
				url: url_activer_PDC,
				data: { PDC : PDC},  
				async:false,
				cache: false,
				error: function(jqXHR,textStatus, errorThrown ) {
	//				alert(jqXHR.responseText); return false;
				},
				success: function(data){
					$("#loader").hide();
					location.reload();
				}                                                                            
			});
			return false;
		}
	</script>
	
	{% block javascripts %}
		{{ parent() }}

		<script src="{{ asset('bundles/dpdc/js/dpdc-point.js') }}"></script>
	{% endblock %}
	
{% endblock %}