{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Magasin
{% endblock %}
{% block body %}	
	{{ parent() }}
	{{ include('ChecklistBundle:magasin:menu.html.twig') }}	
	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal' }}) }}	
    <div class="table-div-40">
		<table class="table table-striped table-hover ">
			<tr class="info">		
	    	{% for flashMessage in app.session.flashbag.get('magasinSuccess') %}
				<div role="alert" class="alert alert-success alert-dismissable disabled">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
					<p style="display:inline-block;">{{ flashMessage }}</p>
				</div>
			{% endfor %}
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.nom, "Nom") }}
					{% if form_errors(form.nom) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.nom) }}</strong>
						</div>	
					{% endif %}		
				</td>
				<td>
					{{ form_widget(form.nom, {'attr': {'class': 'form-control input-sm' }}) }}
				</td>
			</tr>
			<tr class="info">			
				<td>
					{{ form_label(form.numero, "Numero") }}
					{% if form_errors(form.numero) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.numero) }}</strong>
						</div>	
					{% endif %}		
				</td>
				<td>
					{{ form_widget(form.numero, {'attr': {'class': 'form-control input-sm' }}) }}
				</td>
			</tr>						
			<tr class="info">			
				<td>
					{{ form_label(form.ouverture, "Date d'ouverture") }}	
				</td>
				<td>
					{{ form_widget(form.ouverture, {'attr': {'class': 'form-control input-sm' }}) }}
				</td>
			</tr>

			<tr class="info">			
				<td>
					{{ form_label(form.telephone, "Telephone") }}
					{% if form_errors(form.telephone) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.telephone) }}</strong>
						</div>	
					{% endif %}		
				</td>
				<td>
					{{ form_widget(form.telephone, {'attr': {'class': 'form-control input-sm' }}) }}
				</td>
			</tr>
			<tr class="info">	
				<td>
					{{ form_label(form.adresse, "Adresse") }}
					{% if form_errors(form.adresse) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.adresse) }}</strong>
						</div>	
					{% endif %}		
				</td>		
				<td>  {{ form_widget(form.adresse, {'attr': {'class': 'form-control input-sm' }}) }}</td>
			</tr>
			<tr class="info">		
				<td>
					{{ form_label(form.code_postal, "Code Postal") }}
					{% if form_errors(form.code_postal) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.code_postal) }}</strong>
						</div>	
					{% endif %}		
				</td>		
				<td>  {{ form_widget(form.code_postal, {'attr': {'class': 'form-control input-sm' }}) }}</td>
			</tr>
			<tr class="info">		
				<td>
					{{ form_label(form.ville, "Ville") }}
					{% if form_errors(form.ville) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.ville) }}</strong>
						</div>	
					{% endif %}		
				</td>		
				<td>  {{ form_widget(form.ville, {'attr': {'class': 'form-control input-sm' }}) }}</td>
			</tr>
			<tr class="info">			
				<td>
					{{ form_label(form.nombreDeCaisses, "Nombre de caisses") }}<span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>				
					{% if form_errors(form.nombreDeCaisses) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.nombreDeCaisses) }}</strong>
						</div>	
					{% endif %}		
				</td>
				<td>
					{{ form_widget(form.nombreDeCaisses, {'attr': {'class': 'form-control input-sm' }}) }}
				</td>
			</tr>

			<tr class="info">			
				<td>
					{{ form_label(form.repertoirephoto, "Répertoire Photo") }}		
				</td>
				<td>
					{{ form_widget(form.repertoirephoto, {'attr': {'class': 'form-control input-sm' }}) }}
				</td>
			</tr>

			<tr class="info">			
				<td>	
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-info' }}) }}
				</td>
				<td></td>
			</tr>
		</table>
	</div>
    {{ form_rest(form) }}
	{{ include('ChecklistBundle:magasin:menu.html.twig') }}	
{% endblock %}