{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Rapports
{% endblock %}
{% block body %}
	{{ parent() }}
	{% stylesheets
		'@ChecklistBundle/Resources/public/css/tabsorter.css'
		'@ChecklistBundle/Resources/public/css/tabRapports.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
	<div class="box">
		<div class="box-body">
			<table  id="listTableSorter" class="table tablesorter table-striped table-hover" style="margin:0 auto">
				<thead> 
					<tr>
						<th class="filter-false"></th>
						<th>Numero</th>
						<th>Magasin</th>
						<th> repertoire photos </th>
					</tr>
				</thead> 
				<tbody> 
					{% for magasin in magasins %}
						<tr class="info">
							<td>											
								<a href="{{ path('checklist_rapport_rapport_hotline', {'id' : magasin.magasin.id, 'page': 1}) }}" >
									<button type="button" class="btn btn-default" aria-label="Left Align">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</button>
								</a>
							</td>
							<td>{{ magasin.magasin.numero }}</td>
							<td>{{ magasin.magasin.nom }}</td>
							<td>{{ magasin.magasin.repertoirephoto }}</td>
						</tr>					
					{% endfor %}
			</table>
		</div>
	</div>			
{% endblock %}
		