{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Magasins
{% endblock %}
{% block body %}	
	{{ parent() }}
	{% stylesheets 
		'@ChecklistBundle/Resources/public/css/tabMagasin.css'
		'@ChecklistBundle/Resources/public/css/tabsorter.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
	{#<a href="{{ path('checklist_accueil') }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Retour à l'acceuil
		</button>
	</a> #}
<div class="box">
	<div class="box-body">		
		{% for flashMessage in app.session.flashbag.get('visiteSuccess') %}
			<div role="alert" class="alert alert-success alert-dismissable disabled">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
				<p style="display:inline-block;">{{ flashMessage }}</p>
			</div>
		{% endfor %}		
		<table  id="listTableSorter" class="table tablesorter table-striped table-hover" style="margin:0 auto">
			<thead> 
				<tr>
					<th class="filter-false"></th>
					<th class="filter-false"></th>
					<th>Numero</th>
					<th>Nom</th>
					<th data-placeholder="<, > ou [date] to [date]">Date de la dernière visite</th>
					<th>Technicien</th>
					<th> Dernière Checklist </th>
					<th data-placeholder="<, > ou [date] to [date]">Date de la prochaine visite</th>
					<th>Technicien</th>
					<th class="filter-false">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for magasin in magasins %}
					{% if magasin.lastVisite is defined %}
						{% set dateButoir = magasin.lastVisite.date|date_modify("+6 month") %}
					{% else %}
						{% set dateButoir = magasin.magasin.ouverture %}			
					{% endif %}
					<tr class="info">
						<td>
							{% if magasin.nextVisite is defined %}
								<img src="{{asset('bundles/Checklist/images/feu_vert.png')}}" alt='' />
							{% elseif "now"|date_modify("2 month") < dateButoir  %}
								<img src="{{asset('bundles/Checklist/images/feu_orange.png')}}" alt='' />
							{% else %}
								<img src="{{asset('bundles/Checklist/images/feu_rouge.png')}}" alt='' />
							{% endif %}			
						</td>
						<td>
							<a href="{{ path('checklist_magasin_magasin', {'id' : magasin.magasin.id}) }}" >
								<button type="button" class="btn btn-info" aria-label="Left Align">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</button>
							</a>
							<a href="{{ path('checklist_magasin_editer', {'id' : magasin.magasin.id}) }}">
								<button type="button" class="btn btn-info" aria-label="Left Align">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
							</a>
						</td>
						<td>{{ magasin.magasin.numero }}</td>
						<td>{{ magasin.magasin.nom }}</td>
						{% if magasin.lastVisite is defined %}
							<td>{{ magasin.lastVisite.date|date('d/m/Y') }}</td>
							<td>{{ magasin.lastVisite.technicien.displayname }}</td>
							{% if magasin.lastVisite.checklists is not null %}
								<td>{{ magasin.lastVisite.checklists.nom}}</td>
							{% else %}
								<td></td>
							{% endif %}
						{% else %}
							<td></td>
							<td></td>
							<td></td>
						{% endif %}
						{% if magasin.nextVisite is defined %}
							<td>{{ magasin.nextVisite.date|date('d/m/Y') }}</td>
							<td>{{ magasin.nextVisite.technicien.displayname }}</td>
							<td>
								<a href="{{ path('checklist_magasin_annuler_visite', {'id' : magasin.nextVisite.id}) }}"
									onclick="return confirm('Êtes-vous sûr que vous voulez annuler la visite?');"
									data-toggle="tooltip" title="Annuler la visite!">
									<button type="button" class="btn btn-info" aria-label="Left Align">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</a>
							</td>								
						{% else %}
							<td>{{ dateButoir|date('d/m/Y') }}</td>
							<td></td>
							<td>
								<a href="{{ path('checklist_magasin_nouvelle_visite', {'idMagasin' : magasin.magasin.id}) }}"
								   data-toggle="tooltip" title="Planifier une visite!">
									<button type="button" class="btn btn-info" aria-label="Left Align">
										<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
									</button>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody> 
		</table>
		</br>
		{#<a href="{{ path('checklist_accueil') }}">
			<button type="button" class="btn btn-info" aria-label="Left Align">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Retour à l'acceuil
			</button>
		</a>#}
	</div>
</div>
{% endblock %}
