{% block menu %}
	{% if (is_granted('ROLE_CHK_ADMIN'))%}
	<a href="{{ path('checklist_magasin_magasins') }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			Retour à la liste des magasins
		</button>
	</a> 
	{% endif %}
{% endblock %}