
<br>
Bonjour,<br/>
Demande d'intervention: <br>
{% if interv.idMagasin!=null %}
Magasin {{ interv.idMagasin.magId }} {{ interv.idMagasin.magLibelle }}</br>
{{ interv.idMagasin.adresse }}</br>
Tel: {{ interv.idMagasin.telephone }} </br>
{% endif %}
 {% if interv.idBatiment!=null %}
Batiment {{ interv.idBatiment.nom }}</br>
{{ interv.idBatiment.adresse }}</br>
Tel: {{ interv.idBatiment.telephone }}</br>
    {% endif %}
Assistante: {{ interv.assistante.displayName }} <br>
Date debut: {{ interv.dateDebut|date('Y-m-d') }} / Date fin: {{ interv.dateFin|date('Y-m-d') }}</br>
Temps estimé:{{ agent.nbheures }}<br>
Description des travaux à réaliser: {{ interv.travaux }}<br>
{% for cout in couts   %}
    Nature  d’intervention : {{ cout.idType.idNature.libelle }} / Type d'intervention: {{ cout.idType.libelle }}<br>
   {% endfor %}
{% if interv.idRaison!= null %}
Les raisons: {{ interv.idRaison.libelle }}<br>
{% endif %}
Lien: <a href="{{url}}{{ path('materiel', {'id': interv.id}) }}">Page de saisie du matériel</a><br/><br/>



</html>



