{% extends 'AdminBundle:layout:base.html.twig' %}

{% block body %}
<script>
    $('#loading1').show();

</script>

    <section class="content-header">
        <h1>
            Liste Des Profils

        </h1>
    </section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><a href="{{ path('add_profil') }}" class="button" style="color:#00C0EF">Ajouter Profil:
                            <span class="glyphicon glyphicon-plus"></span>
                        </a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
              <div id="loading1" style="margin-left: 420px;margin-top: 90px;margin-bottom: 90px;">
                <img src="{{ asset('img/dmli-loader.gif') }}" alt="Wait"/>
               
            </div>
            <div class="row" id="tabledmli" hidden>
                <div class="col-sm-10">

                        <table id="example"  class="table table-striped table-bordered table-hover table-responsive"  cellspacing="0" style="padding-left: 2px; width: 121%" >
                            <thead >
                            <tr style="background-color: #00C0EF;">
                                <td style="color: #ffffee"><strong>Direction</strong></td>
                                <td style="color: #ffffee"><strong>Service</strong></td>
                                <td style="color: #ffffee"><strong>Pole</strong></td>
                                <td style="color: #ffffee"><strong>Poste</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Direction</th>
                                <th>Service</th>
                                <th>Pole</th>
                                <th>Poste</th>
                                <th style="display: none;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in result %}
                                <tr>
                                    <td>{{ item.dir_id }}</td>
                                    <td>{{ item.srv_id }}</h6></td>
                                    <td>{{ item.pol_id }}</td>
                                    <td>{{ item.pst_id }}</td>
                                    <td style="width: 7%;">
                                        <div class="row" style="margin-left: 4px;">

                                        <a href="{{ path('affect_profil', {'id': item.id})}}" title="Affecter un Materiel/Logiciel/Groupe Outlook">
                                             <span class="glyphicon glyphicon-pencil" style="padding-left:2px; color: #00a65a"></span>
                                        </a>
                                        <a href="{{ path('remove_profil', {'id': item.id})}}"  onclick="return confirm('Vous voulez confirmer la suppression?')" title="Supprimer un profil">
                                            <span class="glyphicon glyphicon-remove" style="padding-left:2px;padding-right: 2px; color:#CC3300"></span>
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
</div>
</div>
</div>
        </div></div></div></section>
    <div class="col-md-3">

        </div>
</div>


    <script>
        $(document).ready(function () {

            $('#example thead th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Recherche ' + title + '" />');
            });
            // DataTable
    var table = $('#example').DataTable({
                "fnDrawCallback": function () {  $('#loading1').hide(); $('#tabledmli').show();
                },
                "bProcessing": false,
                "bLengthChange": false,
        "iDisplayLength" : 100,

        "info":false,
                "language": {
                    "zeroRecords": "Pas d'enregistrement",
                    "infoEmpty": "Pas d'enregistrement",
                },
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                                .search(this.value)
                                .draw();
                    }
                });
            });
        });
    </script>
{% endblock %}
