{% extends 'AdministrationHierarchieBundle:layout:base.html.twig' %}
{% set page_title = 'Modifier un groupe' %}
{% block body %}
    <section class="content-header">
        <h1>Modifier un groupe</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">Recherche:</label>
                            <select class="chosen" id="allGroups" class="form-control" data-url="{{path("groupe-modifier")}}">
                                <option></option>
                                {% for group in groups %}
                                    <option value="{{group.grpId}}">{{ group.grpLibelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="grpToModify"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
