{#<p>Bonjour,</p>	
<p>Une nouvelle réservation a été enregistrée.</p>#}

<p>Bonjour,</p>
<p>Votre demande a été enregistrée. Vous recevrez prochainement la confirmation de votre réservation, avec les informations utiles pour votre arrivée.</p>

<p>Si besoin, n’hésitez pas à contacter l’hôtel à l’adresse hotel.corbusson@noz.fr.</p>

	<table>
		{% for k, data in hotelBookingData %}
			<tr>
				<td>{{ k }}</td>
				<td>{{ data }}</td>
			</tr>
		{% endfor %}
	</table>
	

	