{% extends "DDRCBundle::base.html.twig" %}
{% block body %}

       
<div class="panel panel-default">
    <div class="panel-heading"><h4>Sélectionner le type de remboursement</h4></div>
    <div class="panel-body">

       {{ form_start(form) }}

           {% for cat in form.category %}
               <div>
               {{ form_widget(cat) }}
               {{ form_label(cat) }}
               {{ form_errors(cat) }}
               </div>
           {% endfor %}
           
       {{ form_end(form) }}

       
    </div>
 </div>
 

       
       
 
<div id='form_placeholder'>
    
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ajaxComplete(function() {
            // $('input, textarea').placeholder().css({"color": "#aaa"});
            $.placeholder.shim();
            $("#ddrcbundle_over80_idMagasin, #ddrcbundle_less80_idMagasin, #ddrcbundle_reparation_idMagasin, #ddrcbundle_cbover80_idMagasin").chosen();
        }); 
    </script>
    <script>
        $( document ).ready(function() {
            
                var link = null;
                
                $("form").change(function() {
                    //generate paths with twig
                    if(document.getElementById("form_category_0").checked===true){
                        link='{{ path('cbover80_new', {}, true) }}';
                    }else if(document.getElementById("form_category_1").checked===true){
                        link='{{ path('over80_new', {}, true) }}';
						
                    } else if (document.getElementById("form_category_2").checked===true){
                         link='{{ path('less80_new', {}, true) }}';
                    } else if (document.getElementById("form_category_3").checked===true){
                        link='{{ path('reparation_new', {}, true) }}';
                    }
                    if (link !== null){
                        $.ajax({ 
                                 url : link, 
                                 success : function(data) {
                                     var form_placeholder = document.getElementById("form_placeholder");
                                     form_placeholder.innerHTML = data;
                                 } 
                        });
                    }

                });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(document).on('focus',"#ddrcbundle_over80_new,#ddrcbundle_less80_new, #ddrcbundle_reparation_new, #ddrcbundle_cbover80_new",function(){
                
              
                
                $("#ddrcbundle_over80_date, #ddrcbundle_less80_date, #ddrcbundle_reparation_date, #ddrcbundle_cbover80_date" ).datepicker({
                    altField: "#ddrcbundle_over80_date",
                    //minDate:0,
                    showAnim:'slideDown',
                    showWeek:true,
                    numberOfMonths: 2,
                    closeText: 'Fermer',
                    prevText: 'Précédent',
                    nextText: 'Suivant',
                    currentText: 'Aujourd\'hui',
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    weekHeader: '',
                    dateFormat: 'dd-mm-yy',
                    firstDay: 1,
                    beforeShow: function(input, inst) {
                        $(input).attr('readonly', true);
                     },
                    onClose: function(dateText, inst) {
                        $(this).attr('readonly', false);
                    }
                });
            });
        });
        
    </script>
    <script> 
	$(document).ready(function() { 
		var options = { 
			delegation: true,
                            target: '#form_placeholder',
                  // beforeSerialize: before(),
			   success: showResponse  // post-submit callback 
		}; 
	 
		// bind form using 'ajaxForm' 
		 $('#ddrcbundle_over80_new').ajaxForm(options); 
		 $('#ddrcbundle_less80_new').ajaxForm(options);
		 $('#ddrcbundle_reparation_new').ajaxForm(options);
         $('#ddrcbundle_cbover80_new').ajaxForm(options);
    });
	// post-submit callback 
	function showResponse(responseText, statusText, xhr, $form)  { 
			
			var n = responseText.search("succès"); 
			if (n ==-1){
			
			}else{
				document.getElementById("form_category_0").checked=false;
				document.getElementById("form_category_1").checked=false;
				document.getElementById("form_category_2").checked=false;
                document.getElementById("form_category_3").checked=false;
			}
			 
        }
        
    </script>
{% endblock %}
