<script>
    $(function () {
        $(document).ajaxStart(function () {
            $("#loader").show();
        });
        $(document).ajaxComplete(function () {
            $("#loader").hide();
        });
        $('#hierarchy').on('change', function () {
            $hieId = $(this).val();
            if ($hieId) {
                $('#group').load('groupe-a-ajouter?hieId=' + $hieId);
            } else {
                $('#group').empty().append('<option value=""> Choisir une hiérarchie </option>');
            }
        });
        $('#addGroup').on('click', function () {
            $role = '';
            $('.radioRole').each(function () {
                if ($(this).is(':checked')) {
                    $role = $(this).val();
                }
            });
            if ($('#hierarchy :selected').text() === '') {
                alert('Choisissez une hiérarchie.');
            } else if ($('#group :selected').text() === '') {
                alert('Choisissez une group.');
            } else if ($role === '') {
                alert('Choisissez un rôle');
            }
            if ($('#hierarchy :selected').text() !== '' && $('#group :selected').text() !== '' && $role !== '') {
                $hieId = $('#hierarchy :selected').val();
                $groupId = $('#group :selected').val();
                $usrId = $('#user :selected').val();
                $.ajax({
                    data: {serial: $serial, hieId: $hieId, roleId: $role, groupId: $groupId},
                    type: 'POST',
                    url: 'ajouter-groupe',
                    success: function (response) {
                        window.location = '?user=' + $usrId;
                    }
                });
            }
        });
    });
</script>
{% block body %}
    <section class="content-header">
        <h1>Affecter un collaborateur</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('utilisateur-ajouter-groupe')}}" method="POST"> 
                            <div class="form-group">
                                <label class="control-label">Hiérarchie:*</label>
                                <select id="hierarchy" class="form-control form-group">  
                                    <option value=""></option>
                                    {% for name in hierarchy %}
                                        <option value="{{ name['hieId'] }}">{{ name['hieLibelle'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Libellé du groupe:*</label>
                                <select id="group" class="form-control">    
                                    <option value=""> Choisir une hiérarchie </option>
                                </select>
                            </div>
                            <div  class="form-group"> 
                                <label class="control-label">Son rôle:*</label>
                                <div> 
                                    <label class="col-md-2">Manager:</label>
                                    <input type="radio" name="roleRadio" class="radioRole col-md-2" value="3"/>
                                    <label class="col-md-2">Collaborateur:</label>
                                    <input type="radio" name="roleRadio" class="radioRole col-md-2" value="4"/>
                                </div>
                            </div>
                            <div class="box-footer">
                                <input type="button" value="Ajouter" class="btn btn-primary" id="addGroup" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}