<script>
    $(function () {
        // add user serial bellow dropdown list
        $('#userSerial').empty().append('<div class="box-body"><div><p>Matricule : <b>{{ serial }}</b></p></div></div>');
        
        $serial = $("#user").val();
        $('#addLink').on('click', function () {
            $.ajax({
                data: {serial: $serial},
                type: 'POST',
                url: 'utilisateur-attache-employe',
                success: function (response) {
                    $('#formDiv').html(response);
                }
            });
            $('#editUserDiv').children().each(function () {
                $(this).removeClass('disabled');
            });
            $(this).addClass('disabled');
        });
        $('#modifyLink').on('click', function () {
            $.ajax({
                data: {serial: $serial},
                type: 'POST',
                url: 'modifier',
                success: function (response) {
                    $('#formDiv').html(response);
                }
            });
            $('#editUserDiv').children().each(function () {
                $(this).removeClass('disabled');
            });
            $(this).addClass('disabled');
        });
        $('#deleteLink').on('click', function () {
            $.ajax({
                data: {serial: $serial},
                type: 'POST',
                url: 'supprimer',
                success: function (response) {
                    $('#formDiv').html(response);
                }
            });
            $('#editUserDiv').children().each(function () {
                $(this).removeClass('disabled');
            });
            $(this).addClass('disabled');
        });
    });
</script>
{% block body %}
    <section class="content-header">
        <h1>Gérer les affectations</h1>
    </section>
    <section class="content">
        <div id="editUserDiv" class="text-center well">
            {% if isEmployee == true %}
            <button type="button" class="btn btn-primary" id="addLink">Affecter un collaborateur</button>
            <button type="button" class="btn btn-primary" id="modifyLink">Modifier une affectation</button>
            {% endif %}
            <button type="button" class="btn btn-primary" id="deleteLink">Supprimer une affectation</button>
        </div>
        <div id="formDiv" class="row"></div>
    </section>
{% endblock %}