{% extends 'AdministrationHierarchieBundle:layout:base.html.twig' %}
{% set page_title = 'Gérer les utilisateurs' %}
{% block body %}
    <script type="text/javascript">
        $(function(){
           $(".chosenUser").chosen({no_results_text: "Rien trouvé."});
           $("#chosenUser_type").val("{{selected}}").trigger('change');
        });
    </script>
    <section class="content-header">
        <h1>Rechercher un collaborateur</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">Recherche:</label>
                            <select class="chosenUser" id="user" class="form-control">
                                <option value=""></option>
                                {% for serial,nom in userList %}
                                    <option value="{{serial}}" {%if selected == serial%} selected="selected" {%endif%}>{{ nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="userSerial"></div>
                </div>
            </div>
        </div>
        <div id="userActions" class="row"></div>
    </section>
{% endblock %}
