<script>
    $(function () {
        $(document).ajaxStart(function () {
            $("#loader").show();
        });
        $(document).ajaxComplete(function () {
            $("#loader").hide();
        });
        // if hierarchie is selected do ajax request
        $hieId = $('#hierarchy').val();
        if ($hieId) {
            $url = 'groupe-a-supprimer?hieId=' + $hieId + '&serial=' + $serial;
            $.getJSON($url, function (data) {
                $.each(data, function (key, val) {
                    if (key == 'grpLibelle') {
                        $('#group').empty().append("<kbd>" + val + "</kbd>");
                    }
                    if (key == 'rolLibelle') {
                        $('#role').empty().append("<kbd>" + val + "</kbd>");
                    }
                    if (key == 'grpId') {
                        $grpId = val;
                    }
                });
            });
        }
        // end hierarchie selected
        $('#hierarchy').on('change', function () {
            $hieId = $('#hierarchy :selected').val();
            $grpId = 0;
            if ($hieId) {
                $url = 'groupe-a-supprimer?hieId=' + $hieId + '&serial=' + $serial;
                $.getJSON($url, function (data) {
                    $.each(data, function (key, val) {
                        if (key == 'grpLibelle') {
                            $('#group').empty().append("<kbd>" + val + "</kbd>");
                        }
                        if (key == 'rolLibelle') {
                            $('#role').empty().append("<kbd>" + val + "</kbd>");
                        }
                        if (key == 'grpId') {
                            $grpId = val;
                        }
                    });
                });
            } else {
                $('#group').empty().append('-----');
                $('#role').empty().append('-----');
            }
        });
        $('#deleteGroup').on('click', function () {
            if ($('#hierarchy :selected').text() !== '') {
                $hieId = $('#hierarchy :selected').val();
                $usrId = $('#user :selected').val();
                $confirm = confirm('Êtes vous sûr ?');
                if ($confirm == true) {
                    $.ajax({
                        data: {serial: $serial, hieId: $hieId, grpId: $grpId},
                        type: 'POST',
                        url: 'supprimer-groupe',
                        success: function (response) {
                            window.location = '?user=' + $usrId;
                        }
                    });
                }
            } else {
                alert('Choisir une hiérarchie.');
            }
        });
    });
</script>
{% block body %}
    <section class="content-header">
        <h1>Supprimer une affectation</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('utilisateur-ajouter-groupe')}}" method="POST"> 
                            <div class="form-group">
                                <label class="control-label">Hiérarchie:*</label>
                                <select id="hierarchy" class="form-control form-group">  
                                    <option value=""></option>
                                    {% for name in hierarchy %}
                                        <option value="{{ name['hieId'] }}" {{ selected }}>{{ name['hieLibelle'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Groupe:</label>
                                <label id="group" class="pull-right">-----</label>
                            </div>
                            <div class="form-group">
                                <label>Rôle:</label>
                                <label id="role" class="pull-right">-----</label>
                            </div>
                            <div class="box-footer">
                                <input type="button" value="Supprimer" class="btn btn-primary" id="deleteGroup" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{#<h2>Supprimer une affectation</h2>
<form class="form-horizontal" action="/utilisateur/modifier-groupe" method="POST"> 
    <div class="form-group">
        <label class="control-label col-sm-2">Hiérarchie:*</label>
        <div class="col-sm-3">
            <select id="hierarchy" class="form-control">  
                <option value=""></option>
                {% for name in hierarchy %}
                    <option value="{{ name['hieId'] }}">{{ name['hieLibelle'] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Groupe:</label>
        <label class="control-label col-sm-2" id="group">-----</label>
    </div>
    <div  class="form-group"> 
        <label class="control-label col-sm-2">Rôle:</label>
        <label class="control-label col-sm-2" id="role">-----</label>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <input type="button" value="Supprimer" class="btn btn-primary" id="deleteGroup" />
        </div>
    </div>
</form>#}
{% endblock %}