{% extends 'AdministrationHierarchieBundle:layout:base.html.twig' %}
{% block body %}
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script>
        $(function () {
            var isPandore = {{isPandore}};
                    $('.datepicker').datepicker({
                format: 'yyyymmdd',
                clearBtn: true,
                language: "fr",
            }).on('changeDate', function (e) {
                $val = $(this).data('datepicker').getFormattedDate('yyyymmdd');
                $(this).parent().next().val($val);
            });
        {% if id >= 0 %}
                $("#loadEditUser").val('{{id}}');
        {% endif %}
                $(".chosenUser").chosen({no_results_text: "Rien trouvé."});

                $('#saveUserBtn').on('click', function () {
                    if (isPandore == 1) {
                        var confirm = window.confirm('Fait très attention. L\'utilisateur est de PANDORA.');
                        if (confirm == true) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                })
                $('#allActiveUsersBtn').on('click', function () {
                    window.location = "{{path('utilisateur-editer',{'allUsers':0})}}";
                });
                $('#allUsersBtn').on('click', function () {
                    window.location = "{{path('utilisateur-editer',{'allUsers':1})}}";
                });
            });
    </script>
    <section class="content-header">
        <h1>Modifier utilisateur</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">Choisissez un utilisateur:</label>
                            <select class="chosenUser" class="form-control" id="loadEditUser" data-url="{{path("utilisateur-editer")}}">
                                <option></option>
                                {% for matricule,name in users %}
                                    <option value="{{matricule}}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" id="allUsersBtn">Tous les utilisateurs</button>
                            <button class="btn btn-primary pull-right" id="allActiveUsersBtn">Les utilisateurs actifs</button>
                        </div>  
                        <div id='userEditDiv'></div>
                    </div>
                </div>
            </div>
        </div>
        {%if id %}
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            {% if isPandore == true %}
                                <div class="form-group">
                                    <div role="alert" class="alert alert-danger">
                                        <p style="display:inline-block;"> Le collaborateur est mis à jour par Pandore. Toute modification via ce formulaire sera perdue lors de la prochaine synchronisation.</p>
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_start(form,{'action': path('utilisateur-editer',{'id':id})}) }}
                            <div class="form-group">
                                {{ form_label(form.usrNom, 'Nom*:') }}
                                {{ form_widget(form.usrNom, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrNom)%}
                                    {{ form_errors(form.usrNom) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrPrenom, 'Prenom*:') }}
                                {{ form_widget(form.usrPrenom, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrPrenom)%}
                                    {{ form_errors(form.usrPrenom) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrPoste, 'Poste*:') }}
                                {{ form_widget(form.usrPoste, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrPoste)%}
                                    {{ form_errors(form.usrPoste) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrDateEntree, 'Date Entree*:') }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar datepicker" style="cursor:pointer"></i>
                                    </div>
                                    {{ form_widget(form.usrDateEntree, { 'attr': {'class': 'form-control','readonly':true} }) }}
                                </div>
                                {%if form_errors(form.usrDateEntree)%}
                                    {{ form_errors(form.usrDateEntree) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrEmail, 'Email:') }}
                                {{ form_widget(form.usrEmail, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrEmail)%}
                                    {{ form_errors(form.usrEmail) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrLogin, 'Login Nom:') }}
                                {{ form_widget(form.usrLogin, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrLogin)%}
                                    {{ form_errors(form.usrLogin) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrEmailnoz, 'Email NOZ:') }}
                                {{ form_widget(form.usrEmailnoz, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrEmailnoz)%}
                                    {{ form_errors(form.usrEmailnoz) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrSociete, 'Societe:') }}
                                {{ form_widget(form.usrSociete, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrSociete)%}
                                    {{ form_errors(form.usrSociete) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrNumvoie) }}
                                {{ form_widget(form.usrNumvoie, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrNumvoie)%}
                                    {{ form_errors(form.usrNumvoie) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrAdresse) }}
                                {{ form_widget(form.usrAdresse, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrAdresse)%}
                                    {{ form_errors(form.usrAdresse) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrCodepostal, 'Code Postal:') }}
                                {{ form_widget(form.usrCodepostal, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrCodepostal)%}
                                    {{ form_errors(form.usrCodepostal) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrVille, 'Ville:') }}
                                {{ form_widget(form.usrVille, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrVille)%}
                                    {{ form_errors(form.usrVille) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrDdn, 'Ddn:') }}
                                {{ form_widget(form.usrDdn, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrDdn)%}
                                    {{ form_errors(form.usrDdn) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrNationalite, 'Nationalite:') }}
                                {{ form_widget(form.usrNationalite, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrNationalite)%}
                                    {{ form_errors(form.usrNationalite) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrTelephoneFixe, 'Telephone Fixe:') }}
                                {{ form_widget(form.usrTelephoneFixe, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrTelephoneFixe)%}
                                    {{ form_errors(form.usrTelephoneFixe) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrTelephonePort, 'Telephone Portable:') }}
                                {{ form_widget(form.usrTelephonePort, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrTelephonePort)%}
                                    {{ form_errors(form.usrTelephonePort) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrSituationFamiliale, 'Situation Familiale:') }}
                                {{ form_widget(form.usrSituationFamiliale, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrSituationFamiliale)%}
                                    {{ form_errors(form.usrSituationFamiliale) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrNbEnfants, 'Nb Enfants:') }}
                                {{ form_widget(form.usrNbEnfants, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrNbEnfants)%}
                                    {{ form_errors(form.usrNbEnfants) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrTypeContrat, 'Type Contrat:') }}
                                {{ form_widget(form.usrTypeContrat, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrTypeContrat)%}
                                    {{ form_errors(form.usrTypeContrat) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrHoraire, 'Horaire:') }}
                                {{ form_widget(form.usrHoraire, { 'attr': {'class': 'form-control','placeholder':'nombre avec virgule'} }) }}
                                {%if form_errors(form.usrHoraire)%}
                                    {{ form_errors(form.usrHoraire) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrCategSociopro, 'Categ Sociopro:') }}
                                {{ form_widget(form.usrCategSociopro, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrCategSociopro)%}
                                    {{ form_errors(form.usrCategSociopro) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrRemuneration, 'Remuneration:') }}
                                {{ form_widget(form.usrRemuneration, { 'attr': {'class': 'form-control','placeholder':'nombre avec virgule'} }) }}
                                {%if form_errors(form.usrRemuneration)%}
                                    {{ form_errors(form.usrRemuneration) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrService, 'Service:') }}
                                {{ form_widget(form.usrService, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrService)%}
                                    {{ form_errors(form.usrService) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrDateAnciennete, 'Date Anciennete:') }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar datepicker" style="cursor:pointer"></i>
                                    </div>
                                    {{ form_widget(form.usrDateAnciennete, { 'attr': {'class': 'form-control', 'readonly':true} }) }}
                                </div>
                                {%if form_errors(form.usrDateAnciennete)%}
                                    {{ form_errors(form.usrDateAnciennete) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrDateSortie, 'Date Sortie:') }}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar datepicker" style="cursor:pointer"></i>
                                    </div>
                                    {{ form_widget(form.usrDateSortie, { 'attr': {'class': 'form-control', 'readonly':true} }) }}
                                </div>
                                {%if form_errors(form.usrDateSortie)%}
                                    {{ form_errors(form.usrDateSortie) }}
                                {%endif%}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.usrCodeSap, 'Code Sap:') }}
                                {{ form_widget(form.usrCodeSap, { 'attr': {'class': 'form-control'} }) }}
                                {%if form_errors(form.usrCodeSap)%}
                                    {{ form_errors(form.usrCodeSap) }}
                                {%endif%}
                            </div>
                            {{ form_widget(form._token) }}
                            <button type="submit" class="btn btn-primary" id="saveUserBtn">Sauvegarder</button>
                            {{ form_end(form,{'render_rest':false}) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
