{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}
        <script src="{{ asset('DMLI/js/addMail.js') }}"></script>
        <section class="content-header">
            <h1>
                Ajouter Groupe Outlook
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <form action="{{ path('add_mail_valid') }}" method="post" class="form-horizontal" id="myform">

                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Groupe Outlook</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                        <div class="col-md-6">
                                            <strong>  Direction :</strong>
                                        </div>

                                        <div class="col-md-6">
                                            {{ form_widget(form.direction) }}
                                        </div>

</div><div class="row" style="padding-top: 4px">

                                        <div class="col-md-6">
                                            <strong>  Groupe Outlook :</strong>
                                        </div>                            <div class="col-sm-6">
                                            {{ form_widget(form.mailHolder) }}
                                        </div>

                                    </div>

                       </div>


                <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_mail') }}">{{ form_row(form.Annuler) }}</a></div>
                        <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>


</div>
                </div>
                </form>
            </div>
            </div></section>

    {% endblock %}