
.roles-users {
    /* float: left; */
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    width: 100%;
}

.lien-roles-users {
    /* text-align: right !important; */
    cursor: pointer;
    display: initial;
    width: 100%;
    vertical-align: middle;
    padding: 3px 11px;
}


.lien-roles-users > span {
    /* width: 100%; */
    word-break: break-all;
    padding: 0;
    text-align: left !important;
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    color: #253138;
}

.lien-roles-users > input[type="checkbox"] {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    opacity: 0;
    top: 0;
    /*display: none;*/
}

.roles-users.active {
    background: #c9e3d6;
    text-align: center;
}


.loading {
    display: none;

}



.slimScrollBar {
    width: 7px !important;
}

.checkbox label::before {
    height: 28px !important;
    width: 28px !important;
}

.checkbox label::after {
    font-size: 16px !important;
    height: 28px !important;
    left: 0 !important;
    margin-left: -22px !important;
    padding-top: 3px !important;
    position: absolute !important;
    top: 0 !important;
    width: 28px !important;
}


#loadingBlock{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0) url(../images/loading.gif) center center no-repeat;
    z-index: 9999;
}
.row{
    padding-top: 10px !important;
}
