{% block stylesheets %}
	 {% stylesheets 
        'bootstrap/css/bootstrap.min.css'
        'dist/css/AdminLTE.min.css'
        'dist/css/skins/_all-skins.min.css'
        'style/styles.css'
     '@RoleManagerBundle/Resources/public/css/chosen.bootstrap.min.css'
     '@RoleManagerBundle/Resources/public/css/chosen/bootstrap-chosen.css'
     '@RoleManagerBundle/Resources/public/css/role.css'
     %}
    	<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
     <link href="{{ asset('/Applications/web/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" />
     
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% if app.request.attributes.get('_route') starts with 'utilisateur' %}
        <link href="{{ asset('/Applications/web/bundles/hierarchie/chosen/chosen.min.css') }}" rel="stylesheet" />  
    {% endif %}
{% endblock %}

{% block javascripts %}
	{% javascripts 
		'jquery/jquery-1.10.2.min.js'
	    'bootstrap/js/bootstrap.js' 
	    'dist/js/app.js'

	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}  
{% endblock %}