{#  PENSER A RECUPERER TOUTES LES INFOS DE l'AD    #}
{#  VOIR AVEC GUILLAUME    #}
{#  + PENSER MATRICULE + PHOTO    #}
{#      #}
{#      #}
{#      #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{titreOnglet}}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="{{ asset('all/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/suivietudes/css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/rolemanager/css/chosen.bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/rolemanager/css/chosen/bootstrap-chosen.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/suivietudes/css/role.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/suivietudes/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
    {% block extraStylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- SCRIPTS -->
    {% block javascripts %}
        {% javascripts %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('all/jquery-ui-1.11.1/external/jquery/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/jquery-ui-1.11.1/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/tablesorter/jquery.tablesorter.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/LTE/js/lte.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/rolemanager/js/chosen.jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/rolemanager/js/chosen.jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/rolemanager/js/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/suivietudes/js/app.js') }}"></script>
        <script src="{{ asset('bundles/suivietudes/js/moment-with-locales.js') }}"></script>
        <script src="{{ asset('bundles/suivietudes/js/bootstrap-datetimepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/suivietudes/js/suiviEtude.js') }}"></script>




    {% endblock %}

    <script src="//cdn.ckeditor.com/4.4.6/basic/ckeditor.js"></script>
    <script>
        var url_gestion_dir_srv
            ={{ JS_Parameters.url_gestion_dir_srv|json_encode|raw }}
    </script>
    {% block extraJavascripts %}
    {% endblock %}
</head>
<body class="{%if skin is defined%}{{skin}}{%else%}skin-blue{%endif%}">

<div class="container" id="loader" style="display: none;">
    <img alt="Wait" src="{{ asset('bundles/hierarchie/app/img/loader.gif') }}">
</div>
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="{{ lienAcceuil }}" class="logo">
            <b>{{titre}}</b>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            {% if app.user %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="user-image" alt="User Image"/>
                                <span class="hidden-xs">{{ app.user.displayname }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
                                    {% if app.user %}
                                        <p>
                                            {{ app.user.displayname }} -
                                            Connecté(e) en tant que :
                                            {% block roles %}
                                                {% if is_granted('ROLE_SET_SUPER_ADMIN')%}
                                                    SUPER ADMIN
                                                {% elseif is_granted('ROLE_SET_MANAGER_TECH')%}
                                                    MANAGER TECHNIQUE
                                                {% elseif is_granted('ROLE_SET_RESP_TECH')%}
                                                    RESPONSABLE TECHNIQUE
                                                {% elseif is_granted('ROLE_SET_TECH')%}
                                                    TECHNICIEN
                                                {% elseif is_granted('ROLE_COPIL')%}
                                                    MEMBRE COPIL
                                                {% elseif is_granted('ROLE_SET_VALIDEUR')%}
                                                    VALIDEUR
                                                {% elseif is_granted('ROLE_SET_DEMANDEUR')%}
                                                    DEMANDEUR
                                                {% else %}
                                                    COLLABORATEUR
                                                {% endif %}
                                            {% endblock %}

                                        </p>
                                    {% endif %}
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
                </div>
            </div>
            {#get application menu#}
            {% block menu %}
            {% endblock %}
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <br>
        <br>
        {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">

                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ msg }}</p>

                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-error">

                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ msg }}</p>

                </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
    </div>
    <footer class="main-footer">
        <i>Cette application a été développée par le Pôle WEB - Univers NOZ © {{ 'now'|date('Y') }}.
            Pour nous contacter : <a href="mailto:poleweb@noz.fr">envoyez-nous un mail</a></i>
        <span class='pull-right'>Version actuelle : v{{numVersion}}</span>
    </footer>
</div><!-- ./wrapper -->
</body>




</html>
