<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>{% block title %}{% if page_title is defined %} {{ page_title }} | {% endif %}Administration des  Hiérarchies{% endblock %}</title>
        {{ include('AdministrationHierarchieBundle:layout:header.html.twig') }}
        {#SCRIPTS#}
        {{ include('AdministrationHierarchieBundle:layout:scripts.html.twig') }}
        <link rel="shortcut icon" href="{{ asset('bundles/hierarchie/app/img/hierarchy.png') }}" />
    </head>
    <body class="skin-green">
        <div id="loader" class="container">
            <img src="{{ asset('bundles/hierarchie/app/img/loader.gif') }}" alt="Wait"/>
        </div>
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="{{ path('hierarchie-vue') }}" class="logo"><b>Hiérarchie</b></a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    {% if app.user %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{asset('bundles/hierarchie/app/img/user_default.jpg')}}" class="user-image" alt="User Image"/>
                                        <span class="hidden-xs">{{ app.user.displayname }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{{asset('bundles/hierarchie/app/img/user_default.jpg')}}" class="img-circle" alt="User Image" />
                                            {% if app.user %}
                                            <p>
                                                {{ app.user.displayname }} -
                                                Connecté(e) en tant que : 
                                                {% if is_granted('ROLE_SET_SUPER_ADMIN')%}
                                                    SUPER ADMIN
                                                {% elseif is_granted('ROLE_SET_MANAGER_TECH')%}
                                                    MANAGER TECHNIQUE
                                                {% elseif is_granted('ROLE_SET_RESP_TECH')%}
                                                    RESPONSABLE TECHNIQUE
                                                {% elseif is_granted('ROLE_SET_TECH')%}
                                                    TECHNICIEN
                                                {% elseif is_granted('ROLE_COPIL')%}
                                                    MEMBRE COPIL
                                                {% elseif is_granted('ROLE_SET_VALIDEUR')%}
                                                    VALIDEUR
                                                {% elseif is_granted('ROLE_SET_DEMANDEUR')%}
                                                    DEMANDEUR
                                                {% else %}
                                                    COLLABORATEUR
                                                {% endif %} 
                                            </p>
                                            {% endif %}
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-right">
                                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{asset('bundles/hierarchie/app/img/user_default.jpg')}}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
                        </div>
                    </div>
                    {#MENU#}
                    {{ include('AdministrationHierarchieBundle:layout:menu.html.twig') }}
                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
                {#MESSAGES#}
                {{ include('AdministrationHierarchieBundle:layout:messages.html.twig') }}
            {% block body %}{% endblock %}
        </div>
        {#FOOTER#}
        {{ include('AdministrationHierarchieBundle:layout:footer.html.twig') }}
    </div><!-- ./wrapper -->
</body>
</html>
