{% for flashMessage in app.session.flashbag.get('error') %}
    <div role="alert" class="alert alert-danger alert-dismissable"> 
        {% for elements in flashMessage %}
            {% for element in elements %}
                <button data-dismiss="alert" class="close" type="button">×</button>
                <span style="margin-right:5px;" class="glyphicon glyphicon-exclamation-sign"></span>
                <p style="display:inline-block;">{{ element }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div role="alert" class="alert alert-success alert-dismissable disabled">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
        <p style="display:inline-block;">{{ flashMessage }}</p>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('myError') %}
    <div role="alert" class="alert alert-danger alert-dismissable">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span style="margin-right:5px;" class="glyphicon glyphicon-exclamation-sign"></span>
        <p style="display:inline-block;">{{ flashMessage }}</p>
    </div>
{% endfor %}