<!-- SCRIPTS -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/hierarchie/jquery/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('bundles/hierarchie/app/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/hierarchie/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/hierarchie/dist/js/app.js') }}"></script>
    {% if app.request.attributes.get('_route') starts with 'groupe' %}
        <script src="{{ asset('bundles/hierarchie/app/js/groupe.js') }}"></script>
    {% endif %}
    {% if app.request.attributes.get('_route') starts with 'hierarchie' %}
        <script src="{{ asset('bundles/hierarchie/app/js/bootstrap-filestyle.min.js') }}"></script>
        <script src="{{ asset('bundles/hierarchie/app/js/hierarchie.js') }}"></script>
    {% endif %}
    {% if app.request.attributes.get('_route') starts with 'utilisateur' %}
        <script src="{{ asset('bundles/hierarchie/app/js/utilisateur.js') }}"></script>
        <script src="{{ asset('bundles/hierarchie/chosen/chosen.jquery.min.js') }}"></script>
    {% endif %}
{% endblock %}
<!-- END SCRIPTS -->