<div class="row" id="box">
    <div class="panel panel-success">
        <div class="panel-heading" style="padding: 4px 25px;">
            <div class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><h5>Guide d'utilisation</h5></a>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse11" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>LE DEMANDEUR</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">

                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="CONNEXION"
                                      data-placement="left"
                                      data-content="Pour pouvoir accéder à la DMLI, vous devez utiliser votre nom utilisateur et mot de passe windows">
                                        CONNEXION</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse12" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>CATEGORIE</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="COMMENT CHOISIR UNE CATEGORIE ?"
                                      data-placement="left"
                                      data-content="Une icône en début de formulaire permet de choisir un « modèle » de formulaire pour la DMLI(Par default nouvel Arrivant). Au click une popup apparait ou vous pouvez choisir un type de DMLI.">COMMENT
                                        CHOISIR UNE CATEGORIE ?</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse13" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>DATE DE LIVRAISON</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">

                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="COMMENT CHOISIR UNE DATE ?"
                                      data-placement="left"
                                      data-content="Il vous suffit de cliquer dans la case Date de livraison souhaitée. A l'ouverture, vous n'avez plus qu'à sélectionner une date du calendrier.">COMMENT
                                        CHOISIR UNE DATE ?</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="1" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="UN MESSAGE S'AFFICHE"
                                      data-placement="left"
                                      data-content="Si un message s'affiche, c'est que vous essayez de choisir une date de livraison inférieure à j-5.
                                                      Ou bien vous avez saisi une date non valide.">UN
                                        MESSAGE S'AFFICHE.</a></p>
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>L'UTILISATEUR</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="NOM ET PRENOM"
                                          data-placement="left"
                                          data-content="Les champs 'Nom' et 'Prénom' sont obligatoires.">NOM
                                            ET PRENOM</a></p>
                                </h6>


                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="VOTRE SAISIE N'EST PAS VALIDE"
                                          data-placement="left"
                                          data-content="Si ce message s'affiche, c'est que vous avez saisi un caractére 'interdit'. Saisissez en veillant de ne pas inclure des caractéres 'interdit'
                                                            (Les caractéres dit 'interdit' sont des caractéres n'étant pas connu dans les noms et prénoms ($,%,#...)).">VOTRE
                                            SAISIE N'EST PAS VALIDE</a></p>
                                </h6>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse3" aria-expanded="false" aria-controls="collapseTwo">
                                <h6> LA SOCIETE</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover"
                                          title="LA SOCIETE N'EST PAS PRESENTE DANS LA LISTE ?"
                                          data-placement="left"
                                          data-content="A la fin de la liste déroulante, vous trouverez le champ ' -- AUTRE -- '.
                                                        En le sélectionnant, un champ de saisie va apparaitre, vous permettant d'ajouter une société.
                                                       ">LA SOCIETE N'EST PAS PRESENTE DANS
                                            LA LISTE ?</a></p>
                                </h6>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse4" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>LA HIERARCHIE</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="QUELQUES PRECISIONS."
                                          data-placement="left"
                                          data-content="La présente hiérarchie présente tous les directions, services, pôles et postes qu’un utilisateur peut sélectionner.">QUELQUES
                                            PRECISIONS.</a></p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="DIRECTIONS - SERVICES - POLES"
                                          data-placement="left"
                                          data-content="Ces champs se mettent automatiquement à  jours selon votre sélection. Ainsi, le choix de direction mettra à jour la liste des services, le choix des services mettra à jours la liste des pôles, et le choix des pôles mettra à jour les postes.">DIRECTIONS
                                            - SERVICES - POLES</a></p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="LE POSTE"
                                          data-placement="left"
                                          data-content="La liste des postes n'apparait que lorsque les niveaux hiérachiques supérieurs sont selectionnés.
Si vous constatez des incohérences ou des oublis, nous vous invitons à contacter l'équipe web.">LE POSTE</a></p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover"
                                          title="POSTE/POLE N'EST PAS PRESENT DANS LA LISTE ?"
                                          data-placement="left"
                                          data-content="Si un pôle ou un poste ne figure pas dans la liste déroulante, vous pouvez ajouter manuellement un nouvel attribut en sélectionnant le champ 'AUTRES'.
">POSTE/POLE N'EST PAS PRESENT DANS LA LISTE ?</a></p>
                                </h6>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse5" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>GROUPE OUTLOOK, SAP ET CRM</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="GRP. OUTLOOK"
                                          data-placement="left"
                                          data-content="Les groupes outlook se mettent à jours en fonction des directions selectionnées.

Si un poste est attaché à un groupe Outlook, ce groupe s'ajoute automatiquement à la selection du poste.

IMPORTANT : Pour ajouter un groupe, n'oubliez pas de cliquer sur le bouton Ajouter.">GRP. OUTLOOK</a></p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover"
                                          title="LE GRP. OUTLOOK N'EST PAS PRESENTE DANS LA LISTE ?"
                                          data-placement="left"
                                          data-content="Au début de fenetre, vous trouverez un champ de saisie qui vous permez d'ajouter un groupe.

                                                        IMPORTANT : Pour ajouter un groupe, n'oubliez pas de cliquer sur le bouton Ajouter.">LE
                                            GRP. OUTLOOK N'EST PAS PRESENTE DANS LA LISTE ?</a></p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="SAP"
                                          data-placement="left"
                                          data-content="Le champ 'Profil à Dupliquer doit contennir le nom et le prénom d'une personne ayant un compte SAP identique à celui du futur utilisateur.
                                                        Le champ remarque vous permet d'ajouter un commentaire à l'attention du support SAP en charge de la création des comptes.">SAP</a>
                                    </p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="CRM"
                                          data-placement="left"
                                          data-content="En choisissant un profil CRM, la fonction et la catégorie se mettent à jours.

Il ne vous reste plus qu'à selectionner une équipe.">CRM</a></p>
                                </h6>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse6" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>MATERIELS ET LOGICIELS</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover"
                                          title="COMMENT PUIS-JE METTRE à JOURS LES LISTES ?"
                                          data-placement="left"
                                          data-content="Pour certains postes, une liste de matériels et logiciels s'ajoute automatiquement.

Pour ajouter des éléments aux listes, il faut cliquer sur le bouton 'Ajouter'.

                                                        Cochez ensuite les éléments que vous souhaitez ajouter, et décocher les éléments que vous ne souhaitez supprimer.

                                                        IMPORTANT : N'oubliez pas de cliquer sur le bouton Valider tout en bas de page.">COMMENT
                                            PUIS-JE METTRE à JOURS LES LISTES ?</a></p>
                                </h6>
                                <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover" title="LES PACKS"
                                          data-placement="left"
                                          data-content="Il vous est possible de choisir un pack qui comprend les éléments liés aux modéles du pc choisit.">LES
                                            PACKS</a></p>
                                </h6>
                                 <h6>
                                    <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                          data-toggle="popover"
                                          title="JE SOUHAITE AUTOMATISER L'AJOUT AU LISTES."
                                          data-placement="left"
                                          data-content="Pour cela, contactez l'équipe en veillant bien à remplir <a href='mailto:materiel@noz.fr?subject=Formulaire DMLI : Mise à jour des listes de Matériels et Logiciels selon le poste&body=Bonjour,%0D%0Pourriez-vous mettre à jour les informations du poste suivant svp : %0D%0Direction:%0D%0AService :%0D%0APole :%0D%0APoste :%0D%0A%0D%0ALes logiciels et / ou matériels lier à ce poste :' name >cet email</a>." data-html="true">JE
                                            SOUHAITE AUTOMATISER L'AJOUT AU LISTES.</a></p>
                                </h6>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>