<aside class="main-sidebar">
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
        </div>
    </div>

    <ul class="sidebar-menu">
        {% if app.request.attributes.get('_route') == 'dmli_page1' %}
        <li type="button" id="nouvel1" name="nouvel1" onclick="return false"><a>Nouvel Arrivant</a></li>
        <li id="mercato1" type="button1" name="mercato1" onclick="return false"><a>Mercato</a></li>
        <li id="userGen1" type="button1" name="userGen1" onclick="return false"><a>Utilisateur Générique</a></li>
        <li type="button" id="renouvellement1" name="renouvellement1" onclick="return false"><a>Renouvellement de Matériel</a></li>
        {% if is_granted('ROLE_DMLI_ADMIN') or is_granted('ROLE_DMLI_DAM')%}
            <li class="{% if app.request.attributes.get('_route') == 'index_home' %}active{% endif %}">
                <a href="{{ path('index_home') }}">
                    <i class="fa fa-desktop"></i>
                    <span>Administration-DMLI</span>
                </a>
            </li>
        {% endif %}
        {% endif %}
    </ul>
</section>
</aside>