{% extends 'SelectingPeopleBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@SelectingPeopleBundle/Resources/public/js/dmdRecrutement.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <section class="content-header" >
        <div class="col-sm-9">
            <center><h1 style="color: #367fa9">Demande de recrutement</h1></center></div></section>

    <section class="content">
        <div class="row">
            <div class="col-sm-9">
<form id="form_dmd" class="form-horizontal" action="{{ path('dmd')}}" role="form" method="post" >
    <div class="row">
    <div class="box box-danger" >

        <div class="box-body">
            <u style="color: #367fa9"><h5 style="color: #367fa9">Avant de faire une nouvelle demande, merci de vérifier que vous n'avez pas une demande en cours.</h5></u>
            &nbsp; <div class="form-group">
                <label class="col-md-3 control-label">Mode de recrutement</label>
                <div class="col-md-4">

                    <select id="veo" name="select" class="form-control input-sm">
                        <option value="sp" selected>Selecting People</option>
                        <option value="veo" >VEO Worldwide Services</option>
                    </select>
                </div></div>

        </div>
    </div>
    </div>
    <!---------------Division Demandeur--------->

    <div class="row" >

       &nbsp;
            <div class="box box-primary" >
                <div class="box-header with-border">
                    <h3 class="box-title">Demandeur</h3>
                </div>
                <div class="box-body">

    <div class="form-group">
        <label class="col-md-3 control-label">{{ form_label(form.nomDemandeur) }}*</label>
        <div class="col-md-4">

            {{ form_widget(form.nomDemandeur, {'value' :  usr.surname  }) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{ form_label(form.prenomDemandeur) }}*</label>
        <div class="col-md-4">

            {{ form_widget(form.prenomDemandeur, {'value' :  usr.givenname  }) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{{ form_label(form.mailDemandeur) }}*</label>
        <div class="col-md-4">

            {{ form_widget(form.mailDemandeur, {'value' :  usr.email  }) }}
        </div>
    </div>

        <div class="form-group">
            <label class="col-md-3 control-label">{{ form_label(form.preference) }}</label>
            <div class="col-md-4">

                {{ form_widget(form.preference) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ form_label(form.exclusion) }}</label>
            <div class="col-md-4">

                {{ form_widget(form.exclusion) }}
            </div>
        </div>

    </div>
            </div>
    </div><!----- Fin division demandeur---->

    <!----------- Profil à recruter------------->
    <div class="row">
            <div class="box box-primary" >
                <div class="box-header with-border">
                    <h3 class="box-title">Profil à recruter</h3>
                </div>
                <div class="box-body">
            &nbsp;

            <div id="divdirection" class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.dir) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.dir) }}
                </div>
            </div>
            <div id="divservice" class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.srv) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.srv) }}
                </div>
            </div>
            <div id="divpole" class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.pol) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.pol) }}
                </div>
            </div>

            <div id="divposte" class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.pst) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.pst) }}
                </div>
            </div>

            <div style="color: red "> <font size="2">&nbsp;&nbsp; Si le poste que vous souhaitez n'est pas présent dans la liste, merci de choisir le poste le plus prôche dans la liste et d'indiquer le poste exact dans le commentaire.
                </font> </div>
            <div id="divposte" class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.confidentiel) }}*</label>
                <div class="col-md-4">
                    <input id="conf_aff" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch" onchange="calc()">
                    {{ form_widget(form.confidentiel) }}
                </div>
            </div>
            <div id="divsociete" class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.steId) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.steId) }}<div hidden id="ste_error">
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-result="INVALID" style="color: #a94442">Veuillez renseigner ce champ!</small>
                    </div>
                    </div>
            </div>
            <div id="divprod" class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.produit) }}</label>
                <div class="col-md-4">

                    {{ form_widget(form.produit) }}
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.contratId) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.contratId) }}
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.statutCollaborateurId) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.statutCollaborateurId) }}
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.paysId) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.paysId) }}
                </div>
            </div>
            <div id="divregion" class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.regionId) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.regionId) }}
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.ville) }}*</label>
                <div class="col-md-4">

                    {{ form_widget(form.ville) }}
                </div>
            </div>
            <div style="color: red "> <font size="2">&nbsp;&nbsp; Si le poste s'étend sur plusieurs départements, merci de l'indiquer dans le commentaire.
                </font> </div>
            <div style="color: red "> <font size="2">&nbsp;&nbsp; Merci d'indiquer le magasin concerné si il y a lieu.
                </font> </div>
            <div class="form-group ">
                <label class="col-md-3 control-label">{{ form_label(form.commentaire) }}</label>
                <div class="col-md-4">

                    {{ form_widget(form.commentaire) }}
                </div>
            </div>



                </div>
            <!--------------Fin Profil à recruter--------->
        <div class="box-footer"><div class="row"> <div class="col-xs-10">  </div>
                <div class="col-xs-2">    {{ form_row(form.save) }}</div></div>


            </div> </div>
    </div>

    <div class="row">
        <div class="panel panel-default">&nbsp;
            <div> &nbsp;&nbsp;  * Champs obligatoires.<br></div>

          <div>&nbsp;&nbsp;  En cas de de besoin vous pouvez contacter Selecting People en envoyant un mail
              à Anastasia Dubinschi( adubinschi@veoworldwide.ro )<br>&nbsp;&nbsp; ou au 02 44 72 84 14.</div>
            &nbsp;</div></div>



</form>
                <!----------------Modal add poste------------------------------>
                <div id="modal_add_poste" class="modal fade" role="dialog" >
                    <div class="modal-dialog"  >

                        <!-- Modal content--><form id="ajout_pst" name="ajout_pst" class="form-horizontal">
                        <div class="modal-content" style="width: 700px" >
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Ajout poste</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_widget(form1.id) }}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nom poste</label>
                                        <div class="col-md-4">
                                            {{ form_widget(form1.pstLibelle) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Salaire </label>
                                        <div class="col-md-4">
                                            {{ form_widget(form1.pstSalaire) }}
                                        </div>
                                    </div>

                                    &nbsp;
                            </div>
                            <div class="modal-footer">
                                {{ form_widget(form1.ajouterPoste) }}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!--------------End Modal---------------->

    </div>

    </div>

        </section>



{% endblock %}