{% extends 'SelectingPeopleBundle:layout:base.html.twig' %}
{% block body %}
    <section class="content-header" >

        <h3 style="color: #367fa9">Objectifs des chargés de recrutement</h3></section>
    &nbsp;
    <section class="content">
    <div class="row">



    <div class="box box-danger" >

    <div class="box-body">
    <form id="objectifs" name="objectifs" action="{{ path('obj')}}" role="form" method="post" >
    <table id="myTable" class="table table-striped table-bordered table-responsive tablesorter" cellspacing="0" width="100%" >
        <thead>
        <tr>
            <th style="width: 33%">Nom</th>
            <th style="width: 33%">Objectifs</th>
            <th style="width: 33%">Désactiver</th>
        </tr>
        </thead>
        <tbody>
        {% for item in obj %}
        <tr>
            <td style="width: 33%">{{ item.userId.displayName }}</td>
            <td style="width: 33%">
                <input type="text" id="selectingpeoplebundle_spobjectifs_objectif{{ item.id }}" name="selectingpeoplebundle_spobjectifs[objectif{{ item.id }}]" class="form-control" value="{{ item.objectif }}">

                </td>
            <td style="width: 33%"><center>
                <input type="checkbox" id="{{ item.id }}" name="{{ item.id }}" value={{ item.id }}>
                </center></tr>
            {% endfor %}
        </tbody>
    </table>
        <input type="submit" id="valider_obj" class="btn btn-danger" name="valider_obj" value="Valider"/>
    </form>
    </div>
    </div>
    </div>
    </section>

{% endblock %}