{% extends 'SelectingPeopleBundle:layout:base.html.twig' %}
{% block body %}

    {% block javascripts %}
        {% javascripts
        '@SelectingPeopleBundle/Resources/public/js/suiviMission.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
    {% endblock %}



    <section class="content-header" >

        <h3 style="color: #367fa9">Suivi de la mission: {{ dmd.posteBridgeId.pst.pstLibelle }}</h3></section>
        &nbsp;{% if is_granted("ROLE_CHARGE") %}
    <section class="content disabledbutton">
        {% elseif is_granted("ROLE_ADMIN") %}
        <section class="content">
        {% endif %}
        <div class="row">
            <div class="col-sm-9">

<form id="affectForm" name="affectForm" class="form-horizontal" action="{{ path('affect', {'id': dmd.id})}}" onsubmit="return validateForm()" role="form" method="post" >
    <!-----------------Affectation mission---------------------------->


        <div class="box box-danger" >
            <div class="box-header with-border">

                <h3 class="box-title">Affecter la mission</h3>
            </div>
            <div class="box-body">
            &nbsp
                {% if app.session.get('info')!='' %}
                    <div class="alerte alerte-info fade in alert-dismissable" role="alert">
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ app.session.get('info') }}
                    </div>
                {% endif %}
                {% if app.session.get('error')!='' %}
                    <div class="alerte alerte-danger fade in alert-dismissable" role="alert">
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ app.session.get('error') }}
                    </div>
                {% endif %}
                {% if app.session.get('success')!='' %}
                    <div class="alerte alerte-success fade in alert-dismissable" role="alert">
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ app.session.get('success') }}
                    </div>
                {% endif %}
                {% if app.session.get('warning')!='' %}
                    <div class="alerte alerte-warning fade in alert-dismissable" role="alert">
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ app.session.get('warning') }}
                    </div>
                {% endif %}



                <div id="erreur_rec" class="alerte alerte-danger fade in alert-dismissable" role="alert" hidden>
                    <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong><i class="fa fa-remove" style="background-color:#f2dede"></i> opération échouée!</strong> Veuillez saisir un recruteur Selecting People ou bien un cabinet de recrutement!
                    <!--   &nbsp;<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
                </div>

{% if aff==null %}

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form1.aff_sous_traitance) }}</label>
                <div class="col-md-4">

                    <select id="selectingpeoplebundle_spaffectationdemande_aff_sous_traitance" name="selectingpeoplebundle_spaffectationdemande[aff_sous_traitance]" class="form-control input-sm"><option value="1" selected="">Selecting People</option><option value="0">Sous traitance</option></select>

                </div>
            </div>
            <div id="cabnt_ext" class="form-group" hidden>
                <label class="col-md-3 control-label">{{ form_label(form1.idCabinet) }}</label>
                <div class="col-md-4">

                    {{ form_widget(form1.idCabinet) }}
                </div>
            </div>

            <div id="chrg_rec" class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form1.idRecruteur) }}</label>
                <div class="col-md-4">

                    {{ form_widget(form1.idRecruteur) }}
                </div>
            </div>
                {% else %}
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form1.aff_sous_traitance) }}</label>
                    <div class="col-md-4">

                        {{ form_widget(form1.aff_sous_traitance) }}
                    </div>
                </div>
                    {% if aff.affSousTraitance==1 %}
                <div id="cabnt_ext" class="form-group" hidden>
                    <label class="col-md-3 control-label">{{ form_label(form1.idCabinet) }}</label>
                    <div class="col-md-4">

                        {{ form_widget(form1.idCabinet) }}
                    </div>
                </div>
                <div id="chrg_rec" class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form1.idRecruteur) }}</label>
                    <div class="col-md-4">

                        {{ form_widget(form1.idRecruteur) }}
                    </div>
                </div>
                    {% endif %}
                        {% if aff.affSousTraitance==0 %}
                            <div id="cabnt_ext" class="form-group" >
                                <label class="col-md-3 control-label">{{ form_label(form1.idCabinet) }}</label>
                                <div class="col-md-4">
                                    {{ form_widget(form1.idCabinet) }}
                                </div>
                            </div>
                            <div id="chrg_rec" class="form-group" hidden>
                                <label class="col-md-3 control-label">{{ form_label(form1.idRecruteur) }}</label>
                                <div class="col-md-4">
                                    {{ form_widget(form1.idRecruteur) }}
                                </div>
                            </div>
                        {% endif %}
                {% endif %}
            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form1.charge_recherche) }}</label>
                <div class="col-md-4">

                    {{ form_widget(form1.charge_recherche) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 "></div>
                <div class="col-md-4">
                    <!------Modal Salaire------------------------------>
                    <div id="myModal" class="modal fade" role="dialog" >
                        <div class="modal-dialog"  >

                            <!-- Modal content-->
                            <div class="modal-content" style="width: 700px" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Alerte</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Le salaire doit être renseigné pour affecter une mission.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--------------End Modal---------------->
                    <!----------------Modal accomte------------------------------>
                    <div id="modal_accompte" class="modal fade" role="dialog" >
                        <div class="modal-dialog"  >

                            <!-- Modal content-->
                            <div class="modal-content" style="width: 700px" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Le montant de l'acompte sera impacté</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Vous allez sous traiter une mission pour laquelle un acompte a déja été facturé.</p>
                                    &nbsp;
                                 <!--   <p id="accompte_ecoule">Le mois de facturation de l'acompte est écoulé.</p>-->
                                </div>
                                <div class="modal-footer">
                                    <button id="laisser_acc" type="button" class="btn btn-default" >Laisser l'acompte</button>
                                    <button id="acc_zero" type="button" class="btn btn-default" >Mettre l'accompte à zero</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--------------End Modal---------------->
                </div>
            </div>
                {{ form_widget(form1.sal_hidden) }}
        </div>
            {% if is_granted("ROLE_ADMIN") %}
            <div class="box-footer"><div class="row"> <div class="col-xs-10">  </div>
                    <div class="col-xs-2">    {{ form_row(form1.affecter) }}</div></div>
            </div>{% endif %}

            {% if dmd.statutMissionId.id!=12 and dmd.statutMissionId.id!=7 and dmd.statutMissionId.id!=9 %}
            {{ form_widget(form1.accompte, {'value' :  aff.affSousTraitance  }) }}
                {% else %}
                {{ form_widget(form1.accompte) }}
            {% endif %}
        </div>




</form>

    <!---------------------Fin affectation mission------------------------->
    <!--------------------------- Suivi mission ----------------------------------->
    <form id="suiviForm" name="suiviForm" class="form-horizontal" action="{{ path('suivie', {'id': dmd.id})}}" onsubmit="return validateForm()" role="form" method="post" >

            <div class="box box-danger" >
                <div class="box-header with-border">
                    <h3 class="box-title">Suivi de la mission</h3>
                </div>
                <div class="box-body">
            &nbsp;
            <div class="form-group">
                <label class="col-md-3 control-label">Statut de la mission</label>
                <div class="col-md-8">
                            {{ form_widget(form2.enCours) }}
                            {{ form_widget(form2.enAttente) }}
                            {{ form_widget(form2.annulee) }}
                            {{ form_widget(form2.recrutee) }}
                            {{ form_widget(form2.garantieCours) }}
                            {{ form_widget(form2.garantieTerminee) }}
                            {{ form_widget(form2.doublon) }}
                            {{ form_widget(form2.vivier) }}
                            {{ form_widget(form2.sourcing) }}
                            {{ form_widget(form2.garantieReattribuee) }}
                            {{ form_widget(form2.garantieTermineeReattribuee) }}
                            {{ form_widget(form2.blanc) }}


                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form2.salaire) }}</label>
                <div class="col-md-4">
                    {% if dmd.salaire== NULL %}
                    {{ form_widget(form2.salaire, {'value' :  dmd.posteBridgeId.pst.pstSalaire  }) }}
                    {% else %}
                    {{ form_widget(form2.salaire, {'value' :  dmd.salaire  }) }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form2.reference) }}</label>
                <div class="col-md-4">
                    {% if dmd.reference!= NULL %}
                    {{ form_widget(form2.reference, {'value' :  dmd.reference  }) }}
                    {% else %}
                        {{ form_widget(form2.reference) }}
                    {% endif %}
                </div>
            </div>
                    {% if dmd.idDoublon!= null %}
                    <center><span>Cette mission est une copie. Pour voir la mission originale, cliquez <a id="doublon_href" href="{{ path('suivie', {'id': dmd.idDoublon.id}) }}">ici</a></span></center>
                        {% endif %}

            <!--------si la personne est recrutée---------------------------->
            <div id="per_rec">
                <strong><u>Si la personne est recrutée </u></strong>

                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;
                    <label class="col-md-3 control-label">{{ form_label(form2.dateRecrutement) }}</label>
                    <div class="col-md-4">
                            {% if rec1!=null %}
                        {{ form_widget(form2.dateRecrutement, {'value' :  rec1.dateRecrutement|date('Y-m-d')  }) }}
                        {% else %}
                            {{ form_widget(form2.dateRecrutement) }}
                          {% endif %}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form2.dateIntegration) }}</label>
                    <div class="col-md-4">
                        {% if rec1!=null %}
                        {{ form_widget(form2.dateIntegration, {'value' :  rec1.dateIntegration|date('Y-m-d')  }) }}
                        {% else %}
                        {{ form_widget(form2.dateIntegration) }}
                        {% endif %}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form2.nom_candidat) }}</label>
                    <div class="col-md-4">
                        {% if rec1!=null %}
                        {{ form_widget(form2.nom_candidat, {'value' :  rec1.nomCandidat  }) }}
                        {% else %}
                            {{ form_widget(form2.nom_candidat) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form2.prenom_candidat) }}</label>
                    <div class="col-md-4">
                        {% if rec1!=null %}
                        {{ form_widget(form2.prenom_candidat, {'value' :  rec1.prenomCandidat  }) }}
                        {% else %}
                            {{ form_widget(form2.prenom_candidat) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form2.email_candidat) }}</label>
                    <div class="col-md-4">
                        {% if rec1!=null %}
                        {{ form_widget(form2.email_candidat, {'value' :  rec1.mail  }) }}
                        {% else %}
                        {{ form_widget(form2.email_candidat) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ form_label(form2.enPoste) }}</label>
                    <div class="col-md-4">
                    <!--    <input id="en_poste1" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch" onchange="calc1()">-->
                        {{ form_widget(form2.enPoste) }}
                    </div>
                </div>


            </div>

            <!---------------------Fin si la personne est recrutée-------------------------->
            <!-----------------------confirmation periode essai----------------------------->
                            <div id="conf_essai">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form2.periodeConfirmee) }}</label>
                                    <div class="col-md-4">
                                        <!--   <input id="con_essai" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch3" onchange="calc3()">-->
                                        {{ form_widget(form2.periodeConfirmee) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form2.garantie) }}</label>
                                    <div class="col-md-4">
                                     <!--   <input id="input_garantie" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch6" onchange="calc6()">-->
                                        {{ form_widget(form2.garantie) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ form_label(form2.dateRelance) }}</label>
                                    <div class="col-md-4">
                                        {% if rec1!=null and rec1.dateRelance!=null %}
                                        {{ form_widget(form2.dateRelance, {'value' :  rec1.dateRelance|date('Y-m-d')  }) }}
                                        {% else %}
                                        {{ form_widget(form2.dateRelance) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>


            <!-------------------------Fin confirmation periode essai------------------------->
            <!---------------------------------2eme recrutement---------------------------->
                    <div id="sec_rec">
                        <strong><u>Deuxième recrutement </u></strong>

                        <div class="form-group">
                            &nbsp;&nbsp;&nbsp;
                            <label class="col-md-3 control-label">{{ form_label(form2.dateRecrutement2) }}</label>
                            <div class="col-md-4">
                                {% if rec2!=null %}
                                    {{ form_widget(form2.dateRecrutement2, {'value' :  rec2.dateRecrutement|date('Y-m-d')  }) }}
                                {% else %}
                                    {{ form_widget(form2.dateRecrutement2) }}
                                {% endif %}
                                &nbsp;
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form2.dateIntegration2) }}</label>
                            <div class="col-md-4">
                                {% if rec2!=null %}
                                    {{ form_widget(form2.dateIntegration2, {'value' :  rec2.dateIntegration|date('Y-m-d')  }) }}
                                {% else %}
                                    {{ form_widget(form2.dateIntegration2) }}
                                {% endif %}

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form2.nom_candidat2) }}</label>
                            <div class="col-md-4">
                                {% if rec2!=null %}
                                    {{ form_widget(form2.nom_candidat2, {'value' :  rec2.nomCandidat  }) }}
                                {% else %}
                                    {{ form_widget(form2.nom_candidat2) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form2.prenom_candidat2) }}</label>
                            <div class="col-md-4">
                                {% if rec2!=null %}
                                    {{ form_widget(form2.prenom_candidat2, {'value' :  rec2.prenomCandidat  }) }}
                                {% else %}
                                    {{ form_widget(form2.prenom_candidat2) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form2.email_candidat2) }}</label>
                            <div class="col-md-4">
                                {% if rec2!=null %}
                                    {{ form_widget(form2.email_candidat2, {'value' :  rec2.mail  }) }}
                                {% else %}
                                    {{ form_widget(form2.email_candidat2) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form_label(form2.en_poste2) }}</label>
                            <div class="col-md-4">
                              <!--  <input id="en_poste2" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch2" onchange="calc2()">-->
                                {{ form_widget(form2.en_poste2) }}
                            </div>
                        </div>


                    </div>

                    <!---------------------Fin 2eme recrutement---------------------------->

        </div>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="box-footer"><div class="row"> <div class="col-xs-10">  </div>
                        <div class="col-xs-2">    {{ form_row(form2.suivi) }}</div></div>
    </div>
    {% endif %}
            </div>{{ form_widget(form2.statutt, {'value' :  dmd.statutMissionId.id  }) }}
</form>
    <!-----------------Fin suivi mission---------------------------->
            </div></div>
    <!-----------------Recapitulatif de la demande---------------------------->
        <section class="content-header" >

            <h3 style="color: #367fa9">Récapitulatif de la demande</h3></section>
        &nbsp
            <div class="row">
                <div class="col-sm-9">

        <form id="modifier_dmd" class="form-horizontal" action="{{ path('modification_dmd', {'id': dmd.id})}}"
              role="form" method="post" >

        <div class="box box-danger" >
            <div class="box-header with-border">
            <h3 class="box-title">Demandeur</h3>
        </div>
            <div class="box-body">
        Date de la demande : {{ dmd.date|date('Y-m-d') }}
    &nbsp;           &nbsp;

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.nomDemandeur) }} </label>
                <div class="col-md-4">

                    {{ dmd.nomDemandeur }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ form_label(form.prenomDemandeur) }} </label>
                <div class="col-md-4">

                    {{ dmd.prenomDemandeur }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Adresse mail : </label>
                <div class="col-md-4">

                    {{ dmd.mailDemandeur }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chargé de recrutement avec qui l'opérationnel veut travailler :</label>
                <div class="col-md-4">

                    {{ dmd.preference }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chargé de recrutement avec qui l'opérationnel ne veut pas travailler :</label>
                <div class="col-md-4">

                    {{ dmd.exclusion }}
                </div>
            </div>


        </div>
    </div>
            <div class="box box-danger" >
                <div class="box-header with-border">
                    <h3 class="box-title">Profil à recruter</h3>
                </div>
                <div class="box-body">
            &nbsp;

            <div class="form-group">
                <label class="col-md-3 control-label">Poste : </label>
                <div id="pst_show" class="col-md-4">

                    {{ dmd.posteBridgeId.pst.pstLibelle }}
                </div>
                <div id="pst_edit" class="col-md-4">

                    {{ form_widget(form.pst, {'value' :  dmd.posteBridgeId.pst.pstLibelle  }) }}
                </div>
            </div>

            <div  class="form-group">
                <label class="col-md-3 control-label">Direction : </label>
                <div id="dir_show" class="col-md-4">

                    {{ dmd.posteBridgeId.dir.libelle }}
                </div>
                <div id="dir_edit" class="col-md-4">

                    {{ form_widget(form.dir) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Service : </label>
                <div id="srv_show" class="col-md-4">

                    {{ dmd.posteBridgeId.srv.libelle }}
                </div>
                <div id="srv_edit" class="col-md-4">

                    {{ form_widget(form.srv, {'value' :  dmd.posteBridgeId.srv.libelle  }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Pôle : </label>
                <div id="pol_show" class="col-md-4">

                    {% if dmd.posteBridgeId.pol !=NULL %}{{ dmd.posteBridgeId.pol.polLibelle }}{% endif %}
                </div>
                <div id="pol_edit" class="col-md-4">
{% if dmd.posteBridgeId.pol !=NULL %}
                    {{ form_widget(form.pol, {'value' :  dmd.posteBridgeId.pol.polLibelle  }) }}
                    {% else %}
                    {{ form_widget(form.pol)}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Confidentiel : </label>
                <div id="conf_show" class="col-md-4">
                     {{ dmd.confidentiel }}
                </div>
                <div id="conf_edit" class="col-md-4">
                <!----   <input id="conf" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch4" onchange="calc4()">-->

                    {{ form_widget(form.confidentiel, {'value' :  dmd.confidentiel  }) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Société à facturer : </label>
                <div id="ste_show" class="col-md-4">

                    {% if dmd.steId != NULL %}{{ dmd.steId.libelle }} {% endif %}
                </div>
                <div id="ste_edit" class="col-md-4">

                    {{ form_widget(form.steId, {'value' :  dmd.steId.libelle  }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Reference: </label>
                <div id="ref_show" class="col-md-4">

                    {% if dmd.reference != NULL %}{{ dmd.reference }} {% endif %}
                </div>
                <div id="ref_edit" class="col-md-4">

                    {{ form_widget(form.reference, {'value' :  dmd.reference  }) }}

                </div>
            </div>


                    <div id="div_prod" class="form-group">
                        <label class="col-md-3 control-label">Famille de produit: </label>
                        <div id="prod_show" class="col-md-4">

                            {% if dmd.produit != NULL %}{{ dmd.produit }} {% endif %}
                        </div>
                        <div id="prod_edit" class="col-md-4">

                            {{ form_widget(form.produit, {'value' :  dmd.produit  }) }}

                        </div>
                    </div>





            <div class="form-group">
                <label class="col-md-3 control-label">Type de contrat: </label>
                <div id="ctr_show" class="col-md-4">

                    {{ dmd.contratId.type }}
                </div>
                <div id="ctr_edit" class="col-md-4">

                    {{ form_widget(form.contratId, {'value' :  dmd.contratId.type }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Statut : </label>
                <div id="staut_show" class="col-md-4">

                    {{ dmd.statutCollaborateurId.statut }}
                </div>
                <div id="statut_edit" class="col-md-4">

                    {{ form_widget(form.statutCollaborateurId, {'value' :  dmd.statutCollaborateurId.id  }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Salaire souhaité : </label>
                <div id="sal_show" class="col-md-4">

                    {{ dmd.salaire }}
                </div>
                <div id="sal_edit" class="col-md-4">

                    {{ form_widget(form.salaire, {'value' :  dmd.salaire  }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Durée période d'essai: </label>
                <div id="per_show" class="col-md-4">

                    {{ dmd.statutCollaborateurId.periode }} mois
                </div>
                <div id="per_edit" class="col-md-4">

                    {{ form_widget(form.periodeEssai, {'value' :  dmd.statutCollaborateurId.periode  }) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Commentaire : </label>
                <div id="cmt_show" class="col-md-4">

                    {{ dmd.commentaire }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Secteur géographique: </label>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Pays: </label>
                <div id="pys_show" class="col-md-4">
                    {{ dmd.paysId.nomPays }}
                </div>
                <div id="pys_edit" class="col-md-4">

                    {{ form_widget(form.paysId, {'value' :  dmd.paysId.nomPays  }) }}
                </div>
            </div>


            <div id="div_region" class="form-group">
                <label class="col-md-3 control-label">Region: </label>
                <div id="reg_show" class="col-md-4">
                    {% if dmd.regionId !=null %}   {{ dmd.regionId.libelle }} {% endif %}
                </div>
                <div id="reg_edit" class="col-md-4">

                    {{ form_widget(form.regionId) }}
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-3 control-label">Départements/Ville : </label>
                <div id="vill_show" class="col-md-4">
                    {{ dmd.ville }}
                </div>
                <div id="vill_edit" class="col-md-4">

                    {{ form_widget(form.ville, {'value' :  dmd.ville  }) }}
                </div>
            </div>
                    <div class="form-group ">
                        <label class="col-md-3 control-label">{{ form_label(form.commentaireSp) }}</label>
                        <div id="cmt_sp_show" class="col-md-4">

                            {{ dmd.commentaireSp }}
                        </div>
                        <div id="cmt_sp_edit" class="col-md-4">

                            {{ form_widget(form.commentaireSp, {'value' :  dmd.commentaireSp  }) }}
                        </div>
                    </div>


        </div>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="box-footer"><div class="row"> <div class="col-xs-10">  </div>
                        <div id="modif" class="col-xs-2">    {{ form_row(form.modifier) }}</div>
                        <div id="save" class="col-xs-2">    {{ form_row(form.enregistrer) }}</div></div>
    </div>
    {% endif %}
                <!-----------------Fin recapitulatif ----------------------------></div>



        </form></div>
    </div></div>
    </section>

    {{ app.session.remove('info') }}
    {{ app.session.remove('error') }}
    {{ app.session.remove('success') }}
    {{ app.session.remove('warning') }}


    <script>

        var url = window.location.pathname;
        var dmdid = url.substring(url.lastIndexOf('/') + 1);
        statutMission();
        changerStatut();
        afficherStatuts();
        prod();


        document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="{{ dmd.statutMissionId.id }}";
        var ste= {{ dmd.steId.id }};
        var ctr= {{ dmd.contratId.id }};
        var statut_coll= {{ dmd.statutCollaborateurId.id }};
        var pys={{ dmd.paysId.id }};
        var conf='{{ dmd.confidentiel }}';
        $("#selectingpeoplebundle_spdemanderecrutement_contratId").val(ctr);
        $("#selectingpeoplebundle_spdemanderecrutement_paysId").val(pys);
        if (conf == 'Oui') {
            //oui
            document.getElementById("selectingpeoplebundle_spdemanderecrutement_confidentiel_0").checked=true;
        }
        else {
            //non
            document.getElementById("selectingpeoplebundle_spdemanderecrutement_confidentiel_1").checked=true;
        }
        $("#selectingpeoplebundle_spdemanderecrutement_statutCollaborateurId").val(statut_coll);
        $("#selectingpeoplebundle_spdemanderecrutement_steId").val(ste).trigger("chosen:updated");


        function prod() {
            var direction ={{ dmd.posteBridgeId.dir.id }}
            if(direction!='1'){
                $('#div_prod').hide();
            }
        }

        function statutMission() {
            $('#per_rec').hide();
            $('#conf_essai').hide();
            $('#sec_rec').hide();
            var statut = {{ dmd.statutMissionId.id }}
            if ((statut == 1)||(statut == 7)) {
                $('#per_rec').show();
            }
            if ((statut == 2)||(statut==3)||(statut==12)||(statut==9)||(statut==8)) {
                $('#per_rec').hide();
                $('#conf_essai').hide();
                $('#sec_rec').hide();
            }

            if (statut ==4){
                $('#per_rec').show();
                $('#conf_essai').show();
            }
            if ((statut==5)||(statut==10)||(statut==6)||(statut==11)){
                $('#per_rec').show();
                $('#conf_essai').show();
                $('#sec_rec').show();
            }

        }
        $('#selectingpeoplebundle_sprecrutement_enCours, #selectingpeoplebundle_sprecrutement_doublon').click(function () {
            $('#per_rec').show();
            $('#conf_essai').hide();
            $('#sec_rec').hide();
        });
            $('#selectingpeoplebundle_sprecrutement_enAttente, #selectingpeoplebundle_sprecrutement_annulee, #selectingpeoplebundle_sprecrutement_sourcing, #selectingpeoplebundle_sprecrutement_vivier').click(function () {
                $('#per_rec').hide();
                $('#conf_essai').hide();
                $('#sec_rec').hide();
            });
            $('#selectingpeoplebundle_sprecrutement_recrutee').click(function () {
                $('#per_rec').show();
                $('#conf_essai').show();
                $('#sec_rec').hide();
            });
            $('#selectingpeoplebundle_sprecrutement_garantieCours, #selectingpeoplebundle_sprecrutement_garantieTerminee,#selectingpeoplebundle_sprecrutement_garantieReattribuee,#selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee').click(function () {
                $('#per_rec').show();
                $('#conf_essai').show();
                $('#sec_rec').show();
            });


        function afficherStatuts() {
            var statut_org= {{ dmd.statutMissionId.statutOrigine|json_encode|raw }}

            $('#selectingpeoplebundle_sprecrutement_blanc').hide();
            $('#selectingpeoplebundle_sprecrutement_enCours').hide();
            $('#selectingpeoplebundle_sprecrutement_enAttente').hide();
            $('#selectingpeoplebundle_sprecrutement_annulee').hide();
            $('#selectingpeoplebundle_sprecrutement_recrutee').hide();
            $('#selectingpeoplebundle_sprecrutement_garantieCours').hide();
            $('#selectingpeoplebundle_sprecrutement_garantieTerminee').hide();
            $('#selectingpeoplebundle_sprecrutement_doublon').hide();
            $('#selectingpeoplebundle_sprecrutement_vivier').hide();
            $('#selectingpeoplebundle_sprecrutement_sourcing').hide();
            $('#selectingpeoplebundle_sprecrutement_garantieReattribuee').hide();
            $('#selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee').hide();
            var s = statut_org.split(',');
            for (i=0;i<s.length;i++){
                if (s[i]==1){
                $('#selectingpeoplebundle_sprecrutement_enCours').show();}
                if (s[i]==2){
                $('#selectingpeoplebundle_sprecrutement_enAttente').show();}
                if (s[i]==3){
                $('#selectingpeoplebundle_sprecrutement_annulee').show();}
                if (s[i]==4){
                $('#selectingpeoplebundle_sprecrutement_recrutee').show();}
                if (s[i]==5){
                $('#selectingpeoplebundle_sprecrutement_garantieCours').show();}
                if (s[i]==6){
                $('#selectingpeoplebundle_sprecrutement_garantieTerminee').show();}
                if (s[i]==7){
                $('#selectingpeoplebundle_sprecrutement_doublon').show();}
                if (s[i]==8){
                $('#selectingpeoplebundle_sprecrutement_vivier').show();}
                if (s[i]==9){
                $('#selectingpeoplebundle_sprecrutement_sourcing').show();}
                if (s[i]==10){
                $('#selectingpeoplebundle_sprecrutement_garantieReattribuee').show();}
                if (s[i]==11){
                $('#selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee').show();}
                if (s[i]==12){
                $('#selectingpeoplebundle_sprecrutement_blanc').show();}
            }

        }

        function changerStatut() {
            var st= {{ dmd.statutMissionId.id }}
            if(st==12){
                document.getElementById("selectingpeoplebundle_sprecrutement_blanc").className = "btn btn-danger";
            }
            else if(st==1){
                document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-danger";
            }
            else if (st==2){
                document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-danger";
            }
            else if (st==3){
                document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-danger";
            }
            else if (st==4){
                document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-danger";
            }
            else if (st==5){
                document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-danger";
            }
            else if (st==6){
                document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-danger";
            }
            else if (st==7){
                document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-danger";
            }
            else if (st==8){
                document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-danger";
            }
            else if (st==9){
                document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-danger";
            }
            else if (st==10){
                document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-danger";
            }
            else if (st==11){
                document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-danger";
            }
        }
        $('#selectingpeoplebundle_sprecrutement_enCours').click(function () {

            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="1";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });

        $('#selectingpeoplebundle_sprecrutement_enAttente').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="2";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });


        $('#selectingpeoplebundle_sprecrutement_annulee').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="3";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_recrutee').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="4";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_garantieCours').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="5";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_garantieTerminee').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="6";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_doublon').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="7";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_vivier').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="8";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_sourcing').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="9";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_garantieReattribuee').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="10";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-danger";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-default";
        });
        $('#selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee').click(function () {
            document.getElementById("selectingpeoplebundle_sprecrutement_statutt").value="11";
            document.getElementById("selectingpeoplebundle_sprecrutement_enCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_enAttente").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_annulee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_recrutee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieCours").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTerminee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_doublon").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_vivier").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_sourcing").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieReattribuee").className = "btn btn-default";
            document.getElementById("selectingpeoplebundle_sprecrutement_garantieTermineeReattribuee").className = "btn btn-danger";
        });

    </script>

{% endblock %}