{% extends 'SelectingPeopleBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@SelectingPeopleBundle/Resources/public/js/tabMission.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <section class="content-header" >

        <h3 style="color: #367fa9">Tableau des missions</h3></section>
    &nbsp;
    <section class="content">
        <div class="row">


            <form id="recherche" name="recherche" class="form-horizontal" action="{{ path('filtre')}}" role="form" method="post">
            <div class="box box-danger" >
                <div class="box-header with-border">
                    <h3 class="box-title">Critères de recherches</h3>
                </div>
                <div class="box-body">
                    <table style="width: 100%">
                        <tr><td style="width: 15%">{{ form_label(form.poste) }}:</td><td><input type="text" id="selectingpeoplebundle_recherche_poste" name="selectingpeoplebundle_recherche[poste]" class="form-control input-sm" value="{{ app.session.get('poste') }}"></td>
                            <td style="width: 10%">{{ form_label(form.statut) }}: </td><td style="max-width: 250px"> <select id="selectingpeoplebundle_recherche_statut" name="selectingpeoplebundle_recherche[statut][]" class="chosen form-control input-sm chosen-select
                            chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single" multiple="multiple" style="display: none;">
                                   {% if app.session.get('statut')!= null %}
                                            {% for st in statut  %}
                                            {% if st.id in app.session.get('statut') %}
                                            <option value="{{ st.id }}" selected>{{ st.statut }}</option>
                                            {% else %}
                                            <option value="{{ st.id }}" >{{ st.statut }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            {% for st in statut  %}
                                            <option value="{{ st.id }}">{{ st.statut }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </td>
                            <td style="width: 15%">{{ form_label(form.demandeur) }}:</td> <td><input type="text" id="selectingpeoplebundle_recherche_demandeur" name="selectingpeoplebundle_recherche[demandeur]" class="form-control input-sm" value="{{ app.session.get('demandeur') }}"></td>

                        </tr>
                        <tr>
                            <td style="width: 15%">{{ form_label(form.reference) }}:</td> <td><input type="text" id="selectingpeoplebundle_recherche_reference" name="selectingpeoplebundle_recherche[reference]" class="form-control input-sm" value="{{ app.session.get('reference') }}"></td>
                            <td style="width: 10%">{{ form_label(form.direction) }}:</td> <td style="max-width: 250px">
                                <select id="selectingpeoplebundle_recherche_direction" name="selectingpeoplebundle_recherche[direction][]" class="chosen form-control input-sm chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single"
                                        multiple="multiple" >
                                    {% if app.session.get('direction')!= null %}
                                        {% for dir in direction  %}
                                            {% if dir.id in app.session.get('direction') %}
                                                <option value="{{ dir.id }}" selected>{{ dir.libelle }}</option>
                                            {% else %}
                                                <option value="{{ dir.id }}" >{{ dir.libelle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for dir in direction  %}
                                            <option value="{{ dir.id }}">{{ dir.libelle }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </td>
                            <td style="width: 15%">{{ form_label(form.nom_cand) }}: </td><td> <input type="text" id="selectingpeoplebundle_recherche_nom_cand" name="selectingpeoplebundle_recherche[nom_cand]" class="form-control input-sm"  value="{{ app.session.get('nom_cand') }}"></td>
                        </tr>
                        <tr><td style="width: 15%">{{ form_label(form.sec_geo) }}: </td><td> <input type="text" id="selectingpeoplebundle_recherche_sec_geo" name="selectingpeoplebundle_recherche[sec_geo]" class="form-control input-sm" value="{{ app.session.get('sec_geo') }}"></td>
                            <td style="width: 10%">{{ form_label(form.sous_trait) }}</td> <td>  {% if app.session.get('tr')=='Oui' %}
                                    <select id="selectingpeoplebundle_recherche_sous_trait" name="selectingpeoplebundle_recherche[sous_trait]" class="form-control input-sm" ><option value="" ></option><option value="Oui" selected="selected">Oui</option><option value="Non">Non</option></select>
                                {% elseif app.session.get('tr')=='Non' %}
                                    <select id="selectingpeoplebundle_recherche_sous_trait" name="selectingpeoplebundle_recherche[sous_trait]" class="form-control input-sm" ><option value="" ></option><option value="Oui">Oui</option><option value="Non" selected="selected" >Non</option></select>
                                {% else %}<select id="selectingpeoplebundle_recherche_sous_trait" name="selectingpeoplebundle_recherche[sous_trait]" class="form-control input-sm" ><option value="" selected="selected"></option><option value="Oui">Oui</option><option value="Non">Non</option></select>{% endif %}</td>
                            <td style="width: 15%">{{ form_label(form.date_dmd) }}:</td> <td><input type="text" id="selectingpeoplebundle_recherche_date_dmd" name="selectingpeoplebundle_recherche[date_dmd]" class="form-control input-sm" value="{{ app.session.get('date_dmd') }}"></td>
                        </tr>
                        <tr><td style="width: 15%">{{ form_label(form.date_rec) }}:</td> <td><input type="text" id="selectingpeoplebundle_recherche_date_rec" name="selectingpeoplebundle_recherche[date_rec]" class="form-control input-sm" value="{{ app.session.get('date_rec') }}"> </td>

                             <td style="width: 10%"><div id="rec1"> Chargés de recrutement:</div><div id="cab1">Cabinet extérieur:</div> </td>
                            <td><div id="rec2"><select id="selectingpeoplebundle_recherche_ch_rec" name="selectingpeoplebundle_recherche[ch_rec]" class="form-control input-sm chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single" >
                                        <option></option>
                                        {% for ch in ch_rec   %}
                                            {% if app.session.get('ch_rec')== ch.userId.id %}
                                            <option value="{{ ch.userId.id }}" selected>{{ ch.userId.DisplayName }}</option>
                                            {% else %}
                                            <option value="{{ ch.userId.id }}" >{{ ch.userId.DisplayName }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></div>
                                <div id="cab2"><select id="selectingpeoplebundle_recherche_cabinet_rec" name="selectingpeoplebundle_recherche[cabinet_rec]" class="form-control input-sm chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single" >
                                        <option></option>
                                        {% for cab in cabinets   %}
                                            {% if app.session.get('cabinet_rec')== cab.id %}
                                                <option value="{{ cab.id }}" selected>{{ cab.nomCabinet }}</option>
                                            {% else %}
                                                <option value="{{ cab.id }}" >{{ cab.nomCabinet }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></div> </td>

                        </tr>

                    </table>


                </div>
                <div class="box-footer"><div class="row"> <div class="col-xs-9">  </div>
                        <div class="col-xs-3">  <a class="red-text" style="color: #C1071E" href="{{ path('aff_tout') }}">  <input class="btn btn-danger" type="button" name="action" value="Tout défiltrer" /></a>
                            <input id="filtre" class="btn btn-danger" type="submit" name="action" value="Recherche" />
                        </div></div>


                </div>
            </div>
        </form>

            <div class="box box-danger" style="overflow-x: scroll">

                <div class="box-body" style="width: 100%">

                    <!-- <div style="overflow-x:auto; max-height: 500px">-->
                    <table id="myTable" class="table table-striped table-bordered table-responsive tablesorter" cellspacing="0" width="100%" >
                        <thead>
                        <tr>
                            <th>Actions</th>
                            <th>N°</th>
                            <th>Mission difficile</th>
                            <th>Poste à pourvoir</th>
                            <th>Secteur géographique</th>
                            <th>Demandeur</th>
                            <th>Direction</th>
                            <th>Date demande</th>
                            <th>Chargé recrutement</th>
                            <th>Chargé de recherche</th>
                            <th>Référence</th>
                            <th>Statut</th>
                            <th>Confidentiel</th>
                            <th>Sous traitée</th>
                            <th>Service</th>
                            <th>Pôle</th>
                            <th>Société</th>
                            <th>N° de société</th>
                            <th>Salaire</th>
                            <th>Accompte</th>
                            <th>Solde</th>
                            <th>Nom du candidat</th>
                            <th>Durée recrutement</th>
                            <th>Date du recrutement</th>
                            <th>Recruté par</th>
                            <th>Date d'intégration</th>
                            <th>En poste?</th>
                            <th>Période confirmée?</th>
                            <th>Garantie</th>
                            <th>Date Relance</th>
                            <th>Nom deuxième candidat</th>
                            <th>Date deuxième recrutement</th>
                            <th>Date deuxième intégration</th>
                            <th>En poste?</th>
                            <th>Commentaire demandeur</th>
                            <th style="width: 100%">Commentaire SP</th>

                        </tr>
                        </thead>
                        <tbody>


                        {% for res in result   %}
<!---------------------------------------------
{% if res.statut_id==3 %}
{% set c = '#BBECC0' %}
{% elseif res.statut_id==4 %}
{% set c = '#E1ECF1' %}
{% elseif res.statut_id==7 %}
    {% set c = '#FAE5F0' %}
{% elseif res.statut_id==5 or res.statut_id==10 %}
    {% set c = '#FCF69B' %}
{% elseif res.statut_id==6 or res.statut_id==11 %}
    {% set c = '#FBC697' %}
    {% else  %}
    {% set c = 'white' %}
{% endif %}
--------------------------------------------------------->
                            <tr style="background-color: {{ c }}">
                                <td>

                                    <a class="teal-text" style="color: #009688" href="{{ path('affect', {'id': res.id_dmd})}}"><i class="fa fa-search"></i></a>
                                    {% if res.statut_id == '12' %}
                                        <a class="red-text" style="color: #C1071E" href="{{ path('delete', {'id': res.id_dmd}) }}" onclick="return confirm('Vous êtes sur de vouloir supprimer cette demande?')" ><i class="fa fa-times"></i></a>
                                    {% else %}
                                        <a class="red-text" style="color: #808080"><i class="fa fa-times"></i></a>
                                    {% endif %}
                                </td>
                                <td>{{ res.id_dmd }}</td>
                                <td >{{ res.mission_difficile }}</td>
                                <td >{{ res.poste }}</td>
                                <td >{{ res.pays }} - {{ res.ville }}</td>
                                <td >{{ res.demandeur }} </td>
                                <td >{{ res.direction }}</td>
                                <td >{{ res.date_dmd|date('Y-m-d') }}</td>
                                <td >{{ res.charge_rec }}</td>
                                <td >{{ res.charge_rech }}</td>
                                <td >{{ res.reference }}</td>
                                <td >{{ res.statut }}</td>
                                <td >{{ res.confidentiel }}</td>
                                <td >{{ res.sous_traitance }}</td>
                                <td >{{ res.service }}</td>
                                <td >{{ res.pole }}</td>
                                <td >{{ res.societe }}</td>
                                <td >{{ res.Nsociete }}</td>
                                <td >{{ res.salaire }}</td>
                                <td >{{ res.accompte }}</td>
                                <td >{{ res.solde }}</td>
                                <td >{{ res.r1_nom_cand }}</td>
                                <td >{% if res.duree_rec!='' %}{{ res.duree_rec }} mois{% else %}{% endif %}</td>
                                <td >{{ res.r1_date_rec|date('Y-m-d') }}</td>
                                <td >{{ res.r1_recruteur }}</td>
                                <td >{{ res.r1_date_integration|date('Y-m-d') }}</td>
                                <td >{{ res.r1_enposte }}</td>
                                <td >{{ res.r1_peride_conf }}</td>
                                <td >{{ res.r1_garantie }}</td>
                                <td >{{ res.r1_date_relance|date('Y-m-d') }}</td>
                                <td >{{ res.r2_nom_cand }}  </td>
                                <td >{{ res.r2_date_rec|date('Y-m-d') }}</td>
                                <td >{{ res.r2_date_integration|date('Y-m-d') }}</td>
                                <td >{{ res.r2_enposte }}</td>
                                <td >{{ res.comment_dem }}</td>
                                <td >{{ res.comment_dir }}</td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit" id="export" class="btn btn-danger" name="export" value="Exporter"/>
                </div></div>
            <!--</div>-->
<div hidden>

    {{ app.session.remove('tr') }}
    {{ app.session.remove('poste') }}
    {{ app.session.remove('demandeur') }}
    {{ app.session.remove('reference') }}
    {{ app.session.remove('nom_cand') }}
    {{ app.session.remove('sec_geo') }}
    {{ app.session.remove('date_dmd') }}
    {{ app.session.remove('date_rec') }}
    {{ app.session.remove('ch_rec') }}
    {{ app.session.remove('cabinet_rec') }}









</div>
{% endblock %}