{% extends 'SelectingPeopleBundle:layout:base.html.twig' %}
{% block body %}
    &nbsp;
    &nbsp;<div class="container">
    <section class="content">
    <div class="row" >

    <div class="container">

    <div class="panel panel-default" style="margin-right:20%" >
        <div class="container-fluid" style="margin-top: 1%">
    <div class="alerte alerte-success" role="alert">
        <strong><i class="fa fa-check" style="background-color:#dff0d8"></i> Opération réussie!</strong> Votre demande a été bien enregistré.
        &nbsp;
    </div>
    &nbsp;<blockquote>
    <p>Merci de nous avoir transmis votre demande. Un chargé de recrutement prendra en charge votre demande, et reviendra vers vous.

        En cas de de besoin vous pouvez contacter l'assistante de direction de Selecting People en envoyant un mail à <a href="mailto:adubinschi@veoworldwide.ro" >Anastasia DUBINSCHI</a>.</p>
</blockquote>
    &nbsp;
    <a href="{{ path('dmd')}}"> <i class="fa fa-chevron-circle-left"></i> Ajouter une autre demande</a>
    </div>
    </div>

    </div>
    </div>
    </section>
</div>
{% endblock %}