.dataTables_filter {
    display: none;
}
label.error {
    position: absolute;
    margin-left: 10px;
    color: #D8000C;
    background-color: #FFBABA;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
}
.bodycontainer { max-height: 350px; width: 100%; margin: 0; overflow-y: auto; }
.modal-header {
    border-bottom-color: #BCE8F1;
    background-color: #D9EDF7;
}
.bodycontainer1 { max-height: 125px; width: 100%; margin: 0; overflow-y: auto; }
.table-scrollable { margin: 0; padding: 0; }
legend a {
    color: inherit;
}

.input-small {
    height: 25px;
    width: 50px;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}
legend.legendStyle {
    padding-left: 5px;
    padding-right: 5px;
}
fieldset.fsStyle {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    font-weight: normal;
    border: 2px solid #BCE8F1;
    padding: 4px;
    margin: 5px;
}
legend.legendStyle {
    font-size: small;
    color: #337AB7;
    background-color: transparent;
    font-weight: bold;
}

legend {
    width: auto;
    border-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>tfoot>tr>th, .table>thead>tr>th{
    padding: 2px;}

label {
    font-weight: normal;
}

.panel-body {
    padding: 5px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 30px;
    width: 30px;
    padding: 5px 8px;}

