{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}
        <script src="{{ asset('DMLI/js/addcrm.js') }}"></script>
        <section class="content-header">
            <h1>
                Ajouter Equipe CRM
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <form action="{{ path('add_crm_valid') }}" method="post" class="form-horizontal" id="myform">

                        <!-- Horizontal Form -->
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Equipe CRM</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <strong> Service:</strong>
                                    </div>

                                    <div class="col-md-6">
                                        {{ form_widget(form.service) }}
                                    </div>


                                    <div class="col-md-6">
                                        <strong> Nom de l'equipe :</strong>
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.crm) }}
                                    </div>
                                    <div id="divCrm">
                                        <div class="col-md-6">
                                            <strong> Précisez :</strong>
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.crmHolder) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_crm') }}">{{ form_row(form.Annuler) }}</a></div>
                                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>


                            </div>
                        </div>
                    </form>
                </div>
            </div></section>

    {% endblock %}