{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            La date de mise en production de votre demande n°{{demande.id}} vient d'être modifiée.<br/>
            La mise en production se fera le {{demande.dateProduction|date('d/m/Y')}}

            Vous pouvez consulter votre demande en cliquant <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">ici</a>.
        <br/>
        <br/>
            Raisons invoquées quant au refus de la date de mise en production : <b>{{ description }}</b>
        <br/>
        <br/>
            Si vous souhaitez plus d'informations concernant les raisons de ce changement, n'hésitez pas à nous contacter.
        </p>
    </div>

{% endblock %}