{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            La demande a été rétrogradée au statut 'En cours -CP' et vous a été réaffectée, merci d'effectuer les modifications nécéssaires.</br></br>

            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}