{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            <!-- PENSER A LA PIECE JOINTE DU DEVIS !!!!!! -->
            Vous avez validé le devis, les techniciens et chefs de projet affectés vont commencer votre demande.</br></br>

       		Vous pouvez à tout moment consulter votre demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
            
        </p>
    </div>

{% endblock %}