{% for flashMessage in app.session.flashbag.get('dpdcCommentaireN2Success') %}
	<div role="alert" class="alert alert-success alert-dismissable disabled">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
		<p style="display:inline-block;">{{ flashMessage }}</p>
	</div>
{% endfor %}
<script>
{% if idCommentaireN2 is defined and idCommentaireN2 %}
	var url_commentaireN2 = {{ path('dpdc_commentaireN2_modifier', {'id' : idCommentaireN2})|json_encode|raw }};
{% else %}
	var url_commentaireN2 = {{ path('dpdc_commentaireN2_ajouter')|json_encode|raw }};
{% endif %}
</script>
<table class="table table-bordered table-striped">
	<tr class="info">
		<td>Mois</td>
		<td>{{ mois }}</td>
	</tr>
	<tr class="info">
		<td>Niveau 2</td>
		<td>{{ N2 }}</td>
	</tr>
	<tr class="info">
		<td>Niveau 1</td>
		<td>{{ N1 }}</td>
	</tr>
</table>
{% if idCommentaireN2 is defined and idCommentaireN2 %}
	<h3>Modifier les commentaires</h3>
{% else %}
	<h3>Enregistrer les commentaires</h3>
{% endif %}
{{ form_start(formCommentaireN2, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(formCommentaireN2) }}
	<table class="table table-bordered table-striped">
		<tr class="info">
			<td>
				{% if form_errors(formCommentaireN2.commentaire) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(formCommentaireN2.commentaire) }}</strong>
					</div>
				{% endif %}
				{{ form_label(formCommentaireN2.commentaire) }}
			</td>
			<td>{{ form_widget(formCommentaireN2.commentaire) }}</td>
		</tr>
		<tr class="info">
			<td></td>
			<td>
				<button id="saveCommentaireN2" type="button" class="btn btn-info" aria-label="Left Align">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer
				</button>
			</td>
		</tr>
		{{ form_widget(formCommentaireN2.mois) }}
		{{ form_widget(formCommentaireN2.niveau1) }}
		{{ form_widget(formCommentaireN2.niveau2) }}
	{#	{{ form_row(formResultat._token) }}#}
	</table>
{{ form_end(formCommentaireN2, {'render_rest' : false}) }}
<script src="{{ asset('bundles/dpdc/js/dpdc-commentaireN2-ajouter.js') }}"></script>