{% extends 'ChecklistBundle:template:base.html.twig' %}
	
{% block title %}
    Points de contrôle
{% endblock %}
	
{% block body %}
	
	{{ parent() }}

    <br><br>
    <div style="text-align: center">
        <h1>Error {{ exception.statusCode }}</h1>
        <br><br><br>
        <p style="font-size: 20px;">
			{{ exception.message }}
{#            The resource you are looking for is unavailable or not found.#}
            <br><br>
            <p style="">
                You can return to <a href="{{ path('checklist_homepage') }}">Home</a>
            </p>
        </p>
    </div>

{% endblock %}