{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Administration - Métier {{ parent() }}
{% endblock %}
{% block suivietudes_body %}
    {{ include('::messages.html.twig') }}
    <section class="content-header">
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    {%if app.request.attributes.get('id') < 1%}
                        Ajouter
                    {%else%}
                        Modifier
                    {%endif%}
                    métier
                </h1>
                <div class="box box-primary">
                    {{form_start(form)}}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.name) }}:
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.name) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.name) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="box-footer">
                            {#                            {{ form_widget(form._token) }}#}
                            {{form_widget(form.save, {'label': 'Sauvegarder ','attr': {'class': 'btn btn-primary'}})}}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Métieres</h1>
                <div class="box box-primary">
                    <table class="table table-bordered table-striped table-hover tableFixed">
                        <tbody>
                            {%for no, job in lastJobs%}
                                <tr>
                                    <td>{{job.name}}</td>
                                </tr>
                            {%endfor%}
                            <tr>
                                <td>
                                    {#<a href="{{path('suivi_etudes_admin_management_job_list')}}">Tous</a>#}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}