{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Administration - Pôle liste {{ parent() }}
{% endblock %}
{% block body %}
    {{ include('::messages.html.twig') }}
    <section class="content-header">
        <h1 class="col-md-6">Pôle</h1>
        <a href="{{path('suivi_etudes_admin_management_pole')}}" class="btn btn-primary pull-right">Nouveau</a>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row col-sm-12">
                            <table class="table table-bordered table-striped table-hover tableFixed" id="listTable">
                                <thead>
                                    <tr role="row">
                                        <th>No</th>
                                        <th>Nom</th>
                                        <th>Actes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Nom</th>
                                        <th>Actes</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extraStylesheets %}
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
{% endblock %}
{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var index = 0;
            /* datatables */
            var datatable = $('#listTable').DataTable({
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: '{{path('suivi_etudes_admin_management_pole_list_ajax')}}',
                "columns": [
                    {"data": function (row) {
                            index += 1;
                            return index;
                        }
                    },
                    {"data": "name"},
                    {"data": function (row) { //custom data for this action column
                            var url = "{{ path('suivi_etudes_admin_management_pole', {'id' : 'JSVARIABLE'}) }}";
                            url = url.replace("JSVARIABLE", row.id);
                            var buttons = '<a class="btn btn-primary" href="'
                                    + url
                                    + '" data-toggle="tooltip" data-placement="top"'
                                    + ' title="Modifier les détails du pôle"><i class="fa fa-fw fa-pencil"></i></a>';
                            if (row.active == 1) {
                                var url = "{{ path('suivi_etudes_admin_management_pole_delete', {'id' : 'JSVARIABLE'}) }}";
                                url = url.replace("JSVARIABLE", row.id);
                                buttons += '\n<button class="jsRemovePole btn btn-danger" data-action="'
                                        + url
                                        + '" data-toggle="tooltip" data-placement="top" title="Désactiver la visibilité du pôle">'
                                        + '<i class="fa fa-fw fa-remove"></i></button>';

                            }
                            if (row.active == 0) {
                                var url = "{{ path('suivi_etudes_admin_management_pole_activate', {'id' : 'JSVARIABLE'}) }}";
                                url = url.replace("JSVARIABLE", row.id);
                                buttons += '\n<button class="jsActivate btn btn-warning" data-action="'
                                        + url
                                        + '" data-toggle="tooltip" data-placement="top" title="Réactiver la visibilité du pôle">'
                                        + '<i class="fa fa-fw fa-square"></i></button>';
                            }
                            return buttons; // create buttons
                        }
                    },
                ],
                bPaginate: true, // remove pagination
                bInfo: true, // remove total no of results
                bFilter: true //  search box
            });
            $(document).on('click', '.jsRemovePole', function () {
                var confirmDelete = confirm('Confirmer la desactivation?');
                var action = $(this).attr('data-action');
                if (confirmDelete == true) {
                    $('#loader').show();
                    $.post(action, function (response) {
                        window.location.reload();
                    });
                }
            });
            $(document).on('click', '.jsActivate', function () {
                var confirmDelete = confirm('Confirmer l\'activation?');
                var action = $(this).attr('data-action');
                if (confirmDelete == true) {
                    $('#loader').show();
                    $.post(action, function (response) {
                        window.location.reload();
                    });
                }
            });
        });
    </script>
{% endblock %}