{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Administration - Manager {{ parent() }}
{% endblock %}
{% block suivietudes_body %}
    {{ include('::messages.html.twig') }}
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    {%if app.request.attributes.get('id') < 1%}
                        Ajouter
                    {%else%}
                        Modifier
                    {%endif%}
                    manager
                </h1>
                <div class="box box-primary">
                    {{form_start(form)}}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.manager) }}:
                            {{ form_widget(form.manager, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.manager) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.manager) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pole) }}:
                            {{ form_widget(form.pole, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.pole) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.pole) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="box-footer">
                            {#                            {{ form_widget(form._token) }}#}
                            {{form_widget(form.save, {'label': 'Sauvegarder ','attr': {'class': 'btn btn-primary'}})}}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Managers</h1>
                <div class="box box-primary">
                    <table class="table table-bordered table-striped table-hover tableFixed">
                        <tbody>
                            {%for no, manager in lastManagers%}
                                <tr>
                                    <td>{{manager.manager.displayname}}</td>
                                    <td>{{manager.pole.name}}</td>
                                </tr>
                            {%endfor%}
                            <tr>
                                <td>
                                    {#<a href="{{path('suivi_etudes_admin_management_manager_list')}}">Tous</a>#}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}