{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Administration - Technicien {{ parent() }}
{% endblock %}
{% block extraStylesheets %}
    <style>
        .ui-datepicker-calendar {
            display: none;
        }​ 
    </style>
{% endblock %}
{% block suivietudes_body %}
    {{ include('::messages.html.twig') }}
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    {%if app.request.attributes.get('id') < 1%}
                        Ajouter
                    {%else%}
                        Modifier
                    {%endif%}
                    technicien
                </h1>
                <div class="box box-primary">
                    {{form_start(form)}}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.tech) }}:
                            {{ form_widget(form.tech, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.tech) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.tech) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.pole) }}:
                            {{ form_widget(form.pole, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.pole) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.pole) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.poste) }}:
                            {{ form_widget(form.poste, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.poste) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.poste) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.tauxHoraire) }}:
                            {{ form_widget(form.tauxHoraire, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.tauxHoraire) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.tauxHoraire) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.capacite) }}:
                            {{ form_widget(form.capacite, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.capacite) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.capacite) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.country,'Pays') }}:
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.country) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>{{ form_errors(form.country) }}</p>
                                </div>
                            {%endif%}
                        </div>
                        {#TechInfo#}
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Tech Info</h3>
                                <div class="box-tools pull-right">
                                    <button data-widget="collapse" class="btn btn-box-tool" type="button">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <ul class="nav nav-tabs" id="absenceTechInfoElems">
                                    {%for info in form.techInfo%}
                                        <li class="{%if "now"|date("Y") == info.year.vars.value%}active{%endif%}">
                                            <a aria-expanded="true" href="#year{{info.year.vars.value}}" data-toggle="tab">{{info.year.vars.value}}</a>
                                        </li> 
                                    {%endfor%}
                                </ul>
                                <div class="tab-content" id="absenceAddTechDiv">
                                    {%for info in form.techInfo%}
                                        <div id="year{{info.year.vars.value}}" class="tab-pane fade in {%if "now"|date("Y") == info.year.vars.value%}active{%endif%}">
                                            <button class="btn btn-box-tool pull-right removeTechInfo" type="button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                            <div class="form-group">
                                                {{ form_label(info.year) }}
                                                {{ form_widget(info.year, {'attr': {'class': 'form-control date-picker-year', 'readonly':true}}) }}
                                                {%if form_errors(info.year) %}
                                                    <div role="alert" class="alert alert-danger alert-dismissable"> 
                                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                                        <p style="display:inline-block;">{{ form_errors(info.year) }}</p>
                                                    </div>
                                                {%endif%}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(info.vacationDays) }}
                                                {{ form_widget(info.vacationDays, {'attr': {'class': 'form-control'}}) }}
                                                {%if form_errors(info.vacationDays) %}
                                                    <div role="alert" class="alert alert-danger alert-dismissable"> 
                                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                                        <p style="display:inline-block;">{{ form_errors(info.vacationDays) }}</p>
                                                    </div>
                                                {%endif%}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(info.recHours) }}
                                                {{ form_widget(info.recHours, {'attr': {'class': 'form-control'}}) }}
                                                {%if form_errors(info.recHours) %}
                                                    <div role="alert" class="alert alert-danger alert-dismissable"> 
                                                        <button data-dismiss="alert" class="close" type="button">×</button>
                                                        <p style="display:inline-block;">{{ form_errors(info.recHours) }}</p>
                                                    </div>
                                                {%endif%}
                                            </div>
                                        </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <ul class="absenceTechInfo" data-prototype="{{ form_widget(form.techInfo.vars.prototype)|e }}">
                        </ul>
                        {{ form_widget(form.techInfo.vars.prototype)|e }}
                        <button class="btn btn-primary pull-right" id="absenceAddTechInfo">Ajouter nouveau info</button>
                        <div class="box-footer">
                            {{form_widget(form.save, {'label': 'Sauvegarder ','attr': {'class': 'btn btn-primary'}})}}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Techniciens</h1>
                <div class="box box-primary">
                    <table class="table table-bordered table-striped table-hover tableFixed">
                        <tbody>
                            {%for no, job in lastTechs%}
                                <tr>
                                    <td>{{job.tech.displayname}}</td>
                                    <td>{{job.pole.name}}</td>
                                </tr>
                            {%endfor%}
                            <tr>
                                <td colspan="2">
                                    {#<a href="{{path('suivi_etudes_admin_management_tech_list')}}">Tous</a>#}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        var collectionHolder;
        var addBtn = $('#absenceAddTechInfo');
        var elemDiv = $('#absenceAddTechDiv');
        var error = elemDiv.find('.alert').parent();
        var errorsElem = [];
        $(error).each(function () {
            var value = $(this).find('input').val();
            errorsElem.push(value);
        });
        $('#absenceTechInfoElems a').each(function () {
            if (jQuery.inArray($(this).html(), errorsElem) != -1) {
                $(this).addClass('alert alert-danger');
            }
        });
        function addTechInfoForm(collectionHolder, elemDiv) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');
            // get the new index
            var index = collectionHolder.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);
            // Display the form in the page 
            var newFormDiv = $('<div class="box text-blue"><button class="btn btn-box-tool pull-right removeTechInfo" type="button"><i class="fa fa-times"></i></button></div>').append(newForm);
            $(newFormDiv).each(function () {
                $($(this).find('input')).each(function (index) {
                    // create datetime element for year
                    if (index == 0) {
                        $(this).addClass('date-picker-year');
                        $(this).attr('readonly', true);
                    }
                    $(this).addClass('form-control');
                });
            });
            elemDiv.after(newFormDiv);
        }

        $(function () {
            $(document).on('focus', ".date-picker-year", function () {
                $('.date-picker-year').datepicker({
                    stepMonths: 12,
                    showButtonPanel: true,
                    dateFormat: 'yy',
                    onClose: function (dateText, inst) {
                        $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                    }
                });
                $(".date-picker-year").focus(function () {
                    $(".ui-datepicker-month").hide();
                });
            });

            collectionHolder = $('ul.absenceTechInfo');
            collectionHolder.appendTo(elemDiv);
            var totalElements = $('#absenceTechInfoElems li').length;
            collectionHolder.data('index', collectionHolder.find(':input').length + (totalElements));
            addBtn.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTechInfoForm(collectionHolder, elemDiv);
            });
            $(document).on('click', '.removeTechInfo', function () {
                var confirm = window.confirm('Etes-vous sûr que vous voulez supprimer?');
                if (confirm === true) {
                    $(this).parent().remove();
                    var val = $(this).next().find('input').val();
                    $('#absenceTechInfoElems a').each(function () {
                        if (val == $(this).html()) {
                            $(this).parent().remove();
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}