.alerte {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alerte-heading {
    color: inherit;
}

.disabledbutton {
    pointer-events: none;
    cursor:not-allowed;

}
.alerte .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}
.alerte-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alerte-info {
    color: #66CCCC;
    background-color: #EDF6FF;
    border-color: #D5DDE5;
}
.alerte-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alerte-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

table tr:nth-child(even) td {
    background: transparent;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-retroorange,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-retroorange {
    color: #fff;
    background: #ff9933;
}
.btn span.fa {
    opacity: 0;
}
.btn.active span.fa {
    opacity: 1;
}
