{%set titre ='Connexion' %}
{%set sousTitre ='' %}
{%set titreOnglet= 'Connexion' %}
{%set numVersion= '1.0' %}
{%set lienAcceuil= '' %}
{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<!-- CSS -->
<style>
/* 
    Créé le  : 1 déc. 2014, 09:15:51
    Author     : allard_pi
*/

</style>

<hr>
<div class="wrapper">
    {% if error %}
        <div class="alert alert-danger" role="alert" id="alertConnect">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post"  id="form_login">
        {% if csrf_token is defined %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />  
        {% endif %}
        <h2 class="form-signin-heading">Se connecter</h2>
        <h6>Avec votre identifiant/mot de passe windows</h6>
        <input type="text" class="form-control" name="_username" data-placeholder="Identifiant windows" required="" autofocus="" {% if last_username is defined %}value="{{ last_username }}"{% endif %}/><br/>
        <input type="password" class="form-control" name="_password" data-placeholder="Mot de passe" required=""/>      
        <!--<label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" > Se souvenir de moi
        </label>-->
        <button class="btn btn-success btn-block" type="submit">Connexion</button>   
    </form>
</div>


{% endblock body %}

