
Bonjour,

Voici la demande de remboursement ID: {{ entity.id }} émise par le magasin {{entity.idMagasin.magId }}.

Informations :
                Date de la demande : le {{ entity.date|date("m/d/Y") }}
                Magasin concerné : {{entity.idMagasin.magLibelle ~ ' ' ~entity.idMagasin.magId }}
                Nom du client : {{ entity.lastName ~ ' ' ~ entity.firstName  }}
                Montant du remboursement: {{ entity.paybackAmount|number_format(2, ',', '.') }} €

En pièces jointes de ce mail : {{ files[0] }}, {{ files[1] }} et {{ files[2] }}.

Bonne journée.

