<aside class="main-sidebar">
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
        </div>
    </div>

    <ul class="sidebar-menu">
        {% if is_granted("ROLE_INTERVENTION_TRAVAUX_ASSISTANTE") %}
         <li type="button" id="intervention" name="intervention" ><a href="{{ path('intervention') }}">Intervention</a></li>
        {% endif %}
        {% if is_granted("ROLE_INTERVENTION_TRAVAUX_ASSISTANTE") or is_granted("ROLE_INTERVENTION_TRAVAUX_OBSERVATEUR") or is_granted("ROLE_INTERVENTION_TRAVAUX_AGENT") or is_granted("ROLE_INTERVENTION_TRAVAUX_ADMINISTRATEUR") %}
        <li id="tournee" type="button1" name="tournee" ><a href="{{ path('ajout_tournee') }}">Tournées</a></li>
                {% endif %}
        {% if is_granted("ROLE_INTERVENTION_TRAVAUX_OBSERVATEUR") %}
        <li id="liste" type="button1" name="liste" ><a href="{{ path('tab_interventions') }}">Liste des interventions</a></li>
{% endif %}

    </ul>
</section>
</aside>