{%set titre ='Suivi Etudes' %}
{%set sousTitre ='Suivi des activités du service études' %}
{%set titreOnglet= 'Suivi Etudes' %}
{%set lienAcceuil= path('suivi_etudes_accueil') %}
{%set numVersion= '3.0' %}
{%set skin = 'skin-blue' %}
{% extends "::layout.html.twig" %}

{# set variable for TABLEAU DES DEMANDES menu #}
{%if demande_search is defined %}
    {%set demande_search = demande_search %}    
{%else%}
    {%set demande_search = null %}
{%endif%}


{% block title %}
    | {{ parent() }}
{% endblock %}
{% block menu %}

    {% if is_granted('ROLE_SET_DEMANDEUR') %}
        <ul class="sidebar-menu">
            {% if is_granted('ROLE_COPIL') %}
                {# TABLEAU DE BORD #}
                <li class="{% if app.request.attributes.get('_route') == 'suivi_etudes_accueil' %}active{% endif %}">
                    <a href="{{ path('suivi_etudes_accueil') }}">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
            {% endif %}

            {# TABLEAU DES DEMANDES #}
            <li class="dropdown {% if app.request.attributes.get('_route') starts with 'suivi_etudes_liste' %}active{% endif %}">
                <a href="#">
                    <i class="fa fa-list"></i>
                    <span>Voir la liste</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if demande_search != null and demande_search.statut is not defined %}active{% endif %}">
                        <a href="{{ path('suivi_etudes_liste_user') }}">
                            <i class="fa{% if demande_search != null and demande_search.statut is not defined %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                            <span>Mes demandes</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_SET_RESP_TECH') or is_granted('ROLE_COPIL')%}
                        <li class="{% if app.request.attributes.get('_route') == 'suivi_etudes_liste' and demande_search is empty %}active{% endif %}">
                            <a href="{{ path('suivi_etudes_liste')}}">
                                <i class="fa{% if app.request.attributes.get('_route') == 'suivi_etudes_liste' and demande_search is empty %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                                <span>Toutes les demandes</span>
                            </a>
                        </li>
                        {%set page = 0 %}
                        <li class="{% if app.request.requestUri == path('suivi_etudes_liste',{'page':page,'demande_search':{'statut': {'0' : constant('Suivi\\EtudesBundle\\Entity\\Statut::NOUVEAU')}}}) %}active{% endif %}">
                            <a href="{{ path('suivi_etudes_liste',{'demande_search':{'statut': {'0' : constant('Suivi\\EtudesBundle\\Entity\\Statut::NOUVEAU')}}})}}">
                                <i class="fa{% if app.request.requestUri == path('suivi_etudes_liste',{'page':page,'demande_search':{'statut': {'0' : constant('Suivi\\EtudesBundle\\Entity\\Statut::NOUVEAU')}}}) %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                                <span>Nouvelles demandes</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_SET_RESP_TECH') %}
                        <li class="{% if app.request.attributes.get('_route') == 'stand_by_demandes' %}active{% endif %}">
                            <a href="{{ path('suivi_etudes_liste_stand_by_demandes') }}">
                                <i class="fa{% if app.request.attributes.get('_route') == 'suivi_etudes_liste_stand_by_demandes' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                                <span>Stand-by</span>
                                {% render(controller("SuiviEtudesBundle:Demande:standbyCount")) %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>

            {# FORMULAIRE DE DEMANDE #}
            <li class="{% if app.request.attributes.get('_route') == 'suivi_etudes_ajouter' %}active{% endif %}">
                <a href="{{ path('suivi_etudes_ajouter') }}">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span>Faire une demande</span>
                </a>
            </li>



            {# MODULE REPORTING #}
            {% if is_granted('ROLE_SET_TECH') or is_granted('ROLE_COPIL')%}
                <li class="dropdown {% if app.request.attributes.get('_route') starts with 'suivi_reporting' %}active{% endif %}">
                    <a href="#">
                        <i class="glyphicon glyphicon-signal"></i>
                        <span>Reporting</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.attributes.get('_route') == 'suivi_reporting_etatservice' %}active{% endif %}">
                            <a href="{{ path('suivi_reporting_etatservice') }}">
                                <i class="fa{% if app.request.attributes.get('_route') == 'suivi_reporting_etatservice' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                                <span>Répartition par application</span>
                            </a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'suivi_reporting_statistique' %}active{% endif %}">
                            <a href="{{ path('suivi_reporting_statistique') }}">
                                <i class="fa{% if app.request.attributes.get('_route') == 'suivi_reporting_statistique' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                                <span>Répartition par direction</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}

        </ul>
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_SET_DEMANDEUR') or app.request.attributes.get('_route') == 'suivi_contact_contacter' %}
        <section class="content">
            {% block suivietudes_body %} {% endblock %}
        </section>
    {% else%}
        <h2>Bienvenue</h2>
        <div class="container-fluid">
            <div class="col-sm-10 col-sm-offset-1" style="text-align:justify;">
                <blockquote>
                    <p>Bienvenue sur l'outil de suivi des activités du service Informatique - Etudes.</p>
                    <p>Grâce à ce nouvel outil, vous allez pouvoir formuler et suivre vos demandes faites au service Etudes.
                        Plusieurs fonctionnalités s'offrent à vous : le suivi par mail, la validation des estimations, de la recette,
                        et également un module reporting retraçant l'intégralité de notre activité.</p>
                    <p>Cependant, vous n'avez pour l'instant pas les droits nécessaires pour créer vos demandes. Pour les obtenir, veuillez vous rapprocher de votre référent informatique, 
                        envoyez-nous votre demande de droit grâce au formulaire de contact présent dans le menu ci-dessus. </p>
                    <p>Bonne journée.</p>
                    <small style="text-align:right"><cite> Le service Informatique - Etudes.</cite></small>
                </blockquote>
            </div>
        </div>

    {% endif %}
{% endblock %}