{% extends "TimeTBSBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}
{% block extraStylesheets %}
    <link href="{{ asset('bundles/timetbs/css/style-tbs.css') }} " rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/timetbs/css/datepicker3.css') }} " rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/timetbs/css/bootstrap-editable.css') }} " rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/timetbs/css/sweetalert2.css') }} " rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}


    <section class="content">
        <section class="content-header">
            <h1>Mon temps</h1>
            <div class="box-body">
                <div class="form-group pull-left">
                    {% if date > date('-1 month') %}
                        <a href="{{ path('time_tbs_filter_manager',{'date': date|date_modify("-1 month")|date('Y-m')}) }}"
                           class="btn btn-primary">Precedent</a>
                    {% else %}
                        <a href="#"
                           class="btn btn-primary" disabled="true">Precedent</a>
                    {% endif %}
                </div>
                <div class="form-group col-xs-6 col-sm-4 col-md-2">
                    <div id="datePicker" class="input-group input-append date">
                        <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date"
                               id="datepicker" disabled="" value="{{ date|date('Y-m') }}">
                        <span class="input-group-addon add-on btn"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                {% if date < date('+1 day') %}
                    <a href="{{ path('time_tbs_filter_manager',{'date': date|date_modify("+1 month")|date('Y-m')}) }}"
                       class="btn btn-primary">Suivant</a>
                {% else %}
                    <a href="#"
                       class="btn btn-primary" disabled="true">Suivant</a>
                {% endif %}
            </div>
        </section>

        <section class="content">
            <ul class="nav nav-tabs" role="tablist">
                {% for pole in poles %}
                    {% if pole.id == 4 %}
                        <li class="active" role="presentation">
                            <a href="#{{ pole.id }}" role="tab" data-toggle="tab">{{ pole.name }}</a>
                        </li>
                    {% else %}
                        <li role="presentation">
                            <a href="#{{ pole.id }}" role="tab" data-toggle="tab">{{ pole.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for pole in poles %}
                {% if pole.id == 4 %}
                <div role="tabpanel" class="tab-pane active" id="{{ pole.id }}">
                    {% else %}
                    <div role="tabpanel" class="tab-pane" id="{{ pole.id }}">
                        {% endif %}
                        <div class="box">
                            <div class="box-body">
                                <div role="grid" class="dataTables_wrapper form-inline">
                                    <div class="table-responsive">

                                        <table id="datatable-responsive"
                                               class="table table-hover table-bordered dt-responsive nowrap"
                                               cellspacing="0"
                                               width="100%">
                                            <thead>

                                            <tr>
                                                <th rowspan="3" style="cursor: pointer;">NOM Prénom</th>
                                                <th rowspan="3" style="cursor: pointer;">Pays</th>
                                                <th colspan="4" style="cursor: pointer;">Sujet(s)</th>
                                                <th colspan="4" style="cursor: pointer;">Plannification</th>
                                            </tr>
                                            <tr>
                                                <th>Demande(s)</th>
                                                <th>Rôle</th>
                                                <th>Planifiée(s)</th>
                                                <th>Réalisée(s)</th>
                                                <th>Capacité totale</th>
                                                <th>Planifiable</th>
                                                <th>A planifier</th>
                                                <th>A saisir</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for planification_manager in planifications_manager %}
                                                {% if planification_manager.user.tbspole == pole %}
                                                    <tr>
                                                        <td>{{ planification_manager.user.user.displayName|upper }}</td>
                                                        <td>{{ planification_manager.user.user.CountryWorking|upper }}</td>
                                                        <td>
                                                            {% for planification in planification_manager.planifications %}
                                                                {% if planification.DemandeUser.User == planification_manager.user.user %}

                                                                    <span>
                                                            <a href="https://srv-web-prod/Applications/web/suivi-etudes/voir/1299"
                                                               name="task">{{ planification.DemandeUser.demande.titre }}</a>
                                                            </span>
                                                                    <hr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            {% for planification in planification_manager.planifications %}
                                                                {% if planification.DemandeUser.User == planification_manager.user.user %}
                                                                    <span>
                                                           {{ planification.DemandeUser.type }}
                                                            </span>
                                                                    <hr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td> {% for planification in planification_manager.planifications %}
                                                                {% if planification.DemandeUser.User == planification_manager.user.user %}
                                                                    {% if monthbeforeandafter(date) %}
                                                                        <a href="#"
                                                                           data-id="{{ planification.id }}"
                                                                           class="editable editable-click"
                                                                           data-name="{{ getNumberOfHours(planification.hoursPlanified ) }}"> {{ getNumberOfHours(planification.hoursPlanified ) }}</a>
                                                                    {% else %}
                                                                        <span>{{ getNumberOfHours(planification.hoursPlanified ) }}</span>
                                                                    {% endif %}
                                                                    <hr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            {% for planification in planification_manager.planifications %}
                                                                {% if planification.DemandeUser.User == planification_manager.user.user %}
                                                                    <span>
                                                          <span>{{ getNumberOfHours(planification.hoursWorked ) }}</span>

                                                            </span>
                                                                    <hr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{ planification_manager.hours }}</td>
                                                        <td class="hoursplanified">{{ planification_manager.hours_capacity }}</td>
                                                        <td class="hoursp">  {% set planified_manager = 0 %}
                                                            {% for planification in planification_manager.planifications %}
                                                                {% if planification.DemandeUser.User == planification_manager.user.user %}
                                                                    {% set planified_manager =  getNumberOfHours(planification.hoursPlanified) + planified_manager %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if(planification_manager.hours_capacity - planified_manager) <0 %}
                                                                0
                                                            {% else %}
                                                                {{ planification_manager.hours_capacity - planified_manager }}
                                                            {% endif %}

                                                        </td>
                                                        <td>  {% set planified_manager = 0 %}
                                                            {% for planification in planification_manager.planifications %}
                                                                {% if planification.DemandeUser.User == planification_manager.user.user %}
                                                                    {% set planified_manager =  getNumberOfHours(planification.hoursWorked) + planified_manager %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if(planification_manager.hours_capacity - planified_manager) <0 %}
                                                                <span>0</span>
                                                            {% else %}
                                                                <span>{{ planification_manager.hours_capacity - planified_manager }}</span>
                                                            {% endif %}

                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                        {#<div class="navigation">#}
                                        {#{{ knp_pagination_render(users) }}#}
                                        {#</div>#}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}
    {% block extraJavascripts %}
        <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/timetbs/js/bootstrap-editable.js') }}"></script>
        <script>
            $(function () {
                var datatable = $('.dataTable').DataTable({
                    "dom": '<"top"i>rt<"bottom"flp><"clear">',
                    language: {
                        emptyTable: "<span class='text-blue'><b>Aucune donnée disponible</b></span>",
                        info: "<h4>-- _MAX_ résultats.</h4>",
                    },
                    order: [[0, "desc"]], // order by demandeId at first
                    bPaginate: false, // remove pagination
                    bInfo: true, // remove total no of results
                    bFilter: false //  search box
                });
                $('.dataTable').css({'width': '100%'});
            });
        </script>
        <script type="text/javascript"
                src="{{ asset ('bundles/timetbs/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/timetbs/js/bootstrap-datepicker.fr.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset ('bundles/timetbs/js/sweetalert2.js') }}">
        </script>
        <script>

            $(function () {
                $('#datePicker').on('changeDate', function () {
                    var date = $('#datepicker').val();
                    route = "{{ path('time_tbs_filter_manager',{'date': 'PLACEHOLDER'}) }}";
                    return window.location.href = route.replace("PLACEHOLDER", date);
                });
            });
        </script>


        <script>

            $.fn.editable.defaults.mode = 'inline';
            $(document).ready(function () {


                $('.editable-click').editable({
                    validate: function (value) {
                        var id = $(this).attr('data-id');
                        var defaultvalue = $(this).attr('data-name');
                        var tr = $(this).parent().parent();
                        var hours = parseInt(tr.find('.hoursplanified')[0].innerText);
                        console.log(hours);
                        var sum = 0;

                        $(tr.find('.editable-click')).each(function () {
                            sum += parseInt($(this).attr('data-name'));
                        });
                        sum += parseInt(value);
                        sum -= defaultvalue;

                        if (sum > hours) {
                            swal("Ouups!",
                                "Vous avez depassez le nombre total des heures planifiable!",
                                "error");
                            document.getElementById("realise").appendChild(defaultvalue);
                        }
                        else {
                            $.ajax({
                                url: '{{ path('time_tbs_edit_hoursplanified') }}',
                                data: {idDemande: id, editvalue: value}
                            });
                            newpalnified = hours - sum;
                            console.log(newpalnified)
                            $(tr.find('.hoursp')[0]).html("");
                            $(tr.find('.hoursp')[0]).append(newpalnified);
                        }
                    }
                });
            });

        </script>
    {% endblock %}