{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <p>
        Nous vous confirmons la création de votre demande : {{demande.titre}}.<br/>
        vous serez informé au plus tôt de l'évolution de celle-ci par e-mail.<br/><br/>

        Votre numéro de demande est : {{demande.id}}.<br/><br/>

        Vous pouvez consulter votre demande à tout moment en cliquant sur <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">ce lien</a>.<br/><br/>

        Pour toute question, n'hésitez pas à contacter le pôle WEB (poleweb@noz.fr)<br/><br/>
    </p>

{% endblock %}