<div class="box bottomScrool">
{% block extraStylesheets %}
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
{% endblock %}
<script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>


<div class="box-body">
    <table class="table table-bordered table-striped table-hover tableFixed" id="listDemandes" style="background-color:#ffffff">
        <thead>
        <tr>
            <th style="cursor: pointer;">#Id</th>
            <th style="cursor: pointer;width:30% !important;">Titre</th>

            <th style="cursor: pointer;"
                class="{% if columns.date is not defined or columns.date == 1 %}showCol{% else %}hideCol{% endif %}">
                Date
            </th>

            <th style="cursor: pointer;">Statut</th>

            <th style="cursor: pointer;"
                class="{% if columns.applicant is not defined or columns.applicant == 1 %}showCol{% else %}hideCol{% endif %}">
                Demandeur
            </th>

            <th style="cursor: pointer;"
                class="{% if columns.prodDate is not defined or columns.prodDate == 1 %}showCol{% else %}hideCol{% endif %}">
                Date De Production
            </th>
        </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
        <!-- LISTE DES DEMANDES -->
        {% if listeDemandes|length > 0 %}
            {% for demande in listeDemandes %}
                {% if(demande.dateRecette <= "now"|date_modify("+3 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+3 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null) %}
                    <tr class="info">
                {% elseif (demande.dateRecette <= "now"|date_modify("+7 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+7 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null) %}
                    <tr class="danger">
                {% else %}
                    <tr>
                {% endif %}
                <td>{{ demande.id }}</td>
                <td>
                    <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}"
                       title="{{ demande.titre }}">{{ demande.titre }}</a>
                </td>
                <td class="{% if columns.date is not defined or columns.date == 1 %}showCol{% else %}hideCol{% endif %}">{{ demande.date|date('d/m/Y') }}</td>
                <td>
                    {% set statusClass = 'default' %}
                    {% if demande.statut.id == constant('NOUVEAU', demande.statut) %}
                        {% set statusClass = 'success' %}
                    {% elseif demande.statut.id == constant('ETUDES', demande.statut) %}
                        {% set statusClass = 'primary' %}
                    {% elseif demande.statut.id == constant('EN_ATTENTE', demande.statut) %}
                        {% set statusClass = 'primary' %}
                    {% elseif demande.statut.id == constant('VALIDE', demande.statut) %}
                        {% set statusClass = 'primary' %}
                    {% elseif demande.statut.id == constant('EN_COURS_CP', demande.statut) %}
                        {% set statusClass = 'warning' %}
                    {% elseif demande.statut.id == constant('EN_COURS_DEV', demande.statut) %}
                        {% set statusClass = 'warning' %}
                    {% elseif demande.statut.id == constant('RECETTE_INFO', demande.statut) %}
                        {% set statusClass = 'info' %}
                    {% elseif demande.statut.id == constant('RECETTE_USER', demande.statut) %}
                        {% set statusClass = 'info' %}
                    {% elseif demande.statut.id == constant('MISE_EN_PROD', demande.statut) %}
                        {% set statusClass = 'info' %}
                    {% elseif demande.statut.id == constant('CLOS', demande.statut) %}
                        {% set statusClass = 'default' %}
                    {% elseif demande.statut.id == constant('ANNULE', demande.statut) %}
                        {% set statusClass = 'danger' %}
                    {% else %}
                        {% set statusClass = 'primary' %}
                    {% endif %}
                    <span class="label label-{{ statusClass }}">
                                            <span style="display:none;">{% if demande.statut.id < 10 %}0{% endif %}{{ demande.statut.id }}
                                                . </span>{{ demande.statut.name }}
                                        </span>
                </td>

                <td class="{% if columns.applicant is not defined or columns.applicant == 1 %}showCol{% else %}hideCol{% endif %}">
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('DEMANDEUR', dem) %}
                            {{ dem.user.displayname }}
                        {% endif %}
                    {% endfor %}
                </td>


                <td class="{% if columns.prodDate is not defined or columns.prodDate == 1 %}showCol{% else %}hideCol{% endif %}">
                    {% if demande.dateProduction is not null %}
                        {{ demande.dateProduction|date('d/m/Y') }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>

                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
<script>
    $('#listDemandes').DataTable({language: {
        emptyTable: "<span class='text-blue'><b>Aucune demandes Antérieures</b></span>"
    }});
</script>
</div>
