<div class="dropdown" id="dropdownColsMenu">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Colonnes disponibles
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="availableColsDropdown">
        <li>
            <button class="btn btn-primary" id="checkAllColsBtn">Tous</button>
            <button class="btn btn-primary pull-right" id="uncheckAllColsBtn">Rien</button>
        </li>
        <li>
            {{ form_start(form,{'attr': {'id': 'demande_column_form', 'autocomplete':'off'},'action':path('suivi_etudes_default_culumns')}) }}
            <ul id="columnsUl">
                <li>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'demandeColsLi pull-right disabled', 'checked':true,'disabled':true}}) }}
                </li>
                <li>
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.status) }}
                    {{ form_widget(form.status, {'attr': {'class': 'demandeColsLi pull-right disabled', 'checked':true,'disabled':true}}) }}
                </li>
                <li>
                    {{ form_label(form.applicant) }}
                    {{ form_widget(form.applicant, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.application) }}
                    {{ form_widget(form.application, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.testDate) }}
                    {{ form_widget(form.testDate, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.prodDate) }}
                    {{ form_widget(form.prodDate, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.departament) }}
                    {{ form_widget(form.departament, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.service) }}
                    {{ form_widget(form.service, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.observer) }}
                    {{ form_widget(form.observer, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.frequency) }}
                    {{ form_widget(form.frequency, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.origin) }}
                    {{ form_widget(form.origin, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.population) }}
                    {{ form_widget(form.population, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.commentEstimation) }}
                    {{ form_widget(form.commentEstimation, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.commentTest) }}
                    {{ form_widget(form.commentTest, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                <li>
                    {{ form_label(form.commentStandBy) }}
                    {{ form_widget(form.commentStandBy, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                </li>
                {% if is_granted('ROLE_SET_TECH') %}
                    <li>
                        {{ form_label(form.projectManager) }}
                        {{ form_widget(form.projectManager, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                    </li>
                    <li>
                        {{ form_label(form.projectManagerHours) }}
                        {{ form_widget(form.projectManagerHours, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                    </li>
                    <li>
                        {{ form_label(form.technician) }}
                        {{ form_widget(form.technician, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                    </li>
                    <li>
                        {{ form_label(form.technicianHours) }}
                        {{ form_widget(form.technicianHours, {'attr': {'class': 'demandeColsLi pull-right'}}) }}
                    </li>
                {%endif%}
            </ul>
            <div class="text-center">
                <button class="btn btn-default">Sauvegarder</button>
            </div>
            {{ form_end(form,{'render_rest':false}) }}
        </li>
    </ul>
</div>