{{ form_start(formRecetteUserOk, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formRecetteUserOk) }}

<div class="form-group row">
    {{ form_label(formRecetteUserOk.date_production, "Date de mise en production souhaitée : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.date_production) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.date_production, {'attr': {'class': 'form-control date'}}) }}
    </div>
</div>


<div class="form-group row">
    {{ form_label(formRecetteUserOk.commentaire, "Commentaire sur la recette : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.commentaire) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.commentaire, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserOk.cahier, "Cahier de recette (facultatif) :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.cahier) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.cahier) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserOk.input1, "Délais", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  data-placement="right" title="" data-original-title="A-t-on respecté des dates données de recette et de mise en Prod.
Alternative : Respect des échéances, anticipation de la communication en cas de décalage des dates de livraison"></span>
    {{ form_errors(formRecetteUserOk.input1) }}
    <div class="col-sm-6">
        {{ form_widget(formRecetteUserOk.input1) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserOk.input2, "Qualité des échanges", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  title="" data-placement="right" data-original-title="Comment était la qualité des échanges, de la compréhension et de l’accompagnement.
Alternative : Ecoute de l’équipe informatique, pertinence des questions, restitution dans les CR. Communication/suivi de la demande. Accompagnement dans la description du besoin.
"></span>
    {{ form_errors(formRecetteUserOk.input2) }}
    <div class="col-sm-6">
        {{ form_widget(formRecetteUserOk.input2) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserOk.input3, "Réalisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  title="" data-placement="right" data-original-title="Le résultat est-il celui attendu.
Alternative : Accompagnement pour les tests. Explication sur l’utilisation/fonctionnement."></span>
    {{ form_errors(formRecetteUserOk.input3) }}
    <div class="col-sm-6">
        {{ form_widget(formRecetteUserOk.input3) }}
    </div>
</div>


{{ form_rest(formRecetteUserOk) }}

<div class="form-group row">
    <label for="ok" id="recette_ok" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ok" id="ok" value="La recette me convient" class="btn btn-success" data-toggle="tooltip" data-placement="right"/>
    </div>
</div>

{{ form_end(formRecetteUserOk) }}