{{ form_start(formModifierDate, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formModifierDate) }}

<div class="form-group row">
    <p class="col-sm-12 control-label" style="font-size:16px;">Assurez-vous que le demandeur soit d'accord avant d'effectuer toute modification !</p>
</div>

<div class="form-group row{%if demande.statut.id >= constant('RECETTE_USER', demande.statut)%} hidden{%endif%}">
    {{ form_label(formModifierDate.date_recette, "Date de Recette", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formModifierDate.date_recette) }}
    <div class="col-sm-4">
        {{ form_widget(formModifierDate.date_recette, {'attr': {'class': 'form-control date  input-sm'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(formModifierDate.date_production, "Date de mise en production", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formModifierDate.date_production) }}
    <div class="col-sm-4">
        {{ form_widget(formModifierDate.date_production, {'attr': {'class': 'form-control date  input-sm'}}) }}
    </div>
</div>
        
{# Extra field that is used when sending mail to show the comment #}
<div class="form-group row">
    <label for="suivi_etudes_modifier_date_comment" class="col-sm-4 control-label required">Commentaire (optionnel)</label>
    <div class="col-sm-4">
        <textarea name="suivi_etudes_modifier_date_comment"></textarea>
    </div>
</div>

{{ form_rest(formModifierDate) }}

<div class="form-group row">
    <label for="ajouter" id="label_modifier_date" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <input type="submit" name="modifier_date" id="modifier_date" value="Modifier les dates" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="...un mail sera alors envoyé à toutes les personnes liées à la demande (demandeur, observateur...)"/>
    </div>
</div>

{{ form_end(formModifierDate) }}