{{ form_start(formChangerDateProd, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formChangerDateProd) }}

<div class="form-group">
    {{ form_label(formChangerDateProd.date_production, "Date de production", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formChangerDateProd.date_production) }}
    <div class="col-sm-4">
        {{ form_widget(formChangerDateProd.date_production, {'attr': {'class': 'form-control date'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formChangerDateProd.description, "Description du refus", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formChangerDateProd.description) }}
    <div class="col-sm-4">
        {{ form_widget(formChangerDateProd.description, {'attr': {'class': 'form-control date'}}) }}
    </div>
</div>


{{ form_rest(formChangerDateProd) }}


<div class="form-group">
    <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ajouter" id="ajouter" value="Changer la date de mise en production" class="btn btn-primary" data-toggle="tooltip" data-placement="right"/>
    </div>
</div>

{{ form_end(formChangerDateProd) }}





