{{ form_start(StabdByForm, {'action':path('stand_by_status',{'id':demande.id}), 'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
<div class="form-group">
    {{ form_label(StabdByForm.raison,"Raison: ",{'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(StabdByForm.raison) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(StabdByForm.description,"Description: ",{'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(StabdByForm.description) }}
    </div>
</div>
<div class="form-group">
    <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <input type="submit" name="ajouter" id="ajouter" value="Aller" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Aller à Stand by état'"/>
    </div>
</div>
{{ form_end(StabdByForm) }}
