{% javascripts 
   	'@SuiviEtudesBundle/Resources/public/js/choixSpec.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{{ form_start(formSpec, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formSpec) }}

{% if formSpec.choix.children %}
    {% for child in formSpec.choix %}
        <div class="col-sm-5">
            {{ form_widget(child) }} {{ form_label(child) }}
        </div>
    {% endfor %}
{% endif %}

<div class="form-group">
    {{ form_errors(formSpec.choix) }}
    <div class="col-sm-10">
        {{ form_widget(formSpec.choix) }}
    </div>
</div>

<div class="form-group ch-fichier">
    {{ form_errors(formSpec.fichier) }}
    <div class="col-sm-10">
        {{ form_widget(formSpec.fichier) }}        
    </div>
</div>

<div class="form-group ch-chemin">
    {{ form_errors(formSpec.chemin) }}
    <div class="col-sm-10">
        {{ form_widget(formSpec.chemin, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

{{ form_rest(formSpec) }}

<div class="form-group">
    <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ajouter" id="ajouter" value="Ajouter les spécifications" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="...Et passer au statut 'En cours dev.'"/>
    </div>
</div>



{{ form_end(formSpec) }}
