{{ form_start(formRecetteUserNotOk, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formRecetteUserOk) }}

<div class="form-group">
    {{ form_label(formRecetteUserNotOk.description, "Description du refus :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserNotOk.description) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserNotOk.description) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserNotOk.cahier, "Cahier de recette (facultatif) :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserNotOk.cahier) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserNotOk.cahier) }}
    </div>
</div>


<div class="form-group">
    {{ form_label(formRecetteUserNotOk.input1, "Délais", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  data-placement="right" title="" data-original-title="A-t-on respecté des dates données de recette et de mise en Prod.
Alternative : Respect des échéances, anticipation de la communication en cas de décalage des dates de livraison"></span>
    {{ form_errors(formRecetteUserNotOk.input1) }}
    <div class="col-sm-6">
        {{ form_widget(formRecetteUserNotOk.input1) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserNotOk.input2, "Qualité des échanges", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  title="" data-placement="right" data-original-title="Comment était la qualité des échanges, de la compréhension et de l’accompagnement.
Alternative : Ecoute de l’équipe informatique, pertinence des questions, restitution dans les CR. Communication/suivi de la demande. Accompagnement dans la description du besoin.
"></span>
    {{ form_errors(formRecetteUserNotOk.input2) }}
    <div class="col-sm-6">
        {{ form_widget(formRecetteUserNotOk.input2) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserNotOk.input3, "Réalisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"  title="" data-placement="right" data-original-title="Le résultat est-il celui attendu.
Alternative : Accompagnement pour les tests. Explication sur l’utilisation/fonctionnement."></span>
    {{ form_errors(formRecetteUserNotOk.input3) }}
    <div class="col-sm-6">
        {{ form_widget(formRecetteUserNotOk.input3) }}
    </div>
</div>

    <div class="form-group row">
        <div class="col-sm-6 col-sm-offset-4">
            <input class="btn btn-danger " type="submit" value="La recette ne me convient pas"/>
        </div>
    </div>
<script>



</script>
{{ form_end(formRecetteUserNotOk) }}