	{% stylesheets 'js/chosen_v1.3.0/chosen.css'
    '@RoleManagerBundle/Resources/public/css/chosen.bootstrap.min.css'
    '@RoleManagerBundle/Resources/public/css/chosen/bootstrap-chosen.css'

    %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
    <style>
        .error{
            color: red;
        }
    </style>

	{% javascripts 
		'js/chosen_v1.3.0/chosen.jquery.js'
		'@SuiviEtudesBundle/Resources/public/js/chosenAutocomplete.js'
		'@SuiviEtudesBundle/Resources/public/js/editeur.js'
		'@SuiviEtudesBundle/Resources/public/js/infoBulle.js'
		'@SuiviEtudesBundle/Resources/public/js/pieceJointes.js'
        '@RoleManagerBundle/Resources/public/js/chosen.jquery.min.js'
        '@RoleManagerBundle/Resources/public/js/chosen.jquery.js'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% block extraJavascripts %}
    {#<script type="text/javascript" src="{{ asset('all/chosen/chosen.jquery.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('all/jquery-validation-1.15.1/dist/jquery.validate.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('all/jquery-validation-1.15.1/dist/localization/messages_fr.js') }}"></script>#}

{% endblock %}

<div class="box">
    <div clas="box-head">
        <h2>Créer une demande</h2>
    </div>
    <div class="panel panel-default  container-fluid box-body" id="DemandeType">
        {# Les erreurs générales du formulaire. #}
        {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate':'novalidate','id':'addForm'}}) }}

        <div class="form-group">
            {{ form_label(form.type, "Type de demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.type, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.type)}}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.parent, "Demande Liées", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.parent, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>

        </div>

        <div class="row form-group">
            {{ form_label(form.direction, "Direction", {'label_attr': {'class': 'col-sm-4  control-label'}}) }}
            <div class="col-sm-5">
                {{ form_widget(form.direction, {'attr': {'class': 'form-control chosen-select input-sm ld-direction','multiple':'multiple' , 'data-placeholder':'Sélectionnez une direction' }}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.direction)}}
            </div>
        </div>

        <div  id="service_id" class="form-group ">
            <div class="form-group">
                {{ form_label(form.service, "Service", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.service, {'attr': {'class': 'form-control chosen-select input-sm ld-service','multiple':'multiple' , 'data-placeholder':'Sélectionnez un service' }}) }}
                </div>
                <div class="col-sm-offset-3" style="color:red;">
                    {{ form_errors(form.service)}}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.application, "Application concernée ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
            <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title=""></span>
            <div class="col-sm-5">
                {{ form_widget(form.application, {'attr': {'class': 'form-control chosen-select input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez une application' }}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.application)}}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.titre, "Titre de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-5">
                {{ form_widget(form.titre, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.titre)}}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, "Description de votre demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.description, {'attr': {'class': 'form-control input-sm editable', 'row' : '25'}}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.description)}}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.criterionFrequence, "Frequence d'utilisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionFrequence, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.criterionFrequence)}}
            </div>
        </div>
        <br>

        <div class="form-group">
            {{ form_label(form.criterionOrigin, "Origine de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionOrigin, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.criterionOrigin)}}
            </div>
        </div>
        <br>

        <div class="form-group">
            {{ form_label(form.criterionPopulation, "Population concernee", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionPopulation, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.criterionPopulation)}}
            </div>
        </div>
        </br>

        <div class="form-group">
            {{ form_label(form.mails, "Suivi de votre demande par e-mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
            <div class="col-sm-5">
                <div>
                    {% for child in form.mails %}
                        {% if child.vars['value'] in listeMail %}
                            <p> {{ form_widget(child, {'attr': {'checked':'checked', 'disabled':'disabled'}}) }} {{ form_label(child) }}</p>
                        {% else %}
                            <p> {{ form_widget(child, {'attr': {'checked':'checked'}}) }} {{ form_label(child) }}</p>	      		
                        {% endif %}
                    {% endfor %}        
                </div>
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.mails)}}
            </div>
        </div>

        </br>
        <div class="form-group">
            {{ form_label(form.suivi, "Ajouter les personnes à prévenir ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
            <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
            <div class="col-sm-5">
                {{ form_widget(form.suivi, {'attr': {'class': 'form-control chosen-select input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs observateur(s)' }}) }}
            </div>
            <div class="col-sm-offset-3" style="color:red;">
                {{ form_errors(form.suivi)}}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.mailing, "Les personnes à prévenir recoivent les même mails que moi", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
            <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Sinon, ils recevront les mails pour la prise en compte de la demande et la mise en production."></span>
            <div class="col-sm-1">
                {{ form_widget(form.mailing, {'attr':  {'checked':'checked', 'class': '', 'style':'vertical-align:middle;'}}) }}
            </div>
        </div>
        </br>

        <div class="form-group">
            {{ form_label(form.piecejointes, " ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
            <div class="col-sm-4">
                {{ form_widget(form.piecejointes, {'attr':  {'class': 'div_piecejointes'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.Ajouter, " ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4 col-sm-offset-4">
                {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-primary' }}) }}
            </div>
        </div>

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>
</div>
