<form action="{{ path('modifier_statut_annule', {'id': demande.id}) }}" method="GET">

    <div class="form-group row">
        <label class="col-sm-8 control-label" style="font-size:16px;">Êtes-vous certain de vouloir annuler la demande?</label>
    </div>

    <div class="form-group row">
        <label class="col-sm-5 control-label">Veuillez nous indiquer la raison de l'annulation</label>
        <div class="col-sm-7">
            <textarea class="form-control" name="descAnnulation" id="descAnnulation"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div style="text-align:right;" class="col-sm-12">
            <input class="btn btn-danger " type="submit" value="J'annule la demande"/>
            <a class="btn btn-primary" data-dismiss="modal">
                Je n'annule pas la demande
            </a>
        </div>
    </div>

</form>