{# Modified by Julien BUREAU <jbureau@noz.fr> #}
{# 19-11-14 #}
{# 		---------------------------------     #}
{# Pour chaque champs, il faut vérifier les droits de l'utilisateur #}
{# pour l'autoriser ou non à modifier. #}
{# Attention à bien garder en tête la hierarchie des ROLE, car les ROLES élevés héritent des roles plus bas. #}
{# En supprimant des droits aux utilisateurs de base, ces droits sont supprimés pour tous les rôles ! #}

{% stylesheets 'all/chosen/chosen.min.css'
'js/chosen_v1.3.0/chosen.css'
'@RoleManagerBundle/Resources/public/css/chosen.bootstrap.min.css'
'@RoleManagerBundle/Resources/public/css/chosen/bootstrap-chosen.css'

%}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% block extraStylesheets %}
    <style>
        .error{
            color: red;
        }
    </style>
{% endblock %}

{% javascripts
		'js/chosen_v1.3.0/chosen.jquery.js'
		'@SuiviEtudesBundle/Resources/public/js/pieceJointes.js'
		'@SuiviEtudesBundle/Resources/public/js/chosenAutocomplete.js'
		'@SuiviEtudesBundle/Resources/public/js/editeur.js'
		'@SuiviEtudesBundle/Resources/public/js/infoBulle.js'
        '@RoleManagerBundle/Resources/public/js/chosen.jquery.min.js'
        '@RoleManagerBundle/Resources/public/js/chosen.jquery.js'
      
%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{% block extraJavascripts %}
    {#<script type="text/javascript" src="{{ asset('all/chosen/chosen.jquery.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('all/jquery-validation-1.15.1/dist/jquery.validate.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('all/jquery-validation-1.15.1/dist/localization/messages_fr.js') }}"></script>#}
    {#<script type="text/javascript">#}
        {#$(function () {#}
            {#$('#suivi_etudes_demande_edit_direction').on('change', function () {#}
                {#$('#loader').show();#}
                {#$(".ld-service").empty(); //empty services #}
                {#var direction = $('.ld-direction').chosen().val();#}
                {#if (direction !== null) { // if there is that direction#}
                    {#var type = "service";#}
                    {#$.ajax({#}
                        {#dataType: "json",#}
                        {#type: "POST",#}
                        {#url: "{{path('direction_get_services')}}",#}
                        {#data: {type: type, direction: direction},#}
                        {#async: false,#}
                        {#cache: false,#}
                        {#error: function (jqXHR, textStatus, errorThrown) {#}
                            {#alert(jqXHR.responseText);#}
                        {#},#}
                        {#success: function (services) {#}
                            {#if (services !== null && services.length !== 0) {#}
                                {#for (var i = 0; i < services.length; i++) {#}
                                    {#$(".ld-service").append('<option value=' + services[i].id + '>' + services[i].libelle + '</option>');#}
                                {#}#}
                            {#}#}
                        {#}#}
                    {#});#}
                {#}#}
                {#$(".ld-service").trigger("chosen:updated"); // update chosen#}
                {#$('#loader').hide();#}
            {#});#}
            {#$.validator.setDefaults({ignore: ":hidden:not(.chosen-select)"}); // add validation for chosenjs#}
            {#$("#modifyForm").validate();#}
            {#$("#suivi_etudes_demande_edit_parent").prop('required', false);#}
			{#$("#suivi_etudes_demande_edit_commentaireInfo").prop('required', false);#}
        {#});#}
    {#</script>#}
{% endblock %}

{# {% if (is_granted('ROLE_SET_USER')) and ( 4 < form.statut.vars.value ) %} #}
{# 	{% render 'suivi-etudes/voir/'app.request.get('id') %} #}
{# {% elseif (is_granted('ROLE_SET_TECH')) %} #}

<div class="well col-sm-10 col-sm-offset-1">
    {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate':'novalidate', 'id' : 'modifyForm'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}


    <div class="form-group">
        {{ form_label(form.type, "Type de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.type) }}
        <div class="col-sm-4">
            {{ form_widget(form.type, {'attr': {'class': 'form-control input-sm'}}) }}   
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.parent, "Demande Liées", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.parent, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
        <div class="col-sm-offset-3" style="color:red;">
            {{ form_errors(form.parent)}}
        </div>
    </div>

    <div class="row form-group">
        {{ form_label(form.direction, "Direction", {'label_attr': {'class': 'col-sm-4  control-label'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.direction, {'attr': {'class': 'form-control chosen-select ld-direction input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez une direction' }}) }}
        </div>
        <div class="col-sm-offset-3" style="color:red;">
            {{ form_errors(form.direction)}}
        </div>
    </div>

    <div  id="service_id" class="form-group ">
    <div class="form-group">
        {{ form_label(form.service, "Service", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.service, {'attr': {'class': 'form-control chosen-select ld-service input-sm','multiple':'multiple' ,'required':'false', 'data-placeholder':'Sélectionnez un service' }}) }}
        </div>
        <div class="col-sm-offset-3" style="color:red;">
            {{ form_errors(form.service)}}
        </div>
    </div>
    </div>



    <div class="form-group">
        {{ form_label(form.application, "Application concernée ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title=""></span>
        <div class="col-sm-5">
            {{ form_widget(form.application, {'attr': {'class': 'form-control chosen-select input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez une application' }}) }}
        </div>
    </div> 

    <div class="form-group">
        {{ form_label(form.statut, "Statut de la demande", {'label_attr': {'class': 'hidden'}}) }}
        {{ form_errors(form.statut) }}
        <div class="col-sm-4">      
            {{ form_widget(form.statut, {'attr': {'class': 'hidden  input-sm'}}) }}	
        </div>
    </div>

    <div class="form-group">
        {# 	      Génération du label. #}
        {{ form_label(form.titre, "Titre de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {# 	      Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.titre) }}
        <div class="col-sm-6">
            {# 	        Génération de l'input. #}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control  input-sm'}}) }}
        </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.description, "Description de votre demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-8">
            {% if (is_granted('ROLE_SET_MANAGER_TECH')) or ( 4 > form.statut.vars.value ) %} {# Le manager technicien peut toujours modifier #}
                {{ form_widget(form.description, {'attr': {'class': 'form-control editable', 'row' : '6'}}) }}
            {% else %}
                {{ form_widget(form.description, {'attr': {'class': 'form-control hidden'}}) }}
                {{demande.description|raw}}
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_SET_TECH')%}
       	<div class="form-group">
            {{ form_label(form.commentaireInfo, "Commentaire de l'informatique", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {{ form_errors(form.commentaireInfo) }}
            <div class="col-sm-8">
                {{ form_widget(form.commentaireInfo, {'attr': {'class': 'form-control editable', 'row' : '6'}}) }}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_SET_MANAGER_TECH')%}
        <div class="form-group">
            {{ form_label(form.criterionFrequence, "Frequence d'utilisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionFrequence, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        </br>
        <div class="form-group">
            {{ form_label(form.criterionOrigin, "Origine de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionOrigin, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        </br>
        <div class="form-group">
            {{ form_label(form.criterionPopulation, "Population concernee", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionPopulation, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        </br>
    {% endif %}

    {% if demandeurconnecte %}
        <div class="form-group">
            {{ form_label(form.mails, "Suivi de votre demande par e-mail ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-5">
                <div>
                    {% for child in form.mails %}
                        {% if child.vars['value'] in listemailobligatoire %}
                            <p> {{ form_widget(child, {'attr': {'checked':'checked', 'disabled':'disabled'}}) }} {{ form_label(child) }}</p>
                        {% elseif child.vars['value'] in listemail %}
                            <p> {{ form_widget(child, {'attr': {'checked':'checked'}}) }} {{ form_label(child) }}</p>
                        {% else %}
                            <p> {{ form_widget(child) }} {{ form_label(child) }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.mailing, "Les personnes à prévenir recoivent les même mails que moi", {'label_attr': {'class': 'col-sm-7 control-label'}}) }} 
            <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Sinon, ils recevront les mails pour la prise en compte de la demande et la mise en production."></span>
            <div class="col-sm-1">
                {{ form_widget(form.mailing, {'attr':  {'class': ''}}) }}
            </div>
        </div> 	
    {% endif %}

    <div class="form-group">
        {{ form_label(form.suiviMail, "Ajouter des personnes à prévenir ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
        <div class="col-sm-4">
            {{ form_widget(form.suiviMail, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs utilisateur(s)' }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.chefdeProjet, "Chef de projet", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
        <div class="col-sm-4">
            {% if ((is_granted('ROLE_SET_DEMANDEUR')) and ((constant('VALIDE', demande.statut)) < form.statut.vars.value )) %}
                {{ form_widget(form.chefdeProjet, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs chef(s) de projet' }}) }}
            {% else %}
                {{ form_widget(form.chefdeProjet, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' ,'disabled':'disabled', 'data-placeholder':'Vous ne pouvez pas choisir de chef de projet' }}) }}
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.techniciens, "Technicien(s)", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
        <div class="col-sm-4">
            {% if ((is_granted('ROLE_SET_DEMANDEUR')) and ( 4 < form.statut.vars.value )) %}
                {{ form_widget(form.techniciens, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs chef(s) de projet' }}) }}
            {% else %}
                {{ form_widget(form.techniciens, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' ,'disabled':'disabled', 'data-placeholder':'Vous ne pouvez pas choisir de technicien' }}) }}
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Pièces jointes associées</label>
        <div class="col-sm-5">
            {% for pieceJointe in PiecesJointes %}
                <a href='{{ asset('uploads/attachments/') }}{{ demande.id }}/{{ pieceJointe.name }}'>
                    <img src='{{ asset('uploads/img/'~extensions[pieceJointe.id]) }}' width="35px"/>
                    {{ pieceJointe.name }}
                </a>
                <br/>
            {% endfor %}

            <div class="form-group">
                {{ form_label(form.piecejointes, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
                <div  class="col-sm-4">
                    {{ form_widget(form.piecejointes, {'attr':  {'class': 'div_piecejointes'}}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.Modifier, "", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-4 col-sm-offset-4">
            {{ form_widget(form.Modifier, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
    </div>

</div>

{{ form_rest(form) }}


