{{ form_start(formAffectation, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formAffectation) }}
<div class="form-group">
    {{ form_label(formAffectation.chefdeProjet, "Chef de Projet", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formAffectation.chefdeProjet) }}
    <div class="col-sm-8">
        {{ form_widget(formAffectation.chefdeProjet, {'attr': {'multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs chef(s) de projet' }}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formAffectation.techniciens, "Technicien", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formAffectation.techniciens) }}
    <div class="col-sm-8">
        {{ form_widget(formAffectation.techniciens, {'attr': {'multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs technicien(s)' }}) }}
    </div>
</div>

{{ form_rest(formAffectation) }}

<div class="form-group">
    <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="ajouter" id="ajouter" value="Affecter ces ressources" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="...Et passer au statut 'En cours Chef de Projet'"/>
    </div>
</div>
{{ form_end(formAffectation) }}
