{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block suivietudes_body %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script>
        $(function () {
            var datatable = $('.dataTable').DataTable({
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                language: {
                    emptyTable: "<span class='text-blue'><b>Aucune donnée disponible</b></span>",
                    info: "<h4>-- _MAX_ résultats.</h4>",
                },
                order: [[0, "desc"]], // order by demandeId at first
                bPaginate: false, // remove pagination
                bInfo: true, // remove total no of results
                bFilter: false //  search box
            });
            $('.dataTable').css({'width': '100%'});
        });
    </script>

    <h2>Tableau de bord</h2>
    <div>
        {% if is_granted('ROLE_COPIL')%}
            <div class="row">
            {% for data in customSum%}
                <div class="col-xs-6" style="width:20%;float:left;padding:0 10px;">
                    <!-- small box -->
                    <div class="small-box {{data.bg}}" style="height:130px;">
                        <div class="inner" style="padding: 2px 10px;">
                            <h4 style="margin:1px 0 0 0;font-size: 1.3vw;"><strong>{{data.name}}</strong></h4>
                            {% if data.status is defined %}
                                <span style="font-size:1vw;width: 70%;">
                                        <i>{{data.status}}</i>
                                    </span>
                            {% endif %}
                        </div>
                        <h3 style="position:absolute;bottom:0;margin-left:10px;font-size:2vw;right:10px;">
                            {{data.total}}
                        </h3>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
            {%endfor%}
            </div>

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Demandes</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool" type="button">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display: block;">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a aria-expanded="true" href="#totalDiv" data-toggle="tab">Chiffres clés</a>
                        </li> 
                        {% for status, data in statusDemandes%}
                            <li>
                                <a aria-expanded="true" href="#{{status|slice(1)|replace({" ":""})}}Div" data-toggle="tab">{{status|slice(1)}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        <div id="totalDiv" class="tab-pane fade active in">
                            <div class="well">
                                <div class="row">
                                    <div class="box box-widget widget-user-2">
                                        <div class="box-footer no-padding">
                                            <ul class="nav nav-stacked">
                                                {%for id, status in countStatuses%}
                                                    {%for name,data in status%}
                                                        <li class="col-lg-3 col-sm-6 col-xs-12 pull-left" data-toggle="tooltip" data-original-title="Cliquer pour toutes les demandes en statut {{name}}">
                                                            <a href="{{ path('suivi_etudes_liste', {'page': 1, 'demande_search[statut][]': id}) }}">
                                                                {{name}} 
                                                                <span class="pull-right badge label-{%if data.class is defined%}{{data.class}}{%endif%}">{{data.total}}</span>
                                                            </a>
                                                        </li>
                                                    {%endfor%}
                                                {%endfor%}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for status, data in statusDemandes%}
                            <div id="{{status|slice(1)|replace({" ":""})}}Div" class="tab-pane fade well" style="overflow:auto;">
                                <table class="box table table-bordered table-striped table-responive dataTable">
                                    <thead>
                                        <tr>
                                            {%for colName in data.columnsToDisplay%}
                                                <th style="cursor: pointer;" class="header">{{colName|raw}}</th>
                                                {%endfor%}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key, demande in data%}
                                            {%if key != 'columnsToDisplay'%}
                                                <tr>
                                                    <td>{{demande.id}}</td>
                                                    <td><a href="{{ path("suivi_etudes_voir",{"id":demande.id}) }}">{{demande.titre}}</a></td>
                                                        {%if data.columnsToDisplay.a is defined%}
                                                        <td>
                                                            {%for app in demande.demandeApplication%}
                                                                {{app.application}}<br />
                                                            {%endfor%}
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.s is defined%}
                                                        {%if demande.services is not empty%}
                                                            <td>
                                                                {%for srv in demande.services%}
                                                                    {{srv.libelle}}<br>
                                                                {%endfor%}
                                                            </td>
                                                        {%else%}
                                                            <td>N/A</td>
                                                        {%endif%}
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.d is defined%}
                                                        <td>{{demande.date|date('Y-m-d')}}</td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.dr is defined%}
                                                        <td>{{demande.dateRecette|date('Y-m-d')}}</td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.recette is defined%}
                                                        <td>
                                                            {% if demande.statut.id == constant('EN_ATTENTE', demande.statut) and demande.motifRefus is not null and demande.chargeModif == 1%}
                                                                <span style="display:none;">3</span><span class="glyphicon glyphicon-remove" style="color:red;vertical-align:middle"></span>
                                                            {% elseif demande.statut.id == constant('RECETTE_USER', demande.statut) and demande.recette is not null%}
                                                                {% if demande.recette == 1%}
                                                                    <span style="display:none;">1</span><span class="glyphicon glyphicon-ok" style="color:green;"></span>
                                                                {% elseif demande.recette == 0%}
                                                                    <span style="display:none;">2</span><span class="glyphicon glyphicon-remove" style="color:red; vertical-align: middle;"></span>
                                                                {% endif%}
                                                            {% else%}
                                                                <span style="display:none;">0</span>
                                                            {% endif%}
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.warning is defined%}
                                                        <td>
                                                            {% if (demande.dateRecette <= "now"|date_modify("+3 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+3 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null)%}
                                                                <span style="display:none;">2</span><span class="label label-danger" data-toggle="tooltip" data-placement="right" title="Les délais initiaux sont dépassés.">!</span>
                                                            {% elseif (demande.dateRecette    <= "now"|date_modify("+7 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+7 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null)%}
                                                                <span style="display:none;">1</span><span class="label label-warning" data-toggle="tooltip" data-placement="right" title="La demande semble en retard.">!</span>
                                                            {% else %}
                                                                <span style="display:none;">0</span>
                                                            {% endif %}  
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.mp is defined%}
                                                        <td>{{demande.dateProduction|date('Y-m-d')}}</td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.t is defined%}
                                                        {%if demande.type is defined%}
                                                            <td>{{demande.type}}</td>
                                                        {%else%}
                                                            <td>N/A</td>
                                                        {%endif%}
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.r is defined%}
                                                        <td>
                                                            {%if demande.dernierStatut is not empty%}
                                                                {% set demandeStandByReason = '' %}
                                                                {%for dem in demande.standBy%}
                                                                    {%if dem.validated is not empty%}
                                                                        {% set demandeStandByReason = dem.reason %}
                                                                    {%endif%}
                                                                {%endfor%} 
                                                                {%if demandeStandByReason is not empty%}
                                                                    {{demandeStandByReason}}
                                                                {%endif%}
                                                            {%else%}
                                                                N/A
                                                            {%endif%}
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.de is defined%}
                                                        <td>
                                                            {%if demande.dernierStatut is not empty%}
                                                                {% set demandeStandByDescription = '' %}
                                                                {%for dem in demande.standBy%}
                                                                    {%if dem.validated is not empty%}
                                                                        {% set demandeStandByDescription = dem.description %}
                                                                    {%endif%}
                                                                {%endfor%} 
                                                                {%if demandeStandByDescription is not empty%}
                                                                    {{demandeStandByDescription}}
                                                                {%endif%}
                                                            {%else%}
                                                                N/A
                                                            {%endif%}
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.p is defined%}
                                                        <td>{{ demande.criterionOrigin.points|default(0) * demande.criterionPopulation.points|default(0) * demande.criterionFrequence.points|default(0) }}</td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.dem is defined%}
                                                        <td>
                                                            {% for dem in demande.demandeUser %}
                                                                {% if dem.type is constant('DEMANDEUR', dem) %}
                                                                    {{ dem.user.displayname}}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.nomCP is defined%}
                                                        <td>
                                                            {%for dem in demande.demandeUser%}
                                                                {% if dem.type is constant('CHEF_DE_PROJET', dem) %}
                                                                    {{dem.user.displayname}}<br>
                                                                {%endif%}
                                                            {%endfor%} 
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.cp is defined%}
                                                        <td>
                                                            {{demande.chargesCP}}
                                                        </td>
                                                    {%endif%}
                                                    {%if data.columnsToDisplay.dev is defined%}
                                                        <td>{{demande.chargesDev}}</td>
                                                    {%endif%}

                                                </tr>
                                            {%endif%}
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                {# POUR LES AUTRES ACTIONS : REPORTING,...#}
                <div id="encart_1" class="col-md-4">

                    <ul class="nav nav-pills nav-stacked">
                        <li style=":hover{background-color: #eee;}">
                            <a href="{{ path('suivi_etudes_ajouter') }}" >
                                <img src="{{ asset('uploads/img/') }}form.png" style="border:2px solid lightgrey"/>
                                <h4>Faire une demande aux Etudes</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="encart_2" class="col-md-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li style=":hover{background-color: #eee;}">
                            <a href="{{ path('suivi_etudes_liste_user')}}">
                                <img src="{{ asset('uploads/img/') }}liste.png" style="border:2px solid lightgrey"/>
                                <h4>Voir le tableau des demandes</h4>
                            </a>
                        </li>
                        <li style=":hover{background-color: #eee;}">
                            <a href="{{ path('suivi_reporting_etatservice') }}" >
                                <img src="{{ asset('uploads/img/') }}reporting.png"/>
                                <h4>Voir les statistiques</h4>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="encart_3" class="col-md-4">         
                    {% if is_granted('ROLE_SET_TECH')%}
                        <h4>Mes demandes affectées</h4>
                        {% render(controller("SuiviEtudesBundle:Demande:menu", {'type': 'technicien'})) %}
                    {% else %}
                        <h4>Suivi de mes demandes</h4>
                        {% render(controller("SuiviEtudesBundle:Demande:menu", {'type': 'demandeur'})) %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}