{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% set observateurArray = [] %}

{% block title %}
    Liste {{ parent() }}
{% endblock %}




{% block extraStylesheets %}
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
    {#<link rel="stylesheet" href="{{ asset('all/chosen/chosen.min.css') }}"/>#}

    <style>
        #demande_search_statut_chosen,
        #demande_search_service_chosen,
        #demande_search_direction_chosen,
        #suivi_etudes_demande_affectation_chefdeProjet_chosen,
        #suivi_etudes_demande_affectation_techniciens_chosen {
            width: 100% !important;
        }

        .topScrool, .bottomScrool {
            width: 100%;
            overflow-x: scroll;
        }

        .topScroolDiv {
            height: 20px;
        }
    </style>
{% endblock %}


{% block extraJavascripts %}
    {% javascripts
    'js/chosen_v1.3.0/chosen.jquery.js'

    'all/DataTables/datatables.js'
    '@RoleManagerBundle/Resources/public/js/chosen.jquery.min.js'
    '@RoleManagerBundle/Resources/public/js/chosen.jquery.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        function regex_escape(text) {
            return text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
        }
        ;
        function nbre_caracteres(lettre, mot) {
            mot2 = mot.split(lettre);
            nbre_de_fois_trouve = mot2.length - 1;
            return nbre_de_fois_trouve;
        }
        function display(ch) {
            var ch1 = ch.split(' ');
            var i = 0;
            var tab = [];
            var j = 0;

            while (i <= ch1.length - 1) {
                if (ch1[i].indexOf("\"") != -1) {
                    if (nbre_caracteres("\"", ch1[i]) > 1) {
                        tab[j] = ch1[i];
                    } else {

                        var test = ch1[i];
                        while (!(ch1[i + 1].indexOf("\"") != -1)) {
                            test = test + ' ' + ch1[i + 1];
                            i++;

                        }
                        i++;
                        test = test + ' ' + ch1[i];
                        tab[j] = test;
                    }
                } else {
                    tab[j] = ch1[i];
                }
                j++;
                i++;
            }

            return tab;
        }
        $(function () {
            /* datatable */
            var datatable = $('#listDemandes').DataTable({
                language: {
                    emptyTable: "<span class='text-blue'><b>Aucune donnée disponible</b></span>"
                },
                dom: 'Bfrtip',
                buttons: [
                    // export buttons
                    {
                        extend: 'pdf',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        title: 'SuiviEtudes - Demandes',
                        exportOptions: {
                            columns: ':visible',
                        }
                    }
                ],
                "columnDefs": [
                    {type: "date-special", targets: [3, 9, 11]},
                    {type: "title-special", targets: 1},
                    {type: "title-na", targets: [12, 13, 14, 15, 16, 17, 18, 19, 20, 23]},
                    {type: "num-html", targets: [22, 24]},
                ],
                order: [[1, "desc"]],
                bPaginate: false, // remove pagination
                bInfo: false, // remove total no of results
                bFilter: true //  search box
            });

            //renitialiser le tableau
            $('#resetFilterRequestBtn').on('click', function () {

                $('.chosen-select option').removeAttr('selected');
                $('.chosen-select').trigger("chosen:updated");
                $('input:text').val('');

            })
            // New search
            /* $('.filter-button').on('click', function () {
             //clear global search values
             datatable.search('').columns().search('').draw();

             if ($('#demande_search_demande_id').val()) {
             var ch = $('#demande_search_demande_id').val();
             var tab= ch.split(' ');

             if (tab.length <= 1) {

             var query = "((  )|^)" + regex_escape(tab[0]) + "((  )|$)";
             datatable.column(0).search(query, true, false);
             } else {

             ch = "((  )|^)" + regex_escape(tab[0]) + "((  )|$)";
             for (var i = 1; i < tab.length; i++) {

             ch = ch + '|' +"((  )|^)" + regex_escape(tab[i]) + "((  )|$)"
             }

             datatable.column(0).search(ch, true, false);
             }
             }
             if ($('#demande_search_expression').val()) {
             var tab = display($('#demande_search_expression').val());
             var ch = '';

             if (tab.length <= 1) {

             while (nbre_caracteres('\"', tab[0]) >= 1) {
             tab[0] = tab[0].replace('\"', '');
             }


             datatable.column(1).search(regex_escape(tab[0]), true, false);
             } else {
             while (nbre_caracteres('\"', tab[0]) >= 1) {
             tab[0] = tab[0].replace('\"', '');
             }
             ch = regex_escape(tab[0]);
             for (var i = 1; i < tab.length; i++) {
             while (nbre_caracteres('\"', tab[i]) >= 1) {
             tab[i] = tab[i].replace('\"', '');
             }
             ch = ch + '|' + regex_escape(tab[i])
             }

             datatable.column(1).search(ch, true, false);
             }
             }
             //type
             if ($('select#demande_search_type  option:selected').text() != '') {
             datatable.column(4).search($('select#demande_search_type  option:selected').text());
             }
             //direction
             var list_direction = $.map($("#demande_search_direction_chosen").find(".search-choice span"), function (option) {
             return $(option).text();
             });
             if (list_direction.length > 1) {
             var ch = list_direction[0];
             for (var i = 1; i < list_direction.length; i++) {
             ch = ch + '|' + list_direction[i]
             }
             datatable.column(12).search(ch, true, false);
             } else if (list_direction.length == 1) {
             datatable.column(12).search(list_direction[0]);
             }
             ;
             //statut
             var list_statut = $.map($("#demande_search_statut_chosen").find(".search-choice span"), function (option) {
             return $(option).text();
             });
             if (list_statut.length > 1) {
             var ch = list_statut[0];
             for (var i = 1; i < list_statut.length; i++) {
             ch = ch + '|' + list_statut[i]
             }
             datatable.column(5).search(ch, true, false);
             } else if (list_statut.length == 1) {
             datatable.column(5).search(list_statut[0]);
             }
             ;
             //service
             var list_service = $.map($("#demande_search_service_chosen").find(".search-choice span"), function (option) {
             return $(option).text();
             });
             if (list_service.length > 1) {
             var ch = list_service[0];
             for (var i = 1; i < list_service.length; i++) {
             ch = ch + '|' + list_service[i]
             }
             datatable.column(13).search(ch, true, false);
             } else if (list_service.length == 1) {
             datatable.column(13).search(list_service[0]);
             }
             ;

             if ($('select#demande_search_application  option:selected').text() != '') {
             datatable.column(8).search($('select#demande_search_application  option:selected').text());
             }

             if ($('select#demande_search_demandeur option:selected').text() != '') {
             datatable.column(7).search($('select#demande_search_demandeur  option:selected').text());
             }

             if ($('select#demande_search_technicien  option:selected').text() != '') {
             datatable.column(23).search($('select#demande_search_technicien  option:selected').text());
             }

             datatable.draw();
             });
             */

            // SPECIAL SORTING FUNCTIONS

            // special sorting type for date with "N/A" also
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "date-special-pre": function (a) {
                    if (a == null || a == "" || a == "N/A") {
                        return 0;
                    }
                    var ukDatea = a.split('/');
                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                },
                "date-special-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },
                "date-special-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            // title-special
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "title-special-pre": function (a) {
                    var title = a.match(/title="(.*?)"/)[1].toLowerCase();
                    title = title.replace(/[ÀÁÂÃÄÅ]/g, "A");
                    title = title.replace(/[àáâãäå]/g, "a");
                    title = title.replace(/[ÈÉÊË]/g, "E");
                    title = title.replace(/[^a-z0-9]/gi, ''); // final clean up;
                    return title; // escaped title
                },
                "title-special-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },
                "title-special-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            // title-with "N/A"
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "title-na-pre": function (title) {
                    if (title == "N/A") {
                        return "";
                    }
                    return title;
                },
                "title-na-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },
                "title-na-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            // numerichtml
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "num-html-pre": function (a) {
                    var x = String(a).replace(/<[\s\S]*?>/g, "");
                    if (a == "N/A") {
                        return "";
                    }
                    return parseFloat(x);
                },
                "num-html-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },
                "num-html-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });             // END SPECIAL SORTING FUNCTIONS

            // get total no of cols in datatable
            var countDataTableCols = $('#listDemandes').dataTable().fnSettings().aoColumns.length;
            // display cols only if they should be visible
            for (var i = 0; i < countDataTableCols; i++) {
                // get header so when no body also hide columns
                var hiddenClass = datatable.columns(i).header().to$().hasClass('hideCol');
                if (hiddenClass == true) {
                    datatable.column(i).visible(false, false);
                }
            }
            $('#columnsUl li input').on('click', function (e) {
                var isDisabled = $(this).hasClass('disabled');
                var index = $(this).parent().index();
                if (isDisabled == false) {
                    fnShowHide(index);
                }
            });
            // prevent bootstrap menu to hide
            $("#checkAllColsBtn").click(function (event) {
                $('.demandeColsLi').each(function () {
                    $(this).prop('checked', 'checked');
                });
                event.stopPropagation();
                var noCols = 1;
                $('#columnsUl li').each(function () {
                    fnShowCol(noCols);
                    noCols++;
                });
            });
            $("#uncheckAllColsBtn").click(function (event) {
                $('.demandeColsLi').each(function () {
                    if ($(this).prop('disabled') == false) {
                        $(this).prop('checked', false);
                    }
                });
                event.stopPropagation();
                var noCols = 1;
                $('#columnsUl li').each(function () {
                    fnHideCol(noCols);
                    noCols++;
                });
                // fix table width
                $('#listDemandes').css({'width': '100%'});
            });
            // show/hide datatables cols
            function fnShowHide(iCol) {
                /* Get the DataTables object again - this is not a recreation, just a get of the object */
                var table = $('#listDemandes').dataTable();
                // because the columns from the dropdown form differ from the ones in the table the no of the column differs
                // so bellow this is fixed
                if (iCol <= 2) {
                    iCol = iCol + 2;
                } else if (iCol > 2 && iCol <= 5) {
                    iCol = iCol + 3;
                    // special case for recette column
                    // hide both cols
                } else if (iCol == 6) {
                    var bVis = table.fnSettings().aoColumns[9].bVisible;
                    table.fnSetColumnVis(9, bVis ? false : true);
                    var bVis = table.fnSettings().aoColumns[10].bVisible;
                    table.fnSetColumnVis(10, bVis ? false : true);
                    return false;
                } else {
                    iCol = iCol + 4;
                }
                var bVis = table.fnSettings().aoColumns[iCol].bVisible;
                table.fnSetColumnVis(iCol, bVis ? false : true);
            }

            function fnHideCol(iCol) {
                /* Get the DataTables object again - this is not a recreation, just a get of the object */
                var table = $('#listDemandes').dataTable();
                // because the columns from the dropdown form differ from the ones in the table the no of the column differs
                // so bellow this is fixed
                if (iCol <= 2) {
                    iCol = iCol + 2;
                } else if (iCol > 2 && iCol < 4) {
                    return;
                } else {
                    iCol = iCol + 3;
                }
                var bVis = table.fnSettings().aoColumns[iCol].bVisible;
                table.fnSetColumnVis(iCol, false);
            }

            function fnShowCol(iCol) {
                /* Get the DataTables object again - this is not a recreation, just a get of the object */
                var table = $('#listDemandes').dataTable();
                // because the columns from the dropdown form differ from the ones in the table the no of the column differs
                // so below this is fixed
                if (iCol <= 2) {
                    iCol = iCol + 2;
                } else if (iCol > 2 && iCol < 4) {
                    return;
                } else {
                    iCol = iCol + 3;
                }
                var bVis = table.fnSettings().aoColumns[iCol].bVisible;
                table.fnSetColumnVis(iCol, true);
            }

            /* Form search buttons */
            $('#saveFilterPreferencesBtn').on('click', function () {
                $('#loader').show();
                // serialize form data
                var demandeSearchSerialized = $("#demande_search").serialize();
                // send data to my custom action
                $.ajax({
                    type: "POST",
                    url: '{{ path("suivi_etudes_save_filters", {'userId': app.user.id}) }}',
                    data: demandeSearchSerialized,
                    dataType: "json",
                    success: function () {
                        // submit form
                        $("#demande_search").submit();
                    }
                });
            });
            $('#resetFilterPreferencesBtn').on('click', function () {
                $('#loader').show();
                $.post('{{ path("suivi_etudes_delete_filters", {'userId': app.user.id}) }}', function (response) {
                    window.location.href = '{{ path('suivi_etudes_liste') }}';
                });
            });
            // add double scrollbar to listDemandes table
            $('.topScroolDiv').width($('.bottomScrool')[0].scrollWidth);
            $('#checkAllColsBtn, #uncheckAllColsBtn, #columnsUl label, #columnsUl input').on('click', function () {
                $('#listDemandes').css({'width': '100%'});
                $('.topScroolDiv').width($('.bottomScrool')[0].scrollWidth);
            });
            $(".topScrool").scroll(function () {
                $(".bottomScrool").scrollLeft($(".topScrool").scrollLeft());
            });
            $(".bottomScrool").scroll(function () {
                $(".topScrool").scrollLeft($(".bottomScrool").scrollLeft());
            });
            // END add double scrollbar to listDemandes table
        });
    </script>
{% endblock %}

{% block suivietudes_body %}
    <section class="content-header">
        <h1>Liste des demandes</h1>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissable disabled" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-ok" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-info-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('modification') %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-warning-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id':'demande_search'}}) }}


        <!--  CRITERES DE RECHERCHES -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                           aria-controls="collapseOne">
                            Critères de recherches <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                {{ form_label(form.demande_id, "Rechercher par numéro", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-xs-2 col-md-2">
                                    {{ form_widget(form.demande_id, {'attr': {'class': 'form-control input-sm'}}) }}
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                {{ form_label(form.nbResulParPage, "Nombre de resultats /page", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-xs-2 col-md-4">
                                    {{ form_widget(form.nbResulParPage, {'attr': {'class': 'form-control input-sm'}}) }}
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.expression, "Expression à rechercher", {'label_attr': {'class': 'col-md-5 col-xs-4  control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.expression, {'attr': {'class': 'form-control input-sm filter','data-column-index':'1'}}) }}
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.booDescription, "voulez vous rechercher : ", {'label_attr': {'class': 'col-md-5 col-xs-4  control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    <div>
                                        <p> {{ form_widget(form.booDescription[0], {'attr': {'checked':"checked"}}) }} {{ form_label(form.booDescription[0]) }}</p>
                                        <p> {{ form_widget(form.booDescription[1]) }} {{ form_label(form.booDescription[1]) }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.direction, "Direction", {'label_attr': {'class': 'col-md-5 col-xs-4  control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.direction, {'attr': {'class': 'form-control chosen-select input-sm ld-direction','multiple':'multiple' , 'data-placeholder':'Sélectionnez une direction' }}) }}
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.type, "Type de la demande", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.type, {'attr': {'class': 'form-control chosen-select input-sm filter','data-column-index':'4'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="service_id" class="form-group col-md-6 col-xs-12 ">
                                {{ form_label(form.service, "Service", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-md-7">
                                    {{ form_widget(form.service, {'attr': {'class': 'form-control input-sm chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs service(s)' }}) }}
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.application, "Application concernée", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.application, {'attr': {'class': 'form-control chosen-select input-sm'}}) }}
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.statut, "Statut", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.statut, {'attr': {'class': 'form-control input-sm chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs statut(s)' }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-offset-6 col-md-6 col-xs-12">
                                {{ form_label(form.demandeur, "Demandeur", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.demandeur, {'attr': {'class': 'form-control chosen-select input-sm'}}) }}
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-xs-12">
                                {{ form_label(form.technicien, "Technicien", {'label_attr': {'class': 'col-md-5 col-xs-4 control-label'}}) }}
                                <div class="col-md-7 col-xs-6">
                                    {{ form_widget(form.technicien, {'attr': {'class': 'form-control chosen-select input-sm'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row box-footer">
                            {% if app.user.hasRole('ROLE_SET_MANAGER_TECH') %}
                                <div class="col-lg-3 col-xs-3 pull-left">
                                    <button type="button" class="btn btn-success" id="saveFilterPreferencesBtn">
                                        Sauvegarder préférences
                                    </button>
                                </div>
                                <div class="col-lg-2 col-xs-2 pull-left">
                                    <button type="button" class="btn btn-warning" id="resetFilterPreferencesBtn">
                                        Réinitialiser préférences
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-lg-2 col-xs-2 pull-right">
                                <!--  <button type="button" class="filter-button btn btn-danger">
                                      Search
                                  </button> -->
                                {{ form_widget(form.Rechercher, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
                            </div>
                            <div class="col-lg-2 col-xs-2 pull-right">
                                <button type="button" class="btn btn-default" id="resetFilterRequestBtn">Réinitialiser
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest':false}) }}
        {#top scroolbar#}
        <div class="topScrool">
            <div class="topScroolDiv"></div>
        </div>
        {#END top scroolbar#}
        <div class="box bottomScrool">
            <div clas="box-head">
                <h4>--{{ totalRows }} résultats.</h4>
                {% render(controller("SuiviEtudesBundle:Demande:defaultrequestcolumns")) %}
            </div>
            <div class="box-body">
                <table class="table table-condensed" id="listDemandes" style="background-color:#ffffff"
                       data-action="{{ path('suivi_etudes_default_culumns') }}">
                    <thead>
                    <tr>
                        <th style="cursor: pointer;">#</th>
                        <th style="cursor: pointer;width:30% !important;">Titre</th>
                        <th style="cursor: pointer;">Priorité</th>
                        <th style="cursor: pointer;"
                            class="{% if columns.date is not defined or columns.date == 1 %}showCol{% else %}hideCol{% endif %}">
                            Date
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.type is not defined or columns.type == 1 %}showCol{% else %}hideCol{% endif %}">
                            Type
                        </th>
                        <th style="cursor: pointer;">Statut</th>
                        <th style="cursor: pointer;">o</th>
                        <th style="cursor: pointer;"
                            class="{% if columns.applicant is not defined or columns.applicant == 1 %}showCol{% else %}hideCol{% endif %}">
                            Demandeur
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.application is not defined or columns.application == 1 %}showCol{% else %}hideCol{% endif %}">
                            Application
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.testDate is not defined or columns.testDate == 1 %}showCol{% else %}hideCol{% endif %}">
                            Recette
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.testDate is not defined or columns.testDate == 1 %}showCol{% else %}hideCol{% endif %}">
                            <span class="glyphicon glyphicon-warning-sign"></span></th>
                        <th style="cursor: pointer;"
                            class="{% if columns.prodDate is not defined or columns.prodDate == 1 %}showCol{% else %}hideCol{% endif %}">
                            Production
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.departament is defined and columns.departament == 1 %}showCol{% else %}hideCol{% endif %}">
                            Direction
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.service is defined and columns.service == 1 %}showCol{% else %}hideCol{% endif %}">
                            Service
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.observer is defined and columns.observer == 1 %}showCol{% else %}hideCol{% endif %}">
                            Observateur
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.frequency is defined and columns.frequency == 1 %}showCol{% else %}hideCol{% endif %}">
                            Fréquence
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.origin is defined and columns.origin == 1 %}showCol{% else %}hideCol{% endif %}">
                            Origine
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.population is defined and columns.population == 1 %}showCol{% else %}hideCol{% endif %}">
                            Population
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.commentEstimation is defined and columns.commentEstimation == 1 %}showCol{% else %}hideCol{% endif %}">
                            Commentaire refus estimation
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.commentTest is defined and columns.commentTest == 1 %}showCol{% else %}hideCol{% endif %}">
                            Commentaire recette
                        </th>
                        <th style="cursor: pointer;"
                            class="{% if columns.commentStandBy is defined and columns.commentStandBy == 1 %}showCol{% else %}hideCol{% endif %}">
                            Commentaire stand-by
                        </th>
                        {% if is_granted('ROLE_SET_TECH') %}
                            <th style="cursor: pointer;"
                                class="{% if columns.projectManager is defined and columns.projectManager == 1 %}showCol{% else %}hideCol{% endif %}">
                                Chef de projet
                            </th>
                            <th style="cursor: pointer;"
                                class="{% if columns.projectManagerHours is defined and columns.projectManagerHours == 1 %}showCol{% else %}hideCol{% endif %}">
                                Charge CP
                            </th>
                            <th style="cursor: pointer;"
                                class="{% if columns.technician is defined and columns.technician == 1 %}showCol{% else %}hideCol{% endif %}">
                                Technicien
                            </th>
                            <th style="cursor: pointer;"
                                class="{% if columns.technicianHours is defined and columns.technicianHours == 1 %}showCol{% else %}hideCol{% endif %}">
                                Charge Dev
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <!-- LISTE DES DEMANDES -->
                    {% if listeDemandes|length > 0 %}
                        {% for demande in listeDemandes %}
                            {% if(demande.dateRecette <= "now"|date_modify("+3 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+3 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null) %}
                                <tr class="info">
                            {% elseif (demande.dateRecette <= "now"|date_modify("+7 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+7 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null) %}
                                <tr class="danger">
                            {% else %}
                                <tr>
                            {% endif %}
                            <td>{{ demande.id }}</td>
                            <td>
                                <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}"
                                   title="{{ demande.titre }}">{{ demande.titre }}</a>
                            </td>
                            <td>{{ demande.criterionOrigin.points|default(0) * demande.criterionPopulation.points|default(0) * demande.criterionFrequence.points|default(0) }}</td>
                            <td class="{% if columns.date is not defined or columns.date == 1 %}showCol{% else %}hideCol{% endif %}">{{ demande.date|date('d/m/Y') }}</td>
                            <td class="{% if columns.type is not defined or columns.type == 1 %}showCol{% else %}hideCol{% endif %}">{{ demande.type.name }}</td>
                            <td>
                                {% set statusClass = 'default' %}
                                {% if demande.statut.id == constant('NOUVEAU', demande.statut) %}
                                    {% set statusClass = 'success' %}
                                {% elseif demande.statut.id == constant('ETUDES', demande.statut) %}
                                    {% set statusClass = 'primary' %}
                                {% elseif demande.statut.id == constant('EN_ATTENTE', demande.statut) %}
                                    {% set statusClass = 'primary' %}
                                {% elseif demande.statut.id == constant('VALIDE', demande.statut) %}
                                    {% set statusClass = 'primary' %}
                                {% elseif demande.statut.id == constant('EN_COURS_CP', demande.statut) %}
                                    {% set statusClass = 'warning' %}
                                {% elseif demande.statut.id == constant('EN_COURS_DEV', demande.statut) %}
                                    {% set statusClass = 'warning' %}
                                {% elseif demande.statut.id == constant('RECETTE_INFO', demande.statut) %}
                                    {% set statusClass = 'info' %}
                                {% elseif demande.statut.id == constant('RECETTE_USER', demande.statut) %}
                                    {% set statusClass = 'info' %}
                                {% elseif demande.statut.id == constant('MISE_EN_PROD', demande.statut) %}
                                    {% set statusClass = 'info' %}
                                {% elseif demande.statut.id == constant('CLOS', demande.statut) %}
                                    {% set statusClass = 'default' %}
                                {% elseif demande.statut.id == constant('ANNULE', demande.statut) %}
                                    {% set statusClass = 'danger' %}
                                {% else %}
                                    {% set statusClass = 'primary' %}
                                {% endif %}
                                <span class="label label-{{ statusClass }}">
                                    <span style="display:none;">{% if demande.statut.id < 10 %}0{% endif %}{{ demande.statut.id }}. </span>{{ demande.statut.name }}
                                </span>
                            </td>
                            <td>
                                {% if demande.statut.id == constant('EN_ATTENTE', demande.statut) and demande.motifRefus is not null and demande.chargeModif == 1 %}
                                    <span style="display:none;">3</span><span class="glyphicon glyphicon-remove"
                                                                              style="color:red;vertical-align:middle"></span>
                                {% elseif demande.statut.id == constant('RECETTE_USER', demande.statut) and demande.recette is not null %}
                                    {% if demande.recette == 1 %}
                                        <span style="display:none;">1</span><span class="glyphicon glyphicon-ok"
                                                                                  style="color:green;"></span>
                                    {% elseif demande.recette == 0 %}
                                        <span style="display:none;">2</span><span class="glyphicon glyphicon-remove"
                                                                                  style="color:red; vertical-align: middle;"></span>
                                    {% endif %}
                                {% else %}
                                    <span style="display:none;">0</span>
                                {% endif %}
                            </td>
                            <td class="{% if columns.applicant is not defined or columns.applicant == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% for dem in demande.demandeUser %}
                                    {% if dem.type is constant('DEMANDEUR', dem) %}
                                        {{ dem.user.displayname }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="{% if columns.application is not defined or columns.application == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.application is not empty %}
                                    {% for key,row in demande.application %}{% if row is not empty %}{{ row.name }}
                                        <br>{% endif %}{% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>

                            <td class="{% if columns.testDate is not defined or columns.testDate == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.dateRecette is not null %}
                                    {{ demande.dateRecette|date('d/m/Y') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.testDate is not defined or columns.testDate == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if (demande.dateRecette <= "now"|date_modify("+3 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+3 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null) %}
                                    <span style="display:none;">2</span><span class="label label-danger"
                                                                              data-toggle="tooltip"
                                                                              data-placement="right"
                                                                              title="Les délais initiaux sont dépassés.">!</span>
                                {% elseif (demande.dateRecette    <= "now"|date_modify("+7 day") and demande.statut.id < constant('RECETTE_USER', demande.statut)  and demande.dateRecette is not null) or (demande.dateProduction <= "now"|date_modify("+7 day") and demande.statut.id < constant('MISE_EN_PROD', demande.statut) and demande.dateRecette is not null) %}
                                    <span style="display:none;">1</span><span class="label label-warning"
                                                                              data-toggle="tooltip"
                                                                              data-placement="right"
                                                                              title="La demande semble en retard.">!</span>
                                {% else %}
                                    <span style="display:none;">0</span>
                                {% endif %}
                            </td>

                            <td class="{% if columns.prodDate is not defined or columns.prodDate == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.dateProduction is not null %}
                                    {{ demande.dateProduction|date('d/m/Y') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>

                            <td class="{% if columns.departament is defined and columns.departament == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.directions is not empty %}
                                    {% set direction = [] %}
                                    {% for dir in demande.directions %}
                                        {% set direction = direction|merge([dir.libelle]) %}
                                    {% endfor %}
                                    {{ direction|join(',') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.services is defined and columns.service == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.services is not empty %}
                                    {% set service = [] %}
                                    {% for srv in demande.services %}
                                        {% set service = service|merge([srv.libelle]) %}
                                    {% endfor %}
                                    {{ service|join(',') }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.observer is defined and columns.observer == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% set observer = null %}
                                {% for dem in demande.demandeUser %}
                                    {% if dem.type is constant('OBSERVATEUR', dem) %}
                                        {% set observer = 1 %}
                                        {{ dem.user.displayname }}<br>
                                    {% endif %}
                                {% endfor %}
                                {% if observer == null %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.frequency is defined and columns.frequency == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.criterionFrequence.points is defined %}
                                    {{ demande.criterionFrequence.name }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.origin is defined and columns.origin == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.criterionOrigin.points is defined %}
                                    {{ demande.criterionOrigin.name }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.population is defined and columns.population == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.criterionPopulation.points is defined %}
                                    {{ demande.criterionPopulation.name }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.commentEstimation is defined and columns.commentEstimation == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.motifRefus is not null %}
                                    {{ demande.motifRefus }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.commentTest is defined and columns.commentTest == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.commentaireRecette is not null %}
                                    {{ demande.commentaireRecette }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="{% if columns.commentStandBy is defined and columns.commentStandBy == 1 %}showCol{% else %}hideCol{% endif %}">
                                {% if demande.dernierStatut is not empty %}
                                    {% set demandeStandByReason = '' %}
                                    {% for dem in demande.standBy %}
                                        {% if dem.validated is not empty %}
                                            {% set demandeStandByReason = dem.description %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if demandeStandByReason is not empty %}
                                        {{ demandeStandByReason }}
                                    {% endif %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_SET_TECH') %}
                                <td class="{% if columns.projectManager is defined and columns.projectManager == 1 %}showCol{% else %}hideCol{% endif %}">
                                    {% set cp = null %}
                                    {% for dem in demande.demandeUser %}
                                        {% if dem.type is constant('CHEF_DE_PROJET', dem) %}
                                            {% set cp = 1 %}
                                            {{ dem.user.displayname }}<br>
                                        {% endif %}
                                    {% endfor %}
                                    {% if cp == null %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td class="{% if columns.projectManagerHours is defined and columns.projectManagerHours == 1 %}showCol{% else %}hideCol{% endif %}">
                                    {% if demande.chargesCP > 0 %}
                                        {{ demande.chargesCP }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td class="{% if columns.technician is defined and columns.technician == 1 %}showCol{% else %}hideCol{% endif %}">
                                    {% set tech = null %}
                                    {% for dem in demande.demandeUser %}
                                        {% if dem.type is constant('TECHNICIEN', dem) %}
                                            {% set tech = 1 %}
                                            {{ dem.user.displayname }}<br>
                                        {% endif %}
                                    {% endfor %}
                                    {% if tech == null %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td class="{% if columns.technicianHours is defined and columns.technicianHours == 1 %}showCol{% else %}hideCol{% endif %}">
                                    {% if demande.chargesDev > 0 %}
                                        {{ demande.chargesDev }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid text-center">
            {{ knp_pagination_render(listeDemandes) }}
        </div>
    </section>
{% endblock %}