{% if listDemandes is not null%}
    {% if listDemandes|length > 0%}
        <ul class="nav nav-pills nav-stacked">
          {% for demande in listDemandes %}
            <li style=":hover{background-color: #eee;}">
                <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}">
                    {# if type == "manager" #}
                    {% if demande.statut.id == constant('NOUVEAU', demande.statut)%}
                    <span class="label label-success" style="margin-bottom:5px;">Nouveau</span>
                    {% endif %}
                    {{ demande.titre }}<br/>
                    <span style="font-weight:bold">#{{ demande.id }}</span>
                    <span class="glyphicon glyphicon-user"></span> 
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('DEMANDEUR', dem) %}
                            {{ dem.user.displayname}}
                        {% endif %}
                    {% endfor %}
                    <span class="glyphicon glyphicon-time"></span> {{demande.date|date('d/m/Y')}}
                </a>
            </li>
          {% endfor %}
        </ul>
        <a href="{{ path('suivi_etudes_liste', {'page': 1, 'demande_search': demande_search}) }}" style="float:right;">
            {% if type == "manager" %}
                <a href="{{ path('suivi_etudes_liste', {'page': 1, 'demande_search': demande_search}) }}" style="float:right;">
                    Voir toutes les nouvelles demandes
                    <span aria-hidden="true">&rarr;</span>
                </a>
            {% elseif type == "technicien" %}
                <a href="{{ path('suivi_etudes_liste_user') }}" style="float:right;">
                    Voir toutes mes demandes affectées
                    <span aria-hidden="true">&rarr;</span>
                </a>
            {% else %}
                <a href="{{ path('suivi_etudes_liste_user') }}" style="float:right;">
                    Voir toutes mes demandes
                    <span aria-hidden="true">&rarr;</span>
                </a>
            {% endif %}
    {% else %}
        <p style="text-align:center;">Il n'y a actuellement aucune demande.</p>
        {% if type == "manager" %}
        <a href="{{ path('suivi_etudes_liste')}}" style="float:right;">
            Voir toutes les demandes
            <span aria-hidden="true">&rarr;</span>
        </a> 
        {% endif %}
    {% endif %}
{% else %}
    <p style="text-align:center;">
        Il n'y a actuellement aucune demande.
    </p>
{% endif %}