{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Demandes en Stand by {{ parent() }}
{% endblock %}
{% block extraJavascripts %}
    <script>
        $(function () {
            $('.validateStandBy').on('click', function () {
                $('#loader').show();
                $url = $(this).attr('data-url');
                $.post($url, function (data) {
                    window.location.reload();
                });
            });
            // tablesorter
            $("#demandes").tablesorter();
            // pagination
            $('#onPage').on('change', function () {
                var url = "{{path("suivi_etudes_liste_stand_by_demandes")}}";
                url += "?onPage=" + $(this).val();
                window.location.href = url;
            });
        });
    </script>
{% endblock %}
{% block suivietudes_body %}
    <section class="content-header">
        <h1>Demandes en Stand by</h1>
    </section>
    <section class="content-header">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-check-circle-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Demandes en stand-by</span>
                        <span class="info-box-number">{%if standByRequests is not null%}{{standByRequests['standby']}}{%else%}0{%endif%}</span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-times-circle"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Demandes a valider</span>
                        <span class="info-box-number">{%if waitingStandByRequests is not null%}{{waitingStandByRequests['waiting']}}{%else%}0{%endif%}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body" style="overflow:auto;">
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable" id="demandes">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;">#</th>
                                <th style="cursor: pointer;">Titre</th>
                                <th style="cursor: pointer;">Application</th>
                                <th style="cursor: pointer;">Statut</th>
                                <th style="cursor: pointer;">Date</th>
                                <th style="cursor: pointer;">Type</th>
                                <th style="cursor: pointer;">Reason</th>
                                <th style="cursor: pointer;">Description</th>
                                <th style="cursor: pointer;">
                                    {%if is_granted('ROLE_SET_VALIDATE_STAND_BY') %}
                                        Actes
                                    {%elseif app.user.email == "GGILLES@noz.fr"%}
                                        Actes
                                    {% else %}
                                        Validé
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {%for key,row in pagination%}
                                <tr>
                                    <td>{{row.demande.id}}</td>
                                    <td>
                                        <a href="{{ path("suivi_etudes_voir",{"id":row.demande.id}) }}">{{row.demande.titre}}</a>
                                    </td>
                                    <td>
                                        {%for application in row.demande.application%}
                                            {%if application is not empty%}
                                                {{application.name}}<br />
                                            {%endif%}
                                        {%endfor%}
                                    </td>
                                    <td>{{row.demande.statut}}</td>
                                    <td>{{row.demande.date|date('Y-m-d')}}</td>
                                    <td>{{row.demande.type}}</td>
                                    <td>{{row.reason}}</td>
                                    <td>{{row.description|raw}}</td>
                                    <td>
                                        {%if row.validated == 1%}
                                            <span class="label label-success">Oui</span>
                                        {%else%}
                                            {%if is_granted('ROLE_SET_VALIDATE_STAND_BY') %}
                                                <button class="btn btn-primary validateStandBy" data-url="{{path('validate_stand_by_status',{'id':row.demande.id})}}">Valider</button>
                                            {%elseif app.user.email == "GGILLES@noz.fr"%}
                                                <button class="btn btn-primary validateStandBy" data-url="{{path('validate_stand_by_status',{'id':row.demande.id})}}">Valider</button>
                                            {%else%}
                                                <span class="label label-danger">Non</span>
                                            {%endif%}
                                        {%endif%}
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <div class="text-right">
                        {{ knp_pagination_render(pagination) }}                        
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}
