{# src/Suivi/EtudesBundle/Resources/views/Demande/voir.html.twig #}

{% extends "SuiviEtudesBundle::layout.html.twig" %}

{#variables#}
{# set filter request url #}
{%set urlFilters = null%}
{% if is_granted('ROLE_SET_MANAGER_TECH') or is_granted('ROLE_COPIL') and app.session.get('filterRequest')%}
    {%set urlFilters = app.session.get('filterRequest') %}
{%else%}
    {%if is_granted('ROLE_SET_MANAGER_TECH') or is_granted('ROLE_COPIL')%}
        {%set urlFilters = path('suivi_etudes_liste') %}
    {%else%}
        {%set urlFilters = path('suivi_etudes_liste_user') %}
    {%endif%}
{%endif%}
{# end filter request url #}
{%set demadeur = []%}
{%set observateurArray = []%}
{%set isCP = false %}
{% for dem in demande.demandeUser %}
    {% if dem.type is constant('DEMANDEUR', dem) %}
        {%set demadeur = dem.userId %}
    {% endif %}
    {% if dem.type is constant('OBSERVATEUR', dem) %}
        {%set observateurArray = observateurArray|merge([dem.userId]) %}
    {% endif %}
{% endfor %}
{% for row in demandeCP %}
    {% if row['userId'] ==  app.security.getToken().getUser().getId()%}
        {%set isCP = true %}
    {% endif %}
{% endfor %}

{% if demande.statut.id == constant('NOUVEAU', demande.statut)%}
    {% set statusClass = "label label-success" %}
{% elseif demande.statut.id == constant('EN_COURS_CP', demande.statut)%}
    {% set statusClass = "label label-warning" %}
{% elseif demande.statut.id == constant('EN_COURS_DEV', demande.statut)%}
    {% set statusClass = "label label-warning" %}
{% elseif demande.statut.id == constant('RECETTE_INFO', demande.statut)%}
    {% set statusClass = "label label-info" %}
{% elseif demande.statut.id == constant('RECETTE_USER', demande.statut)%}
    {% set statusClass = "label label-info" %}
{% elseif demande.statut.id == constant('MISE_EN_PROD', demande.statut)%}
    {% set statusClass = "label label-info" %}
{% elseif demande.statut.id == constant('CLOS', demande.statut)%}
    {% set statusClass = "label label-default" %}
{% elseif demande.statut.id == constant('ANNULE', demande.statut)%}
    {% set statusClass = "label label-danger" %}
{% else %}
    {% set statusClass = "label label-primary" %}
{% endif %}

{% block title %}
    Récapitulatif d'une demande - {{ parent() }}
{% endblock %}

{% block extraStylesheets %}
    {#<link rel="stylesheet" href="{{asset('all/jquery-ui-1.11.1/themes/ui-lightness.css')}}" />#}
{% endblock %}

{% block extraJavascripts %}
    {% javascripts
    '@SuiviEtudesBundle/Resources/public/js/infoBulle.js'
    '@SuiviEtudesBundle/Resources/public/js/datePicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $('.deleteAttachament').on('click', function () {
                var confirma = confirm('Confirmez-vous l\'effacement de la pièce jointe?');
                var elem = $(this).parent();
                if (confirma == true) {
                    $totalAttachaments = $('#countAttachaments').text();
                    $('#loader').show();
                    $.ajax({
                        method: 'POST',
                        url: $(this).attr('data-url'),
                        success: function () {
                            elem.remove();
                            $('#loader').hide();
                            $('#countAttachaments').text($totalAttachaments - 1);
                        }
                    });
                }
            });
            $('#validateStandBy').on('click', function () {
                $('#loader').show();
                $.post('{{path('validate_stand_by_status',{'id':demande.id})}}', function (data) {
                    window.location.reload();
                });
            });
            $('#removeStandBy').on('click', function () {
                $('#loader').show();
                $.post('{{path('remove_stand_by_status',{'id':demande.id})}}', function (data) {
                    window.location.reload();
                });
            });
            $('#cancelStandBy').on('click', function () {
                $('#loader').show();
                $.post('{{path('cancel_stand_by_status',{'id':demande.id})}}', function (data) {
                    window.location.reload();
                });
            });
            $('#validateRequest').on('click', function () {
                $('#loader').show();
                $.post('{{path('suivi_etudes_valider',{'id':demande.id})}}', function () {
                    $('#loader').hide();
                    window.location.reload();
                });
            });
        });
    </script>
{% endblock %}


{% block suivietudes_body %}
    <div>
        <a href="{{urlFilters}}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
        </a>
        {% if is_granted('ROLE_SET_DEMANDEUR') %}
            <a href="{{path('suivi_etudes_admin_demande_pdf',{'id':demande.id})}}" target="_blank" class="btn btn-primary pull-right">Imprimer</a>
        {% endif %}
    </div>
    <div class="" id="div_fiche">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissable disabled" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-ok" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-info-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:top;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('modification') %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-warning-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}

        <h2>{{ demande.titre }}</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#description" data-toggle="tab">Description</a></li>
            <li class="">
                <a aria-expanded="false" href="#piece_jointe" data-toggle="tab">Pièces jointes <span class="badge" id="countAttachaments">{{listePJ|length}}</span></a>
            </li>
            {% if roleUserConnecte != "0" or is_granted('ROLE_SET_RESP_TECH') or is_granted('ROLE_SET_TECH') %}
                <li class="">
                    <a aria-expanded="false" href="#actions" data-toggle="tab" class="{% if roleUserConnecte == "0" %}disabled{%endif%}">
                        Actions
                        {% if actions != 0%}<span class="badge badge-warning">{{ actions }}</span>{% endif%}
                    </a>
                </li>
            {% else %}
                <li class="disabled"><a>Actions</a></li>
            {%endif%}
            {% if (is_granted('ROLE_SET_TECH'))%}
                <li class=""><a aria-expanded="false" href="#historique" data-toggle="tab">Historique</a></li>
            {%endif%}
            <li class=""><a aria-expanded="false" href="#demandes_liees" data-toggle="tab">Demandes Liées</a></li>
        </ul>
        <div id="container_fiche" class="tab-content container-fluid">
            <div id="infos_generales">
                <div class="row">
                    <div class="col-md-3 col-xs-6 libelle_fiche">Numéro de demande</div>
                    <div class="col-md-3 col-xs-6">#{{demande.id}}</div>

                    <div class="col-md-3 col-xs-6 libelle_fiche">Crée le</div>
                    <div class="col-md-3 col-xs-6">{{ demande.date|date('d/m/Y') }}</div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-xs-6 libelle_fiche">Statut</div>
                    <div class="col-md-3 col-xs-6 ">
                        <span class="{{statusClass}}">{{ demande.statut.name }}</span>

                        {% if demande.statut.id == constant('EN_ATTENTE', demande.statut) and demande.motifRefus is not null and demande.chargeModif == 1%}
                            <span class="glyphicon glyphicon-remove" style="color:red;vertical-align:middle"></span>
                        {% endif%}
                        {% if demande.statut.id == constant('RECETTE_USER', demande.statut) and demande.recette is not null%}
                            {% if demande.recette == 1%}
                                <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                            {% elseif demande.recette == 0%}
                                <span class="glyphicon glyphicon-remove" style="color:red; vertical-align: middle;"></span>
                            {% endif%}
                        {% endif%}
                    </div>

                    <div class="col-md-3 col-xs-6 libelle_fiche">Demandeur</div>
                    <div class="col-md-3 col-xs-6 text-uppercase">
                        {% for dem in demande.demandeUser %}
                            {% if dem.type is constant('DEMANDEUR', dem) %}
                                {{ dem.user.displayname}}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6 libelle_fiche">Type de demande</div>
                    <div class="col-md-3 col-xs-6 ">{{demande.type.name}}</div>

                    <div class="col-md-3 col-xs-6 libelle_fiche">Observateur</div>
                    <div class="col-md-3 col-xs-6 text-uppercase">
                        {% for dem in demande.demandeUser %}
                            {% if dem.type is constant('OBSERVATEUR', dem) %}
                                {{ dem.user.displayname}}<br />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-xs-6 libelle_fiche">Application concernée</div>
                    <div class="col-md-3 col-xs-6 ">
                        {% if demande.application %}
                            {%if demande.application is iterable %}
                                {%for row in demande.application%}
                                    {{row.name}}<br />
                                {%endfor%}
                            {%endif%}
                        {% else %}
                            --
                        {% endif %}
                    </div>
                    {% if demande.directions is not null%}
                        <div class="col-md-3 col-xs-6 libelle_fiche">Direction(s) concernée(s)</div>
                        <div class="col-md-3 col-xs-6 ">
                            {% for dir in demande.directions %}
                                {{dir.libelle}},
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if demande.services is not null and demande.services is not empty %}
                        <div class="col-md-3 col-xs-6 libelle_fiche"></div>
                        <div class="col-md-3 col-xs-6 "></div>
                        <div class="col-md-3 col-xs-6 libelle_fiche">Service(s) concerné(s)</div>
                        <div class="col-md-3 col-xs-6 ">
                            {% for srv in demande.services %}
                                {{srv.libelle}},
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-xs-3 libelle_fiche">Origine de la demande</div>
                    <div class="col-xs-3">
                        {% if demande.criterionOrigin %}
                            {{demande.criterionOrigin.name}}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                    <div class="col-xs-3 libelle_fiche">Fréquence d’utilisation</div>
                    <div class="col-xs-3">
                        {% if demande.criterionFrequence %}
                            {{demande.criterionFrequence.name}}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 libelle_fiche">Population concernée</div>
                    <div class="col-xs-3">
                        {% if demande.criterionPopulation %}
                            {{demande.criterionPopulation.name}}
                        {% else %}
                            N/A
                        {% endif %}
                    </div>
                    <div class="col-xs-3 libelle_fiche">Priorité</div>
                    <div class="col-xs-3">
                        {{ demande.criterionOrigin.points|default(0) * demande.criterionPopulation.points|default(0) * demande.criterionFrequence.points|default(0) }}
                    </div>
                </div>

                {#<div class="row">
                    <div class="col-md-3 col-xs-6 libelle_fiche">Priorité</div>
                    <div class="col-md-3 col-xs-6 ">{{demande.urgence.name}}</div>
                </div>#}
                <br/>
                <!-- ON CHANGE LE SENS DU TABLEAU -->
                <div class="row">
                    {% if demande.statut.id >= constant('EN_ATTENTE', demande.statut) %}
                        <div class="col-xs-3 libelle_fiche">Charge(s) estimée(s)</div>
                        <div class="col-xs-3">
                            {{demande.charges}} heures{% if demande.charges > 10 %} ({{ (demande.charges / 8)|round(1, 'floor')}} jours){% endif %}.
                            {% if is_granted('ROLE_SET_TECH') %}
                                <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Charge interne : {{demande.chargesCP + demande.chargesDev}} heure(s) (dont CP : {{demande.chargesCP}}, dont dev : {{demande.chargesDev}})"></span>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="col-md-6 col-xs-12 pull-right">
                        <div class="row">
                            <div class="col-xs-6 libelle_fiche">Technicien(s)</div>
                            <div class="col-xs-6 text-uppercase">
                                {% for dem in demande.demandeUser %}
                                    {% if dem.type is constant('TECHNICIEN', dem) %}
                                        {{ dem.user.displayname}}<br/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {%if demande.dateRecette is not null%}
                        <div class="col-xs-3 libelle_fiche">Date Recette</div>
                        <div class="col-xs-3">{{demande.dateRecette|date('d/m/Y')}}</div>
                    {%endif%}
                    <div class="col-md-6 col-xs-12 pull-right">
                        <div class="row">
                            <div class="col-xs-6 libelle_fiche">Chef(s) de projet</div>
                            <div class="col-xs-6 text-uppercase">
                                {% for dem in demande.demandeUser %}
                                    {% if dem.type is constant('CHEF_DE_PROJET', dem) %}
                                        {{ dem.user.displayname}}<br/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {%if demande.dateProduction is not null%}
                    <div class="row">
                        <div class="col-xs-3 libelle_fiche">Mise en production</div>
                        <div class="col-xs-3">{{demande.dateProduction|date('d/m/Y')}}</div>
                    </div>
                {%endif%}
                <div class="row">
                    {% if demande.devis is not null %}
                        <div class="col-xs-3 libelle_fiche">Devis</div>
                        <div class="col-xs-3"><a href='{{ asset('uploads/attachments/') }}{{ demande.id }}/{{ demande.devis.name }}'>	{{demande.devis}}</a></div>
                    {% endif %}
                    {% if demande.cahierRecette is not null %}
                        <div class="col-xs-3 libelle_fiche">Cahier de Recette</div>
                        <div class="col-xs-3"><a href='{{ asset('/uploads/attachments/') }}{{ demande.id }}/{{ demande.cahierRecette.name }}'>{{demande.cahierRecette}}</a></div>
                    {% endif %}
                </div>
                {% if (is_granted('ROLE_SET_TECH')) and demande.spec %}
                    <div class="row">
                        <div class="col-xs-3 libelle_fiche">Cahier de spécifications</div>
                        {% if (specPieceJointe ==true) %}
                            <div class="col-xs-3"><a href='{{ demande.spec}}' ><b>Télécharger</b></a></div>
                        {% else %}
                            <div class="col-xs-3">{{ demande.spec}} </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if demande.demandeDocs is not empty and is_granted('ROLE_SET_TECH') %}
                    <div class="row">
                        <div class="col-xs-3 libelle_fiche">Documentation technique</div>
                        <div class="col-xs-3">
                            <a href="{{demande.demandeDocs[0].path}}" target="_blank">{{demande.demandeDocs[0].name}}</a>
                        </div>
                    </div>
                {% endif %}
                <hr>
            </div>
            <div class="tab-pane fade active in" id="description">
                <h3>Description</h3>
                <div class="row container-fluid " id="description">
                    <div class="well">
                        {{ demande.description|raw }}
                    </div>
                </div>
                {% if is_granted('ROLE_SET_TECH')%}
                    <div class="row container-fluid " id="description">
                        <div class="well">
                            {{ demande.commentaireInfo|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="piece_jointe">
                <h3>Pièces jointes</h3>
                <div class="row">
                    {% if listePJ|length > 0%}
                        <div class="col-xs-11 col-xs-offset-1">
                            {% for pieceJointe in listePJ %}
                                <div class="col-xs-12 col-md-6">
                                    <a target="_blank" href='{{asset('uploads/attachments/') }}{{ demande.id }}/{{ pieceJointe.name }}'>
                                        <img src='{{ asset('uploads/img/') }}{{extensions[pieceJointe.id]}}' width="35px"/>
                                        {{ pieceJointe.name|slice(0,25) }}
                                    </a>
                                    {#delete attachement rules
                                    1. Delete devis only if user = ROLE_SET_MANAGER_TECH and status EN_ATTENTE
                                    #}
                                    {%if demande.devis.id is defined and pieceJointe.id == demande.devis.id and is_granted('ROLE_SET_MANAGER_TECH') and demande.statut.id == constant('EN_ATTENTE', demande.statut)%}
                                        <button class="btn btn-primary pull-right deleteAttachament" data-url="{{path('suivi_etudes_remove_attachament',{'id':pieceJointe.id,'demandeId':demande.id})}}">Supprimer</button>
                                    {% endif %}
                                    {% if demande.devis.id is defined and pieceJointe.id != demande.devis.id %}
                                        {%for row in demande.demandeUser%}
                                            {%if row.userId == app.security.token.user.id and(row.type == 'OBSERVATEUR' or row.type == 'DEMANDEUR')%}
                                                <button class="btn btn-primary pull-right deleteAttachament" data-url="{{path('suivi_etudes_remove_attachament',{'id':pieceJointe.id,'demandeId':demande.id})}}">Supprimer</button>
                                            {%endif%}
                                        {%endfor%}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-sm-12">
                            Il n'y a pas de pièce jointe pour cette demande.
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if is_granted('ROLE_SET_TECH') %}
                <div class="tab-pane fade" id="planification">
                    <h3>Planification</h3>
                    <section class="content" id="chargeSection">
                        {% render(controller("SuiviEtudesBundle:Projet:planProject", {'id': demande.id})) %}
                    </section>
                </div>
                <div class="tab-pane fade" id="historique">
                    <h3>Historique</h3>
                    {% render(controller("SuiviEtudesBundle:Demande:historique", {'id': demande.id})) %}
                </div>
            {%endif%}
            <div class="tab-pane fade" id="demandes_liees">
                <h3>Demandes Liées</h3>
                {% render(controller("SuiviEtudesBundle:Demande:demandesLiees", {'id': demande.id})) %}
            </div>

            {#<div class="tab-pane fade" id="avancement">
                <h3>Avancement</h3>
                {% if demande.statut.id < constant('EN_ATTENTE', demande.statut) %}
                    {% if formEtudes is defined %}
                        {{ include ("SuiviEtudesBundle:Demande:form.EstimationEtudes.html.twig") }}
                    {% endif %}
                {% elseif demande.statut.id < constant('VALIDE', demande.statut) %}
                    <div class="col-xs-12">Les estimations ont été communiquées au demandeur.</div>
                {% elseif demande.statut.id < constant('EN_COURS_CP', demande.statut) %}
                    <div class="col-xs-12">Vous ne pourrez remplir votre avancement que lorsque la demande passera à "en cours".</div>
                {% elseif demande.statut.id < constant('RECETTE_USER', demande.statut) %}
                        {{ include ("SuiviEtudesBundle:Demande:form.Avancement.html.twig") }}
                {% else%}
                    <div class="col-xs-12">Le développement de cette demande est terminée.</div>
                {% endif%}
            </div>#}

            {# ACTIONS #}
            {#Cycle de la demande #}

            {# ########################################################################################### #}

            {% if roleUserConnecte != "0" or is_granted('ROLE_SET_RESP_TECH') or is_granted('ROLE_SET_TECH')%}
                <div class="tab-pane fade" id="actions">
                    <h3>Actions</h3>

                    {% if demande.statut.id > constant('NOUVEAU', demande.statut) and demande.statut.id < constant('CLOS', demande.statut)%}
                        <!-- AFFECTATION DES TECHNICIENS/CHEFS DE PROJET -->
                        {% if (is_granted('ROLE_SET_RESP_TECH')) %}
                            <p style="text-align:center;">
                                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#affectation">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Affecter un technicien
                                </a>
                            </p><!-- FENETRE DE DIALOGUE : FORMULAIRE D'AFFECTATION -->
                            <div class="modal fade" id="affectation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Affecter un technicien</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% if formAffectation is defined %}
                                                {{ include ("SuiviEtudesBundle:Demande:form.Affectation.html.twig") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif (is_granted('ROLE_SET_MANAGER_TECH') == false and is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Les estimations ont été validées. Le service Etudes va donc commencer à traiter cette demande.
                            </p>
                        {% endif%}
                    {% endif%}

                    {% if demande.statut.id >= constant('VALIDE', demande.statut) and demande.statut.id <= constant('RECETTE_USER', demande.statut) and is_granted('ROLE_SET_MANAGER_TECH') %}
                        <p style="text-align:center;">
                            <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#modifierDate">
                                <i class="glyphicon glyphicon-dashboard"></i>
                                Modifier les dates de livraison
                            </a>
                        </p>
                        <div class="modal fade" id="modifierDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Modifier les dates de livraison</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% if formModifierDate is defined %}
                                            {{ include ("SuiviEtudesBundle:Demande:form.modifierDate.html.twig") }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if demande.statut.id == constant('NOUVEAU', demande.statut) %}

                        {% if (is_granted('ROLE_SET_MANAGER_TECH'))%}
                            <p style="text-align:center;">
                                <a href="{{ path('modifier_statut_prisencompte', {'id': demande.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Cette action enverra un mail au demandeur, le prévenant que sa demande est prise en compte.">
                                    <i class="glyphicon glyphicon-check"></i>
                                    Prendre en compte la demande
                                </a>
                            </p>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Le service Etudes prendra bientôt en compte cette demande.
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('PRIS_EN_COMPTE', demande.statut) %}

                        {% if (is_granted('ROLE_SET_MANAGER_TECH'))%}
                            <p style="text-align:center;">
                                <a href="{{ path('modifier_statut_etudes', {'id': demande.id}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Une fois la demande à Etudes, vous avez un délai de 3 jours pour renseigner les estimations.">
                                    <i class="glyphicon glyphicon-check"></i>
                                    Passer à "Etudes"
                                </a>
                            </p>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Le service Etudes prendra bientôt en compte cette demande.
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('ETUDES', demande.statut) %}

                        {% if (is_granted('ROLE_SET_MANAGER_TECH'))%}
                            <p style="text-align:center;">
                                <span data-toggle="tooltip" data-placement="bottom" title="Renseigner une charge, une date de livraison à communiquer au demandeur">
                                    <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#estimations">
                                        <i class="glyphicon glyphicon-edit"></i> Renseigner les estimations
                                    </a>
                                </span>
                            </p>
                            <!-- FENETRE DE DIALOGUE : FORMULAIRE DES ESTIMATIONS -->
                            <div class="modal fade" id="estimations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Renseigner les estimations</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% if form is defined %}
                                                {{ include ("SuiviEtudesBundle:Demande:form.Estimation.html.twig") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Cette demande est actuellement étudiée par l'informatique.
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('EN_ATTENTE', demande.statut) %}
                        {% if (is_granted('ROLE_SET_MANAGER_TECH'))%}
                            <p style="text-align:center;">
                                <span data-toggle="tooltip" data-placement="bottom" title="Renseigner une charge, une date de livraison à communiquer au demandeur">
                                    <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#estimations">
                                        <i class="glyphicon glyphicon-edit"></i> Renseigner les estimations
                                    </a>
                                </span>
                            </p>
                            <!-- FENETRE DE DIALOGUE : FORMULAIRE DES ESTIMATIONS -->
                            <div class="modal fade" id="estimations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Renseigner les estimations</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% if form is defined %}
                                                {{ include ("SuiviEtudesBundle:Demande:form.Estimation.html.twig") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif%}
                        {% if (is_granted('ROLE_SET_VALIDEUR')) %}
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    A savoir avant de valider
                                </div>
                                <div class="panel-body">
                                    <p style="padding:5px 50px;text-align: justify;">
                                        En cliquant sur <b>Je valide le devis</b>, vous acceptez les termes qui vous ont été présentés précédemment, c'est à dire les dates de recette et de production, ainsi que le devis présent en pièce jointe de cette demande.
                                        <br/><br/>Vous disposez de 5 jours à partir de la date de réception des estimations pour effectuer cette action.
                                        Cette validation remplace la signature manuelle, et également le "Bon pour accord" en réponse au mail.
                                    </p>
                                    <p style="padding:5px 50px;text-align: justify;">
                                        <b>Dépassé 5 jours, les dates de recette et de livraison peuvent être modifiées.</b>
                                    </p>
                                    <p style="text-align:right;">
                                        <span data-toggle="tooltip"data-placement="bottom" title="...Et votre demande sera confiée à l'un de nos technicien, qui la réalisera dans les délais définis">
                                            <a href="{{ path('modifier_statut_valide', {'id': demande.id}) }}" class="btn btn-success" data-toggle="modal">
                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                                Je valide le devis
                                            </a>
                                        </span>
                                        <span data-toggle="tooltip"data-placement="bottom" title="...Expliquez-nous pourquoi, et nous reviendrons vers vous.">
                                            <a href="{#{ path('suivi_etudes_modifier', {'id': demande.id}) }#}" class="btn btn-danger" data-toggle="modal" data-target="#refusDevis">
                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                                Je ne valide pas
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- FENETRE DE DIALOGUE : FORMULAIRE DE REFUS D'UN DEVIS -->
                            <div class="modal fade" id="refusDevis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Expliquez-nous votre refus</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ include ("SuiviEtudesBundle:Demande:form.refusDevis.html.twig") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Les estimations ont été données. Maintenant, c'est à la personne habilitée à valider cette demande qui doit nous faire son retour.
                            </p>
                        {% endif%}
                    {% elseif demande.statut.id == constant('VALIDE', demande.statut) and (demandeTech is not empty or demandeCP is not empty) %}
                        {% if (is_granted('ROLE_SET_MANAGER_TECH') or roleUserConnecte == 'CHEF_DE_PROJET' or roleUserConnecte == 'TECHNICIEN')  %}
                            <p style="text-align:center;">
                                <button id="validateRequest" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-arrow-down"></i> Passer à "En cours - CP
                                </button>
                            </p>
                        {% endif %}
                    {% elseif demande.statut.id == constant('EN_COURS_CP', demande.statut) %}

                        {% if (is_granted('ROLE_SET_MANAGER_TECH') or roleUserConnecte == 'CHEF_DE_PROJET' or roleUserConnecte == 'TECHNICIEN')  %}
                            <p style="text-align:center;">
                                <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#passerDev">
                                    <i class="glyphicon glyphicon-arrow-down"></i> Terminer/Passer en DEV
                                </a>
                            </p>
                            <!-- FENETRE DE DIALOGUE : FORMULAIRE DE PASSAGE AU STATUT "EN COURS - DEV" -->
                            <div class="modal fade" id="passerDev" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Joindre les spécifications :</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% if formSpec is defined %}
                                                {{ include ("SuiviEtudesBundle:Demande:form.Spec.html.twig") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Cette demande est actuellement en d'analyse. Un chef de projet prépare les spécifications pour l'équipe technique.
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('EN_COURS_DEV', demande.statut) %}
                        {% if (is_granted('ROLE_SET_MANAGER_TECH') or roleUserConnecte == 'TECHNICIEN' or roleUserConnecte == 'CHEF_DE_PROJET')  %}      <!-- ROLE_SET_RESP_TECH ? -->
                            <p style="text-align:center;">
                                <a href="{{ path('modifier_statut_encourscp', {'id': demande.id}) }}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                    Retour au statut En Cours-CP
                                </a>
                                <a href="{{ path('modifier_statut_recetteinfo', {'id': demande.id}) }}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-arrow-down"></i>
                                    Terminer/Passer en Recette Info
                                </a>
                            </p>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Cette demande est actuellement en cours de développement.
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('RECETTE_INFO', demande.statut) %}

                        {% if (is_granted('ROLE_SET_MANAGER_TECH') or roleUserConnecte == 'CHEF_DE_PROJET')  %}
                            <p style="text-align:center;">
                                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#recetteInfoNoOk">
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                    Retour au statut En Cours-DEV
                                </a>
                                <a href="{{ path('passager_statut_recetteuser', {'id': demande.id}) }}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-arrow-down"></i>
                                    Passer en Recette Utilisateur
                                </a>
                            </p>
                            <!-- FENETRE DE DIALOGUE : FORMULAIRE DE REFUS DE LA RECETTE INFORMATIQUE -->
                            <div class="modal fade" id="recetteInfoNoOk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Les tests ne sont pas concluants</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ include ("SuiviEtudesBundle:Demande:form.recetteInfoNoOk.html.twig") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                            <p class="text-info" style="text-align:center;">
                                Cette demande est actuellement en recette côté informatique.
                                Le chef de projet teste votre demande, et vous contactera dès que ce sera à vous de recetter.
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('RECETTE_USER', demande.statut) %}

                        {% if (demande.recette is null) %}
                            {% if (is_granted('ROLE_SET_MANAGER_TECH') or app.user.hasRole('ROLE_SET_VALIDEUR'))%}
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        A savoir avant de valider
                                    </div>
                                    <div class="panel-body">
                                        <p style="padding:5px 50px;text-align: justify;">
                                            En cliquant sur <b>La recette me convient</b>, vous déclarez que votre recette s'est passée sans problème, bug, etc. trop important et que cette version correspond à vos attentes et vous convient pour une mise en production. (Que ce soit une validation ou un refus, un commentaire ainsi qu'une pièce jointe peuvent être ajoutés.)
                                        </p>
                                        <p style="text-align:right;">
                                            <span data-toggle="tooltip"data-placement="bottom" title="Cette validation préparera la mise en production de votre demande">
                                                <a href="" class="btn btn-success" data-toggle="modal" data-target="#recetteUserOk">
                                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                                    La recette me convient
                                                </a>
                                            </span>
                                            <span data-toggle="tooltip"data-placement="bottom" title=" Expliquez-nous pourquoi, et nous reviendrons vers vous.">
                                                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#recetteUserNoOk">
                                                    <i class="glyphicon glyphicon-thumbs-down"></i>
                                                    La recette ne me convient pas
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <!-- FENETRE DE DIALOGUE : FORMULAIRE DE VALIDATION DE LA RECETTE -->
                                <div class="modal fade" id="recetteUserOk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                                                    <span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="myModalLabel">La recette me convient</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% if formRecetteUserOk is defined %}
                                                    {{ include ("SuiviEtudesBundle:Demande:form.recetteUserOk.html.twig") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FENETRE DE DIALOGUE : FORMULAIRE DE REFUS DE LA RECETTE UTILISATEUR -->
                                <div class="modal fade" id="recetteUserNoOk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">La recette ne me convient pas.</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% if formRecetteUserNotOk is defined %}
                                                    {{ include ("SuiviEtudesBundle:Demande:form.recetteUserNoOk.html.twig") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elseif (is_granted('ROLE_SET_TECH'))%}
                                <p class="text-info" style="text-align:center;">
                                    En attente de la validation de la recette utilisateur par le demandeur.
                                </p>
                            {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                                <p class="text-info" style="text-align:center;">
                                    Cette demande est actuellement en recette utilisateur.
                                    Nous attendons votre retour avant de continuer le déroulement de votre demande.
                                    Sachez que seule une personne habilitée en "VALIDEUR" peut valider/refuser la recette.
                                </p>
                            {% endif%}
                        {% elseif (demande.recette == false) %}
                            {% if (is_granted('ROLE_SET_MANAGER_TECH') or roleUserConnecte == 'CHEF_DE_PROJET') %}
                                <p style="width:60%;margin:0 auto 10px auto; text-align:justify;">
                                    Le demandeur n'a pas validé la recette. Ci-dessous, vous avez le choix de revenir à l'étape d'analyse, ou de développement.
                                </p>
                                <p style="text-align:center;">
                                    <a href="{{ path('modifier_statut_encourscp', {'id': demande.id}) }}" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-arrow-up"></i>
                                        Retour au statut 'En cours-CP'
                                    </a>
                                    <a href="{{ path('modifier_statut_encoursdev', {'id': demande.id}) }}" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-arrow-up"></i>
                                        Retour au statut 'En cours-DEV'
                                    </a>
                                </p>
                            {% elseif (is_granted('ROLE_SET_DEMANDEUR'))%}
                                <p class="text-warning" style="text-align:center;">
                                    La recette n'a pas été concluante. Des modifications vont donc devoir se faire afin de mieux répondre aux besoins.
                                </p>
                            {% endif%}
                        {% elseif (demande.recette == true) %}

                            {% if (is_granted('ROLE_SET_MANAGER_TECH') or isCP == true) %}
                                {% if (demande.modifProd == false) %}
                                    <p style="text-align:center;">
                                        <span data-toggle="tooltip"data-placement="bottom" title=" Expliquez-nous pourquoi, et nous reviendrons vers vous.">
                                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#changerDate">
                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                                La date ne convient pas
                                            </a>
                                        </span>
                                    </p>
                                    <!-- FENETRE DE DIALOGUE : FORMULAIRE DE CHANGEMENT DE LA DATE DE MISE EN PRODUCTION -->
                                    <div class="modal fade" id="changerDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">Changer la date de livraison</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {% if formChangerDateProd is defined %}
                                                        {{ include ("SuiviEtudesBundle:Demande:form.ChangerDateProd.html.twig") }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <p style="text-align:center;">
                                    <a href="{{ path('mise_en_prod', {'id': demande.id}) }}" class="btn btn-success">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                        Planifier la mise en production.
                                    </a>
                                </p>
                            {% elseif (is_granted('ROLE_SET_VALIDEUR'))%}
                                <p class="text-success" style="text-align:center;">
                                    La recette a été validée. Les personnes chargées de votre demande vont revenir vers vous pour planifier la mise en production.
                                </p>
                            {% endif%}
                        {% endif%}

                    {% elseif demande.statut.id == constant('MISE_EN_PROD', demande.statut) %}

                        {% if is_granted('ROLE_SET_DEMANDEUR')%}
                            <p class="text-success" style="text-align:center;">
                                Cette demande est mise en production.
                            </p>
                            <p style="text-align:center;">
                                <a href="{{ path('modifier_statut_clos', {'id': demande.id}) }}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Clore la demande
                                </a>
                            </p>
                        {% endif%}

                    {% elseif demande.statut.id == constant('CLOS', demande.statut) %}

                        <p class="" style="text-align:center;">
                            La demande est close. Aucune action n'est possible.
                        </p>

                    {% elseif demande.statut.id == constant('ANNULE', demande.statut) %}

                        <p class="text-danger" style="text-align:center;">
                            La demande est annulée. Aucune action n'est possible.
                        </p>

                    {% endif %}

                    <!--                </div> <!-- Fin body Action -->
                    <!--        </div> <!-- Fin encart Action -->

                    {# STAND BY BUTTON #}
                    {%if is_granted('ROLE_SET_RESP_TECH') or app.user.id == demadeur or app.user.id in (observateurArray)%}
                        {% if demande.statut.id >= constant('NOUVEAU', demande.statut) and demande.statut.id <= constant('MISE_EN_PROD', demande.statut) %}
                            <div class="text-center">
                            {% set standByStat = null %}
                            {% for row in demande.standBy %}
                                {% if row.validated == 0 %}
                                    {% set standByStat = 0 %}
                                {% endif %}
                            {% endfor %}
                            {%if standByStat is not null %}
                                {%if app.user.hasRole('ROLE_SET_VALIDATE_STAND_BY') %}
                                    <button class="btn btn-success" id="validateStandBy">Valider Stand By</button>
                                {%else%}
                                    <p>En attente de validation du passage en Stand-by.</p>
                                    <button class="btn btn-warning" id="cancelStandBy">Annuler Stand By</button>
                                {%endif%}
                                </div>
                            {%else%}
                                <div class="text-center">
                                    <span title="" data-placement="bottom" data-toggle="tooltip">
                                        <a class="btn btn-primary" data-target="#standbymodal" data-toggle="modal" href="#">
                                            <i class="glyphicon glyphicon-edit"></i> Stand By
                                        </a>
                                    </span>
                                </div>
                                <div class="modal fade" id="standbymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Stand by statut</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% if StabdByForm is defined %}
                                                    {{ include ("SuiviEtudesBundle:Demande:form.StandBy.html.twig") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {% endif %}
                        {% if demande.statut.id == constant('STAND_BY', demande.statut) %}
                            <div class="text-center">
                                <button class="btn btn-primary" id="removeStandBy">Reprendre la demande</button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <hr>
            {% endif %}

            {# Add technical document #}
            {% if is_granted('ROLE_SET_TECH') and demande.statut.id >= constant('VALIDE', demande.statut) and demande.statut.id < constant('CLOS', demande.statut) %}
                <p style="text-align:center;">
                    <a href="#" class="btn btn-default label-info" data-toggle="modal" data-target="#techDoc">
                        <i class="glyphicon glyphicon-file"></i>
                        Joindre le documentation technique
                    </a>
                </p>
                <div class="modal fade" id="techDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Joindrer la documentation technique</h4>
                            </div>
                            <div class="modal-body">
                                {% render(controller("SuiviEtudesBundle:Demande:technicalDocument", {'demandeId': demande.id})) %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {# END technical document #}

            {% if demande.statut.id < constant('CLOS', demande.statut) %}
                <div class="text-right ">
                    <a href="{{ path('suivi_etudes_modifier', {'id': demande.id}) }}" class="btn btn-warning " data-toggle="tooltip" data-placement="left" title="Modifier les caractéristiques de l'annonces">
                        <i class="glyphicon glyphicon-edit"></i>
                        Modifier
                    </a>
                    {% if demande.statut.id < constant('VALIDE', demande.statut) or (is_granted('ROLE_SET_MANAGER_TECH')) %}
                        <span data-toggle="tooltip" data-placement="top" title="Une fois annulée, cette demande ne sera plus prise en compte">
                            <a href="#" class="btn btn-danger" class="btn btn-primary"  data-toggle="modal" data-target="#annulation">
                                <i class="glyphicon glyphicon-trash"></i>
                                Annuler
                            </a>
                        </span>
                    {% endif %}


                    <!-- FENETRE DE DIALOGUE : FORMULAIRE D'ANNULATION DE LA DEMANDE -->
                    <div class="modal fade" id="annulation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#F5F5F5;border-radius:4px;">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Annulation de la demande</h4>
                                </div>
                                <div class="modal-body">
                                    {{ include ("SuiviEtudesBundle:Demande:form.annulation.html.twig") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <br/>
        <div id="container_img">
            <p>
                <img src='{{ asset('uploads/img/timeline_'~demande.statut.id~'.png') }}'  class="img-responsive" style="margin: auto;"/>
            <p>
        </div>
    </div>


    <p>
        <a href="{{urlFilters}}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
        </a>
    </p>

{% endblock %}