{% block stylesheets %}
    <link href="{{ asset('all/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/jquery.multiselect.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/jquery.bootstrap-touchspin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/chosen.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/style7.css') }}" rel="stylesheet"/>
    <link href="{{ asset('DMLI/css/style.css') }}" rel="stylesheet"/>
    <link rel="icon" href="../../favicon.ic" />
   
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('all/jquery-ui-1.11.1/external/jquery/jquery.js') }}"></script>
    <script src="{{ asset('all/jquery-ui-1.11.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('all/LTE/js/lte.js') }}"></script>
    <script src="{{ asset('js/jquery.multiselect.js') }}"></script>
    <script src="{{ asset( 'all/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/chosen_v1.3.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('DMLI/js/select.js') }}"></script>
    <script src="{{ asset('DMLI/js/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('DMLI/js/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ asset('DMLI/js/respond.min.js') }}"></script>
    <script src="{{ asset('DMLI/js/html5shiv.js') }}"></script>
    <script src="{{ asset('DMLI/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('DMLI/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('DMLI/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('DMLI/js/admindmli.js') }}"></script>
{% endblock %}

