{% extends 'InterventionBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@InterventionBundle/Resources/public/js/tournee.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <section class="content-header" >
        <h3 style="color: #367fa9">Saisie du matériel</h3></section>
    <section class="content">
        <div class="row">
            <div class="box box-danger" >
                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                            <table id="tournee_tab" class="table table-striped table-bordered table-responsive tablesorter" cellspacing="0"  >
                                <thead>
                                <tr>
                                    <th>ID tournée</th>
                                    <th >Technicien</th>
                                    <th >Intervention</th>
                                    <th >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for t in tournee %}
                                    <tr>
                                        <td>
                                            {{ t.tournee.id }}
                                        </td>
                                        <td>
                                            {{ t.tournee.idUser }}
                                        </td>
                                        <td>
                                           	{% for a in t.tournee.agents %}
                                           		{{ a.idIntervention.id }},
											{% endfor %}                                        
                                        </td>
                                        <td>
                                            <button type="button" id="modif_{{ t.tournee.id }}" value="Modifier" data-toggle="modal" data-target="#modal_modif{{ t.tournee.id }}"
                                                    class="btn btn-default">Modifier</button>
                                        </td>
                                    </tr>
                                    <!------ pop up modifier tournee ------------>
                                    <div id="modal_modif{{ t.tournee.id }}" class="modal fade" role="dialog" >
                                        <div class="modal-dialog"  >

                                            <!-- Modal content-->
                                            &nbsp;  {{ form_start(t.editForm, {'attr': {'class': 'form-horizontal'}} )}}
                                            <div class="modal-content" style="width: 600px" >
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Modifier tournée numéro {{ t.tournee.id }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">

                                                    <div class="col-md-4" >
                                                        Agent de maintenance: </div><div class="col-md-9"> {{t.tournee.idUser}}</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div class="col-md-4">
                                                        Interventions: </div>
                                                    <div class="col-md-9">
                                                    	{{ form_widget(t.editForm.agents) }}
                                                    </div>
                                                </div>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default" >OK </button>
                                                </div>
                                                {{ form_end(t.editForm) }}
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <!------ End pop up modifier tournee ------------>
                                    {% endfor %}
                                    </div>
                                </tbody>
                            </table>
                            </div>
                            {{ form_start(form)}}
                            <div  class="col-md-12" style="margin-top: 3%">
                            	<div class="col-md-2" >Agent de maintenance: </div>
                            	<div class="col-md-4">
                            		{{ form_widget(form.idUser) }}
                            	</div>
                            	<div class="col-md-2">Interventions: </div>
                            	<div class="col-md-4">
                            		{{ form_widget(form.agents) }}
                            	</div>
                        	</div>
                            <div  class="col-md-12" style="margin-top: 3%">
                                <div class="col-md-5"></div>       {{ form_widget(form.sauvegarder) }}
                            </div>
                             {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </section>


{% endblock %}