{% extends 'InterventionBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@InterventionBundle/Resources/public/js/fiche_intervention.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <section class="content-header" >

        <h3 style="color: #367fa9">Fiche d'intervention</h3></section>
    {% if is_granted("ROLE_INTERVENTION_TRAVAUX_ASSISTANTE") and interv.idStatus.id != 5 %}
    <section class="content">
        {% elseif is_granted("ROLE_INTERVENTION_TRAVAUX_ADMINISTRATEUR") %}
        <section class="content">
            {% else %}
        <section class="content disabledbutton">
            {% endif %}
    &nbsp;<form id="fiche_inter" name="fiche_inter" action="{{ path('fiche_intervention', {'id': interv.id})}}" role="form" method="post" {{ form_enctype(form) }} >
    <div class="row">



        <div class="box box-danger" >

            <div class="box-body">
                <div class="row">

                    <table style="width: 100%"><div class="form-group">
                            <tr style="width: 100%"><td >
                                    <label class="col-md-2 control-label" style="width: 30%">{{ form_label(form.dateDemande, "Date Demande: ") }}</label>
                                    <div class="col-md-3" style="width: 50%"> {{ form_widget(form.dateDemande, {'value' :  interv.dateDemande|date('Y-m-d')}) }}
                                    </div>
                                </td>
                                <td >
                                    <label class="col-md-2 control-label" style="width: 30%">{{ form_label(form.lieux, "lieu d'intervention: ") }}</label>
                                    <div class="col-md-3" style="width: 50%"> {{ form_widget(form.lieux) }}
                                    </div>
                                </td></tr>

                            <tr style="width: 100%"><td >
                                    <label class="col-md-2 control-label" style="width: 30%">{{ form_label(form.dateDebut, "Date Debut: ") }}</label>
                                    <div class="col-md-3" style="width: 50%"> {{ form_widget(form.dateDebut, {'value' :  interv.dateDebut|date('Y-m-d')}) }}
                                    </div>
                                </td>
                                <td >
                                    <label class="col-md-2 control-label" style="width: 30%"> {{ form_label(form.dateFin, "Date Fin: ") }}</label>
                                    <div class="col-md-3" style="width: 50%"> {{ form_widget(form.dateFin, {'value' :  interv.dateFin|date('Y-m-d')}) }}
                                    </div>
                                </td></tr></div></table>
                    <table>
                        <tr><td><div class="form-group"><label class="col-md-2 control-label" style="width: 100%">{{ form_label(form.travaux, "Travaux à réaliser: ") }}</label>


                                    <div class="col-md-12" style="width: 100%">  {{ form_widget(form.travaux,{'value' : interv.travaux, 'attr': {'cols': '122', 'rows': '8'}}) }}</div></div>
                            </td></tr>
                    </table>




                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <table style="width: 100%">
                        <tr><td style="width: 33%"><label class="col-md-2 control-label" style="width: 50%">Nature: </label></td><td style="width: 30%"><div class="form-group">Type:</div></td><td style="width: 30%"><label class="col-md-2 control-label" style="width: 50%">Côut HT: </label></td></tr>
                    </table>



                    <div class="col-sm-4 ">
                        <div class="form-group">
                            {% for cout in couts %}
                            <select id="interventionbundle_trvintervention_nature{{ cout.id }}" name="interventionbundle_trvintervention[nature{{ cout.id }}]"
                                    onchange="type_select({{ cout.id }})"  class="form-control">
                           <option value></option>
                                {% for nature in natures %}
                                    {% if cout.idType.idNature.id == nature.id %}
                               <option selected value="{{ nature.id }}">{{ nature.libelle }}</option>
                                        {% else %}
                                            <option value="{{ nature.id }}">{{ nature.libelle }}</option>
                                        {% endif %}
                               {% endfor %}
                            </select>
                                {% endfor %}

                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            {% for cout in couts %}
                                <select id="interventionbundle_trvintervention_type{{ cout.id }}" name="interventionbundle_trvintervention[type{{ cout.id }}]" class="form-control">
                                    <option value></option>
                                    {% for type in types %}
                                        {% if cout.idType.id == type.id %}
                                            <option selected value="{{ type.id }}">{{ type.libelle }}</option>
                                        {% else %}
                                            <option value="{{ type.id }}">{{ type.libelle }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="form-group">
                            {% for cout in couts %}
                                <input type="number" min="0" step="0.01" id="interventionbundle_trvintervention_cout{{ cout.id }}" name="interventionbundle_trvintervention[cout{{ cout.id }}]"
                                       value="{{ cout.montant }}"       class="form-control">
                            {% endfor %}

                        </div>
                    </div>


                    <table style="width: 100%">
                        <div class="form-group">
                            <tr><td style="width: 15%">
                                    <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.idRaison, "Raison de l'intervention: ") }}</label>
                                </td>
                                <td>
                                    <div class="col-md-3" style="width: 30%"> {{ form_widget(form.idRaison) }}
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </table>
                    <table style="width: 100%"><div class="form-group">
                            <tr style="width: 100%"><td style="width: 34%">
                                    <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.agent1, "Agent de maintenance: ") }}</label>

                                </td>
                                <td style="width: 17%">
                                    <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.nbHeures1, "nb heures: ") }}</label>
                                </td>
                                <td >
                                    <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.piece1, "Pièces jointes: ") }}</label>

                                </td></tr>


                        </div></table>

                    <div class="row">
                        <div class="form-group">
                            <div class="row" style="width: 45%; margin-left: 1.5%; float:left;">
                                <div class="col-sm-9 ">

                                    {% for agent in agents %}
                                    <select id="interventionbundle_trvintervention_agent{{ agent.id }}" name="interventionbundle_trvintervention[agent{{ agent.id }}]" class="form-control ">
                                        {% for agent_all in agents_all %}
                                        {% if agent_all.id == agent.IdUser.id %}
                                        <option selected value="{{ agent_all.id }}">{{ agent_all.displayName }}</option>
                                        {% else %}
                                            <option value="{{ agent_all.id }}">{{ agent_all.displayName }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% endfor %}



                                </div>
                                <div class="col-sm-3 ">
                                    <div class="form-group">
                                        {% for agent in agents %}
                                        <input type="number" min="0" id="interventionbundle_trvintervention_nbHeures{{ agent.id }}" name="interventionbundle_trvintervention[nbHeures{{ agent.id }}]"
                                        value="{{ agent.nbHeures }}"       class="form-control">
                                        {% endfor %}

                                    </div>
                                </div>


                            </div>

                            <div class="row" style="width: 50%;  float:right;">
                                {% if pieces!=null %}
                                    {% set i = 1 %}
                                {% for piece in pieces %}
                                    <a target="_blank" href='{{asset('uploads/attachments/intervention/') }}{{ interv.id }}/{{ piece.attachement }}'>{{ piece.attachement|slice(0,25) }}</a>

                                <input type="file"  id="interventionbundle_trvintervention_file{{ i }}" name="interventionbundle_trvintervention[file{{ i }}]" onchange="file_name({{ i }})">

                                {% set i= i+1 %}
                                {% endfor %}
                                {% else %}
                                    <input type="text" id="interventionbundle_trvintervention_piece1"
                                           name="interventionbundle_trvintervention[piece1]" class="form-control" style="width: 200px">

                                    <input type="file" id="interventionbundle_trvintervention_file1" name="interventionbundle_trvintervention[file1]" onchange="file_name( 1 )">
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div>

                        <div class="col-md-2"></div>  <label class="col-md-1 control-label" >{{ form_label(form.observateur, "Observateurs: ") }}</label>
                        <div class="col-md-3" style="width: 50%"> <select id="interventionbundle_trvintervention_observateur" name="interventionbundle_trvintervention[observateur][]" class="chosen form-control input-sm chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single" multiple="multiple" style="display: none;">
                                {% for observateur_all in observateurs_all %}
                                    {% if observateur_all.id in tab %}
                                    <option selected value="{{ observateur_all.id }}"> {{ observateur_all.displayName }} </option>
                                {% else %}
                                    <option value="{{ observateur_all.id }}"> {{ observateur_all.displayName }} </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% set fact = 1 %}
                    {% for facture in factures %}
                        <div class="row">
                        <div class="col-md-12" style="margin-top: 2%;margin-left: 1%; width: 98%;"> <div class="panel panel-default">
                            <div class="row"> <div class="form-group"> <div class="col-md-12">
                              <div class="col-md-2" style="width: 20%"> <div id="interventionbundle_trvintervention_facture{{ fact }}">
                                      <input type="radio" id="interventionbundle_trvintervention_facture{{ fact }}_0" name="interventionbundle_trvintervention[facture{{ fact }}]"
                                             required="required" value="0" {% if facture.bonLivraison== 0 %}checked="checked" {% endif %}>
                              <label for="interventionbundle_trvintervention_facture{{ fact }}_0" class="required">Facture</label>
                              <input type="radio" id="interventionbundle_trvintervention_facture{{ fact }}_1" name="interventionbundle_trvintervention[facture{{ fact }}]" required="required" value="1" {% if facture.bonLivraison== 1 %}checked="checked" {% endif %}>
                              <label for="interventionbundle_trvintervention_facture{{ fact }}_1" class="required">Bon de livraison</label></div>
                              </div> <div class="col-md-1">   Référence: </div> <div class="col-md-2">
                                            <input type="text" id="interventionbundle_trvintervention_reference{{ fact }}" name="interventionbundle_trvintervention[reference{{ fact }}]" class="form-control input-sm" value="{{ facture.reference }}"></div>
                                            <div class="col-md-1">      Fournisseur: </div><div class="col-md-2">
                                            <select id="interventionbundle_trvintervention_fournisseur{{ fact }}" name="interventionbundle_trvintervention[fournisseur{{ fact }}]"
                                                    onchange="verif_fournisseur({{ fact }})" class="form-control input-sm">{% for fournisseur in fournisseurs %}
                                            {% if fournisseur.id == facture.fournisseur.id %}
                                                <option selected value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                                                {% else %}
                                                <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select></div>
                                        <div class="col-md-2"><div class="input-group">
                                            <input style="display: none" type="text" id="interventionbundle_trvintervention_nvFournisseur{{ fact }}"
                                                   name="interventionbundle_trvintervention[nvFournisseur{{ fact }}]" class="form-control input-sm">
                                            <div class="input-group-btn">
                                            <button class="btn btn-success form-control input-sm" id="nv_fourniss{{ fact }}" type="button"
                                                    onclick="ajouter_fournisseur({{ fact }});" style="display: none"> +  </button>
                                                        </div> </div></div>
                                            </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="col-md-12"><div class="col-md-1">Montant</div> <div class="col-md-2">
                                            <input type="number" min="0" step="0.01" value="{{ facture.montant }}" id="interventionbundle_trvintervention_montant{{ fact }}" name="interventionbundle_trvintervention[montant{{ fact }}]" class="form-control input-sm">
                                            </div><div class="col-md-8">
                                            {% if facture.id in tabPieceFact %}
                                            {% for piece in piece_fact %}
                                            {% if piece.idFacture.id == facture.id %}
							                    <a target="_blank" href='{{asset('uploads/attachments/intervention/') }}{{ interv.id }}/{{ piece.attachement }}'>{{ piece.attachement|slice(0,25) }}</a>
                                            <input type="file" id="interventionbundle_trvintervention_filefact{{ fact }}" name="interventionbundle_trvintervention[filefact{{ fact }}]" onchange="file_name_fact({{ fact }})">
                                            {% endif %}
                                                {% endfor %}
                                                {% else %}
                                                <input type="text" id="interventionbundle_trvintervention_piecefact{{ fact }}" name="interventionbundle_trvintervention[piecefact{{ fact }}]"
                                                       class="form-control" style="width: 200px">
                                                <input type="file" id="interventionbundle_trvintervention_filefact{{ fact }}" name="interventionbundle_trvintervention[filefact{{ fact }}]" onchange="file_name_fact({{ fact }})">
                                                {% endif %}
                                        </div> </div>
                                </div> </div> </div></div>
                        </div>
                        {% set fact = fact+1 %}
                    {% endfor %}
<div class="row">
                    <div class="col-md-6" style="margin-top: 2%;margin-left: 1%; width: 98%;">
                    <button type="button" id="interventionbundle_trvintervention_ajouterUneFacture" name="interventionbundle_trvintervention[ajouterUneFacture]"
                            class="btn btn-default" value="Ajouter une facture" onclick="ajouter_facture();">Ajouter une facture</button></div>
                    <div id="nouvelleFacture"></div>

                    <div class="col-md-12" style="margin-top: 2%; margin-left: 1%; width: 98%">
                        Commentaire:
                        {{ form_widget(form.commentaireAgent,{ 'attr': {'cols': '122', 'rows': '6'}, 'value': interv.commentaireAgent }) }}
                    </div>
                    <div class="col-md-12" style="margin-top: 3%"> <div class="col-md-2">Ville de départ: </div> <div class="col-md-3">{{ form_widget(form.villeDep, {'value' :  interv.depart  }) }}</div>
                        <div class="col-md-2">Ville d'arrivée: </div> <div class="col-md-3">{{ form_widget(form.villeArrivee, {'value' :  interv.arrivee  }) }}</div></div>
                    <div class="col-md-12"><div class="col-md-2">Nombre de véhicules: </div> <div class="col-md-3">{% if interv.idTournee != null %}{{ form_widget(form.nbrVehicules, {'value' :  interv.idTournee.nbvehicule  }) }} {% else %}{{ form_widget(form.nbrVehicules) }}{% endif %}</div>
                        <div class="col-md-2">Nombre de Kilomètres: </div> <div class="col-md-3">{% if interv.idTournee != null %}{{ form_widget(form.nbrKm, {'value' :  interv.idTournee.nbkm  }) }}{% else %}{{ form_widget(form.nbrKm) }}{% endif %}</div></div>
                    <div class="col-md-12"> <div class="col-md-2">Total hébergement: </div> <div class="col-md-3">{% if interv.idTournee != null %}{{ form_widget(form.hebergement, {'value' :  interv.idTournee.hebergement  }) }} {% else %} {{ form_widget(form.hebergement) }}{% endif %}</div>
                        <div class="col-md-2">Total repas: </div> <div class="col-md-3">{% if interv.idTournee != null %}{{ form_widget(form.repas, {'value' :  interv.idTournee.repas  }) }}{% else %}{{ form_widget(form.repas) }}{% endif %}</div></div>
                    <div class="col-md-12" style="margin-top: 2%"> <div class="col-md-2">Commentaire: </div><div class="col-md-8">{% if interv.idTournee != null %}{{ form_widget(form.commentaire, {'value' :  interv.idTournee.commentaire  }) }}{% else %}{{ form_widget(form.commentaire) }}{% endif %}</div></div>
                    <div class="col-md-12" style="margin-top: 2%">
                        <div class="col-md-2">Pièce jointe: </div>
                        <div class="col-md-4">
							{% if piece_tr!= null %}
								<a target="_blank" href='{{asset('uploads/attachments/intervention/') }}{{ interv.id }}/{{ piece.attachement }}'>{{ piece.attachement|slice(0,25) }}</a>
							{% endif %}
                            <input type="file" id="interventionbundle_trvintervention_fileTournee" name="interventionbundle_trvintervention[fileTournee]" onchange="file_name_tr(">
						</div>
                    </div>
				</div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-10" style="margin-left: 2%; margin-top: 3%">
                    <div class="row"> <div class="col-xs-4">  </div>
                        <div class="col-xs-2">
                            {% if is_granted("ROLE_INTERVENTION_TRAVAUX_ASSISTANTE") and interv.idStatus.id != 5 %}
                            {{ form_widget(form.valider) }}
                                {% elseif is_granted("ROLE_INTERVENTION_TRAVAUX_ADMINISTRATEUR") %}
                                    {{ form_widget(form.valider) }}
                                        {% else %}
                                {{ form_widget(form.valider,{'attr': {'disabled':'disabled'}}) }}
                                        {% endif %}

                        </div><div class="col-xs-1">  </div><button class="btn btn-default" onClick="window.print()">Imprimer</button></div>
                    </div>

            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;

        </div>
        </div></div>
            <input type="text" id="interventionbundle_trvintervention_countfacture" name="interventionbundle_trvintervention[countfacture]" hidden >
    </form>
    </section>
    <script>
        $("#interventionbundle_trvintervention_idRaison").val({{ interv.idRaison.id }});
        lieux('{{ lieu }}')
        document.getElementById("interventionbundle_trvintervention_countfacture").value= {{ fact }};
        var  next = {{ fact }};

        function ajouter_facture() {
            next ++;
            var objTo = document.getElementById('nouvelleFacture')
            var divtest = document.createElement("div");
            $.getJSON('../../facture/fournisseur', function(data) {
                divtest.innerHTML = '<div class="col-md-12" style="margin-top: 2%;margin-left: 1%; width: 98%;"> <div class="panel panel-default"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<div class="row"> <div class="form-group"> <div class="col-md-12"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<div class="col-md-2" style="width: 20%"> <div id="interventionbundle_trvintervention_facture' + next + '"> <input type="radio" id="interventionbundle_trvintervention_facture' + next + '_0" name="interventionbundle_trvintervention[facture' + next + ']" required="required" value="0" checked="checked">' +
                    '<label for="interventionbundle_trvintervention_facture' + next + '_0" class="required">Facture</label>' +
                    '<input type="radio" id="interventionbundle_trvintervention_facture' + next + '_1" name="interventionbundle_trvintervention[facture' + next + ']" required="required" value="1">' +
                    '<label for="interventionbundle_trvintervention_facture' + next + '_1" class="required">Bon de livraison</label></div></div> <div class="col-md-1">   Référence: </div> <div class="col-md-2"><input type="text" id="interventionbundle_trvintervention_reference' + next + '" name="interventionbundle_trvintervention[reference' + next + ']" class="form-control input-sm"></div>' +
                    '<div class="col-md-1">      Fournisseur: </div><div class="col-md-2"><select id="interventionbundle_trvintervention_fournisseur' + next + '" name="interventionbundle_trvintervention[fournisseur' + next + ']" onchange="verif_fournisseur('+ next +')" class="form-control input-sm">'+data+'</select></div> <div class="col-md-2"><div class="input-group"><input style="display: none" type="text" id="interventionbundle_trvintervention_nvFournisseur' + next + '" name="interventionbundle_trvintervention[nvFournisseur' + next + ']" class="form-control input-sm">' +
                    '<div class="input-group-btn">'+
                    '<button class="btn btn-success form-control input-sm" id="nv_fourniss' + next + '" type="button"  onclick="ajouter_fournisseur(' + next + ');" style="display: none"> +  </button>'+
                    '</div> </div></div>' +
                    '</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="col-md-12"><div class="col-md-1">Montant</div> <div class="col-md-2">' +
                    '<input type="number" min="0" step="0.01" id="interventionbundle_trvintervention_montant' + next + '" name="interventionbundle_trvintervention[montant' + next + ']" class="form-control input-sm">' +
                    '</div><input type="file" id="interventionbundle_trvintervention_filefact' + next + '" name="interventionbundle_trvintervention[filefact' + next + ']"> </div> </div> </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div></div>';
            });
            console.log(next);
            document.getElementById("interventionbundle_trvintervention_countfacture").value= next;
            objTo.appendChild(divtest)

        }
        function verif_fournisseur(i) {

            if($("#interventionbundle_trvintervention_fournisseur"+i).val()== 1){
                //alert(i)
                $("#interventionbundle_trvintervention_nvFournisseur"+i).show();
                $("#nv_fourniss"+i).show();
            }
            else {
                $("#interventionbundle_trvintervention_nvFournisseur"+i).hide();
                $("#nv_fourniss"+i).hide();
            }

        }

    </script>


{% endblock %}