{% extends 'InterventionBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@InterventionBundle/Resources/public/js/intervention.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <section class="content-header" >

        <h3 style="color: #367fa9">Ajout d'intervention</h3></section>
    <section class="content">
        &nbsp;<form id="ajout_inter" name="ajout_inter" action="{{ path('intervention')}}" role="form" method="post" {{ form_enctype(form) }} >
            <div class="row">



                <div class="box box-danger" >

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% if app.session.get('success')!='' %}
                                    <div class="alerte alerte-success fade in alert-dismissable" role="alert">
                                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                                        {{ app.session.get('success') }}
                                    </div>
                                {% endif %}
                            </div>

                            <table style="width: 100%"><div class="form-group">
                                    <tr style="width: 100%"><td >
                                            <label class="col-md-2 control-label" style="width: 30%">{{ form_label(form.dateDemande, "Date Demande: ") }}</label>
                                            <div class="col-md-3" style="width: 50%"> {{ form_widget(form.dateDemande) }}
                                            </div>
                                        </td>
                                        <td >
                                            <label class="col-md-2 control-label" style="width: 30%">{{ form_label(form.lieux, "lieu d'intervention: ") }}</label>
                                            <div class="col-md-3" style="width: 50%"> {{ form_widget(form.lieux) }}
                                            </div>
                                        </td></tr>

                                    <tr style="width: 100%"><td >
                                            <label class="col-md-2 control-label" style="width: 30%">{{ form_label(form.dateDebut, "Date Debut: ") }}</label>
                                            <div class="col-md-3" style="width: 50%"> {{ form_widget(form.dateDebut) }}
                                            </div>
                                        </td>
                                        <td >
                                            <label class="col-md-2 control-label" style="width: 30%"> {{ form_label(form.dateFin, "Date Fin: ") }}</label>
                                            <div class="col-md-3" style="width: 50%"> {{ form_widget(form.dateFin) }}
                                            </div>
                                        </td></tr></div></table>
                            <table>
                                <tr><td><div class="form-group"><label class="col-md-2 control-label" style="width: 100%">{{ form_label(form.travaux, "Travaux à réaliser: ") }}</label>


                                            <div class="col-md-12" style="width: 100%">  {{ form_widget(form.travaux,{ 'attr': {'cols': '122', 'rows': '8'} }) }}</div></div>
                                    </td></tr>
                            </table>



                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <table style="width: 100%">
                                <tr><td style="width: 37%"><label class="col-md-2 control-label" style="width: 50%">Nature: </label></td><td style="width: 50%"><div class="form-group">Type:</div></td></tr>
                                <!-- </table> -->

                                <tr><td>

                                        <div class="col-sm-10 ">
                                            <div class="form-group">
                                                <div class="input-group">

                                                    {{ form_widget(form.nature1) }}
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-success" type="button"  onclick="fields();"> +  </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-7 ">
                                            <div class="form-group">

                                                {{ form_widget(form.type1) }}


                                            </div>
                                        </div>
                                    </td></tr>
                                <div class="clear"></div>
                            </table>
                                <div id="fields">

                                </div>




                            <table style="width: 100%">
                                <div class="form-group">
                                    <tr><td style="width: 15%">
                                            <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.idRaison, "Raison de l'intervention: ") }}</label>
                                        </td>
                                        <td>
                                            <div class="col-md-3" style="width: 30%"> {{ form_widget(form.idRaison) }}
                                            </div>
                                        </td>
                                    </tr>
                                </div>
                            </table>
                            <table style="width: 100%"><div class="form-group">
                                    <tr style="width: 100%"><td style="width: 34%">
                                            <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.agent1, "Agent de maintenance: ") }}</label>

                                        </td>
                                        <td style="width: 17%">
                                            <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.nbHeures1, "nb heures: ") }}</label>
                                        </td>
                                        <td >
                                            <label class="col-md-2 control-label" style="width: 50%">{{ form_label(form.piece1, "Pièces jointes: ") }}</label>

                                        </td></tr>


                                </div></table>
       <!--------------------------------------------------------------------------------------------------------->
                            <div class="row">
                                <div class="form-group">
                                    <div class="row" style="width: 45%; margin-left: 1.5%; float:left;">
                                        <table style="width: 100%">
                                            <tr style="width: 100%"><td style="width: 50%">
                                        <div class="col-sm-12 ">

                                            <div class="input-group">

                                                {{ form_widget(form.agent1) }}
                                                <div class="input-group-btn">
                                                    <button class="btn btn-success" type="button"  onclick="add_agent();"> +  </button>
                                                </div>
                                            </div>

                                        </div>
                                                </td>
                                                <td style="width: 17%">
                                        <div class="col-sm-8 ">
                                            <div class="form-group">

                                                <input type="number" min="0" id="interventionbundle_trvintervention_nbHeures1" name="interventionbundle_trvintervention[nbHeures1]"
                                                       class="form-control" style="margin-top: 20%">


                                            </div>
                                        </div>

                                        <div class="clear"></div>
                                                </td></tr>
                                        </table>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div id="add_agent">
                                        </div>

                                    </div>

                                    <div class="row" style="width: 50%;  float:right;">
                                        <div class="input-group" style="width: 30%">

                                            {{ form_widget(form.piece1) }}
                                            <div class="input-group-btn">
                                                <button class="btn btn-success" type="button"  onclick="add_file();"> +  </button>

                                            </div>
                                        </div>
                                        {{ form_widget(form.file1) }}
                                        <div class="clear"></div><div id="add_file">

                                        </div>

                                    </div>
                                </div>

                            </div>
        <!----------------------------------------------------------------------------------------------------->
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div>
                                <div class="col-md-2"></div>  <label class="col-md-1 control-label" >{{ form_label(form.observateur, "Observateurs: ") }}</label>
                                <div class="col-md-3" style="width: 50%"> <select id="interventionbundle_trvintervention_observateur" name="interventionbundle_trvintervention[observateur][]" class="chosen form-control input-sm chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single" multiple="multiple" style="display: none;">
                                        {% for u in users %}
                                            <option value="{{ u.id }}"> {{ u.displayName }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="box-footer"><div class="row"> <div class="col-xs-4">  </div>
                                <div class="col-xs-2">  {{ form_widget(form.valider) }}
                                </div><div class="col-xs-1">  </div><button class="btn btn-default" onClick="window.print()">Imprimer</button></div>


                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                </div>
            </div>
            {{ form_widget(form.countNat, {'value' :  1  }) }}
            {{ form_widget(form.countAgent, {'value' : 1  }) }}
            {{ form_widget(form.countFile, {'value' :  1  }) }}
        </form>

    </section>
    {{ app.session.remove('success') }}
    <script>
        var  next = 1, next_id= 1, x=1;

        function fields() {

            next ++;
            var objTo = document.getElementById('fields')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group removeclass"+next);
            var rdiv = 'removeclass'+next;
            $.getJSON('../ajout/nature', function(data) {
                divtest.innerHTML = '<table width="100%"><tr style="width: 100%"><td style="width: 42.5%"><div class="col-sm-10"><div class="form-group"> <div class="input-group"><select id="interventionbundle_trvintervention_nature' + next + '" name="interventionbundle_trvintervention[nature' + next + ']" class="form-control" onchange="type_select('+ next +')"> '+data+' </select><div class="input-group-btn"><button class="btn btn-danger" type="button" onclick="remove_fields('+ next +');"> -  </button></div></div></div></div>' +
                    '</td><td><div class="col-sm-7"><div class="form-group"> <select class="form-control" id="interventionbundle_trvintervention_type' + next + '" name="interventionbundle_trvintervention[type' + next + ']"><option value=""></option> </select> </div></div><div class="clear"></div></td></tr></table>';

            });
            objTo.appendChild(divtest)
            document.getElementById("interventionbundle_trvintervention_countNat").value= next;

        }
        function remove_fields(rid) {
            $('.removeclass'+rid).remove();
            next --;
            document.getElementById("interventionbundle_trvintervention_countNat").value= next;

        }

        function type_select(id) {
            var nat = $("select#interventionbundle_trvintervention_nature"+ id +" option:selected").val();
            if (nat != '0') {
                $.ajax({
                    async: false,
                    dataType: "json",
                    type: "POST",
                    url: "../ajout/types",
                    data: {nat: nat},
                    cache: false,
                    error: function (jqXHR, textStatus, errorThrown) {
                    },
                    success: function (html) {
                        $("select#interventionbundle_trvintervention_type"+id).html(html);
                    }
                });
            }

        }
        function add_agent() {
            next_id ++;
            var objTo = document.getElementById('add_agent')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group removeclass1"+next_id);
            var rdiv = 'removeclass1'+next_id;
            $.getJSON('../ajout/agent_maint_tr', function(data) {
                divtest.innerHTML = ' <table style="width: 100%"> <tr style="width: 100%"><td style="width: 50%"> <div class="col-sm-12 "><div class="form-group"> <div class="input-group"><select id="interventionbundle_trvintervention_agent' + next_id + '" name="interventionbundle_trvintervention[agent' + next_id + ']" ' +
                    'class="form-control" >'+data+' </select><div class="input-group-btn"><button class="btn btn-danger" type="button" onclick="remove_agent(' + next_id + ');"> -  </button></div></div></div></div>' +
                    '</td><td style="width: 17%"><div class="col-sm-8 "><div class="form-group"> <input type="number" min="0" class="form-control" id="interventionbundle_trvintervention_nbHeures' + next_id + '" name="interventionbundle_trvintervention[nbHeures' + next_id + ']"> </input> </div></div><div class="clear"></div></td></tr></table>';
            });
            objTo.appendChild(divtest)
            document.getElementById("interventionbundle_trvintervention_countAgent").value= next_id;
        }
        function remove_agent(rid) {
            $('.removeclass1'+rid).remove();

            document.getElementById("interventionbundle_trvintervention_countAgent").value=$('#interventionbundle_trvintervention_countAgent').val()-1;
        }

        function add_file() {
            x ++;
            var objTo = document.getElementById('add_file')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group removeclass2"+x);
            var rdiv = 'removeclass2'+x;
            divtest.innerHTML = '<div class="input-group" style="width: 30%"> <input type="text" id="interventionbundle_trvintervention_piece'+ x +'" name="interventionbundle_trvintervention[piece'+ x +']" class="form-control" style="width: 200px">'+
                '<div class="input-group-btn"> <button class="btn btn-danger" type="button"  onclick="remove_file(' + x + ');"> -  </button></div></div><input type="file" id="interventionbundle_trvintervention_file'+ x +'" name="interventionbundle_trvintervention[file'+x+']" onchange="file_name('+ x +')">';

            objTo.appendChild(divtest)
            document.getElementById("interventionbundle_trvintervention_countFile").value= x;
        }
        function remove_file(rid) {
            $('.removeclass2'+rid).remove();
            document.getElementById("interventionbundle_trvintervention_countFile").value=$('#interventionbundle_trvintervention_countFile').val()-1;
        }

        function file_name(i) {
            var str = $('#interventionbundle_trvintervention_file'+i).val();
            var pieces = str.split("\\").pop(-1);
            document.getElementById("interventionbundle_trvintervention_piece"+i).value =pieces;
        }

    </script>


{% endblock %}