{% extends 'InterventionBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@InterventionBundle/Resources/public/js/liste_interventions.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <section class="content-header" >

        <h3 style="color: #367fa9">Liste des interventions</h3></section>
    &nbsp;
    <section class="content">
        <div class="row">

            <form id="recherche" class="form-horizontal" action="{{ path('filtrer')}}" role="form" method="post">
                <div class="box box-danger" >
                    <div class="box-header with-border">
                        <h3 class="box-title">Critères de recherches</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1">  Assistante:</div> <div class="col-md-3"> {{ form_widget(form.assistante,{'value': app.session.get('assistante')}) }}</div>
                            <div class="col-md-1"> Statut:</div> <div class="col-md-3">
                                <select id="interventionbundle_recherche_statut" name="interventionbundle_recherche[statut][]"
                                class="chosen form-control input-sm chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single"
                                        multiple="multiple" style="display: none;">
                                    {% for statut in statuts %}
                                    {% if statut.id in app.session.get('statut') %}
                                    <option selected value="{{ statut.id }}">{{ statut.libelle }}</option>
                                    {% else %}
                                        <option value="{{ statut.id }}">{{ statut.libelle }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">   Agent de maintenance:</div> <div class="col-md-3">
                                <select id="interventionbundle_recherche_agent" name="interventionbundle_recherche[agent][]"
                                        class="chosen form-control input-sm chosen-select chosen-container chosen-container-single
                                        chosen-with-drop chosen-container-active chosen-search chosen-drop chosen-single"
                                        multiple="multiple" style="display: none;">
                                    {% for agent in agents %}
                                    {% if agent.id in app.session.get('agent') %}
                                    <option selected value="{{ agent.id }}"> {{ agent.displayname }}</option>
                                    {% else %}
                                        <option value="{{ agent.id }}"> {{ agent.displayname }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1">   Lieu:</div> <div class="col-md-3">
                                <select id="interventionbundle_recherche_lieu" name="interventionbundle_recherche[lieu]" class="form-control">
                                    <option value=""></option>
                                    {% for lieu in lieux %}
                                    {% if lieu.id == app.session.get('lieu') %}
                                        <option selected value="{{ lieu.id }}">{{ lieu.name }}</option>
                                    {% else %}
                                        <option value="{{ lieu.id }}">{{ lieu.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">  Date:</div> <div class="col-md-3">{{ form_widget(form.date,{'value':app.session.get('date')}) }}</div>
                            <div class="col-md-1">  Nature:</div><div class="col-md-3">
                                <select id="interventionbundle_recherche_nature" name="interventionbundle_recherche[nature]" class="form-control">
                                    <option value=""></option>
                                    {% for nature in natures %}
                                        {% if nature.id == app.session.get('nature') %}
                                        <option selected value="{{ nature.id }}">{{ nature.libelle }}</option>
                                    {% else %}
                                        <option value="{{ nature.id }}">{{ nature.libelle }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-1"> Raison:</div><div class="col-md-3">
                                <select id="interventionbundle_recherche_raison" name="interventionbundle_recherche[raison]" class="form-control">
                                    <option value=""></option>
                                    {% for raison in raisons %}
                                        {% if raison.id == app.session.get('raison') %}
                                    <option selected value="{{ raison.id }}">{{ raison.libelle }}</option>
                                    {% else %}
                                        <option value="{{ raison.id }}">{{ raison.libelle }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1">  Date Intervention:</div> <div class="col-md-3">{{ form_widget(form.dateIntervention, {'value':app.session.get('date_interv')}) }}</div>
                        </div>
                            <div class="col-md-12" style="margin-top: 2%">
                                <div class="col-md-9"></div><div class="col-md-3" style="float: right">
                                    <button type="button" id="interventionbundle_recherche_afficherTout" name="interventionbundle_recherche[afficherTout]" class="btn btn-danger"><a style="color: white;;" href="{{ path('fetch_all_interventions') }}">Afficher tout</a></button>
                                    {{ form_widget(form.chercher) }}
                                </div>
                            </div>

                    </div>
                </div>
                </div>
            </form>
            <div class="box box-danger" style="overflow-x: scroll">

                <div class="box-body" style="width: 100%">

                    <!-- <div style="overflow-x:auto; max-height: 500px">-->
                    <table id="tabRecherche" class="table table-striped table-bordered table-responsive tablesorter" cellspacing="0" width="100%" >
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Assistante</th>
                            <th>Statut</th>
                            <th style="width: 9%">Date</th>
                            <th>Lieu</th>
                            <th>Nature - Type</th>
                            <th>Raison</th>
                            <th>Agent de maintenance</th>
                            <th>Date Intervention</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions %}
                            {% set nature = intervention.nature|replace({',': "\n"}) %}
                            <tr>
                                <td><a href="{{ path('fiche_intervention', {'id': intervention.id }) }}">{{ intervention.id }}</a></td>
                        <td>{{ intervention.assistante }}</td>
                        <td>{{ intervention.statut }}</td>
                        <td>{{ intervention.date|date('Y-m-d') }}</td>
                        <td>{{ intervention.lieu }}</td>
                        <td>{{ nature }}</td>
                        <td>{{ intervention.raison }}</td>
                        <td>{{ intervention.agent }}</td>
                        <td>{{ intervention.date_intervention|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {{ app.session.remove('assistante') }}
    {{ app.session.remove('lieu') }}
    {{ app.session.remove('date') }}
    {{ app.session.remove('nature') }}
    {{ app.session.remove('raison') }}
    {{ app.session.remove('date_interv') }}


{% endblock %}