{% extends 'InterventionBundle:layout:base.html.twig' %}
{% block body %}


    <section class="content-header" >
        <h3 style="color: #367fa9">Saisie du matériel</h3></section>
    <section class="content">
    &nbsp
    <div class="row">
    <div class="box box-danger" >

    <div class="box-body">
    <div class="row">
    <div class="form-group">
        <table style="width: 100%">
            <tr>
                <td><label class="col-md-2 control-label" style="width: 50%">Fiche d'intervention:</label>{{ interv.id }}</td>
                <td></td>
                <td><label class="col-md-2 control-label" style="width: 50%">Assistante: </label>{{ interv.assistante.displayName }}</td>
            </tr>
            <tr>
                <td><label class="col-md-2 control-label" style="width: 50%">Date de la demande:</label> {{ interv.dateDemande|date('Y-m-d') }}</td>
                <td><label class="col-md-2 control-label" style="width: 50%">Début d'intervention:</label> {{ interv.dateDebut|date('Y-m-d') }}</td>
                <td><label class="col-md-2 control-label" style="width: 50%">Fin d'intervention:</label> {{ interv.dateFin|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <td><label class="col-md-2 control-label" style="width: 50%">Lieu d'intervention:</label> {{ lieuId }} - {{ lieu }}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table style="width: 100%">
            <tr>
                <td> <label class="col-md-2 control-label" >Travaux à réaliser: </label><div class="col-md-9" style="width: 80%">{{ interv.travaux }}</div></td>

            <tr>

            </tr>


        </table>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% for agent in agents %}

                <div class="col-md-12">
               {{ agent.idUser.displayName }} :
                {{ agent.nbHeures }}H
                </div>

                {% endfor %}
        <div class="col-md-2"> </div>  <table id="facture_tab" class="table table-striped table-bordered table-responsive tablesorter" cellspacing="0" style="width: 50%"  >
            <thead>
            <tr>
                <th>Facture</th>
                <th >Fournisseur</th>
                <th >Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for facture in factures %}
                <tr>
                    <td>
                     {{ facture.id }}
                    </td>
                    <td>
                        {{ facture.fournisseur.nom }}
                    </td>
                    <td>
                        {{ facture.montant }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <form id="saisie_frais" name="saisie_frais" action="{{ path('saisie_frais', {'id': interv.id})}}" role="form" method="post" {{ form_enctype(form) }}>
           <div class="col-md-12" style="margin-top: 3%"> <div class="col-md-2">Ville de départ: </div> <div class="col-md-3">{{ form_widget(form.villeDep, {'value' :  interv.depart  }) }}</div>
               <div class="col-md-2">Ville d'arrivée: </div> <div class="col-md-3">{{ form_widget(form.villeArrivee, {'value' :  interv.arrivee  }) }}</div></div>
            <div class="col-md-12"><div class="col-md-2">Nombre de véhicules: </div> <div class="col-md-3">{{ form_widget(form.nbrVehicules, {'value' :  interv.idTournee.nbvehicule  }) }}</div>
                <div class="col-md-2">Nombre de Kilomètres: </div> <div class="col-md-3">{{ form_widget(form.nbrKm, {'value' :  interv.idTournee.nbkm  }) }}</div></div>
            <div class="col-md-12"> <div class="col-md-2">Total hébergement: </div> <div class="col-md-3">{{ form_widget(form.hebergement, {'value' :  interv.idTournee.hebergement  }) }}</div>
                <div class="col-md-2">Total repas: </div> <div class="col-md-3">{{ form_widget(form.repas, {'value' :  interv.idTournee.repas  }) }}</div></div>
 <div class="col-md-12" style="margin-top: 2%"> <div class="col-md-2">Commentaire: </div><div class="col-md-8">{{ form_widget(form.commentaireAgent) }}</div></div>
            <div class="col-md-12" style="margin-top: 2%">
                <div class="col-md-2">Pièce jointe: </div>
                <div class="col-md-3">{{ form_widget(form.file) }}</div>
                <div class="col-md-12" style="margin-top: 4%">
                    <div class="col-md-3"></div>{{ form_widget(form.sauvegarder) }}<div class="col-md-2"></div>
                    <button class="btn btn-default" onClick="window.print()">Imprimer</button>
                </div>
            </div>
        </form>
    </div>


































    </div>
    </div>
    </div>
    </div>
    </section>

{% endblock %}