{% extends 'InterventionBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@InterventionBundle/Resources/public/js/saisie_materiel.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <section class="content-header" >
        <h3 style="color: #367fa9">Saisie du matériel</h3></section>
    <section class="content">
    &nbsp;<form id="saisie_matériel" name="saisie_matériel" action="{{ path('materiel', {'id': interv.id})}}" role="form" method="post" {{ form_enctype(form) }} >
        <div class="row">
            <div class="box box-danger" >

                <div class="box-body">
                    <div class="row">
                        <div class="form-group">
                        <table style="width: 100%">
         <tr>
             <td><label class="col-md-2 control-label" style="width: 50%">Fiche d'intervention:</label>{{ interv.id }}</td>
             <td></td>
             <td><label class="col-md-2 control-label" style="width: 50%">Assistante: </label>{{ interv.assistante.displayName }}</td>
         </tr>
                            <tr>
                                <td><label class="col-md-2 control-label" style="width: 50%">Date de la demande:</label> {{ interv.dateDemande|date('Y-m-d') }}</td>
                                <td><label class="col-md-2 control-label" style="width: 50%">Début d'intervention:</label> {{ interv.dateDebut|date('Y-m-d') }}</td>
                                <td><label class="col-md-2 control-label" style="width: 50%">Fin d'intervention:</label> {{ interv.dateFin|date('Y-m-d') }}</td>
                            </tr>
                            <tr>
                                <td><label class="col-md-2 control-label" style="width: 50%">Lieu d'intervention:</label> {{ lieuId }} - {{ lieu }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                            <table style="width: 100%">
                                <tr>
                                    <td> <label class="col-md-2 control-label" >Travaux à réaliser: </label><div class="col-md-9" style="width: 80%">{{ interv.travaux }}</div></td>

                            <tr>

                            </tr>


                        </table>
                        </div>
                        <div class="col-md-12">
                        <div class="panel panel-default">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="row">
                                <div class="form-group">
                            <div class="col-md-12">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <div class="col-md-2" style="width: 20%"> {{ form_widget(form.facture1) }}</div>
                                <div class="col-md-1">   Référence: </div> <div class="col-md-2">{{ form_widget(form.reference1) }}</div>
                                <div class="col-md-1">      Fournisseur: </div><div class="col-md-2">
                                    <select onchange="verif_fournisseur(1)"  id="interventionbundle_trvfacture_fournisseur1" name="interventionbundle_trvfacture[fournisseur1]" class="form-control input-sm">
                                    <option  value></option>
                                        {% for f in fournisseur %}
                                        <option value="{{ f.id }}"> {{ f.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2"> <div class="input-group">{{ form_widget(form.nvFournisseur1) }}<div class="input-group-btn">
                                            <button class="btn btn-success form-control input-sm" type="button" id="nv_fourniss1" onclick="ajouter_fournisseur(1);" style="display: none"> +  </button>
                                        </div>
                                    </div></div>

                            </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="col-md-12"><div class="col-md-1">Montant</div> <div class="col-md-2">
                                            <input type="number" min="0" step="0.01" id="interventionbundle_trvfacture_montant1" name="interventionbundle_trvfacture[montant1]" class="form-control input-sm">
                                        </div> {{ form_widget(form.file1) }}
                                    </div> </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                            <button type="button" id="interventionbundle_trvfacture_ajouterUneFacture" name="interventionbundle_trvfacture[ajouterUneFacture]"
                                    class="btn btn-default" value="Ajouter une facture" onclick="ajouter_facture();">Ajouter une facture</button>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <div id="nouvelleFacture"></div>
                        <div class="col-md-12">
                        Commentaire:
                        {{ form_widget(form.commentaire,{ 'attr': {'cols': '122', 'rows': '6'} }) }}
                        </div>



                        <div class="col-md-5"></div>
                        <button style="margin-top: 2%" type="submit" id="interventionbundle_trvfacture_sauvegarder"  class="btn btn-danger">Sauvegarder</button>
                        {{ form_widget(form.countFacture, {'value' :  1  }) }}
                    </div>

                </div>
            </div>
        </div>

    </form>


    </section>


    <script>
        var  next = 1;

        function ajouter_facture() {
            next ++;
            var objTo = document.getElementById('nouvelleFacture')
            var divtest = document.createElement("div");
            //divtest.setAttribute("class", "form-group removeclass"+next);
            //var rdiv = 'removeclass'+next;
            $.getJSON('../../facture/fournisseur', function(data) {
                divtest.innerHTML = '<div class="col-md-12"> <div class="panel panel-default"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<div class="row"> <div class="form-group"> <div class="col-md-12"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<div class="col-md-2" style="width: 20%"> <div id="interventionbundle_trvfacture_facture' + next + '"> <input type="radio" id="interventionbundle_trvfacture_facture' + next + '_0" name="interventionbundle_trvfacture[facture' + next + ']" required="required" value="0" checked="checked">' +
                    '<label for="interventionbundle_trvfacture_facture' + next + '_0" class="required">Facture</label>' +
                    '<input type="radio" id="interventionbundle_trvfacture_facture' + next + '_1" name="interventionbundle_trvfacture[facture' + next + ']" required="required" value="1">' +
                    '<label for="interventionbundle_trvfacture_facture' + next + '_1" class="required">Bon de livraison</label></div></div> <div class="col-md-1">   Référence: </div> <div class="col-md-2"><input type="text" id="interventionbundle_trvfacture_reference' + next + '" name="interventionbundle_trvfacture[reference' + next + ']" class="form-control input-sm"></div>' +
                    '<div class="col-md-1">      Fournisseur: </div><div class="col-md-2"><select id="interventionbundle_trvfacture_fournisseur' + next + '" name="interventionbundle_trvfacture[fournisseur' + next + ']" onchange="verif_fournisseur('+ next +')" class="form-control input-sm">'+data+'</select></div> <div class="col-md-2"><div class="input-group"><input style="display: none" type="text" id="interventionbundle_trvfacture_nvFournisseur' + next + '" name="interventionbundle_trvfacture[nvFournisseur' + next + ']" class="form-control input-sm">' +
                    '<div class="input-group-btn">'+
                    '<button class="btn btn-success form-control input-sm" id="nv_fourniss' + next + '" type="button"  onclick="ajouter_fournisseur(' + next + ');" style="display: none"> +  </button>'+
                    '</div> </div></div>' +
                    '</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="col-md-12"><div class="col-md-1">Montant</div> <div class="col-md-2">' +
                    '<input type="number" min="0" step="0.01" id="interventionbundle_trvfacture_montant' + next + '" name="interventionbundle_trvfacture[montant' + next + ']" class="form-control input-sm">' +
                    '</div><input type="file" id="interventionbundle_trvfacture_file' + next + '" name="interventionbundle_trvfacture[file' + next + ']"> </div> </div> </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div></div>';
            });
            document.getElementById("interventionbundle_trvfacture_countFacture").value= next;
            objTo.appendChild(divtest)

        }
        function verif_fournisseur(i) {

            if($("#interventionbundle_trvfacture_fournisseur"+i).val()== 1){
                //alert(i)
                $("#interventionbundle_trvfacture_nvFournisseur"+i).show();
                $("#nv_fourniss"+i).show();
            }
            else {
                $("#interventionbundle_trvfacture_nvFournisseur"+i).hide();
                $("#nv_fourniss"+i).hide();
            }

        }

    </script>

{% endblock %}