{% extends "DDRCBundle::base.html.twig" %}

{% block body -%}
    <h1>CB Over80 edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cbover80') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
