/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


.tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
    width: 0px;
    visibility: hidden;
}
.tablesorter .tablesorter-filter-row td:nth-child(2) .tablesorter-filter {
    width: 30px;
}
.tablesorter .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
    width: 20px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4) .tablesorter-filter {
    width: 150px;
}

.tablesorter .tablesorter-filter-row td:nth-child(5) .tablesorter-filter {
    width: 100px;
}

.tablesorter .tablesorter-filter-row td:nth-child(6) .tablesorter-filter {
    width: 80px;
}

.tablesorter .tablesorter-filter-row td:nth-child(7) .tablesorter-filter {
    width: 70px;
}

.tablesorter .tablesorter-filter-row td:nth-child(8) .tablesorter-filter {
    width: 70px;
}


.tablesorter .tablesorter-filter-row td:nth-child(9) .tablesorter-filter {
    width: 70px;
}

table.tablesorter tr.sctInactive td{
	background-color: #e7c3c3 !important;
}