
.tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
    width: 0px;
    visibility: hidden;
}
.tablesorter .tablesorter-filter-row td:nth-child(2) .tablesorter-filter {
    width: 30px;
}
.tablesorter .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
    width: 20px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4) .tablesorter-filter {
    width: 150px;
}

.tablesorter .tablesorter-filter-row td:nth-child(5) .tablesorter-filter {
    width: 100px;
}

.tablesorter .tablesorter-filter-row td:nth-child(6) .tablesorter-filter {
    width: 80px;
}

.tablesorter .tablesorter-filter-row td:nth-child(7) .tablesorter-filter {
    width: 70px;
}

.tablesorter .tablesorter-filter-row td:nth-child(8) .tablesorter-filter {
    width: 70px;
}


.tablesorter .tablesorter-filter-row td:nth-child(9) .tablesorter-filter {
    width: 70px;
}

table.tablesorter tr.sctInactive td{
	background-color: #e7c3c3 !important;
}