var cache = {};
 
$(document).ready(function(){
	source=new Array;
	$.ajax({
		url: "/Symfony/web/app_dev.php/suivi-etudes/suiviAjax",
		dataType: "json",
		type: 'POST',
		async:false,
		cache: false,
		error: function(jqXHR,textStatus, errorThrown ) {
			alert(jqXHR.responseText);
		},
		success: function (data)
		{
			if (data != null && data.length != 0) {
				for(var i=0;i<data.length;i++) {
					source[i]=data[i].user;
				}				
			}
		}
	});	

	 function split( val ) {
		 return val.split( /,\s*/ );
		 }

	 function extractLast( term ) {
		 return split( term ).pop();
		 }
	 
	$(".mail-autocomplete")
		 .bind( "keydown", function( event ) {
			 if ( event.keyCode === $.ui.keyCode.TAB &&
					 $( this ).autocomplete( "instance" ).menu.active ) {
				 event.preventDefault();
			 	}
		 	})	
			.autocomplete({
				source: function( request, response ) {
					response( $.ui.autocomplete.filter(
					source, extractLast( request.term ) ) );					
				},
				 focus: function() {
					// prevent value inserted on focus
					return false;
				},
				 select: function( event, ui ) {
					 var terms = split( this.value );
					 // remove the current input
					 terms.pop();
					 // add the selected item
					 terms.push( ui.item.value );
					 // add placeholder to get the comma-and-space at the end
					 terms.push( "" );
					 this.value = terms.join( ", " );
					 return false;
				 }					
			});
	});