/**
 * FICHIER JQUERY POUR LA GESTION DU LIEN DIRECTION -SERVICEE
 * 
 * @author lolive_mi
 * @date : 28.10.2014
 * 
 */

function displayServices() {
	
	$('#suivi_etudesbundle_demande_service').empty();
	$("#suivi_etudesbundle_demande_service").removeAttr('disabled');
	var direction = $('#suivi_etudesbundle_demande_direction option:selected').val();
	if (direction != "") {
		var type = "service";
		$.ajax({                                                                                                        
			dataType: "json",
			type: "POST",
			url: "/Symfony/web/app_dev.php/direction/getservices",
			data: { type: type, direction: direction},  
			async:false,
			cache: false,
			error: function(jqXHR,textStatus, errorThrown ) {
				alert(jqXHR.responseText);
			},
			success: function(services){
				if (services != null && services.length != 0) {
					$("select#suivi_etudesbundle_demande_service").append('<option value=""></option');
				for(var i=0;i<services.length;i++) {
						$("select#suivi_etudesbundle_demande_service").append('<option value='+services[i].srv_id+'>'+services[i].srv_libelle+'</option');
					}
				}
				else {
					$("select#suivi_etudesbundle_demande_service").append('<option value="0">Pas de service</option');
					$("select#suivi_etudesbundle_demande_service").attr('disabled', true);
				}
			}
		});
	}
	else {
		$("select#suivi_etudesbundle_demande_service").append('<option value="">-- Choisir une direction --</option');
		$("select#suivi_etudesbundle_demande_service").attr('disabled', 'disabled');
	}
}


//Initialisation de l'affichage
$(document).ready(function() { 	
	displayServices();
	$('#suivi_etudesbundle_demande_direction').on("change", function() {
	    displayServices();
	});

});