<ul class="sidebar-menu">
    {% for category, list in menu.access %}
        {% if (menu.category == 'AllAccess') or (menu.category == category) %}
        <li class="{% if app.request.attributes.get('_route') starts with 'indicateurs_dam_equipe_' ~ category %}active {% endif %}treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span style='text-transform: uppercase;'>EQUIPES {{ category }}</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                {% if (menu.category == 'AllAccess') or (menu.fonction == 'Manager') %}
                <li class="{% if app.request.uri ends with category %}active{% endif %}">
                    <a href="{{ path('indicateurs_dam_equipes', {'category': category }) }}">
                        <i class="fa{% if app.request.uri ends with category %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                        Toutes les équipes
                    </a>
                </li>
                {% endif %}
                {% for team in list %}
                    <li class="{% if app.request.uri ends with team.code %}active{% endif %}">
                        <a href="{{ path('indicateurs_dam_equipe_' ~ category, {'equipe': team.code }) }}">
                            <i class="fa{% if app.request.uri ends with team.code %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                            {{ team.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>          
        </li>
        {% endif %}
    {% endfor %}
</ul>