
<html>
Bonjour,<br/>";
    {{ dmd.prenomDemandeur() }} {{ dmd.nomDemandeur()}} ({{ dmd.mailDemandeur()}}) vient de déposer une demande de recrutement
pour un poste de {{ dmd.posteBridgeId.pst.pstLibelle }} <br/>
Vous trouverez le détail de cette offre en cliquant sur ce lien :
<a href={{ path('suivie', {'id': dmd.id}) }}>Voir la fiche de la demande</a><br/><br/>
Bonne réception.

</html>