{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}

        <section class="content-header">
            <h1>
                Ajouter Poste
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <form action="{{ path('add_poste_valid') }}" method="post" class="form-horizontal" id="myform">

                        <!-- Horizontal Form -->
                        <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Poste</h3>
                                    </div>
                                    <div class="box-body">
                               <div class="row">

                                    <div class="col-md-6">
                                        <strong>  Poste :</strong>
                                    </div>                            <div class="col-sm-6">
                                        {{ form_widget(form.posteHolder) }}
                                    </div>

                                </div>

                            </div>


                            <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_poste') }}">{{ form_row(form.Annuler) }}</a></div>
                                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>


                            </div>
                        </div>
                    </form>
                </div>
            </div></section>

    {% endblock %}