{% extends 'AdminBundle:layout:base.html.twig' %}

{% block body %}
<script>
    $('#loading').show();

</script>
<section class="content-header">
    <h1>
        Liste Des Postes

    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><a href="{{ path('add_poste')}}" class="button" style="color:#00C0EF">Ajouter un poste:
                            <span class="glyphicon glyphicon-plus"></span>
                        </a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="loading" style="margin-left: 420px;margin-top: 90px;margin-bottom: 90px;">
                        <img src="{{ asset('img/dmli-loader.gif') }}" alt="Wait"/>

                    </div>
            <div class="row" id="tabledmli" hidden>

                    <div class="col-xs-12">

                        <table id="example"  class="table table-striped table-bordered table-hover table-responsive" style="padding-left: 2px; width: 100%">
                            <thead>
                            <tr style="background-color: #00C0EF">
                                <td style="color: #ffffee"><strong>Poste</strong></td>

                                <td></td>
                            </tr>
                            <tr>
                                <th>Poste</th>

                                <td style="display: none"></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in result %}
                                <tr>
                                    <td>{{ item.libelle }}</td>

                                    <td style="width: 8%">
                                        <div class="row" style="margin-left: 4px;">
                                            {% if is_granted('ROLE_DMLI_ADMIN') or is_granted('ROLE_SET_TECH') %}
                                        <a style="padding-left: 2px;" href="{{ path('edit_poste', {'id': item.id})}}" title="Modifier un poste">
                                            <span class="glyphicon glyphicon-pencil" style="color: #00a65a"></span>
                                        </a>
                                        <a style="padding-left: 8px" href="{{ path('remove_poste', {'id': item.id})}}"  onclick="return confirm('Vous voulez confirmer la suppression?')" title="Supprimer un poste">
                                            <span class="glyphicon glyphicon-remove" style="color:#CC3300"></span>
                                        </a>
                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
</div>
</div>
        </div></div></div></section>
    <div class="col-md-3">

        </div>
</div>
        <div class="col-md-3">
            {% include "AdminBundle:layout:guide.html.twig" %}
        </div>
    </div>


    <script>
        $(document).ready(function () {

            $('#example thead th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Recherche ' + title + '" />');
            });
            // DataTable
           var table = $('#example').DataTable({
                "fnDrawCallback": function () {  $('#loading').hide(); $('#tabledmli').show();
                },
                "bProcessing": false,
                "bLengthChange": false,
               "iDisplayLength" : 80,

               "info":false,
                "language": {
                    "zeroRecords": "Pas d'enregistrement",
                    "infoEmpty": "Pas d'enregistrement",
                },
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                                .search(this.value)
                                .draw();
                    }
                });
            });

        });
    </script>
{% endblock %}
