{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Demandes de congé à partir du mois dernier {{ parent() }}
{% endblock %}
{% block body %}
    {{ include ("SuiviEtudesBundle:Conge:messages.html.twig") }}
    <section class="content-header">
        <h1>Demandes de congé à partir du mois dernier</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="box col-md-12">
                    <table id="holidayDatatables" class="table table-bordered table-striped table-hover" 
                           data-url="{{path('suivietudes_absence_list_by_departament_et_mois_ajax',{'poleIds':managerInfo.poleIds})}}">
                        <thead>
                            <tr role="row">
                                <th>No</th>
                                <th>Nom/Prenom</th>
                                <th>Type</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Jours</th>
                                <th>Approuvé</th>
                                <th>Actes</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Nom/Prenom</th>
                                <th>Type</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Jours</th>
                                <th>Approuvé</th>
                                <th>Actes</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Raison pour refuser </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" id="reason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extraStylesheets %}
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
{% endblock %}
{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script type="text/javascript">
        var index = 0;
        $(function () {
            var tableUrl = $("#holidayDatatables").attr('data-url');
            $('#holidayDatatables').DataTable({
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: tableUrl,
                "columns": [
                    {"data": function (row) {
                            index += 1;
                            return index;
                        }
                    },
                    {"data": "displayname"},
                    {"data": "absenceType"},
                    {"data": "startDate"},
                    {"data": "endDate"},
                    {"data": "days"},
                    {"data": function (row) { //validated
                            if (row.validatedBy !== "0" && row.refusReason === null) {
                                return '<span class="label label-primary">Oui par ' + row.validatedBy + '</span>';
                            } else if (row.validatedBy !== "0") {
                                return '<span class="label label-danger">Non par ' + row.validatedBy + '</span>';
                            } else {
                                return '<span class="label label-danger">Non</span>';
                            }
                        }
                    },
                    {"data": function (row) { //actions
                            if (row.canceled == "0" && row.validatedBy == "0") {
                                var okUrl = "{{path('suivietudes_absence_aprove', {'id':'JSID'})}}";
                                okUrl = okUrl.replace("JSID", row.id);
                                var NotUrl = "{{path('suivietudes_absence_disaprove', {'id':'JSID'})}}";
                                NotUrl = NotUrl.replace("JSID", row.id);
                                var buttons = '<button data-href="' + okUrl + '" class="btn btn-primary absenceAprove">Approuver</button>';
                                buttons += '\n<button type="button" class="btn btn-danger cancelBtn" data-toggle="modal" data-target="#modal" data-href="'
                                        + NotUrl + '">Ne pas approuver</button>';
                                return buttons;
                            } else {
                                return "-";
                            }
                        }
                    }
                ],
                bPaginate: true, // pagination
                bInfo: true, // total no of results
                bFilter: true, // search box
                order: [[ 6, "asc" ]]
            });
            /* end datatables */
           $(document).on('click', '.cancelBtn', function () {
                var url = $(this).attr('data-href');
                $('#modal').attr('data-href', url);
            });
            $(document).on('click', '.saveBtn', function () {
                var url = $('#modal').attr('data-href');
                var reason = $.trim($('#reason').val());
                if (reason == '') {
                    alert('Ajouter une raison s\'il vous plaît.');
                    return false;
                }
                $('#loader').show();
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {'reason': reason},
                    success: function () {
                        window.location.reload();
                    }
                });
            });
            $(document).on('click', '.absenceAprove', function () {
                var confirmAction = confirm('Vous ete sûr que vous voulez approuver cette demande de congé?');
                if (confirmAction == true) {
                    $('#loader').show();
                    var url = $(this).attr('data-href');
                    $.post(url, function () {
                        window.location.reload();
                    });
                }
            });
        });
    </script>
{% endblock %}
