{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Nouveau demande de congé {{ parent() }}
{% endblock %}
{% block body %}
    {{ include ("SuiviEtudesBundle:Conge:messages.html.twig") }}
    <p id="countryName" class="hidden">ROU</p>
    <section class="content-header">
        <h1>Nouveau demande de congé pour tech</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    {{form_start(form)}}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.tech) }}
                            {{ form_widget(form.tech, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.tech) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    {{ form_errors(form.tech) }}
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.type) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    {{ form_errors(form.type) }}
                                </div>
                            {%endif%}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.startDate) }}
                            <div class="input-group">
                                <div class="input-group-addon datepickerBtn">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.startDate, {'attr': {'class': 'form-control datepickerClass','readonly':true}}) }}
                            </div>
                            {%if form_errors(form.startDate) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    {{ form_errors(form.startDate) }}
                                </div>
                            {%endif%}
                        </div>   
                        <div class="form-group">
                            {{ form_label(form.endDate) }}
                            <div class="input-group">
                                <div class="input-group-addon datepickerBtn">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                {{ form_widget(form.endDate, {'attr': {'class': 'form-control datepickerClass','readonly':true}}) }}
                            </div>
                            {%if form_errors(form.endDate) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    {{ form_errors(form.endDate) }}
                                </div>
                            {%endif%}
                        </div>   
                        <div class="form-group">
                            {{ form_label(form.days) }}
                            {{ form_widget(form.days, {'attr': {'class': 'form-control', 'readonly':true}}) }}
                            {%if form_errors(form.days) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    {{ form_errors(form.days) }}
                                </div>
                            {%endif%}
                        </div> 
                        <div class="box-footer">
                            {{ form_widget(form._token) }}
                            {{form_widget(form.save, {'label': 'Sauvegarder ','attr': {'class': 'btn btn-primary'}})}}
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extraStylesheets %}
    <style>
        .markedDay a.ui-state-default {
            background: green !important;
        }
    </style>
{% endblock%}
{% block extraJavascripts %}
    <script type="text/javascript">
        var country = $("#countryName").text();
        /* Get catholic easter day*/
        function catholicEasterForYear(year) {
            var a = year % 19;
            var b = Math.floor(year / 100);
            var c = year % 100;
            var d = Math.floor(b / 4);
            var e = b % 4;
            var f = Math.floor((b + 8) / 25);
            var g = Math.floor((b - f + 1) / 3);
            var h = (19 * a + b - d - g + 15) % 30;
            var i = Math.floor(c / 4);
            var k = c % 4;
            var l = (32 + 2 * e + 2 * i - h - k) % 7;
            var m = Math.floor((a + 11 * h + 22 * l) / 451);
            var n0 = (h + l + 7 * m + 114)
            var n = Math.floor(n0 / 31) - 1;
            var p = n0 % 31 + 1;
            var date = new Date(year, n, p);
            // return formatted date for jquery calendar
            var formattedDay = date.getDate();
            var formattedMonth = date.getMonth();
            var date = new Date(year, n, p);
            var ascencion = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 39);
            var lundiPent = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 50); //Lundi de Pentecôte
            return [
                formattedDay + '-' + formattedMonth, (formattedDay + 1) + '-' + formattedMonth, //easter
                ascencion.getDate() + '-' + ascencion.getMonth(),
                lundiPent.getDate() + '-' + lundiPent.getMonth(),
            ]

        }
        /* Get orthodox easter day*/
        function orthodoxEasterForYear(year) {
            var a = year % 4;
            var b = year % 7;
            var c = year % 19;
            var d = (19 * c + 15) % 30;
            var e = (2 * a + 4 * b - d + 34) % 7;
            var month = Math.floor((d + e + 114) / 31);
            var day = ((d + e + 114) % 31) + 1;
            var date = new Date(year, month, day - 17);
            // return formatted date for jquery calendar
            var formattedDay = date.getDate();
            var formattedMonth = date.getMonth();
            // return formatted date for jquery calendar
            var dateRusalii = new Date(year, month, day - 17 + 50);
            var formattedRusaliiMonth = dateRusalii.getMonth();
            var formattedRusaliiDay = dateRusalii.getDate();
            // fix calculation for sunday
            if (date.getDay() != 0) {
                formattedDay = date.getDate() - 1;
                formattedRusaliiDay = dateRusalii.getDate() + 1;
            }
            // return Easter days and Rusalii days
            return [formattedDay + '-' + formattedMonth, (formattedDay + 1) + '-' + formattedMonth,
                formattedRusaliiDay + '-' + formattedRusaliiMonth, (formattedRusaliiDay + 1) + '-' + formattedRusaliiMonth]
        }


        /* return hollidays */
        function disableHolidays(date) {
            if (country == "ROU") {
                var easter = orthodoxEasterForYear(date.getFullYear());
                var holidays = [
                    '1-0', '2-0', //first 2 days of the year 1-2 january
                    easter[0], easter[1], // Easter 1st and 2nd day
                    easter[2], easter[3], // Rusalii 1st and 2nd day
                    '1-4', //labour day, may 1st
                    '15-7', //st. Mary's day, august 15th
                    '30-10', //st. Andrew, november 30th
                    '1-11', //national day of Romania, december 1st
                    '25-11', '26-11' //1st and 2nd deay of Christmas
                ];
            } else {
                var easter = catholicEasterForYear(date.getFullYear());
                var holidays = [
                    '1-0', //first day of the year
                    easter[0], easter[1], // Easter 1st and 2nd day
                    easter[2], //ester monday
                    easter[3], // Ascension
                    easter[4], //Lundi de Pentecôte
                    '1-4', //labour day, may 1st
                    '8-4', // Victoire des alliés
                    '14-6', //Fête nationale
                    '5-7', //Victoire des alliés
                    '15-7', //st. Mary's day, august 15th
                    '1-10', //Toussaint
                    '11-10', //Armistice
                    '25-11', //1st day of Christmas
                ];
            }

            var match = '';
            $.each(holidays, function (index, value) {
                if (date.getDate() + '-' + date.getMonth() === value) {
                    match = value;
                }
            });
            // weekends
            if (date.getDay() == 6 || date.getDay() == 0) {
                match = 1;
            }
            if (match == '') {
                return [true, '', ""];
            }
            return [true, 'ui-datepicker-unselectable ui-state-disabled markedDay', ""];
        }

        function calculateWorkingDays(startDate, endDate) {
            if (startDate != '' && endDate != '') {
                var startDate = $("#startDate").datepicker('getDate').getTime();
                var endDate = $("#endDate").datepicker('getDate').getTime();
                var milliseconds = 24 * 60 * 60 * 1000;
                var diffDays = Math.round(Math.abs((endDate - startDate) / (milliseconds))) + 1;
                var i = 0;
                var days = 0;
                if (country == "ROU") {
                    var easter = orthodoxEasterForYear(startDate);
                    var holidays = [
                        '1-0', '2-0', //first 2 days of the year 1-2 january
                        easter[0], easter[1], // Easter 1st and 2nd day
                        easter[2], easter[3], // Rusalii 1st and 2nd day
                        '1-4', //labour day, may 1st
                        '15-7', //st. Mary's day, august 15th
                        '30-10', //st. Andrew, november 30th
                        '1-11', //national day of Romania, december 1st
                        '25-11', '26-11' //1st and 2nd deay of Christmas
                    ];
                } else {
                    var easter = catholicEasterForYear(startDate);
                    var holidays = [
                        '1-0', //first day of the year
                        easter[0], easter[1], // Easter 1st and 2nd day
                        easter[2], //ester monday
                        easter[3], // Ascension
                        easter[4], //Lundi de Pentecôte
                        '1-4', //labour day, may 1st
                        '8-4', //labour day, may 1st
                        '14-6', //Fête nationale
                        '5-7', //Victoire des alliés
                        '15-7', //st. Mary's day, august 15th
                        '1-10', //Toussaint
                        '11-10', //Armistice
                        '25-11', //1st day of Christmas
                    ];
                }
                while (i < diffDays) {
                    var incrementDate = new Date(startDate + i * 24 * 60 * 60 * 1000);
                    var dayNo = incrementDate.getDay();
                    var dayMonth = incrementDate.getDate() + "-" + incrementDate.getMonth();
                    days++;
                    // decrement no of days if is weekend or holliday
                    if (dayNo == 0 || dayNo == 6 || $.inArray(dayMonth, holidays) !== -1) {
                        days--;
                    }
                    i++;
                }
                $("#days").val(days);
            }
        }
        $(function () {
            $('[name="tech"]').on("change", function () {
                $("#loader").show();
                var path = '{{path('suivietudes_absence_tech_country',{'techId':'TECHID'})}}';
                path = path.replace('TECHID', $(this).val());
                $.ajax({
                    url: path,
                    success: function (response) {
                        $('#countryName').text(response);
                        $("#loader").hide();
                        country = $("#countryName").text();
                    }
                });
            });
            /* Datepickers */
            var startDate = 0; // set startDate as today
            var maxYear = (new Date).getFullYear(); // set maxYear
            if ($("#startDate").val() != 0) {
                startDate = $("#startDate").val();
            }
            $('.datepickerBtn').on('click', function () {
                $(this).next().datepicker("show");
            });
            $("#startDate").datepicker({
                firstDay: 1,
                minDate: 0,
                dateFormat: "yy-mm-dd",
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#endDate").datepicker("option", "minDate", selected);
                    startDate = selected;
                    calculateWorkingDays($("#startDate").datepicker('getDate'), $("#endDate").datepicker('getDate'));
                },
                beforeShowDay: disableHolidays,
            });
            $("#endDate").datepicker({
                firstDay: 1,
                minDate: startDate,
                dateFormat: "yy-mm-dd",
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#startDate").datepicker("option", "maxDate", selected);
                    calculateWorkingDays($("#startDate").datepicker('getDate'), $("#endDate").datepicker('getDate'));
                },
                beforeShowDay: disableHolidays,
            });
            $('#type').on('change', function () {
                var type = $(this).val();
                if (type == 1) {
                    $("#startDate").datepicker("option", "maxDate", maxYear + '-12-31');
                } else {
                    $("#startDate").datepicker("option", "maxDate", null);
                }
            });
            /* END Datepickers */
        });
    </script>
{% endblock %}

