{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Demandes de congé par année {{ parent() }}
{% endblock %}
{% block body %}
    {{ include ("SuiviEtudesBundle:Conge:messages.html.twig") }}
    <section class="content-header">
        <h1>Demandes de congé par année</h1>
    </section>
    <section class="content">
        <div class="row box-header">
            <div class="form-group pull-left">
                {#<a href="{{path('suivietudes_absence_list_by_departament',{'year':year-1})}}" class="btn btn-primary">Precedent</a>#}
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-2">
                <div id="datePicker" class="input-group input-append date">
                    <input type="text" class="form-control col-lg-6" id="datepicker" disabled>
                    <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            {#<a href="{{path('suivietudes_absence_list_by_departament',{'year':year+1})}}" class="btn btn-primary pull-left">Suivant</a>#}
            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#timekeepingModal">Feuille d' heures</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Demandes de congé</a></li>
                        <li><a href="#tab2" data-toggle="tab">Gestion en heures</a></li>
                        <li><a href="#tab3" data-toggle="tab">Techniciens</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="box-body">
                                <div class="row col-sm-12">
                                    <table id="congeDatatables" class="table table-bordered table-striped table-hover tableFixed" 
                                           data-url="{{path('suivietudes_absence_list_by_departament_ajax',{'year':year,})}}">
                                        <thead>
                                            <tr role="row">
                                                <th>No</th>
                                                <th>Nom/Prenom</th>
                                                <th>Type</th>
                                                <th>Date de début</th>
                                                <th>Date de fin</th>
                                                <th>Jours</th>
                                                <th>Approuvé</th>
                                                <th>Actes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>No</th>
                                                <th>Nom/Prenom</th>
                                                <th>Type</th>
                                                <th>Date de début</th>
                                                <th>Date de fin</th>
                                                <th>Jours</th>
                                                <th>Approuvé</th>
                                                <th>Actes</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <table id="heuresTable" class="table table-bordered table-striped table-hover" 
                                   data-url="{{path('suivietudes_absence_gestion_en_heure_ajax',{'year':year})}}">
                                <thead>
                                    <tr role="row">
                                        <th>No</th>
                                        <th>Nom/Prenom</th>
                                        <th>Date</th>
                                        <th>Heures de récupération</th>
                                        <th>Approuvé</th>
                                        <th>Actes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Nom/Prenom</th>
                                        <th>Date</th>
                                        <th>Heures de récupération</th>
                                        <th>Approuvé</th>
                                        <th>Actes</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <table id="techDatatables" class="table table-bordered table-striped table-hover tableFixed" 
                                   data-url="{{path('suivietudes_absence_list_tech_by_departament_ajax',{'managerId':managerId,'year':year})}}">
                                <thead>
                                    <tr role="row">
                                        <th>No</th>
                                        <th>Nom/Prenom</th>
                                        <th>Departament</th>
                                        <th>Jours</th>
                                        <th>Jours restants</th>
                                        <th>Heures</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Nom/Prenom</th>
                                        <th>Departament</th>
                                        <th>Jours</th>
                                        <th>Jours restants</th>
                                        <th>Heures</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Raison pour refuser </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" id="reason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
    <!-- timekeepingModal -->
    <div class="modal fade" id="timekeepingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Feuille d' heures</h4>
                </div>
                <div>
                    {{ form_start(form) }}
                    <div class="form-group col-md-12">
                        {{ form_label(form.month) }}
                        <div class="input-group input-append date col-md-4">
                            {{ form_widget(form.month, {'attr': {'class': 'form-control col-xs-offset-1', 'readonly':true}}) }}
                            <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar col-xs-offset-6"></span></span>
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_label(form.departament) }}
                            {{ form_widget(form.departament, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
                <div class="modal-footer">
                    <a href="#" id="generateTimesheet" class="btn btn-primary pullLeft">Générer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraStylesheets %}
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
{% endblock %}
{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript">
        var index = indexTech = indexHours = 0;
        $(function () {
            $("#reason").val('');
            /* datatables */
            // conge
            var congeUrl = $("#congeDatatables").attr('data-url');
            $('#congeDatatables').DataTable({
                autoWidth: false, // fix autoresize if tab is inactive
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: congeUrl,
                "columns": [
                    {"data": function (row) {
                            index += 1;
                            return index;
                        }
                    },
                    {"data": "displayname"},
                    {"data": "absenceType"},
                    {"data": "startDate"},
                    {"data": "endDate"},
                    {"data": "days"},
                    {"data": function (row) { //validated
                            if (row.validatedBy !== "0" && row.refusReason === null) {
                                return '<span class="label label-primary">Oui par ' + row.validatedBy + '</span>';
                            } else if (row.validatedBy !== "0") {
                                return '<span class="label label-danger">Non par ' + row.validatedBy + '</span>';
                            } else {
                                return '<span class="label label-danger">Non</span>';
                            }
                        }
                    },
                    {"data": function (row) { //actions
                            if (row.canceled == "0" && row.validatedBy == "0") {
                                var okUrl = "{{path('suivietudes_absence_aprove', {'id':'JSID'})}}";
                                okUrl = okUrl.replace("JSID", row.id);
                                var NotUrl = "{{path('suivietudes_absence_disaprove', {'id':'JSID'})}}";
                                NotUrl = NotUrl.replace("JSID", row.id);
                                var buttons = '<button data-href="' + okUrl + '" class="btn btn-primary absenceAprove">Approuver</button>';
                                buttons += '\n<button type="button" class="btn btn-danger cancelBtn" data-toggle="modal" data-target="#modal" data-href="'
                                        + NotUrl + '">Ne pas approuver</button>';
                                return buttons;
                            } else {
                                return "-";
                            }
                        }
                    }
                ],
                bPaginate: true, // pagination
                bInfo: true, // total no of results
                bFilter: true, // search box
                order: [[ 6, "asc" ]]
            });

            var url = $('#heuresTable').attr('data-url');
            $('#heuresTable').DataTable({
                autoWidth: false, // fix autoresize if tab is inactive
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: url,
                "columns": [
                    {"data": function (row) {
                            indexHours += 1;
                            return indexHours;
                        }
                    },
                    {"data": "displayname"},
                    {"data": "startDate"},
                    {"data": "hours"},
                    {"data": function (row) { //validated
                            if (row.validatedBy !== "0" && row.refusReason === null) {
                                return '<span class="label label-primary">Oui par ' + row.validatedBy + '</span>';
                            } else if (row.validatedBy !== "0") {
                                return '<span class="label label-danger">Non par ' + row.validatedBy + '</span>';
                            } else {
                                return '<span class="label label-danger">Non</span>';
                            }
                        }
                    },
                    {"data": function (row) { //actions
                            if (row.canceled == "0" && row.validatedBy == "0") {
                                var okUrl = "{{path('suivietudes_absence_recuperation_aprove', {'id':'JSID'})}}";
                                okUrl = okUrl.replace("JSID", row.id);
                                var NotUrl = "{{path('suivietudes_absence_recuperation_disaprove', {'id':'JSID'})}}";
                                NotUrl = NotUrl.replace("JSID", row.id);
                                var buttons = '<button data-href="' + okUrl + '" class="btn btn-primary recAprove">Approuver</button>';
                                buttons += '\n<button type="button" class="btn btn-danger cancelBtn" data-toggle="modal" data-target="#modal" data-href="'
                                        + NotUrl + '">Ne pas approuver</button>';
                                return buttons;
                            } else {
                                return "-";
                            }
                        }
                    }
                ],
                bPaginate: true, // pagination
                bInfo: true, // total no of results
                bFilter: true, // search box
                order: [[ 4, "asc" ]]
            });


            // techs
            var techUrl = $("#techDatatables").attr('data-url');
            $('#techDatatables').DataTable({
                autoWidth: false, // fix autoresize if tab is inactive
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: techUrl,
                "columns": [
                    {"data": function (row) {
                            indexTech += 1;
                            return indexTech;
                        }
                    },
                    {"data": "displayname"},
                    {"data": "pole"},
                    {"data": "vacationDays"},
                    {"data": "daysLeft"},
                    {"data": "recHours"},
                ],
                bPaginate: true, // pagination
                bInfo: true, // total no of results
                bFilter: true // search box
            });
            /* end datatables */

            /* DATEPICKERS */
            $('#datepicker').val('{{year}}');
            var $datepickerOld = $('#datepicker').val();
            $('#datePicker').datepicker({
                format: 'yyyy',
                clearBtn: false,
                language: "fr",
                minViewMode: "years"
            });
            $('#datePicker').on('changeDate', function () {
                $date = $('#datepicker').val();
                if ($date && $datepickerOld != $date) {
                    {#return window.location.href = '{{path('suivietudes_absence_list_by_departament')}}' + '/' + $date;#}
                }
            });
            $('#month').datepicker({
                format: 'yyyy-mm-01',
                clearBtn: false,
                language: "fr",
                minViewMode: "months"
            });
            var downloadUrl = '{{path('suivietudes_absence_export_timekeeping')}}';
            $("#generateTimesheet").on("click", function (ev) {
                if (!$('#month').val()) {
                    alert('Choisir la période');
                    ev.preventDefault();
                } else {
                    // get params in order
                    var month = ($('#month').val()) ? $('#month').val() : 0;
                    var country = ($('#country').val()) ? $('#country').val() : 0;
                    var departament = ($('#departament').val()) ? $('#departament').val() : 0;

                    var url = downloadUrl + '/' + month + '/' + country + '/' + departament;
                    $(this).attr("href", url);
                }
            })
            /* END DATEPICKERS */

            $(document).on('click', '.cancelBtn', function () {
                var url = $(this).attr('data-href');
                $('#modal').attr('data-href', url);
            });
            $(document).on('click', '.saveBtn', function () {
                var url = $('#modal').attr('data-href');
                var reason = $.trim($('#reason').val());
                if (reason == '') {
                    alert('Ajouter une raison s\'il vous plaît.');
                    return false;
                }
                $('#loader').show();
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {'reason': reason},
                    success: function () {
                        window.location.reload();
                    }
                });
            });
            $(document).on('click', '.absenceAprove', function () {
                var confirmAction = confirm('Vous ete sûr que vous voulez approuver cette demande de congé?');
                if (confirmAction == true) {
                    $('#loader').show();
                    var url = $(this).attr('data-href');
                    $.post(url, function () {
                        window.location.reload();
                    });
                }
            });
            $(document).on('click', '.recAprove', function () {
                var confirmAction = confirm('Vous ete sûr que vous voulez approuver cette demande recuperation des heures?');
                if (confirmAction == true) {
                    $('#loader').show();
                    var url = $(this).attr('data-href');
                    $.post(url, function () {
                        window.location.reload();
                    });
                }
            });
        });
    </script>
{% endblock %}
