<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Demande de congés</title>
        <link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet" />
        <link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet" />
    </head>
    <body class="skin-blue sidebar-collapse">
        <header class="main-header">
            <a style=" background-color: #367fa9;" class="logo">
                <b>Suivi Etudes: {{ "now"|date("m/d/Y") }}</b>
            </a>
            {#<nav role="navigation" class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img alt="User Image" class="user-image" src="{%if tech.tech.photo is not empty%}data:image/gif;base64,{{tech.tech.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}">
                                <span class="hidden-xs">Tiberiu Manea</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>#}
        </header>
        <div class="row col-md-12">
            <div class="col-md-3 logo">
                {%if testEnv is defined %}
                    <p> CECI EST UN MAIL DE TEST, MERCI DE NE PAS EN TENIR COMPTE.</p>
                {%endif%}
            </div>
            <div class="col-md-12 message">
                {# new request #}
                <h3>Bonjour,</h3>
                {%if type is defined and type == "new"%}
                    <p>{{tech.tech.displayname}} a demandé une nouvelle demande de congés.</p>
                    {#<p>Détails <a href="{{app.request.schemeAndHttpHost ~ path('suivietudes_absence_list_by_departament',{'depId':absenceDepId})}}">ici</a>.</p>#}
                {%endif%}
                {# cancel request #}
                {%if type is defined and type == "cancel"%}
                    <p>Votre demande de congés a été refusée pour le motif suivant : <strong>{{data.refusReason}}</strong> par votre Manager. »</p>
                    {#<p>Détails <a href="{{app.request.schemeAndHttpHost ~ path('suivietudes_absence_list_by_tech',{'techId':data.tech.tech.id})}}">ici</a>.</p>#}
                {%endif%}
                {# approved request #}
                {%if type is defined and type == "approved"%}
                    <p>Votre demande de congés a été acceptée par votre Manager. »</p>
                    {#<p>Détails <a href="{{app.request.schemeAndHttpHost ~ path('suivietudes_absence_list_by_tech',{'techId':data.tech.tech.id})}}">ici</a>.</p>#}
                {%endif%}
            </div>
        </div>
    </body>
</html>