{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissable disabled" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span class="glyphicon glyphicon-ok" style="margin-right:5px;"></span>
            <p style="display:inline-block;">{{ flashMessage|raw }}</p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span class="glyphicon glyphicon-info-sign" style="margin-right:5px;"></span>
            <p style="display:inline-block;">{{ flashMessage|raw }}</p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;"></span>
            <p style="display:inline-block;">{{ flashMessage|raw }}</p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span class="glyphicon glyphicon-warning-sign" style="margin-right:5px;"></span>
            <p style="display:inline-block;">{{ flashMessage|raw }}</p>
        </div>
    {% endfor %}
{% endblock %}

