{% block extraStylesheets %}
    <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
{% endblock %}
{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Mes heures de recuperation {{ parent() }}
{% endblock %}
{% block body %}
    {{ include ("SuiviEtudesBundle:Conge:messages.html.twig") }}
    <section class="content-header">
        <h1>
            Mes heures de recuperation
            {#<a class="btn btn-primary pull-right absenceAdd" href="{{path('suivietudes_absence_recuperation_by_id')}}">Nouveau</a>#}
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="form-group pull-left">
                            {#<a href="{{path('suivietudes_absence_recuperation_list_by_tech',{'techId':app.user.id,'year':year-1})}}" class="btn btn-primary">Precedent</a>#}
                        </div>
                        <div class="form-group col-xs-6 col-sm-4 col-md-2">
                            <div id="datepickerBtn" class="input-group input-append date">
                                <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date" id="datepicker" disabled>
                                <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        {#<a href="{{path('suivietudes_absence_recuperation_list_by_tech',{'techId':app.user.id,'year':year+1})}}" class="btn btn-primary pull-left">Suivant</a>#}
                    </div>
                    <div class="box-header">
                        <h3 class="box-title">
                            Nombre total de jours:
                            <span class="badge alert-info">{{totalDays}}</span>
                        </h3>
                        <h3 class="box-title">
                            Jours restants:
                            <span class="badge{%if ramainingDays == 0%} alert-danger{%endif%}">{{ramainingDays}}</span>
                        </h3>
                        <h3 class="box-title pull-right">
                            Heures de récupération:
                            <span class="badge{%if recHours > 0%} alert-danger{%endif%}">{{recHours}}</span>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row col-sm-12">
                            <table id="congeDatatables" class="table table-bordered table-striped table-hover tableFixed" data-url="{{ path('suivietudes_absence_recuperation_list_by_tech_ajax', {'techId' : techId, 'year' : year}) }}">
                                <thead>
                                    <tr role="row">
                                        <th>No</th>
                                        <th>Nom/Prenom</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Heures</th>
                                        <th>Approuvé</th>re
                                        <th>Annulé</th>
                                        <th>Actes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Nom/Prenom</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Heures</th>
                                        <th>Approuvé</th>
                                        <th>Annulé</th>
                                        <th>Actes</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script type="text/javascript">
        var index = 0;
        $(function () {
            var url = $("#congeDatatables").attr('data-url');
            /* datatables */
            var datatable = $('#congeDatatables').DataTable({
                language: {//french translation
                    pageLength: "Afficher _MENU_ lignes",
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: 'Chargement',
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    buttons: {
                        pageLength: {
                            _: "Afficher %d éléments",
                        }
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                ],
                pageLength: 10,
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 lignes', '25 lignes', '50 lignes', '100 lignes', 'Montrer toutes']
                ],
                sAjaxSource: url,
                "columns": [
                    {"data": function (row) {
                            index += 1;
                            return index;
                        }
                    },
                    {"data": "displayname"},
                    {"data": "absenceType"},
                    {"data": "startDate"},
                    {"data": "hours"},
                    {"data": function (row) { //custom data for this action column
                            if (row.validatedBy !== "0" && row.refusReason === null) {
                                return '<span class="label label-primary">Oui par ' + row.validatedBy + '</span>';
                            } else if (row.validatedBy !== "0") {
                                return '<span class="label label-danger">Non par ' + row.validatedBy + '</span>';
                            } else {
                                return '<span class="label label-danger">Non</span>';
                            }
                        }
                    },
                    {"data": function (row) { //custom data for this action column
                            if (row.canceled == '0') {
                                return "Non";
                            } else {
                                return "Oui";
                            }
                        }
                    },
                    {"data": function (row) { //custom data for this action column
                            if (row.canceled == "0" && row.validatedBy == "0") {
                                {#var modifyUrl = "{{path('suivietudes_absence_recuperation_by_id', {'id':app.user.id,'absenceId':'JSID'})}}";#}
                                modifyUrl = modifyUrl.replace("JSID", row.id);
                                var deleteUrl = "{{path('suivietudes_absence_recuperation_cancel', {'id':'JSID'})}}";
                                deleteUrl = deleteUrl.replace("JSID", row.id);
                                return '<a href="' + modifyUrl + '" class="btn btn-primary">Modifier</a>\n<button class="btn btn-primary cancelBtn" data-href="' + deleteUrl + '">Annuler</button>';
                            } else {
                                return "-";
                            }
                        }
                    },
                ],
                bPaginate: true, // pagination
                bInfo: true, // total no of results
                bFilter: true, // search box
                order: [[5, "asc" ]]
            });

            $('#datepicker').val('{{year}}');

            $('#datepickerBtn').on('click', function () {
                $('#datepicker').datepicker("show");
            });
            $(document).on('click', '.cancelBtn', function () {
                var confirmAction = confirm('Vous ete sûr que vous voulez annuler cette demande de recuperation des heures?');
                if (confirmAction == true) {
                    $('#loader').show();
                    var url = $(this).attr('data-href');
                    $.post(url, function () {
                        window.location.reload();
                    });
                }
            });
        });
    </script>
{% endblock %}
