{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reparation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Paybackamount</th>
                <th>Attachement1</th>
                <th>Attachement2</th>
                <th>Attachement3</th>
                <th>Id</th>
                <th>Date</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reparation_show', { 'id': entity.id }) }}">{{ entity.paybackAmount }}</a></td>
                <td>{{ entity.attachement1 }}</td>
                <td>{{ entity.attachement2 }}</td>
                <td>{{ entity.attachement3 }}</td>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.address }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reparation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reparation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reparation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
