
<div class="col-sm-offset-3" style="color:red;">
		{{ form_errors(form) }}
    </div>	
	
	<table class="table table-striped table-hover ">
			{% if nbResultat > 1 and form.numeroDuCaisse is defined %}
			<tr class="info">
				<td>	
					{{ form_label(form.numeroDuCaisse) }}	
				</td>					
				<td>
					{{ form_widget(form.numeroDuCaisse) }}	
				</td>
			</tr>
		{% endif %}
		<tr class="info">
			<td>	
				{{ form_label(form.flagAccomplie, "Accomplie ?") }}
			</td>					
			<td>
				{{ form_widget(form.flagAccomplie) }}
			</td>
		</tr>
		<tr class="info">
			<td>
				{{ form_label(form.reponse, pointdecontrole.question) }}					
				{% if form_errors(form.reponse) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(form.reponse) }}</strong>
					</div>	
				{% endif %}						
			</td>					
			<td>
				{{ form_widget(form.reponse) }}
			</td>
		</tr>
		{% if form.vars['value'].fichierUn %}
		<tr class="info">
			<td>
				<p><label>fichier joint existant</label></p>
				 (joignez en un autre pour le changer)
			</td>					
			<td>
				<a href="{{ asset('uploads/attachments/checklist/'~form.vars['value'].visites.id~'/'~form.vars['value'].pointsDeControle.id~'/'~form.vars['value'].fichierUn) }}">Télécharger le fichier</a>
			</td>
		</tr>
		{% endif %}
		<tr class="info">
			<td>
				{% if form_errors(form.fichierUn) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(form.fichierUn) }}</strong>
					</div>	
				{% endif %}	
				{{ form_label(form.fichierUn, "Joindre un fichier") }}
			</td>					
			<td>
				{{ form_widget(form.fichierUn) }}
			</td>
		</tr>
	</table>   
