{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}	
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('demareeVisite') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}	
	
	<div class="modal" id="tempsDeInteruption">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Terminer la visite</h4>
				</div>
				<div class="modal-body">
		
					{% for flashMessage in app.session.flashbag.get('terminerVisite') %}
						<div role="alert" class="alert alert-danger alert-dismissable disabled">
							<button data-dismiss="alert" class="close" type="button">×</button>
							<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
							<p style="display:inline-block;">{{ flashMessage }}</p>
						</div>
					{% endfor %}
	
					{% if formModal is defined and formModal %}
{#						{{ form_start(formModal, {'action': path('checklist_planning_terminer_visite', {'id' : visite.id}), 'method': 'POST'}) }}#}
						{{ form_start(formModal) }}
							{{ form_errors(formModal) }}
							<br/>
							{{ form_label(formModal.tempsDeInteruption) }}
							{% if form_errors(formModal.tempsDeInteruption) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(formModal.tempsDeInteruption) }}</strong>
								</div>	
							{% endif %}		
							{{ form_widget(formModal.tempsDeInteruption) }}	
							{#<br/>						
							{{ form_widget(formModal.save) }}#}
							<br/>
						{{ form_end(formModal) }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

    <div class="table-div-60">
		<table class="table table-striped table-hover ">
			{% if not visite.terminer and (visite.date|date('Y-m-d') == today|date('Y-m-d')) %}
				<tr>
					<td>
						{% if not visite.commencer %}
							<a href="{{ path('checklist_planning_modifier_visite', {'id' : visite.id}) }}"
							   onclick="return confirm('Attention! Etes-vous sûr que vous voulez commencer la visite?');"
						{% else %}
							<a href="javascript:void(0);"
						{% endif %}
							>									
						<button type="button" data-toggle="modal" class="btn btn-info" id="terminer-visite" 
							{% if visite.commencer and (visite.date|date('Y-m-d') == today|date('Y-m-d')) %}
								{% if notVerifieeValide %}
									onclick="confirmTerminer();"
							   {% else %}
									data-target="#tempsDeInteruption"
								{% endif %}
							{% endif %}"
							aria-label="Left Align">
							{% if not visite.commencer %} Démarrer la visite
							{% else %} Terminer la visite
							{% endif %}
						</button>
						</a>
					</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}			
			{% if visite.terminer and is_granted("ROLE_CHK_ADMIN") %}
				<tr>
					<td>
						<a href="{{ path('checklist_planning_redemarrer_visite', {'idFicheVisite' : visite.id }) }}"
						   onclick="return confirm('Etes vous sur que vous voulez Redemarrer la visite?');">
							<button type="button" class="btn btn-info" aria-label="Left Align">
								<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
								Redemarrer
							</button>
						</a>
					</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}
			<tr>	
				<th>Renseignée / Validée</th>
				<th>Nom</th>
				<th>Temps Prévisionnel</th>
			</tr>
			{% for point in pointsDeControle %}
				<tr class="info">			
					<td width="30%">
						{% if reinsegnerArray[point.id].resultats %}
							<button type="button" class="btn btn-info" aria-label="Left Align">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
						{% else %}
							<button type="button" class="btn btn-danger" aria-label="Left Align">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>							
						{% endif %}
						{% if reinsegnerArray[point.id].valide %}
							<button type="button" class="btn btn-success" aria-label="Left Align">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
						{% else %}
							<button type="button" class="btn btn-warning" aria-label="Left Align">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>							
						{% endif %}
						{% if is_granted("ROLE_CHK_ADMIN") and reinsegnerArray[point.id].valide %}
							<a href="{{ path('checklist_planning_unvalider_point_de_controle', {'id' : point.id, 'idFicheVisite' : visite.id }) }}"
						   onclick="return confirm('Etes vous sur que vous voulez Unvalider le resulat?');">
								<button type="button" class="btn btn-info" aria-label="Left Align">
									<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
									Redemarrer
								</button>
							</a>
						{% endif %}
					</td>
					<td width="40%">
						{% if visite.commencer and not visite.terminer and not reinsegnerArray[point.id].valide %}
							<a href="{{ path('checklist_planning_fiche_point_de_controle', {'id' : point.id, 'idFicheVisite' : visite.id }) }}">
						{% endif %}
						{{ point.nom }}
						{% if visite.commencer and not visite.terminer and not reinsegnerArray[point.id].valide %}
							</a>
						{% endif %}
					</td>
					<td width="30%">{{ point.getdureeTotale(visite.magasin.nombreDeCaisses)|date('H \\h i \\m\\i\\n')}}</td>
				</tr>
			{% endfor %}
			{% if not visite.terminer and (visite.date|date('Y-m-d') == today|date('Y-m-d')) %}
				<tr>
					<td>
						{% if not visite.commencer %}
							<a href="{{ path('checklist_planning_modifier_visite', {'id' : visite.id}) }}"
							   onclick="return confirm('Attention! Etes-vous sûr que vous voulez commencer la visite?');"
						{% else %}
							<a href="javascript:void(0);"
						{% endif %}
						>									
						<button type="button" data-toggle="modal" class="btn btn-info" 
								{% if visite.commencer and (visite.date|date('Y-m-d') == today|date('Y-m-d')) %}
									data-target="#tempsDeInteruption"
								{% endif %}"
								aria-label="Left Align">
							{% if not visite.commencer %} Démarrer la visite
							{% else %} Terminer la visite
							{% endif %}
						</button>
						</a>
					</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}			
			{% if visite.terminer and is_granted("ROLE_CHK_ADMIN") %}
				<tr>
					<td>
						<a href="{{ path('checklist_planning_redemarrer_visite', {'idFicheVisite' : visite.id }) }}"
						   onclick="return confirm('Etes vous sur que vous voulez Redemarrer la visite?');">
							<button type="button" class="btn btn-info" aria-label="Left Align">
								<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
								Redemarrer
							</button>
						</a>
					</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}
		</table>
	</div>	

	{% if visite.commencer and not visite.terminer %}
		<div class="table-div-60">
			{{ form_start(form) }}
				{{ form_errors(form) }}
				<p>{{ form_label(form.commentaire) }}</p>
				<p>{{ form_widget(form.commentaire,{'attr':{'cols':'130', 'rows':10} }) }}</p>
			{{ form_end(form) }}
		</div>
	{% endif %}
	
{% endblock %}
