{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Le Planning
{% endblock %}
{% block body %}
	{{ parent() }}
	{% set jours = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"] %}

<div class="box">
	<div class="box-body table-div-40">
		<table  id="listApplications" class="table tablesorter table-striped table-hover">
			<thead> 
				<tr>
					<th>Date</th>
					<th>Magasin</th>
					<th></th>
				</tr>
			</thead> 
			{% for visite in visites %}	
				<tr class="info">
					<td>
					{% if visite.visite is defined %}
						{{jours[visite.visite.date|date('w')]}}
						{{ visite.visite.date|date('d/m/Y') }}
					{% endif %}
					</td>
					<td>
						{% if visite.leMagasin is defined %}
						<a href="{{ path('checklist_magasin_magasin', {'id' : visite.leMagasin.magasin.id}) }}" >{{ visite.leMagasin.magasin.nom }}</a>
						{% endif %}
					</td>
					<td style="text-align: right">
						{% if (visite.visite.date|date('Ymd') == "now"|date('Ymd')) %}
							<a href="{{ path('checklist_planning_fiche_visite', {'id' : visite.visite.id}) }}" title="voir la visite">
								<button type="button" class="btn btn-default" aria-label="Left Align">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</button>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			{% if visites|length == 0 %}
				<tr>
					<td>Aucune visite planifié</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}
			</tbody> 
		</table>
	</div>
</div>
{% endblock %}
