{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Visite d'aujourdhui
{% endblock %}
{% block body %}
	{{ parent() }}
	{% set jours = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"] %}

<div class="box">
	<div class="box-body table-div-40">
		<table  id="listVisite" class="table tablesorter table-striped table-hover">
			<thead> 
				<tr>
					<th>Magasin</th>
					<th>Technicien</th>
				</tr>
			</thead> 
			{% for visite in visites %}	
				<tr class="info">
					<td>
						{{visite.magasin.nom}}
					</td>
					<td>
						{{visite.technicien.displayname}}
					</td>
				</tr>
			{% endfor %}
			{% if visites|length == 0 %}
				<tr>
					<td>Aucune visite planifiée</td>
					<td></td>
				</tr>
			{% endif %}
			</tbody> 
		</table>
	</div>
</div>
{% endblock %}