{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Absence type {{ parent() }}
{% endblock %}
{% block body %}
    {{ include('::messages.html.twig') }}
    <section class="content-header">
        <div class="content-header">
            <h1>
                {%if app.request.attributes.get('typeId') < 1%}
                    Ajouter
                {%else%}
                    Modifier
                {%endif%}
                absence type
            </h1>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    {{form_start(form)}}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.name, 'Nom:') }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.name) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p style="display:inline-block;">{{ form_errors(form.name) }}</p>
                                </div>
                            {%endif%}
                        </div>                        
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.abbrev, 'Abréviation:') }}
                            {{ form_widget(form.abbrev, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.abbrev) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p style="display:inline-block;">{{ form_errors(form.abbrev) }}</p>
                                </div>
                            {%endif%}
                        </div>                        
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.substract, 'Soustraire:') }}
                            {{ form_widget(form.substract, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.substract) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p style="display:inline-block;">{{ form_errors(form.substract) }}</p>
                                </div>
                            {%endif%}
                        </div>                        
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {{ form_label(form.techVisible, 'Visible pour technicien:') }}
                            {{ form_widget(form.techVisible, {'attr': {'class': 'form-control'}}) }}
                            {%if form_errors(form.techVisible) %}
                                <div role="alert" class="alert alert-danger alert-dismissable"> 
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p style="display:inline-block;">{{ form_errors(form.techVisible) }}</p>
                                </div>
                            {%endif%}
                        </div>                        
                    </div>
                    <div class="box-footer">
                        {{form_widget(form.save, {'label': 'Sauvegarder ','attr': {'class': 'btn btn-primary'}})}}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}