{% extends 'RoleManagerBundle:layout:base.html.twig' %}
{% block body %}
    <section class="content-header">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success fade in block-inner">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <section class="content">
        <div class="row">

            <div class="box box-success">

                <div class="box-body">


                    <form  id="form"  method="POST" action="{{ path('role_manager_change') }}">

                        <div class="row">
                            <label class="col-sm-2 control-label"> Utilisateur </label>
                            <div class="col-sm-10">
                                <select data-placeholder="Choisir utilisateur ..." class="chosen-select" tabindex="-1"
                                        id="user_id" name="user_name" required="required" 
                                        style="display:none;" aria-required="true">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.displayname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 control-label"> Application </label>
                            <div class="col-sm-10">
                                <select data-placeholder="Choisir application ..." class="chosen-select" tabindex="-1"
                                        id="application_id" name="application_name" required="required"
                                        style="display:none;" aria-required="true">
                                    <option value="">Choisir ...</option>
                                    {% for application in applications %}

                                        <option value="{{ application.appliid }}">{{ application.appliname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div id='roleid' class="form-group ">

                            </div>
                        </div>

                        <input type="submit" id="valider_obj" class="btn btn-success" name="valider_obj"
                               value="Modifier"/>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}