<p>Bonjour</p>
<br>
{{ nameuser }} {{ firstnameuser }} {{ message }} {{ add }}

<br>
<br>
<mark>Ce mail est un mail de test, les actions que vous avez réaliser ne seront pas prises en compte.</mark>



