<p>Bonjour</p>
<br>
 {{ nameuser }} {{ firstnameuser }} {{ message }}
<br>
<br>
<br>Valeur Ancienne: {{ avant }}
<br>Nouvelle Valeur: {{ apres }}
<br>
<br>
<mark>Ce mail est un mail de test, les actions que vous avez réaliser ne seront pas prises en compte.</mark>

	

	