<aside class="main-sidebar">
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
        </div>
    </div>

    <ul class="sidebar-menu">
         <li type="button" id="dmd_rec" name="dmd" ><a href="{{ path('dmd') }}">Demande de recrutement</a></li>
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CHARGE") %}
        <li id="table" type="button1" name="tab_missions" ><a href="{{ path('tab') }}">Tableau des missions</a></li>
                {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
        <li id="objectifs" type="button1" name="obj" ><a href="{{ path('obj') }}">Objectifs</a></li>
{% endif %}

    </ul>
</section>
</aside>