{% extends 'AdministrationHierarchieBundle:layout:base.html.twig' %}
{% set page_title = 'Créer une hiérarchie' %}
{% block body %}
    <section class="content-header">
        <h1>Créer une hiérarchie</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.hieLibelle, 'Choisir un nom:*') }}
                            {{ form_widget(form.hieLibelle, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.hieDescription, 'Description courte:') }}
                            {{ form_widget(form.hieDescription, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div>
                            {{ form_widget(form.submit,{ 'label': 'Créer' , 'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>












    {#<div class="well">
        <div class="form-horizontal"> 
            <h2>Créer une hiérarchie</h2>
            {{ form_start(form, { 'attr': {'class': 'form-horizontal container'}}) }}
            <div class="form-group">
                {{ form_label(form.hieLibelle, '', { 'label_attr': {'class': 'control-label col-sm-2'} }) }}
                <div class="col-sm-3">
                    {{ form_widget(form.hieLibelle, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.hieDescription, '', { 'label_attr': {'class': 'control-label col-sm-2'} }) }}
                <div class="col-sm-3">
                    {{ form_widget(form.hieDescription, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_row(form.submit,{ 'label': 'Créer' , 'attr': {'class': 'btn btn-default'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>#}
{% endblock %}

