{% extends 'AdministrationHierarchieBundle:layout:base.html.twig' %}
{% set page_title = 'Modifier une hiérarchie' %}
{% block body %}
    <section class="content-header">
        <h1>Modifier une hiérarchie</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form.hieLibelle, {'value': hierarchy ,'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div id="editButtons" class="col-md-12">
            <button type="button" class="btn btn-primary" id="addLink">Ajouter une liaison</button>
            <button type="button" class="btn btn-primary" id="modifyLink">Modifier une liaison</button>
            <button type="button" class="btn btn-primary" id="deleteLink">Supprimer une liaison</button>
        </div>
        <div id="edit-hierarchy" class="row" style="clear: both"></div>
    </section>
{% endblock %}

