{% extends 'AdministrationHierarchieBundle:layout:base.html.twig' %}
{% set page_title = 'Visualiser une hiérarchie' %}
{% block body %}
    <section class="content-header">
        <h1>Visualiser une hiérarchie</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        {{ form_widget(form.hieLibelle, { 'value': selectedHie ,'attr': {'class': 'form-control'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div id="hierarchy" class="hierarchyClass"></div>
    </section>
{% endblock %}

