<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">
	<head>
		<title>SAP Self Service</title>
		{% block stylesheets %}
		 {% stylesheets  
	        'bootstrap/css/bootstrap.min.css'
	        'dist/css/AdminLTE.min.css'
	        '@SAPSelfServiceBundle/Resources/public/css/style.css'
	        'bundles/sapselfservice/css/style.css'
	     filter='cssrewrite' %}
	    	<link rel="stylesheet" href="{{ asset_url }}" />    
		{% endstylesheets %}
		{% endblock %}
	</head>
	<body class="skin-blue sidebar-mini">
		<div class="wrapper" >
			<div class="content" style="height: 100vh;">
				<div class="row">
					<div class="col-md-4">
						{% image '@SAPSelfServiceBundle/Resources/public/img/Logo-SAP_NOZ.png' %}
    						<img src="{{ asset_url }}" class="img-fluid" style="max-width: 40%; margin:10px;" />
						{% endimage %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="box box-solid box-primary">
							<div class="box-header">
								<h3 class="box-title">SAP Self Service</h3>
							</div>
							<div class="box-body">
							{{ form_start(form) }}
								<div class="form-group">
								    {{ form_label(form.choix, "Je souhaites :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
									{{ form_widget(form.choix, {'attr': {'class': 'form-control'}}) }}
								</div>
							{{ form_end(form) }}
								<button id="submit" type="submit" class="btn btn-primary elementHiden">Submit</button>
							</div>
						</div>
						<div class="alert alert-info elementHiden" id="contact">
							<h4 class="alert-heading">Contact du Pôle Support SAP</h4>
							<p>
								<strong>Raccourcis : </strong> <a href="mailto:supportsap@noz.fr">3620</a>
							</p>
							<p>
								<strong>Téléphone : </strong> 02-46-89-20-87
							</p>
							<p>
								<strong>eMail : </strong> <a href="mailto:supportsap@noz.fr">supportsap@noz.fr</a>
							</p>
						</div>
						<div class="alert alert-info elementHiden" id="reponse">
						</div>
					</div>
				</div>
			</div>
		</div>
		  	{% javascripts 
			'jquery/jquery-1.10.2.min.js'
	        '@SAPSelfServiceBundle/Resources/public/js/script.js'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	</body>
</html>
