<h4 class="alert-heading">{{SOAPResponse}}</h4>
<p>
	<strong>En cas de difficultées, merci de contacter le support SAP.</a>
</p>
<p>
	<strong>Raccourcis : </strong> <a href="mailto:supportsap@noz.fr">3620</a>
</p>
<p>
	<strong>Téléphone : </strong> 02-46-89-20-87
</p>
<p>
	<strong>eMail : </strong> <a href="mailto:supportsap@noz.fr">supportsap@noz.fr</a>
</p>