<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Volontaire du dimanche</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    {% block stylesheets %}
            <link href="{{ asset('all/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet" />
            <link href="{{ asset('all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet" /> 
            <link href="{{ asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet"/>
            <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
            page. However, you can choose any other skin. Make sure you
            apply the skin class to the body tag so the changes take effect.
            -->
            <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
            <link href="{{ asset('bundles/volontairedimanche/css/select2.min.css') }}" rel="stylesheet">
    {% endblock %}
    
    {% block javascript  %}
        <!-- REQUIRED JS SCRIPTS -->
        <script type="text/javascript" src="{{ asset('jquery/jquery-2.2.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{asset("bundles/volontairedimanche/js/select2.min.js") }}"></script>
        <!-- Optionally, you can add Slimscroll and FastClick plugins.
             Both of these plugins are recommended to enhance the
             user experience. Slimscroll is required when using the
             fixed layout. -->
    {% endblock%}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->
  <body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="{{path('vd_default')}}" class="logo">
         
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Admin RH</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          
          <!-- Handle User Data -->
          {% if app.user %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="user-image" alt="User Image"/>
                                        <span class="hidden-xs">{{ app.user.displayname }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
                                            {% if app.user %}
                                                <p>
                                                    {{ app.user.displayname }} -
                                                    Connecté(e) en tant que : 
                                                    {% if is_granted('ROLE_SET_SUPER_ADMIN')%}
                                                        SUPER ADMIN
                                                    {% elseif is_granted('ROLE_SET_MANAGER_TECH')%}
                                                        MANAGER TECHNIQUE
                                                    {% elseif is_granted('ROLE_SET_RESP_TECH')%}
                                                        RESPONSABLE TECHNIQUE
                                                    {% elseif is_granted('ROLE_SET_TECH')%}
                                                        TECHNICIEN
                                                    {% elseif is_granted('ROLE_COPIL')%}
                                                        MEMBRE COPIL
                                                    {% elseif is_granted('ROLE_SET_VALIDEUR')%}
                                                        VALIDEUR
                                                    {% elseif is_granted('ROLE_SET_DEMANDEUR')%}
                                                        DEMANDEUR
                                                    {% else %}
                                                        COLLABORATEUR
                                                    {% endif %} 
                                                </p>
                                            {% endif %}
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-right">
                                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>
                    {% endif %}
          <!-- End of handle User Data  -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->

          <!-- search form (Optional) -->
          <!-- /.search form -->
          {% block dropdown %}
          {#
          <!-- Sidebar Menu -->
          <div>
              <div><h5 style='color:white'> <small class="label bg-yellow">S'il vous plaît choisir un magasin.</small></h5></div> 
              <div></div>
          </div>
          #}
         {% endblock %}
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Volontaire du Dimanche
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div id='ajax_placeholder'>
                <!-- Your Page Content Here -->
                {% block body %}
                {% endblock %}

            </div>

          
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- Default to the left -->
        <i>Cette application a été développée par le Pôle WEB - Univers NOZ © 2016. Pour nous contacter :</i><a href='mailto:poleweb@noz.fr'>envoyez-nous un mail</a>
      </footer>

     
      
    </div><!-- ./wrapper -->

  {% block javascriptExtra %}
  {% endblock %}
  </body>
</html>
