{% block stylesheets %}


    {% stylesheets
    'bootstrap/css/bootstrap.min.css'
    'dist/css/AdminLTE.min.css'
    'dist/css/skins/_all-skins.min.css'
    'style/styles.css'
    'js/chosen_v1.3.0/chosen.css'
    'all/DataTables/datatables.css'
    'all/LTE/plugins/daterangepicker/daterangepicker-bs3.css'
    'all/LTE/plugins/datepicker/datepicker3.css'
    '@RoleManagerBundle/Resources/public/css/*'
    '@RoleManagerBundle/Resources/public/css/chosen.bootstrap.min.css'
    '@RoleManagerBundle/Resources/public/css/chosen/bootstrap-chosen.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/rolemanager/css/role.css') }}">

    <a href="header.html.twig"></a>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block javascripts %}
    {% javascripts
    'jquery/jquery-1.10.2.min.js'
    'bootstrap/js/bootstrap.js'
    'dist/js/app.js'
    'js/chosen_v1.3.0/chosen.jquery.min.js'
    'js/jquery-ui-1.11.1/jquery-ui.min.js'
    'js/pdfmake.min.js'
    'all/DataTables/datatables.js'
    'all/DataTables/pdfmake-0.1.18/build/pdfmake.min.js'
    'all/LTE/plugins/daterangepicker/daterangepicker.js'
    '@RoleManagerBundle/Resources/public/js/datePicker.js'
    '@RoleManagerBundle/Resources/public/js/bootstrap-switch.min.js'
    '@RoleManagerBundle/Resources/public/js/bootstrapValidator.min.js'
    '@RoleManagerBundle/Resources/public/js/chosen.jquery.min.js'
    '@RoleManagerBundle/Resources/public/js/role.js'
    '@RoleManagerBundle/Resources/public/js/chosen.jquery.js'
    '@RoleManagerBundle/Resources/public/js/jquery.validate.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}