{% extends 'IndicateursDAMBundle:layout:base.html.twig' %}
{% set page_title = 'Equipe ' %}
{% block body %}
    <section class="content-header">
        <h1 style="//font-size:2vw;">Chiffres Généraux</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <a href="{{ path('indicateurs_dam_accueil') }}">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Actualiser</button>
                </a>
            </div>
        </div>
        <div class="row">
            <!--CHIFFRES Codac -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title ">Chiffres Codac</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body  text-center">
                        <table class="table table-bordered  text-center">
                            <tbody>
                                <tr>
                                    <th>Réalisé</th>
                                    <th>Objectif</th>
                                    <th style="width:40%">Progression</th>
                                    <th style="width:10%"></th>
                                </tr>
                                <tr>
                                    <td>{{ realisation_global|number_format(0,',', ' ') }} k€</td>
                                    <td> {{ objectif_global|number_format(0,',', ' ') }} k€</td>
                                    <td>
                                        <div class="progress">
                                            {% if pourcentage_global < 80 %}
                                              {% set type_bar_global  = 'progress-bar-danger' %}
                                              {% set type_label_global  = 'bg-red' %}
                                            {% elseif pourcentage_global < 100 %}
                                              {% set type_bar_global  = 'progress-bar-warning' %}
                                              {% set type_label_global  = 'bg-yellow' %}
                                              {% else %}
                                              {% set type_bar_global  = 'progress-bar-success' %}
                                              {% set type_label_global  = 'bg-green' %}
                                            {% endif %}
                                            <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_global }}%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                                        {{ pourcentage_global }}%
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>                     
    </section>
{% endblock %}