{% extends 'IndicateursDAMBundle:layout:base.html.twig' %}
{% set page_title = 'Equipe ' %}
{% block body %}
    <section class="content-header">
        <h1 style="//font-size:2vw;">Chiffres de l'équipe {{ titre }}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <a href="{{ path(app.request.attributes.get('_route'), {'equipe':equipe}) }}">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Actualiser</button>
                </a>
            </div>
        </div>
        <div class="row">
            <!--CHIFFRES Codac -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title ">Chiffres Codac</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body  text-center">
                        <table class="table table-bordered  text-center">
                            <tbody>
                                <tr>
                                    <th>Réalisé</th>
                                    <th>Objectif</th>
                                    <th style="width:40%">Progression</th>
                                    <th style="width:10%"></th>
                                    <th>Dossiers déposés</th>
                                    <th>Objectif</th>
                                </tr>
                                <tr>
                                    <td>{{ realisation_global|number_format(0,',', ' ') }} k€</td>
                                    <td> {{ objectif_global|number_format(0,',', ' ') }} k€</td>
                                    <td>
                                        <div class="progress">
                                            {% if pourcentage_global < 80 %}
                                              {% set type_bar_global  = 'progress-bar-danger' %}
                                              {% set type_label_global  = 'bg-red' %}
                                            {% elseif pourcentage_global < 100 %}
                                              {% set type_bar_global  = 'progress-bar-warning' %}
                                              {% set type_label_global  = 'bg-yellow' %}
                                              {% else %}
                                              {% set type_bar_global  = 'progress-bar-success' %}
                                              {% set type_label_global  = 'bg-green' %}
                                            {% endif %}
                                            <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_global }}%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                                        {{ pourcentage_global }}%
                                        </div>
                                    </td>
                                    <td>{{ dossier_codac }}</td>
                                    <td>{{ objdossier_codac }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                                        
            <!--CHIFFRES EQUIPE -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border  text-center">
                        <h3 class="box-title">Chiffres Equipe</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body  text-center">
                        <table class="table table-bordered  text-center">
                            <tbody>
                                <tr>
                                    <th>Réalisé</th>
                                    <th>Objectif</th>
                                    <th style="width:30%">Progression</th>
                                    <th style="width:10%"></th>
                                    <th>Dossiers déposés</th>
                                    <th>Objectif</th>
                                </tr>
                                <tr>
                                    <td>{{ realisation_eq|number_format(0,',', ' ') }} k€</td>
                                    <td> {{ objectif_eq|number_format(0,',', ' ') }} k€</td>
                                    <td>
                                        <div class="progress">
                                            {% if pourcentage_eq < 80 %}
                                              {% set type_bar_eq  = 'progress-bar-danger' %}
                                              {% set type_label_eq  = 'label-danger' %}
                                            {% elseif pourcentage_eq < 100 %}
                                              {% set type_bar_eq  = 'progress-bar-warning' %}
                                              {% set type_label_eq  = 'bg-yellow' %}
                                              {% else %}
                                              {% set type_bar_eq  = 'progress-bar-success' %}
                                              {% set type_label_eq  = 'label-success' %}
                                            {% endif %}
                                            <div class="progress-bar {{ type_bar_eq }}" style="width: {{ pourcentage_eq }}%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="{{type_label_eq}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                                        {{ pourcentage_eq }}%
                                        </div>
                                    </td>
                                   	<td>{{ total_dossier }}</td>
                                    <td>{{ obj_dossiers }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
                                        
                                        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box box-primary">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">Chiffres par acheteur</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body  text-center">
                        <table class="table table-bordered  text-center">
                            <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <th>Réalisé</th>
                                    <th>Objectif</th>
                                    <th style="width:30%">Progression</th>
                                    <th style="width:10%"></th>
                                    <th>Dossiers déposés</th>
                                    <th>Objectif</th>
                                </tr>
                                {% for acheteur in listeAcheteurs %}
                                    <tr>
                                        <td style="text-align:left;">{{ acheteur.name }}</td>
                                        <td>{{ acheteur.realisation|number_format(0,',', ' ') }} k€</td>
                                        <td>{{ acheteur.objectif|number_format(0,',', ' ') }} k€</td>
                                        <td>
                                            <div class="progress">
                                                {% if acheteur.pourcentage < 80 %}
                                                  {% set type_bar  = 'progress-bar-danger' %}
                                                  {% set type_label  = 'bg-red' %}
                                                {% elseif acheteur.pourcentage < 100 %}
                                                  {% set type_bar  = 'progress-bar-warning' %}
                                                  {% set type_label  = 'bg-yellow' %}
                                                  {% else %}
                                                  {% set type_bar  = 'progress-bar-success' %}
                                                  {% set type_label  = 'bg-green' %}
                                                {% endif %}
                                                <div class="progress-bar {{type_bar}}" style="width: {{ acheteur.pourcentage }}%"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="{{type_label}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                                            {{ acheteur.pourcentage }}%
                                            </div>
                                        </td>
                                        <td>{{ acheteur.realDossiers }}</td>
                                        <td>{{ acheteur.objDossiers }}</td>
                                    </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}