{% if is_granted('ROLE_VD_EDIT')%}
    <p style="text-align:right">Cliquez sur Oui / Non boutons pour changer de statut</p>
{% else %}
    <p style="text-align:right">Vous êtes connecté avec un utilisateur sans privilèges d'édition</p>
{% endif %}

<div name="table-content">
    <div class='box'>
        <table class="table table-bordered table-hover">
        <tr>
        {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Matricule', 'individu.matricule') }}</th>
            <th{% if pagination.isSorted('v.matricule') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'individu.nom') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Prenom', 'individu.prenom') }}</th>
            <th>Contrat Id</th>
            <th>Numero du contrat</th>
            <th>{{ knp_pagination_sortable(pagination, 'Date Fin Contrat', 'contrat.dateFin') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Volontaire dimanche', 'v.volontaire') }}</th>
        </tr>
       
        {# If the user has role ROLE_VD_EDIT show edit status buttons otherwise show just status in <p> tag #}
        {# table body #}
        {% if is_granted('ROLE_VD_EDIT') %}
            {% for row in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
        
                <td><a href="{{ path('contracts_by_matricule',{'matricule': row.matricule })}}">{{ row.matricule }}</a></td>
                <td>{{ row.nom }}</td>
                <td>{{ row.prenom }}</td>
                <td>{{ row.id}}</td>
                <td>{{ row.numcontrat }}</td>
                <td>{{ row.dateFin  is empty ? "" : row.dateFin|slice(0,4) ~ '-'~ row.dateFin|slice(4,2) ~ '-'~ row.dateFin|slice(6,2) }}</td>
                {% if row.volontaire ==0 %}
                    <td ><a class="volontaire_link" data-matricule='{{row.id}}' href="#">
                     <!--   <i class="fa fa-star-o text-yellow"></i> -->
                     <!-- <i class="fa fa-fw fa-check"></i>  -->
                            <p style='color:gray'> &#x2718; Non</p>
                        </a>
                    </td>
                {% else %}
                    <td><a class="volontaire_link" data-matricule='{{row.id}}'  href="#">
                            <p style='color:#00ff00'> &#x2714; Oui </p>
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}

        {% else %}

            {% for row in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ row.matricule }}</td>
                    <td>{{ row.nom }}</td>
                    <td>{{ row.prenom }}</td>
	                <td>{{ row.id}}</td>
	                <td>{{ row.numcontrat }}</td>
                    <td>{{ row.dateFin  is empty ? "" : row.dateFin|slice(0,4) ~ '-'~ row.dateFin|slice(4,2) ~ '-'~ row.dateFin|slice(6,2) }}</td>
                    {% if row.volontaire ==0 %}
                        <td ><p style='color:gray'> &#x2718; Non</p></td>
                    {% else %}
                        <td><p style='color:#00ff00'> &#x2714; Oui </p></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        
        
        </table>
    </div>
</div>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

