{% extends "VolontaireDimancheBundle::layout.html.twig" %}



{% block dropdown %}
<!-- Sidebar Menu -->
    <div>
        <div><h5 style='color:white'> <small class="label bg-yellow">S'il vous plaît choisir un magasin.</small></h5></div> 
        <div>
            {{ form_start(form) }}
            {{ form_row(form.magId) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block body %}
    
{% endblock %}


{% block javascriptExtra  %}
    {#  trigger this script to block drop down to certain shop only when user is Shop #}
     {% if shop is not null %}
        <script>
            $(document).ready( function() {
                var element = document.getElementById('adm_magasin_magId');
                element.value = '{{ shop }}';
                element.disabled=true;

                $.ajax({ 
                    type:"GET",
                    data: { id: element.value },
                    url : '{{ path('_select_change_AJAX', {}, true) }}',
                    success : function(data) {
                        var placeholder = document.getElementById("ajax_placeholder");
                        placeholder.innerHTML = data;
                    } 
                });   
            });
        </script>
    {% endif %}
    
    <script>
        //on click change status from dimanche volontaire yes to no or viceversa
        $(document).on('click', ".volontaire_link", function(e){
                
                e.preventDefault();
                var $t = $(this); // save the current object into a variable accessible in AJAX success function
                var matr = $(this).data("matricule");
                $.ajax({ 
                    type:"GET",
                    data: { matricule: $(this).data("matricule") },
                    url : '{{ path('_edit_volontaire_AJAX', {}, true) }}',
                    dataType: 'json',
                    success : function(response) {


                         if(response.success== true){

                                if(response.volontaire ==0){
                                   
                                     $t.parent().html('<a class="volontaire_link" data-matricule="'+ response.matricule +'" href="#"><p style="color:gray"> &#x2718; Non</p></a>');  // show X sign
                                }else {
                                  
                                     $t.parent().html('<a class="volontaire_link" data-matricule="'+ response.matricule +'" href="#"><p style="color:#00ff00"> &#x2714; Oui</p></a>');  // show checked sign
                                }
                        } else {
                            alert('Error. Please try again!'); 
                        } 
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                              alert('Error: ' + jqXHR.responseText);
                    
                    }
                });
        });
    </script>
    
    
    <script>
     //if user clicks on headers for getting columns sorted
     $(document).on('click', ".sortable, .asc, .desc", function(e){
        e.preventDefault();
        var link = $(this).attr('href');
         
        $.ajax({ 
            type:"GET",
            url : link,
            success : function(data) {
                var placeholder = document.getElementById("ajax_placeholder");
                placeholder.innerHTML = data;
            } 
        });
        
     });
     </script>
     <script>
    //on drop down selection change call AJAX to display info for selected shop
    $( document ).ready(function(){
        $( "#adm_magasin_magId" ).select2();
        $( "#adm_magasin_magId" ).change(function (e) {
            e.preventDefault();
            var select_data = $( "#adm_magasin_magId" ).val();
            $.ajax({ 
                type:"GET",
                data: { id: select_data },
                url : '{{ path('_select_change_AJAX', {}, true) }}',
                success : function(data) {
                    var placeholder = document.getElementById("ajax_placeholder");
                    placeholder.innerHTML = data;
                } 
            });
        });       
    });
    </script>
    <script>
        $( document ).ajaxComplete(function() {
            //if user clicks on pagination links
            $( "ul.pagination a" ).click(function(e) {
                e.preventDefault();
                var link = $(this).attr('href');
                
                $.ajax({ 
                    type:"GET",
                    url : link,
                    success : function(data) {
                        var placeholder = document.getElementById("ajax_placeholder");
                        placeholder.innerHTML = data;
                    } 
                });
            });
        }); 
    </script>
    
{% endblock %}
