{% extends 'AdministrationDirectionBundle:layout:base.html.twig' %}
{% block body %}
    {% block javascripts %}
        {% javascripts
        '@AdministrationDirectionBundle/Resources/public/js/Gestion_Service.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <form class="form-horizontal" action="{{ path('service_activate')}}" method="post" novalidate>
        <div  class="row">
            <div class="col-md-6" id="listeMateriel" style="margin-top: 5px">
                <div class="panel panel-info">
                    <div class="panel-heading" style="padding: 4px 25px;"><strong>Liste Service</strong>
                        <a style="cursor: pointer; padding-left: 15px" data-toggle="modal"
                           data-target="#myModalAddSrv" ><i class="fa fa-plus fa-4" style="color: #31708f"></i></a>
                        <!------Modal Add direction------------------------------>
                        <div id="myModalAddSrv" class="modal fade" role="dialog" >
                            <div class="modal-dialog"  >

                                <!-- Modal content-->

                                <div class="modal-content" style="width: 700px" >
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Ajout service</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ form_label(form.libelle) }}</label>
                                            <div class="col-md-4">
                                                {{ form_widget(form.libelle) }}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ form_label(form.direction) }}</label>
                                            <div class="col-md-4">
                                                {{ form_widget(form.direction) }}

                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                    &nbsp;
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>{{ form_widget(form.ajouter) }}
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--------------End Modal---------------->
                    </div>
                    <div class="panel-body">
                        <table id="dir_tab" class="table table-hover">
                            <thead>

                            <th>#</th>
                            <th>Nom service</th>
                            <th>Direction</th>
                            <th>Actif</th>
                            </thead>
                            <tbody>
                            {% for service in listeServices %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td>{{ service.libelle }}</td>
                                <td>{{ service.direction.libelle }}</td>
                                <td>{% if service.actif==1 %}<input type="checkbox" checked id="{{ service.id }}" name="{{ service.id }}" value={{ service.id }} >{% else %}<input type="checkbox" id="{{ service.id }}" name="{{ service.id }}" value={{ service.id }} >{% endif %}</td>
                            <tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <input type="submit" style="float: right; margin-right: 70px" class="btn btn-danger" id="activate_dir" value="Enregistrer">

                    </div>
                </div>
            </div>
        </div></form>
{% endblock %}