/*.pointDeControle, #listePointsDeControle th{*/
#listePointsDeControle th{
	cursor: pointer;
}

/*.tablesorter .tablesorter-filter-row td:nth-child(9n) .tablesorter-filter,
.tablesorter .tablesorter-filter-row td:nth-child(9n+7) .tablesorter-filter{
    max-width: 100px !important;
	
}
.tablesorter .tablesorter-filter-row td:nth-child(9n+6) .tablesorter-filter{
    max-width: 100px !important;
}
.tablesorter .tablesorter-filter-row td:nth-child(9n+1) .tablesorter-filter{
    max-width: 40px !important;
}
.tablesorter .tablesorter-filter-row td:nth-child(9n+2) .tablesorter-filter{
    max-width: 150px !important;
}
.tablesorter .tablesorter-filter-row td:nth-child(9n+3) .tablesorter-filter,
.tablesorter .tablesorter-filter-row td:nth-child(9n+4) .tablesorter-filter,
.tablesorter .tablesorter-filter-row td:nth-child(9n+5) .tablesorter-filter{
    max-width: 80px !important;
}
.tablesorter .tablesorter-filter-row td:nth-child(9n+8) .tablesorter-filter{
    max-width: 60px !important;
}*/

.tablesorter thead tr,
.tablesorter thead tr th,
.tablesorter tbody tr,
.tablesorter tbody tr td{
	line-height:1 !important;
}

.tablesorter tbody tr td,
.tablesorter tbody tr td a{
	padding: 2px 5px !important;
}

.tablesorter thead tr:hover,
.tablesorter tbody tr:hover{
	background-color: #d9edf7 !important;
}




#points_title {
  text-transform: uppercase;
}
/*.content {
    padding-top: 0px !important;
    margin-top: 10px !important;
}*/

/*.content-wrapper {
    background-image: url("../img/main_bg.jpg");
    background-image: url("../img/007.jpg");
    background-size: cover;
    background-attachment: fixed;
}*/
.content{
    padding-top: 0px !important;
}
#custom_header {
    /*background-image: url("../img/transparent-black.png");*/
    background-image: url("../img/border-002.jpg");
    background-repeat: repeat;
	///////////////////////////////////////////////////////////////////////////////////////////
	border: 5px solid #385D8A !important;
	///////////////////////////////////////////////////////////////////////////////////////////
    height: 90px;
/*    border-image: url("/DPDC/Applications/web/img/border.jpg") 0 0 30 0 stretch;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 6px;*/
}
#custom_header::after {
    content: "";
    /*background-image: url("../img/border.jpg");*/
    /*background-image: url("../img/border-002.jpg");*/
	///////////////////////////////////////////////////////////////////////////////////////////
	border: 5px solid #385D8A !important;
	///////////////////////////////////////////////////////////////////////////////////////////
    height: 7px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 0px;
    background-position: bottom;
}

#points_title {
    color: white;
    padding-top: 10px;
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.email_send {
    float: right;
    margin-right: 35px;
    margin-top: 25px;
    cursor: pointer;
}
#email_text{
    color: white;
    font-size: 14px;
    float: left;
        margin-top: 5px;
}
#email_image {
    float: left;
    margin-right: 8px;
}
.main_table {
    margin-top: 0px;
}
 input[type="search"].tablesorter-filter {
    background-color: transparent !important;
    /*color: blue;*/
    color: grey;
    border-bottom: 1px solid grey;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
#affiche {
    color: white;
    width: auto;
    position: relative;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}
.form_button {
    float: left;
    background-image: url("../img/off.png"); 
     background-repeat: no-repeat;    
    height: 31px;
  width: 79px;
  cursor: pointer;
}
.form_button_on {
    float: left;
    background-image: url("../img/on.png"); 
      background-repeat: no-repeat;    
    height: 31px;
     width: 79px;
      cursor: pointer;
}
#affiche_conatainer {
    margin-top: 25px;
    cursor: pointer;
}
.form_display2 {
    display: none;
}
#btn_clear {
  background-color: transparent !important; 
  border: none !important;
}
.table_custom_head tr:last-child {
/*    border-bottom: 1px solid lightgray;*/
    font-family:'Open Sans';
     background-image: url("../img/shadow.png"); 

     background-repeat: repeat-x;

     background-position-y: bottom;

}
.table-bordered {
    border: 0px !important;
}
/*.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 0px !important;
}*/
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 0px !important;
}
tr.tablesorter-headerRow th {
    padding-bottom: 0px!important;
    padding-top: 5px !important;
}
.tablesorter-filter-row td {
     padding-bottom: 28px!important;
    padding-top: 0px !important;
}
.calendar_select {
    padding-left: 5px;
}
.drop_arrow {
    padding-left: 5px;
}
.controls_number {
    background-color: #ff8400;
    border-radius: 20%;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
}



 .myplaceholder {
	 color: #aaa;
	font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif !important;
 }