/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Apr-2016, 12:29:15
    Author     : tone_al
*/

.content-wrapper {
    /*background-image: url("../img/main_bg.jpg");*/
    background-image: url("../img/007.jpg");
    background-size: cover;
    background-attachment: fixed;
}


///////////////////////////////////////////////////////////////////////////////////////////
.wrapper{
    /*background-image: url("../img/border-003.jpg") !important;*/
/*    background-repeat: repeat !important;
    background: transparent !important;*/
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background: transparent !important;
    background-image: url("../img/border-005.jpg") !important;
    background-repeat: repeat !important;
}
.main-header{
    background-image: url("../img/border-002.jpg") !important;
    background-repeat: repeat !important;
	border: 5px solid #385D8A;
	
}
.skin-blue .main-header .logo,
.skin-blue .main-header .navbar,
.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: transparent !important;
}
.main-sidebar{
    /*background-image: url("../img/border-003.jpg") !important;*/
    background-repeat: repeat !important;
}
.skin-blue .sidebar-menu > li > a:hover, .skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li > .treeview-menu{
    background: transparent !important;
}
/*.content, .main-footer{*/
.content-wrapper, .main-footer{
	border-left: 5px solid #385D8A;
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    /*color: #fff;*/
    color: #8aa4af;
}
.skin-blue .treeview-menu > li > a {
    /*color: #8aa4af;*/
    color: #fff;
}

///////////////////////////////////////////////////////////////////////////////////////////
