.tablesorter thead tr,
.tablesorter thead tr th,
.tablesorter tbody tr,
.tablesorter tbody tr td{
	line-height:1 !important;
}

.tablesorter tbody tr td,
.tablesorter tbody tr td button,
.tablesorter tbody tr td a{
	padding: 2px 5px !important;
}

.tablesorter thead tr:hover,
.tablesorter tbody tr:hover{
	background-color: #d9edf7 !important;
}