{% extends "SuiviReportingBundle::layoutreport.html.twig" %}

{% block title %}
    Activité des Etudes - {{ parent() }}
{% endblock %}

{% block graph %}

    {% block extraStylesheets %}
        <link href="{{ asset('all/DataTables/datatables.css') }}" rel="stylesheet"/>
        <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/suivietudes/css/bootstrap-switch.min.css') }}" rel="stylesheet"/>
    {% endblock %}
    <script type="text/javascript" src="{{ asset('all/DataTables/datatables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/suivietudes/js/bootstrap-switch.min.js') }}"></script>
    {{ include ("SuiviEtudesBundle:Conge:messages.html.twig") }}
    <h2>Retour Par Application {{ date }}</h2>


    <script type="text/javascript">
        $
        {{ chart(barchart) }}
        $(function () {

            $('#startDate').datepicker({
                autoclose: true,
                minViewMode: 1,
                format: 'yyyy-mm'
            });

            $("#datepicker").datepicker({
                format: " yyyy", // Notice the Extra space at the beginning
                viewMode: "years",
                minViewMode: "years"
            });

            $('#barchart').highcharts({
                chart: {
                    type: "column",
                    options3d: {
                        enabled: true,
                        alpha: 10,
                        beta: 10,
                        viewDistance: 100,
                        depth: 50
                    },
                    marginTop: 60,
                    marginRight: 30
                },
                plotOptions: {
                    column: {
                        stacking: "normal",
                        depth: 50
                    },
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    displayTable(this.series.index, this.x);
                                    var table= $('#details').DataTable({
                                        language: {
                                            emptyTable: "<span class='text-blue'><b>Aucune donnée disponible</b></span>"
                                        },
                                        dom: 'Bfrtip',
                                        buttons: [
                                            // export buttons
                                            {
                                                extend: 'pdf',
                                                orientation: 'landscape',
                                                pageSize: 'LEGAL',
                                                exportOptions: {
                                                    columns: ':visible'
                                                }
                                            },
                                            {
                                                extend: 'excel',
                                                title: 'SuiviEtudes - %de Satisfaction',
                                                exportOptions: {
                                                    columns: ':visible',
                                                }
                                            }
                                        ],
                                        order: [[1, "desc"]],
                                        bPaginate: false, // remove pagination
                                        bInfo: false, // remove total no of results
                                        bFilter: true,//  search box
                                        bDestroy: true
                                    });
                                    table.column(5).search({{ date }}).draw();
                                }
                            }
                        }

                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                                this.series.name + ': ' + this.y + '<br/>';

                    }
                },
                series: {{ data|raw }},
                title: {
                    text: ""
                },
                xAxis: {
                    title: {
                        text: "Directions"
                    },
                    categories: {{ categories|raw }}
                },
                yAxis: {
                    title: {
                        text: "% de Satisfaction"
                    },
                    allowDecimals: false
                }
            });
            $(".BSswitch").bootstrapSwitch('state', false);

        });

        function switchMonthYear() {
            if ($('#Switch').bootstrapSwitch('state') == false) {
                $('#annee').show();
                $('#mois').hide();
                $('#Rechercher').on('click', function () {
                    if ($("#datepicker").datepicker().val() == "") {
                        alert('here');
                        return false;
                    }
                    var x = $("#datepicker").datepicker().val();
                    var y = '../retourapplication/' + x;
                    window.location.href = y.replace(' ', '');

                })
            }
            else {
                $('#annee').hide();
                $('#mois').show();
                $('#Rechercher').on('click', function () {
                    if ($("#starDate").datepicker().val() == "") {
                        return false;
                    }
                    var x = $("#startDate").datepicker().val();
                    var y = '../retourapplication/' + x;
                    window.location.href = y.replace(' ', '');
                })
            }
        }

        function displayTable(details, direction) {
            var data = [];
            var ch = "";
            $("#details").empty();
            data.push(details);
            data.push(direction);
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "../remplirTableDetailsApplication",
                data: {data: data},
                async: false,
                cache: false,
                error: function (jqXHR, textStatus, errorThrown) {
                },
                success: function (jsonData) {
                    var ch1 = '<thead> <tr> <th> name Client</th> <th> id demande </th> <th> note delais</th> <th>note qualité</th> <th>note de realisation</th> <th>Date de Creation </th></tr> </thead>';
                    $("#details").append(ch1);
                    for (var i = 0; i < jsonData.length; i++) {
                        ch = '<tr> <td>' +
                                jsonData[i].idClient
                                + '</td> ' +
                                '<td><a href="..\\voir\\' +
                                jsonData[i].idDemande + '" >' +
                                jsonData[i].idDemande + '</a></td>' +
                                '<td>' +
                                jsonData[i].noteD
                                + '</td>' +
                                ' <td>' +
                                jsonData[i].noteP
                                + '</td> ' +
                                '<td>' +
                                jsonData[i].noteQ
                       + '</td>' +
                        '<td>' +
                        jsonData[i].dateCreation
                      +  '</td>' +
                        ' </tr> ';
                        $("#details").append(ch);
                    }


                }
            });

        }

    </script>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                   aria-controls="collapseOne">
                    Critères de recherches <span class="caret"></span>
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-md-2">
                        <input id="Switch" type="checkbox" checked data-size="mini" data-off-text="année"
                               data-on-text="Mois" checked="false" class="BSswitch" onchange="switchMonthYear()">
                    </div>

                    <div class="form-group col-xs-12 col-md-4" id="mois">
                        <div class="form-group">
                            <label>Voir un mois</label>
                            <input type="text" id="startDate" class="form-control form-control-1 input-sm from"
                                   placeholder="Choisir un mois">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-4" id="annee">
                        <div class="form-group">
                            <label>Voir une année</label>
                            <input type="text" id="datepicker" class="form-control form-control-1 input-sm from"
                                   placeholder="Choisir une année">
                        </div>
                    </div>

                </div>
                <div class="row box-footer">
                    <div class="col-lg-2 col-xs-2 pull-right">
                        <button type="button" class="btn btn-default" id="Rechercher">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="barchart" style="min-width: 400px; height: 400px;"></div>

    <div class="col-md-12 row">
        <div class="box bottomScrool">
            <div class="box-body">

                <table id="details" class="table table-bordered table-striped table-hover tableFixed">
                </table>

            </div>
        </div>
    </div>



{% endblock %}